openapi: 3.2.0
info:
  title: Partnerize Impressions API
  version: 1.4.99
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
  description: 'Operations tagged Impressions across 2 of this provider''s published API definitions: partnerize-partners-api-openapi.yml, partnerize-impressions-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Impressions
  description: Endpoints for analysing impression data
paths:
  /v3/partner/analytics/impressions/count:
    post:
      summary: Count
      description: 'Returns aggregated metrics derived from impressions.


        This endpoint is ideal for creating dashboard widgets, or for creating a summary of tabulated data from the explode endpoint.'
      operationId: postImpressionsCount
      tags:
      - Impressions
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              required:
              - date_time_ranges
              - scope
              - metrics
              properties:
                date_time_ranges:
                  allOf:
                  - $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges/allOf/0'
                  - items:
                      properties:
                        field:
                          $ref: '#/paths/~1v3~1partner~1analytics~1impressions~1explode/post/requestBody/content/application~1json/schema/properties/interval/properties/field'
                comparison_date_time_ranges:
                  $ref: '#/paths/~1v3~1partner~1analytics~1impressions~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges'
                scope:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/scope'
                metrics:
                  allOf:
                  - $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/metrics/allOf/0'
                  - items:
                      type: string
                      enum:
                      - total_impressions
                filter_by:
                  allOf:
                  - $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/filter_by/allOf/0'
                  - items:
                      properties:
                        field:
                          type: string
                          enum:
                          - advertiser_reference
                          - browser_family
                          - browser_major
                          - browser_minor
                          - browser_patch
                          - campaign_id
                          - campaign_name
                          - country
                          - creative_id
                          - creative_description
                          - creative_advertiser_reference
                          - device_id
                          - os_family
                          - os_major
                          - os_minor
                          - os_patch
                          - partner_id
                          - partner_name
                          - publisher_reference
                          - partnership_model_id
                          - traffic_source_id
                          - user_context_id
                        operator:
                          $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/filter_by/allOf/1/items/properties/operator'
                timezone:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/timezone'
                include_comparison_percentage_change:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/include_comparison_percentage_change'
              additionalProperties: false
            example:
              date_time_ranges:
              - start: '2019-10-01T00:00:00+00:00'
                end: '2019-10-03T00:00:00+00:00'
              scope:
                partner: 111111l10
              metrics:
              - total_impressions
              filter_by:
              - field: device_id
                value: 5
                operator: EQUALS
                not: true
              timezone: GMT
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    example:
                      total_impressions: 57126
    servers:
    - description: Production
      url: https://api.partnerize.com
  /v3/partner/analytics/impressions/explode:
    post:
      summary: Explode
      description: 'Returns aggregated metrics derived from impressions, grouped by ID and name of one or many dimensions. This endpoint is ideal for

        fetching data to be shown in a table. You can combine it with the count endpoint to fetch data for a totals row.


        If `order_by` is requested on a metric, the metric values will be added to the results, even if not requested.


        When grouping by `date`, the `interval` will define the length of each date group.'
      operationId: postImpressionsExplode
      tags:
      - Impressions
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              required:
              - date_time_ranges
              - scope
              - metrics
              - group_by
              properties:
                date_time_ranges:
                  $ref: '#/paths/~1v3~1partner~1analytics~1impressions~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges'
                comparison_date_time_ranges:
                  $ref: '#/paths/~1v3~1partner~1analytics~1impressions~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges'
                scope:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/scope'
                metrics:
                  $ref: '#/paths/~1v3~1partner~1analytics~1impressions~1count/post/requestBody/content/application~1json/schema/properties/metrics'
                group_by:
                  $ref: '#/paths/~1v3~1partner~1analytics~1impressions~1filter/post/requestBody/content/application~1json/schema/properties/group_by'
                filter_by:
                  $ref: '#/paths/~1v3~1partner~1analytics~1impressions~1count/post/requestBody/content/application~1json/schema/properties/filter_by'
                order_by:
                  $ref: '#/paths/~1v3~1partner~1analytics~1impressions~1filter/post/requestBody/content/application~1json/schema/properties/order_by'
                interval:
                  allOf:
                  - $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1explode/post/requestBody/content/application~1json/schema/properties/interval/allOf/0'
                  properties:
                    field:
                      type: string
                      enum:
                      - date_time
                output_date_time_format:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1explode/post/requestBody/content/application~1json/schema/properties/output_date_time_format'
                top:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1filter/post/requestBody/content/application~1json/schema/properties/top'
                include_total_row_count:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1filter/post/requestBody/content/application~1json/schema/properties/include_total_row_count'
                timezone:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/timezone'
                include_comparison_percentage_change:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/include_comparison_percentage_change'
              additionalProperties: false
            example:
              date_time_ranges:
              - start: '2019-10-01T00:00:00+00:00'
                end: '2019-10-03T00:00:00+00:00'
              scope:
                partner: 111111l10
              metrics:
              - total_impressions
              group_by:
              - campaign
              filter_by:
              - field: device_id
                value: 5
                operator: EQUALS
              order_by:
              - field: total_impressions
                direction: DESCENDING
              interval:
                field: date_time
                period: P1D
              top: 10
              include_total_row_count: false
              timezone: GMT
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    example:
                    - device_id: '1'
                      device_name: desktop
                      total_impressions: 2000
                    - device_id: '2'
                      device_name: mobile
          headers:
            X-Total-Row-Count:
              $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1filter/post/responses/200/headers/X-Total-Row-Count'
    servers:
    - description: Production
      url: https://api.partnerize.com
  /v3/partner/analytics/impressions/filter:
    post:
      summary: Filter
      description: 'This endpoint is ideal for fetching a list of available dimensions for a dropdown list.


        If `order_by` is requested on a metric, the metric values will be added to the results.'
      operationId: postImpressionsFilter
      tags:
      - Impressions
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              required:
              - date_time_ranges
              - scope
              - group_by
              properties:
                date_time_ranges:
                  $ref: '#/paths/~1v3~1partner~1analytics~1impressions~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges'
                scope:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/scope'
                group_by:
                  allOf:
                  - $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1filter/post/requestBody/content/application~1json/schema/properties/group_by/allOf/0'
                  - items:
                      type: string
                      enum:
                      - advertiser_reference
                      - browser_family
                      - browser_major
                      - browser_minor
                      - browser_patch
                      - campaign
                      - country
                      - creative
                      - date_time
                      - device
                      - os_family
                      - os_major
                      - os_minor
                      - os_patch
                      - partner
                      - publisher_reference
                      - partnership_model
                      - traffic_source
                      - user_context
                filter_by:
                  $ref: '#/paths/~1v3~1partner~1analytics~1impressions~1count/post/requestBody/content/application~1json/schema/properties/filter_by'
                order_by:
                  allOf:
                  - $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1filter/post/requestBody/content/application~1json/schema/properties/order_by/allOf/0'
                  - items:
                      properties:
                        field:
                          type: string
                          enum:
                          - total_impressions
                          - advertiser_reference
                          - browser_family
                          - browser_major
                          - browser_minor
                          - browser_patch
                          - campaign_id
                          - campaign_name
                          - country
                          - creative_id
                          - creative_description
                          - creative_advertiser_reference
                          - date_time
                          - device_id
                          - device_name
                          - os_family
                          - os_major
                          - os_minor
                          - os_patch
                          - partner_id
                          - partner_name
                          - publisher_reference
                          - partnership_model_id
                          - partnership_model_name
                          - traffic_source_id
                          - traffic_source_name
                          - user_context_id
                          - user_context_name
                top:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1filter/post/requestBody/content/application~1json/schema/properties/top'
                include_total_row_count:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1filter/post/requestBody/content/application~1json/schema/properties/include_total_row_count'
                timezone:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/timezone'
              additionalProperties: false
            example:
              date_time_ranges:
              - start: '2019-10-01T00:00:00+00:00'
                end: '2019-10-03T00:00:00+00:00'
              scope:
                partner: 111111l10
              group_by:
              - campaign
              filter_by:
              - field: device_id
                value: 5
                operator: EQUALS
              order_by:
              - field: total_impressions
                direction: DESCENDING
              top: 10
              include_total_row_count: false
              timezone: GMT
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    example:
                    - device_id: '1'
                      device_name: desktop
                      total_impressions: 44442
                    - device_id: '2'
                      device_name: mobile
                      total_impressions: 23392
          headers:
            X-Total-Row-Count:
              $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1filter/post/responses/200/headers/X-Total-Row-Count'
    servers:
    - description: Production
      url: https://api.partnerize.com
  /v3/partner/analytics/impressions/timeseries:
    post:
      summary: Timeseries
      description: 'Returns aggregated metrics derived from impressions, grouped by time intervals.


        This endpoint is ideal for creating charts where the x-axis is time.'
      operationId: postImpressionsTimeseries
      tags:
      - Impressions
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              required:
              - date_time_ranges
              - scope
              - metrics
              properties:
                date_time_ranges:
                  $ref: '#/paths/~1v3~1partner~1analytics~1impressions~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges'
                scope:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/scope'
                metrics:
                  $ref: '#/paths/~1v3~1partner~1analytics~1impressions~1count/post/requestBody/content/application~1json/schema/properties/metrics'
                filter_by:
                  $ref: '#/paths/~1v3~1partner~1analytics~1impressions~1count/post/requestBody/content/application~1json/schema/properties/filter_by'
                interval:
                  $ref: '#/paths/~1v3~1partner~1analytics~1impressions~1explode/post/requestBody/content/application~1json/schema/properties/interval'
                timezone:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/timezone'
                zerofill:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1timeseries/post/requestBody/content/application~1json/schema/properties/zerofill'
              additionalProperties: false
            example:
              date_time_ranges:
              - start: '2019-10-01T00:00:00+00:00'
                end: '2019-10-03T00:00:00+00:00'
              scope:
                partner: 111111l10
              metrics:
              - total_impressions
              filter_by:
              - field: device_id
                value: 5
                operator: EQUALS
              interval:
                field: date_time
                period: P1D
              timezone: GMT
              zerofill: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    example:
                    - date_time_range:
                        start: '2019-10-01T00:00:00+00:00'
                        end: '2019-10-02T00:00:00+00:00'
                      total_impressions: 990
                    - date_time_range:
                        start: '2019-10-02T00:00:00+00:00'
                        end: '2019-10-03T00:00:00+00:00'
                      total_impressions: 2894
    servers:
    - description: Production
      url: https://api.partnerize.com
  /v3/brand/analytics/impressions/count:
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    post:
      summary: Count
      description: 'Returns aggregated metrics derived from impressions.


        This endpoint is ideal for creating dashboard widgets, or for creating a summary of tabulated data from the explode endpoint.'
      operationId: postImpressionsCount
      tags:
      - Impressions
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              required:
              - date_time_ranges
              - scope
              - metrics
              properties:
                date_time_ranges:
                  allOf:
                  - $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges/allOf/0'
                  - items:
                      properties:
                        field:
                          $ref: '#/paths/~1v3~1brand~1analytics~1impressions~1explode/post/requestBody/content/application~1json/schema/properties/interval/properties/field'
                comparison_date_time_ranges:
                  $ref: '#/paths/~1v3~1brand~1analytics~1impressions~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges'
                scope:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/scope'
                metrics:
                  allOf:
                  - $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/metrics/allOf/0'
                  - items:
                      type: string
                      enum:
                      - total_impressions
                filter_by:
                  allOf:
                  - $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/filter_by/allOf/0'
                  - items:
                      properties:
                        field:
                          type: string
                          enum:
                          - advertiser_reference
                          - browser_family
                          - browser_major
                          - browser_minor
                          - browser_patch
                          - campaign_id
                          - campaign_name
                          - country
                          - creative_id
                          - creative_description
                          - creative_advertiser_reference
                          - creative_tag_id
                          - device_id
                          - os_family
                          - os_major
                          - os_minor
                          - os_patch
                          - partner_group_id
                          - partner_id
                          - partner_name
                          - partnership_model_id
                          - traffic_source_id
                          - user_context_id
                        operator:
                          $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/filter_by/allOf/1/items/properties/operator'
                timezone:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/timezone'
                include_comparison_percentage_change:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/include_comparison_percentage_change'
              additionalProperties: false
            example:
              date_time_ranges:
              - start: '2019-10-01T00:00:00+00:00'
                end: '2019-10-03T00:00:00+00:00'
              scope:
                campaigns:
                - 111111l10
              metrics:
              - total_impressions
              filter_by:
              - field: device_id
                value: 5
                operator: EQUALS
                not: true
              timezone: GMT
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    example:
                      total_impressions: 57126
  /v3/brand/analytics/impressions/explode:
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    post:
      summary: Explode
      description: 'Returns aggregated metrics derived from impressions, grouped by ID and name of one or many dimensions. This endpoint is ideal for

        fetching data to be shown in a table. You can combine it with the count endpoint to fetch data for a totals row.


        If `order_by` is requested on a metric, the metric values will be added to the results, even if not requested.


        When grouping by `date`, the `interval` will define the length of each date group.'
      operationId: postImpressionsExplode
      tags:
      - Impressions
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              required:
              - date_time_ranges
              - scope
              - metrics
              - group_by
              properties:
                date_time_ranges:
                  $ref: '#/paths/~1v3~1brand~1analytics~1impressions~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges'
                comparison_date_time_ranges:
                  $ref: '#/paths/~1v3~1brand~1analytics~1impressions~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges'
                scope:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/scope'
                metrics:
                  $ref: '#/paths/~1v3~1brand~1analytics~1impressions~1count/post/requestBody/content/application~1json/schema/properties/metrics'
                group_by:
                  $ref: '#/paths/~1v3~1brand~1analytics~1impressions~1filter/post/requestBody/content/application~1json/schema/properties/group_by'
                filter_by:
                  $ref: '#/paths/~1v3~1brand~1analytics~1impressions~1count/post/requestBody/content/application~1json/schema/properties/filter_by'
                order_by:
                  $ref: '#/paths/~1v3~1brand~1analytics~1impressions~1filter/post/requestBody/content/application~1json/schema/properties/order_by'
                interval:
                  allOf:
                  - $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1explode/post/requestBody/content/application~1json/schema/properties/interval/allOf/0'
                  properties:
                    field:
                      type: string
                      enum:
                      - date_time
                output_date_time_format:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1explode/post/requestBody/content/application~1json/schema/properties/output_date_time_format'
                top:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1filter/post/requestBody/content/application~1json/schema/properties/top'
                include_total_row_count:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1filter/post/requestBody/content/application~1json/schema/properties/include_total_row_count'
                timezone:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/timezone'
                include_comparison_percentage_change:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/include_comparison_percentage_change'
              additionalProperties: false
            example:
              date_time_ranges:
              - start: '2019-10-01T00:00:00+00:00'
                end: '2019-10-03T00:00:00+00:00'
              scope:
                campaigns:
                - 111111l10
              metrics:
              - total_impressions
              group_by:
              - partner
              filter_by:
              - field: device_id
                value: 5
                operator: EQUALS
              order_by:
              - field: total_impressions
                direction: DESCENDING
              interval:
                field: date_time
                period: P1D
              top: 10
              include_total_row_count: false
              timezone: GMT
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    example:
                    - device_id: '1'
                      device_name: desktop
                      total_impressions: 2000
                    - device_id: '2'
                      device_name: mobile
          headers:
            X-Total-Row-Count:
              $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1filter/post/responses/200/headers/X-Total-Row-Count'
  /v3/brand/analytics/impressions/filter:
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    post:
      summary: Filter
      description: 'This endpoint is ideal for fetching a list of available dimensions for a dropdown list.


        If `order_by` is requested on a metric, the metric values will be added to the results.'
      operationId: postImpressionsFilter
      tags:
      - Impressions
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              required:
              - date_time_ranges
              - scope
              - group_by
              properties:
                date_time_ranges:
                  $ref: '#/paths/~1v3~1brand~1analytics~1impressions~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges'
                scope:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/scope'
                group_by:
                  allOf:
                  - $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1filter/post/requestBody/content/application~1json/schema/properties/group_by/allOf/0'
                  - items:
                      type: string
                      enum:
                      - advertiser_reference
                      - browser_family
                      - browser_major
                      - browser_minor
                      - browser_patch
                      - campaign
                      - country
                      - creative
                      - date_time
                      - device
                      - os_family
                      - os_major
                      - os_minor
                      - os_patch
                      - partner
                      - partnership_model
                      - traffic_source
                      - user_context
                filter_by:
                  $ref: '#/paths/~1v3~1brand~1analytics~1impressions~1count/post/requestBody/content/application~1json/schema/properties/filter_by'
                order_by:
                  allOf:
                  - $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1filter/post/requestBody/content/application~1json/schema/properties/order_by/allOf/0'
                  - items:
                      properties:
                        field:
                          type: string
                          enum:
                          - total_impressions
                          - advertiser_reference
                          - browser_family
                          - browser_major
                          - browser_minor
                          - browser_patch
                          - campaign_id
                          - campaign_name
                          - country
                          - creative_id
                          - creative_description
                          - creative_advertiser_reference
                          - date_time
                          - device_id
                          - device_name
                          - os_family
                          - os_major
                          - os_minor
                          - os_patch
                          - partner_id
                          - partner_name
                          - partnership_model_id
                          - partnership_model_name
                          - traffic_source_id
                          - traffic_source_name
                          - user_context_id
                          - user_context_name
                top:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1filter/post/requestBody/content/application~1json/schema/properties/top'
                include_total_row_count:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1filter/post/requestBody/content/application~1json/schema/properties/include_total_row_count'
                timezone:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/timezone'
              additionalProperties: false
            example:
              date_time_ranges:
              - start: '2019-10-01T00:00:00+00:00'
                end: '2019-10-03T00:00:00+00:00'
              scope:
                campaigns:
                - 111111l10
              group_by:
              - partner
              filter_by:
              - field: device_id
                value: 5
                operator: EQUALS
              order_by:
              - field: total_impressions
                direction: DESCENDING
              top: 10
              include_total_row_count: false
              timezone: GMT
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    example:
                    - device_id: '1'
                      device_name: desktop
                      total_impressions: 44442
                    - device_id: '2'
                      device_name: mobile
                      total_impressions: 23392
          headers:
            X-Total-Row-Count:
              $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1filter/post/responses/200/headers/X-Total-Row-Count'
  /v3/brand/analytics/impressions/timeseries:
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    post:
      summary: Timeseries
      description: 'Returns aggregated metrics derived from impressions, grouped by time intervals.


        This endpoint is ideal for creating charts where the x-axis is time.'
      operationId: postImpressionsTimeseries
      tags:
      - Impressions
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              required:
              - date_time_ranges
              - scope
              - metrics
              properties:
                date_time_ranges:
                  $ref: '#/paths/~1v3~1brand~1analytics~1impressions~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges'
                scope:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/scope'
                metrics:
                  $ref: '#/paths/~1v3~1brand~1analytics~1impressions~1count/post/requestBody/content/application~1json/schema/properties/metrics'
                filter_by:
                  $ref: '#/paths/~1v3~1brand~1analytics~1impressions~1count/post/requestBody/content/application~1json/schema/properties/filter_by'
                interval:
                  $ref: '#/paths/~1v3~1brand~1analytics~1impressions~1explode/post/requestBody/content/application~1json/schema/properties/interval'
                timezone:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/timezone'
                zerofill:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1timeseries/post/requestBody/content/application~1json/schema/properties/zerofill'
              additionalProperties: false
            example:
              date_time_ranges:
              - start: '2019-10-01T00:00:00+00:00'
                end: '2019-10-03T00:00:00+00:00'
              scope:
                campaigns:
                - 111111l10
              metrics:
              - total_impressions
              filter_by:
              - field: device_id
                value: 5
                operator: EQUALS
              interval:
                field: date_time
                period: P1D
              timezone: GMT
              zerofill: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    example:
                    - date_time_range:
                        start: '2019-10-01T00:00:00+00:00'
                        end: '2019-10-02T00:00:00+00:00'
                      total_impressions: 990
                    - date_time_range:
                        start: '2019-10-02T00:00:00+00:00'
                        end: '2019-10-03T00:00:00+00:00'
                      total_impressions: 2894
x-refined-from:
- partnerize-partners-api-openapi.yml
- partnerize-impressions-api-openapi.yml
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
