openapi: 3.2.0
info:
  title: Partnerize Commissions API
  version: 1.4.99
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
  description: 'Operations tagged Commissions across 2 of this provider''s published API definitions: partnerize-partners-api-openapi.yml, partnerize-commissions-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Commissions
paths:
  /v2/campaigns/{campaignId}/publishers/{publisherId}/commissions/default:
    get:
      operationId: get-publisher-commissions-default
      tags:
      - Commissions
      summary: Get Default Commissions
      description: Get Partner Default Commissions
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign for which to get partner commission rates
        required: true
        schema:
          type: string
      - in: path
        name: publisherId
        description: The ID of a Partner on a campaign
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Partner Default Commissions Returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  description:
                    type: string
                  performance_value:
                    type: string
                  performance_model:
                    type: string
                  last_modified_by:
                    type: string
                  last_modified:
                    type: string
                    title: Date Time
                    pattern: ^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$
                  publishers:
                    type: object
                    properties:
                      id:
                        type: string
                      performance_value:
                        type: string
                      name:
                        type: string
                  groups:
                    type: object
                    properties:
                      id:
                        type: string
                      performance_value:
                        type: string
                      name:
                        type: string
              examples:
                Commission:
                  value:
                    description: The Default Commission
                    performance_value: '2.5'
                    performance_model: fixed_cpa
                    last_modified_by: '3'
                    last_modified: '2010-01-01 12:30:00'
                    publishers:
                      id: 10110l2398476
                      performance_value: '3.25'
                      name: Best Partner
                    groups:
                      id: 111001l90872354
                      performance_value: '3.75'
                      name: Special Group
    servers:
    - description: Production
      url: https://api.partnerize.com
  /v2/campaigns/{campaignId}/publishers/{publisherId}/commissions/campaign:
    get:
      operationId: get-publisher-commissions-campaign
      tags:
      - Commissions
      summary: List Partner Commissions For Specific Campaign
      description: This endpoint lists partner commissions for the given partner and campaign.
      parameters:
      - in: path
        name: publisherId
        description: The ID of the Partner to list commissions for
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        description: The ID of the campaign to list the Partner commissions for
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Partner Commissions List
          content:
            application/json:
              schema:
                type: object
                properties:
                  commissions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        description:
                          type: string
                        performance_value:
                          type: number
                          description: The amount to be paid to the partner for commission. Must be greater than 0. Will be rounded to 2 decimal places.
                          minimum: 0.01
                        performance_model:
                          type: string
                          description: The performance model by which the partner is rewarded.
                          enum:
                          - cpc
                          - fixed_cpa
                          - percentage_cpa
                        start_date:
                          allOf:
                          - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                        end_date:
                          allOf:
                          - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                        status:
                          title: Commission Status
                          description: These values are internally managed and represent the statue of the Commission
                          type: string
                          enum:
                          - ACTIVE
                          - RETIRED
                          - DELETED
                          - SCHEDULED
                        meta_fields:
                          type: array
                          items:
                            title: Meta Field Rules
                            allOf:
                            - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1active/get/responses/200/content/application~1json/schema/properties/active_commissions/items/anyOf/1/properties/meta_fields/items'
                            - type: object
                              properties:
                                rules:
                                  type: array
                                  items:
                                    type: object
                                    title: Meta Field Rule
                                    description: Meta Field Rule with operator and values.
                                    example:
                                      operator: EQUALS
                                      value: clothing
                                    oneOf:
                                    - title: Exact Match
                                      properties:
                                        operator:
                                          description: Operator used to evaluate the meta field value is an exact match.
                                          type: string
                                          enum:
                                          - EQUALS
                                          example: EQUALS
                                        value:
                                          title: Meta Field Value
                                          description: Meta field matching value.
                                          type:
                                          - string
                                          - number
                                    - title: Contains
                                      properties:
                                        operator:
                                          description: Operator used to test the meta field value against part of a string or numeric value.
                                          type: string
                                          enum:
                                          - STARTS_WITH
                                          - ENDS_WITH
                                          - CONTAINS
                                          example: STARTS_WITH
                                        value:
                                          $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1campaign/get/responses/200/content/application~1json/schema/properties/commissions/items/properties/meta_fields/items/allOf/1/properties/rules/items/oneOf/0/properties/value'
                                    - title: Comparison
                                      properties:
                                        operator:
                                          description: Comparison operator used to test a numeric meta field value. Values are inclusive.
                                          type: string
                                          enum:
                                          - GREATER_THAN
                                          - LESS_THAN
                                          example: GREATER_THAN
                                        value:
                                          title: Meta Field Value
                                          description: Meta field matching value.
                                          type: number
                                    - title: Between
                                      properties:
                                        operator:
                                          description: Match the meta field value falls within the specified range.
                                          type: string
                                          enum:
                                          - BETWEEN
                                        value:
                                          description: The lower and upper bounds of the range as an array. Values are inclusive.
                                          minItems: 2
                                          maxItems: 2
                                          type: array
                                          items:
                                            title: Meta Field Value
                                            description: Meta field matching value.
                                            type: number
                                          example:
                                          - 0
                                          - 50
                                    - title: One Of
                                      properties:
                                        operator:
                                          description: Operator used to match against a set of values. The meta field value must exactly match one of the values in the array.
                                          type: string
                                          enum:
                                          - ONE_OF
                                        value:
                                          description: A list of values to match against.
                                          minItems: 1
                                          type: array
                                          items:
                                            title: Meta Field Value
                                            description: Meta field matching value.
                                            type: string
                                          example:
                                          - accessories
                                          - clothing
                                          - shoes
                                    required:
                                    - operator
                                    - value
                              required:
                              - rules
                        last_modified:
                          allOf:
                          - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                          - description: The date the campaign was last updated
                        last_modified_by:
                          type: string
                          description: ID of the most recent user to modify this record.
                        cookie_period:
                          type: number
                          description: Period tracking cookie will remain on users device.
                        commission_based_on_field:
                          type: string
    servers:
    - description: Production
      url: https://api.partnerize.com
  /v2/campaigns/{campaignId}/publishers/{publisherId}/commissions/active:
    get:
      operationId: get-active-publisher-commissions
      tags:
      - Commissions
      summary: List Active Partner Commissions
      description: This endpoint lists all active commissions including default, standard, voucher and promotional commissions for a partner a campaign
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign to list the commissions for
        required: true
        schema:
          type: string
      - in: path
        name: publisherId
        description: The ID of a Partner on a campaign
        required: true
        schema:
          type: string
      - in: query
        name: at
        description: The date and time to show the active commissions for. If not set defaults to now.
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Partner Active Commissions List
          content:
            application/json:
              schema:
                type: object
                properties:
                  active_commissions:
                    type: array
                    items:
                      anyOf:
                      - type: object
                        title: Active Partner Commissions
                        properties:
                          id:
                            type: string
                            description: The ID of the Commission
                          type:
                            title: Commission Types
                            description: These values represent the type of Commission being returned
                            type: string
                            enum:
                            - default
                            - campaign
                            - promotional
                            - voucher
                          description:
                            type: string
                          start_date:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: The Start Date of the Commission
                          end_date:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: The End Date of the Commission
                          commission_based_on_field:
                            type: string
                            description: The tracking field used to calculate partner commission
                          status:
                            $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1campaign/get/responses/200/content/application~1json/schema/properties/commissions/items/properties/status'
                          meta_fields:
                            type: array
                            items:
                              $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1campaign/get/responses/200/content/application~1json/schema/properties/commissions/items/properties/meta_fields/items'
                          rates:
                            type: array
                            items:
                              type: object
                              title: Commission Rate
                              properties:
                                id:
                                  type: string
                                  description: The ID of the Partner, Group or Campaign this commission is assigned to
                                scope:
                                  title: Commission Rate Scopes
                                  description: These values represent the Scope of the Commission. Used to determine commission overrides.
                                  type: string
                                  enum:
                                  - publisher
                                  - group
                                  - campaign
                                  - voucher
                                name:
                                  type: string
                                  description: In the case of Voucher commissions this will be the Voucher Code
                                performance_value:
                                  type: number
                                  description: The value to be rewarded based on selected Performance Measurement
                                performance_model:
                                  title: Performance Model
                                  description: Model used to calculate Partner commission
                                  type: string
                                  enum:
                                  - fixed_cpa
                                  - percentage_cpa
                                  - cpc
                                cookie_period:
                                  type:
                                  - integer
                                  - 'null'
                                  minimum: 0
                                  maximum: 31536000
                                  description: The cookie period defined in seconds. If not specified, campaign default will be used. Cookie Period will not be returned for Voucher Commissions.
                              additionalProperties: false
                              required:
                              - id
                              - scope
                              - performance_value
                              - performance_model
                            minItems: 1
                      - type: object
                        title: Commission Tier
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                          type:
                            type: string
                            enum:
                            - tier
                          scope:
                            title: Commission Tier Scope
                            description: These values are internally managed and represent the scope of the commission tier
                            type: string
                            enum:
                            - publisher
                            - group
                            - campaign
                          start_date:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: The Start Date of the Commission Tier
                          end_date:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: The End Date of the Commission Tier
                          performance_model:
                            $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1tier/get/responses/200/content/application~1json/schema/properties/tiers/items/properties/reward_model/allOf/0'
                          performance_measurement:
                            $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1tier/get/responses/200/content/application~1json/schema/properties/tiers/items/properties/performance_measurement/allOf/0'
                          status:
                            $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1tier/get/responses/200/content/application~1json/schema/properties/tiers/items/properties/status'
                          meta_fields:
                            type: array
                            items:
                              type: object
                              title: Meta Field Values
                              description: Meta Field with assigned values
                              allOf:
                              - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1voucher/get/responses/200/content/application~1json/schema/properties/voucher_commissions/items/properties/meta_fields/items/allOf/0'
                              - properties:
                                  values:
                                    description: An array of the values of a meta field
                                    type: array
                                    items:
                                      type: string
                                      title: Meta Field Value
                                    example:
                                    - clothing
                                required:
                                - values
                          levels:
                            type: array
                            minItems: 1
                            description: An array of Commission Tier Levels.
                            items:
                              $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1tier/get/responses/200/content/application~1json/schema/properties/tiers/items/properties/levels/items'
                        additionalProperties: false
                        required:
                        - id
                        - name
                        - type
                        - scope
                        - start_date
                        - end_date
                        - performance_model
                        - performance_measurement
                        - status
                        - meta_fields
                        - levels
    servers:
    - description: Production
      url: https://api.partnerize.com
  /v2/campaigns/{campaignId}/commissions:
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    get:
      operationId: get-commissions
      tags:
      - Commissions
      summary: List Commissions
      description: This endpoint lists all upcoming and currently active standard commissions
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign to list the commissions for
        required: true
        schema:
          type: string
      - in: query
        name: at
        description: The date and time to show active commissions for. If not set defaults to now.
        required: false
        schema:
          type: string
          format: date-time
        example: '2023-05-04T12:00:00+00:00'
      responses:
        '200':
          description: Commission List
          content:
            application/json:
              schema:
                type: object
                title: Commissions
                properties:
                  count:
                    type: integer
                    minimum: 0
                    example: 1
                  commissions:
                    type: array
                    items:
                      $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1%7BcommissionId%7D~1retire/post/responses/200/content/application~1json/schema'
                additionalProperties: false
    post:
      operationId: create-commission
      tags:
      - Commissions
      summary: Create Commission
      description: This endpoint creates a new commission
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign to list the commissions for
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: Commissions Create
              properties:
                description:
                  type: string
                  maxLength: 300
                start_date:
                  type: string
                  format: date-time
                  description: The Start Date of the Commission
                end_date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The End Date of the Commission
                commission_based_on_field:
                  type:
                  - string
                  - 'null'
                  description: The tracking field used to calculate publisher commission
                  default: value
                meta_fields:
                  type: array
                  items:
                    title: Meta Fields
                    oneOf:
                    - title: Meta Field Rules
                      allOf:
                      - type: object
                        title: Meta Field
                        properties:
                          name:
                            type: string
                            description: The name of the meta field
                            example: category
                        required:
                        - name
                      - type: object
                        properties:
                          rules:
                            type: array
                            items:
                              $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1%7BcommissionId%7D~1retire/post/responses/200/content/application~1json/schema/properties/meta_fields/items/allOf/1/properties/rules/items'
                        required:
                        - rules
                    - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1promotions/post/requestBody/content/application~1json/schema/properties/meta_fields/items'
                rates:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    title: Commission Rate
                    properties:
                      id:
                        type: string
                        description: The ID of the Partner, Group or Campaign this commission is assigned to
                      type:
                        title: Commission Rate Types
                        description: These values are internally managed and represent the level of the Commission
                        type: string
                        enum:
                        - publisher
                        - group
                        - campaign
                      performance_value:
                        type: number
                        minimum: 0
                        description: The value to be rewarded based on selected Performance Measurement
                      performance_model:
                        $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1promotions/post/requestBody/content/application~1json/schema/properties/performance_model'
                      cookie_period:
                        type: integer
                        minimum: 0
                        maximum: 31536000
                        description: The cookie period defined in seconds. If not specified, campaign default will be used.
                    required:
                    - id
                    - type
                    - performance_model
                    - performance_value
                    additionalProperties: false
              additionalProperties: false
              required:
              - description
              - start_date
              - rates
      responses:
        '201':
          description: Commission Create
          content:
            application/json:
              schema:
                properties:
                  commission:
                    $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1%7BcommissionId%7D~1retire/post/responses/200/content/application~1json/schema'
  /v2/campaigns/{campaignId}/commissions/{commissionId}:
    parameters:
    - in: path
      name: campaignId
      description: The ID of the campaign the commission belongs to
      required: true
      schema:
        type: string
    - in: path
      name: commissionId
      description: The ID of the commission to retrieve
      required: true
      schema:
        type: string
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    get:
      operationId: get-commission
      summary: Get Commission
      description: Get the given commission
      parameters:
      - in: query
        name: include
        description: 'The historical edits will be shown under the history.data attribute when set to ''history''.

          The endpoint will also return v1 Commissions when set to ''v1''"

          '
        required: false
        schema:
          type: string
          enum:
          - history
          - v1
      - in: query
        name: at
        description: The date and time to show active commissions for. If not set defaults to now.
        required: false
        schema:
          type: string
          format: date-time
        example: '2023-05-04T12:00:00+00:00'
      tags:
      - Commissions
      responses:
        '200':
          description: Commission Found
          content:
            application/json:
              schema:
                type: object
                title: Commission
                properties:
                  commission:
                    $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1%7BcommissionId%7D~1retire/post/responses/200/content/application~1json/schema'
                  history:
                    type: object
                    title: Commission History
                    properties:
                      data:
                        type: array
                        description: Audit data of the commission
                        items: {}
                    required:
                    - data
                additionalProperties: false
    patch:
      operationId: update-commission
      summary: Update Commission
      description: 'Update the given commission. If it is currently active it will be retired and a new commission will be set up

        with the updated configuration.'
      tags:
      - Commissions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Commission Update
              properties:
                description:
                  type: string
                  maxLength: 300
                start_date:
                  type: string
                  format: date-time
                  description: The Start Date of the Commission
                end_date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The End Date of the Commission
                commission_based_on_field:
                  type:
                  - string
                  - 'null'
                  description: The tracking field used to calculate partner commission
                  default: value
                meta_fields:
                  type: array
                  items:
                    $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions/post/requestBody/content/application~1json/schema/properties/meta_fields/items'
                rates:
                  type: array
                  minItems: 1
                  items:
                    $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions/post/requestBody/content/application~1json/schema/properties/rates/items'
              additionalProperties: false
      responses:
        '200':
          description: Commission Updated
          content:
            application/json:
              schema:
                properties:
                  commission:
                    $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1%7BcommissionId%7D~1retire/post/responses/200/content/application~1json/schema'
  /v2/campaigns/{campaignId}/commissions/{commissionId}/migrate:
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    post:
      operationId: migrate-commission
      tags:
      - Commissions
      summary: Migrate Commission
      description: This endpoint migrates a given V1 Commission to a V2 Commission
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign the commission belongs to
        required: true
        schema:
          type: string
      - in: path
        name: commissionId
        description: The ID of the commission to migrate
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Commission Migrated
          content:
            application/json:
              schema:
                properties:
                  commission:
                    $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1%7BcommissionId%7D~1retire/post/responses/200/content/application~1json/schema'
  /v2/campaigns/{campaignId}/commissions/{commissionId}/retire:
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    post:
      operationId: retire-commission
      tags:
      - Commissions
      summary: Retire Commission
      description: This endpoint retires a given Commission.
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign the commission belongs to
        required: true
        schema:
          type: string
      - in: path
        name: commissionId
        description: The ID of the commission to retire
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Commission Retired
          content:
            application/json:
              schema:
                type: object
                title: Commission
                properties:
                  id:
                    type: string
                    description: The ID of the Commission
                  description:
                    type: string
                  start_date:
                    type:
                    - string
                    - 'null'
                    format: date-time
                    description: The Start Date of the Commission
                  end_date:
                    type:
                    - string
                    - 'null'
                    format: date-time
                    description: The End Date of the Commission
                  last_modified:
                    allOf:
                    - type: object
                      title: Last Modified By
                      properties:
                        id:
                          type: string
                          description: The ID of the user to last modify this item
                        username:
                          type: string
                          description: The Username of the user to last modify this item
                        date:
                          type:
                          - string
                          - 'null'
                          format: date-time
                    - description: The last modified details of the Commission
                  commission_based_on_field:
                    type: string
                    description: The tracking field used to calculate partner commission
                  meta_fields:
                    type: array
                    items:
                      title: Meta Field Rules
                      allOf:
                      - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1promotions/post/requestBody/content/application~1json/schema/properties/meta_fields/items'
                      - type: object
                        properties:
                          rules:
                            type: array
                            items:
                              type: object
                              title: Meta Field Rule
                              description: Meta Field Rule with operator and values.
                              example:
                                operator: EQUALS
                                value: clothing
                              oneOf:
                              - title: Exact Match
                                properties:
                                  operator:
                                    description: Operator used to evaluate the meta field value is an exact match.
                                    type: string
                                    enum:
                                    - EQUALS
                                    example: EQUALS
                                  value:
                                    title: Meta Field Value
                                    description: Meta field matching value.
                                    type:
                                    - string
                                    - number
                              - title: Contains
                                properties:
                                  operator:
                                    description: Operator used to test the meta field value against part of a string or numeric value.
                                    type: string
                                    enum:
                                    - STARTS_WITH
                                    - ENDS_WITH
                                    - CONTAINS
                                    example: STARTS_WITH
                                  value:
                                    $ref: '#/paths/~1campaign~1%7BcampaignId%7D~1optimisation~1voucher~1commission/post/responses/200/content/application~1json/schema/properties/voucher_commission/properties/meta_fields/items/properties/rules/items/oneOf/0/properties/value'
                              - title: Comparison
                                properties:
                                  operator:
                                    description: Comparison operator used to test a numeric meta field value. Values are inclusive.
                                    type: string
                                    enum:
                                    - GREATER_THAN
                                    - LESS_THAN
                                    example: GREATER_THAN
                                  value:
                                    title: Meta Field Value
                                    description: Meta field matching value.
                                    type: number
                              - title: Between
                                properties:
                                  operator:
                                    description: Match the meta field value falls within the specified range.
                                    type: string
                                    enum:
                                    - BETWEEN
                                  value:
                                    description: The lower and upper bounds of the range as an array. Values are inclusive.
                                    minItems: 2
                                    maxItems: 2
                                    type: array
                                    items:
                                      title: Meta Field Value
                                      description: Meta field matching value.
                                      type: number
                                    example:
                                    - 0
                                    - 50
                              - title: One Of
                                properties:
                                  operator:
                                    description: Operator used to match against a set of values. The meta field value must exactly match one of the values in the array.
                                    type: string
                                    enum:
                                    - ONE_OF
                                  value:
                                    description: A list of values to match against.
                                    minItems: 1
                                    type: array
                                    items:
                                      title: Meta Field Value
                                      description: Meta field matching value.
                                      type: string
                                    example:
                                    - accessories
                                    - clothing
                                    - shoes
                              required:
                              - operator
                              - value
                        required:
                        - rules
                  status:
                    title: Commission Status
                    description: These values are internally managed and represent the statue of the Commission
                    type: string
                    enum:
                    - ACTIVE
                    - RETIRED
                    - DELETED
                    - SCHEDULED
                  rates:
                    type: array
                    items:
                      type: object
                      title: Commission Rate
                      properties:
                        id:
                          type: string
                          description: The ID of the Partner, Group or Campaign this commission is assigned to
                        type:
                          $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions/post/requestBody/content/application~1json/schema/properties/rates/items/properties/type'
                        name:
                          type: string
                          description: The name of the Partner or Group. In the case of Voucher commissions this will be Voucher Code
                        performance_value:
                          type: number
                          description: The value to be rewarded based on selected Performance Measurement
                        performance_model:
                          $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1promotions/post/requestBody/content/application~1json/schema/properties/performance_model'
                        cookie_period:
                          type:
                          - integer
                          - 'null'
                          minimum: 0
                          maximum: 31536000
                          description: The cookie period defined in seconds. If not specified, campaign default will be used.
                      additionalProperties: false
                  version:
                    type: integer
                    description: Commission version. Only applicable when requesting V1 commissions.
                required:
                - id
                - description
                - start_date
                - end_date
                - last_modified
                - meta_fields
                - status
                - rates
        '204':
          description: Commission Deleted
x-refined-from:
- partnerize-partners-api-openapi.yml
- partnerize-commissions-api-openapi.yml
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
