openapi: 3.2.0
info:
  title: Partnerize Partners Payment Details API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Payment Details
paths:
  /user/publisher/{publisher_id}/payment_detail:
    get:
      parameters:
      - description: ID of the partner
        example: 1l1007802
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    payment_details:
                      1011l22:
                        publisher_payment_detail_set_id: 1011l22
                        country: US
                        paid_currency: USD
                        tracked_currency:
                        - USD
                        payment_type_code: eft
                        payment_type_name: Electronic funds transfer
                        automatic_self_bill_creation_date: '-1'
                        automatic_self_bill_creation_threshold: '-1'
                        suspended: n
                        suspended_at: null
                        suspended_by: null
                        suspension_notes: null
                        payment_detail_values:
                          bank_address: 8th Floor, West One, Forth Banks
                          account_number: 12345678
                          account_name: joe bloggs
                          bank_name: bob bank
                          routing_number: 122105155
              schema:
                properties:
                  payment_details:
                    items:
                      $ref: '#/components/schemas/Payment_Details'
                    type: array
                type: object
          description: OK
      tags:
      - Payment Details
      description: View all Payment Details for a partner.
      operationId: List Payment Details
      summary: List Payment Details
    post:
      parameters:
      - description: ID of the partner
        example: 1l1007802
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    payment_details:
                      1011l23:
                        publisher_payment_detail_set_id: 1011l23
                        country: US
                        paid_currency: USD
                        tracked_currency:
                        - USD
                        payment_type_code: eft
                        payment_type_name: Electronic funds transfer
                        automatic_self_bill_creation_date: '-1'
                        automatic_self_bill_creation_threshold: '-1'
                        suspended: n
                        suspended_at: null
                        suspended_by: null
                        suspension_notes: null
                        payment_detail_values:
                          bank_address: 8th Floor, West One, Forth Banks
                          account_number: 12345678
                          account_name: joe bloggs
                          bank_name: bob bank
                          routing_number: 122105155
              schema:
                properties:
                  payment_details:
                    items:
                      $ref: '#/components/schemas/Payment_Details'
                    type: array
                type: object
          description: OK
      tags:
      - Payment Details
      description: Create Payment Details for a partner.
      operationId: Create Payment Details
      requestBody:
        content:
          application/json:
            schema:
              example:
                payment_details:
                  1011l22:
                    publisher_payment_detail_set_id: 1011l22
                    country: US
                    paid_currency: USD
                    tracked_currency:
                    - USD
                    payment_type_code: eft
                    payment_type_name: Electronic funds transfer
                    automatic_self_bill_creation_date: '-1'
                    automatic_self_bill_creation_threshold: '-1'
                    suspended: n
                    suspended_at: null
                    suspended_by: null
                    suspension_notes: null
                    payment_detail_values:
                      bank_address: 8th Floor, West One, Forth Banks
                      account_number: 12345678
                      account_name: joe bloggs
                      bank_name: bob bank
                      routing_number: 122105155
              properties:
                payment_details:
                  items:
                    properties:
                      1011l22:
                        description: Dynamic property name equal to the payment details set id. Must be active. Example - 1011l22
                        properties:
                          publisher_payment_detail_set_id:
                            type: string
                          payment_detail_values:
                            properties:
                              bank_address:
                                type: string
                              account_number:
                                type: number
                              account_name:
                                type: string
                              bank_name:
                                type: string
                              routing_number:
                                type: number
                            type: object
                        type: object
                  type: array
              type: object
      summary: Create Payment Details
components:
  schemas:
    Payment_Details:
      properties:
        1011l22:
          description: Dynamic property name equal to the Payment details set Id. Example - 1011l22
          properties:
            publisher_payment_detail_set_id:
              type: string
            country:
              $ref: '#/components/schemas/Country'
            paid_currency:
              $ref: '#/components/schemas/Currency'
            tracked_currency:
              items:
                $ref: '#/components/schemas/Currency'
              type: array
            payment_type_code:
              type: string
            payment_type_name:
              type: string
            automatic_self_bill_creation_date:
              type: string
            automatic_self_bill_creation_threshold:
              type: string
            suspended:
              $ref: '#/components/schemas/YesOrNo'
            suspended_at:
              type: string
            suspended_by:
              type: string
            suspended_notes:
              type: string
            payment_detail_values:
              properties:
                bank_address:
                  type: string
                account_number:
                  type: number
                account_name:
                  type: string
                bank_name:
                  type: string
                routing_number:
                  type: number
              type: object
          type: object
    Currency:
      enum:
      - GBP
      - USD
      - EUR
      - JPY
      type: string
    Country:
      enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - XK
      - YE
      - YT
      - ZA
      - ZM
      - ZW
      type: string
    YesOrNo:
      enum:
      - y
      - n
      type: string
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
