openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Exclusive Code API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Exclusive Code
  description: Exclusive codes are assigned to a partner. If a partner’s exclusive code is redeemed, the partner wins the sale - even if they don’t contribute any clicks.
paths:
  /v2/campaigns/{campaignId}/attribution/exclusive-codes:
    parameters:
    - $ref: '#/components/parameters/campaignId'
    get:
      summary: List All Exclusive Codes
      tags:
      - Exclusive Code
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Exclusive Code Response
                type: object
                properties:
                  data:
                    title: Exclusive Codes
                    type: array
                    description: A Collection of Exclusive Codes
                    items:
                      $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1attribution~1exclusive-codes/post/responses/201/content/application~1json/schema/properties/data'
                  count:
                    type: integer
                    description: The total number of results available
                    example: 15
                  hypermedia:
                    type: object
                    properties:
                      next:
                        type:
                        - string
                        - 'null'
                        description: The URL to call for the next set of preferred partners
                        example: https://api.partnerize.com/v2/campaigns/1101l40123/attribution/exclusive-codes?limit=100&offset=100
                  meta:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: Is Exclusive Codes attribution enabled on this campaign?
                        example: true
      operationId: get-v2-attribution-exclusive-codes
      parameters:
      - schema:
          type: integer
          minimum: 0
          maximum: 200
        in: query
        name: limit
        description: Used to limit the response to a number of results
      - schema:
          type: integer
          minimum: 0
        in: query
        name: offset
        description: Used to offset the results we're returning
      - schema:
          type: string
          pattern: ^[-a-z0-9_]++$
        in: query
        name: query
        description: Search for specific codes or partner names
      - schema:
          type: string
          pattern: ^.*?,.*?$
          example: 2020-10-01T00:00:00Z,2020-10-31T00:00:00Z
        in: query
        name: dates
        description: Search for codes within a date-time range. Comma separated start and end date-times
      - schema:
          type: string
          example: active,scheduled,expired
          pattern: ^\w+(,\w+)*$
        in: query
        name: statuses
        description: A comma separated list of statuses to return results for
      description: Show a list of all configured exclusive codes. May be filtered with several filters.
    post:
      summary: Create an Exclusive Code
      operationId: post-v2-campaigns-campaignId-attribution-exclusive-codes
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                title: Exclusive Code Response
                type: object
                properties:
                  data:
                    title: Exclusive Code
                    type: object
                    properties:
                      id:
                        type: string
                        description: The unique ID of this Exclusive Code
                        example: 10110l22587
                      voucher_code:
                        $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1attribution~1exclusive-codes/post/requestBody/content/application~1json/schema/properties/voucher_code/oneOf/1/allOf/0'
                      partner:
                        type: object
                        description: The information about the Partner that the exclusive code belongs to
                        properties:
                          id:
                            type: string
                            description: The Partners unique identifier
                            example: 10110l567801
                          name:
                            type: string
                            description: The Partners name
                            example: Joel
                          status:
                            type: string
                            enum:
                            - invited
                            - rejected
                            - approved
                            - requested
                            description: The status of the partner on the campaign
                            example: approved
                      start_date:
                        type: string
                        format: date-time
                        description: The date the code is considered exclusive from
                        example: '2022-11-01T00:00:00+00:00'
                      end_date:
                        type:
                        - string
                        - 'null'
                        format: date-time
                        description: The date the code is considered exclusive until. This is inclusive.
                        example: '2022-11-30T23:59:59+00:00'
                      is_clickless:
                        type: boolean
                        description: Specifies if the Exclusive Code has Clickless Campaign Based Reallocation behaviour.
                        example: false
                      status:
                        type: string
                        enum:
                        - scheduled
                        - active
                        - expired
                        description: The status of this Exclusive Code instance
                        example: active
      description: Create an Exclusive Code configuration
      tags:
      - Exclusive Code
      requestBody:
        content:
          application/json:
            schema:
              title: Exclusive Code Request
              type: object
              properties:
                voucher_code:
                  oneOf:
                  - type: string
                    pattern: ^[a-zA-Z0-9_-]+$
                    minLength: 1
                    description: An exact match voucher code
                  - allOf:
                    - title: Exclusive Code Fuzzy Value
                      type: object
                      description: A fuzzy matched value
                      properties:
                        value:
                          type: string
                          pattern: ^[a-zA-Z0-9_-]+$
                          minLength: 1
                          example: SUMMER10
                        operator:
                          type: string
                          enum:
                          - EQUALS
                          - CONTAINS
                          - STARTS_WITH
                          - ENDS_WITH
                    - type: object
                      required:
                      - value
                      - operator
                partner_id:
                  type: string
                  pattern: ^[a-z0-9]+$
                  minLength: 1
                start_date:
                  type: string
                  format: date-time
                end_date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                is_clickless:
                  type: boolean
                  description: Specifies if the Exclusive Code has Clickless Campaign Based Reallocation behaviour. This setting only applies to Master Campaign setups.
                  default: false
              required:
              - voucher_code
              - partner_id
              - start_date
    delete:
      summary: Delete Exclusive Codes
      operationId: bulk-delete-v2-campaigns-campaignId-attribution-exclusive-codes
      responses:
        '204':
          description: No Content
      description: Delete Exclusive Codes. This is only possible if the Exclusive Codes are scheduled, otherwise an error will occur.
      requestBody:
        content:
          application/json:
            schema:
              title: Delete Exclusive Code Request
              type: object
              properties:
                exclusive_code_ids:
                  minItems: 1
                  items:
                    type: string
                    description: The Unique ID of Exclusive Code to be deleted
              required:
              - exclusive_code_ids
      tags:
      - Exclusive Code
  /v2/campaigns/{campaignId}/attribution/exclusive-codes/{id}:
    parameters:
    - $ref: '#/components/parameters/campaignId'
    - schema:
        type: string
        example: 1001l1
      name: id
      in: path
      required: true
      description: The ID of the Exclusive Code
    get:
      summary: Get an Exclusive Code
      tags:
      - Exclusive Code
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1attribution~1exclusive-codes/post/responses/201/content/application~1json/schema'
      operationId: get-campaigns-campaignId-attribution-exclusive-codes-id
      description: Get an Exclusive Code instance
    patch:
      summary: Update an Exclusive Code
      operationId: patch-v2-campaigns-campaignId-attribution-exclusive-codes-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1attribution~1exclusive-codes/post/responses/201/content/application~1json/schema'
      description: Update an Exclusive Code. All request body properties are optional but at least one must be specified for update.
      tags:
      - Exclusive Code
      requestBody:
        content:
          application/json:
            schema:
              title: Exclusive Code Update Request
              type: object
              description: Update an exclusive code
              minProperties: 1
              properties:
                voucher_code:
                  oneOf:
                  - type: string
                    pattern: ^[a-zA-Z0-9_-]+$
                    minLength: 1
                    description: An exact match voucher code
                  - allOf:
                    - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1attribution~1exclusive-codes/post/requestBody/content/application~1json/schema/properties/voucher_code/oneOf/1/allOf/0'
                    - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1attribution~1exclusive-codes/post/requestBody/content/application~1json/schema/properties/voucher_code/oneOf/1/allOf/1'
                partner_id:
                  type: string
                  description: The ID of the Partner who will receive commission when this voucher code is used.
                start_date:
                  type: string
                  format: date-time
                  description: The date from which the voucher code is valid. This is inclusive.
                end_date:
                  description: The date until the voucher code is valid. This is inclusive.
                  type:
                  - string
                  - 'null'
                  format: date-time
                is_clickless:
                  type: boolean
                  description: Specifies if the Exclusive Code has Clickless Campaign Based Reallocation behaviour. This setting only applies to Master Campaign setups.
                  default: false
    delete:
      summary: Delete an Exclusive Code
      responses:
        '204':
          description: No Content
      operationId: delete-campaigns-campaignId-attribution-exclusive-codes-id
      tags:
      - Exclusive Code
components:
  parameters:
    campaignId:
      name: campaignId
      description: The ID of the Campaign
      in: path
      required: true
      schema:
        type: string
        example: 111111l1
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
