openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Split API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Split
  description: Split all CPA commissions between the initiator (first click), contributors (supporting click) and convertor (last click) in the click chain.
paths:
  /v2/campaigns/{campaignId}/attribution/split:
    parameters:
    - $ref: '#/components/parameters/campaignId'
    get:
      summary: List Split Settings
      tags:
      - Split
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Split Response
                type: object
                description: ''
                properties:
                  data:
                    title: Split
                    type: object
                    properties:
                      initiator:
                        type: number
                        minimum: 0
                        description: What portion of the conversion does the initiator receive
                        maximum: 100
                        example: 50
                      contributor_missing:
                        type: string
                        description: 'If no contributors are found, how should the remaining amount be divided? '
                        enum:
                        - converter
                        - initiator
                        - split
                        example: split
                      converter:
                        type: number
                        minimum: 0
                        description: What portion of the conversion does the converter receive
                        maximum: 100
                        example: 50
                      excluded_partners:
                        type: array
                        description: An array of partner IDs that are not affected by split attribution.
                        items:
                          title: Partner
                          type: object
                          properties:
                            id:
                              type: string
                              example: 10110l1
                            name:
                              type: string
                              example: Joel
                        example:
                        - id: 10110l123
                          name: Joel
                        - id: 10110l456
                          name: Jenny
                      excluded_groups:
                        type: array
                        description: An array of group IDs that are not affected by split attribution.
                        items:
                          title: Group
                          type: object
                          properties:
                            id:
                              type: string
                              example: 10110l3
                            name:
                              type: string
                              example: Cashback
                        example:
                        - id: 10110l789
                          name: Cashback
                        - id: 10110l246
                          name: Voucher
                  meta:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: Is Split attribution enabled on this campaign?
      operationId: get-v2-campaigns-campaignId-attribution-split
      description: Get the Split attribution settings for the given Campaign
    patch:
      summary: Update Split Settings
      tags:
      - Split
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Split Response
                type: object
                description: ''
                properties:
                  data:
                    $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1attribution~1split/get/responses/200/content/application~1json/schema/properties/data'
      operationId: patch-v2-campaigns-campaignId-attribution-split
      requestBody:
        content:
          application/json:
            schema:
              title: Split Request
              type: object
              minProperties: 1
              properties:
                initiator:
                  type: number
                  minimum: 0
                  description: What portion of the conversion does the initiator receive
                  maximum: 100
                  example: 50
                contributor_missing:
                  type: string
                  description: 'If no contributors are found, how should the remaining amount be divided? '
                  enum:
                  - converter
                  - initiator
                  - split
                  example: split
                converter:
                  type: number
                  minimum: 0
                  description: What portion of the conversion does the converter receive
                  maximum: 100
                  example: 50
                excluded_partners:
                  type: array
                  description: An array of partner IDs that are not affected by split attribution.
                  items:
                    type: string
                  example:
                  - 10110l123
                  - 10110l456
                excluded_groups:
                  type: array
                  description: An array of group IDs that are not affected by split attribution.
                  items:
                    type: string
                  example:
                  - 10110l789
                  - 10110l246
      description: Update the Split settings for the given Campaign
components:
  parameters:
    campaignId:
      name: campaignId
      description: The ID of the Campaign
      in: path
      required: true
      schema:
        type: string
        example: 111111l1
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
