openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Campaigns API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- description: A Campaign is owned by a Brand and a Brand may have multiple Campaigns.
  name: Campaigns
paths:
  /campaign:
    get:
      parameters:
      - description: ID of the network
        example: 11l100
        in: query
        name: network_id
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    campaigns:
                    - campaign:
                        advertiser_id: 10l110
                        allow_deep_linking: y
                        allow_third_party_pixel: y
                        append_url_parameters: ''
                        associated_campaigns: ''
                        automated_invoicing_date: 4
                        automated_invoicing_po_number: null
                        auto_approve_publisher: y
                        auto_rejected_ips: null
                        basket_value_cap: null
                        budget_summary_interval: null
                        budget_summary_start_time: null
                        campaign_currency_conversions: []
                        campaign_id: 10l176
                        campaign_languages: null
                        campaign_logo: http://partnerize.com/logo.png
                        campaign_notes: ''
                        campaign_overloads: []
                        commission_by_meta_label: '[ "label 1","label 2" ]'
                        commission_by_meta: '[ "field_1","field_2" ]'
                        commissions: []
                        conversion_hiatus_period: 7
                        conversion_type: sale
                        cookie_period: 0
                        cookie_status: null
                        default_commission_rate: '5'
                        default_currency: GBP
                        default_override: 10
                        deferred_lead_submission: null
                        description:
                          en: <p>Awesome new campaign</p>
                        destination_url: http://www.performancehorizon.com
                        dont_consolidate: y
                        dont_invoice: y
                        extra_restricted_deep_linking: ''
                        force_approve_period: 0
                        hidden_campaign: y
                        invoice_address_1: null
                        invoice_address_2: null
                        invoice_address_3: null
                        invoice_address_4: null
                        invoice_address_country: null
                        invoice_address_postcode: null
                        invoice_company: null
                        invoice_contact: null
                        invoice_only: null
                        ip_tracking_time: 0
                        is_cpc: y
                        lead_confirmation_url_fail: ''
                        lead_confirmation_url_success: ''
                        multiple_conversions_per_click: n
                        network_fee: null
                        pay_publisher_directly: y
                        payment_date: null
                        prepend_url_string: http://google.com
                        recurring_payment_setup: y
                        report_meta_purge_period: null
                        reporting_timezone: Australia/Sydney
                        restricted_deep_linking: y
                        secure_tracking: y
                        status: a
                        terms:
                          en:
                            terms: Important campaign terms and conditions
                        test_mode: y
                        title: PHG Aff Demo
                        tq_auto_approve: 60
                        tq_enabled: y
                        tq_enabled_publishers: ''
                        tracking_method: s2s
                        tracking_subdomain: null
                        unique_conversion_refs: y
                        vertical_id: 10
                        vertical_name: Other
                        week_start: Monday
                        advertiser_name: Advertiser Name
              schema:
                properties:
                  campaigns:
                    items:
                      $ref: '#/components/schemas/Campaign_Wrapper'
                    type: array
          description: OK
      tags:
      - Campaigns
      description: 'Return the details of all Campaigns attached to the Network account and visible to the authenticated User.

        The output is contextual based on the permissions of the User making the request to the endpoint. A limited Campaign

        schema will be utilised for any Campaign that the User does not have appropriate permissions to view.'
      operationId: listAllCampaigns
      summary: List all Campaigns
    post:
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    campaign:
                      advertiser_id: 10l110
                      allow_deep_linking: y
                      allow_third_party_pixel: y
                      append_url_parameters: ''
                      associated_campaigns: ''
                      automated_invoicing_date: 4
                      automated_invoicing_po_number: null
                      auto_approve_publisher: y
                      auto_rejected_ips: null
                      budget_summary_interval: null
                      budget_summary_start_time: null
                      campaign_currency_conversions: []
                      campaign_id: 10l176
                      campaign_languages: null
                      campaign_logo: http://performancehorizon.com/logo.png
                      campaign_notes: ''
                      campaign_overloads: []
                      commission_by_meta_label: '[ "label 1","label 2" ]'
                      commission_by_meta: '[ "field_1","field_2" ]'
                      commissions: []
                      conversion_hiatus_period: 7
                      conversion_type: sale
                      cookie_period: 0
                      cookie_status: null
                      default_commission_rate: '5'
                      default_currency: GBP
                      default_override: 10
                      deferred_lead_submission: null
                      description:
                        en: <p>Awesome new campaign</p>
                      destination_url: http://www.performancehorizon.com
                      dont_consolidate: y
                      dont_invoice: y
                      extra_restricted_deep_linking: ''
                      force_approve_period: 0
                      hidden_campaign: y
                      invoice_address_1: null
                      invoice_address_2: null
                      invoice_address_3: null
                      invoice_address_4: null
                      invoice_address_country: null
                      invoice_address_postcode: null
                      invoice_company: null
                      invoice_contact: null
                      invoice_only: null
                      ip_tracking_time: 0
                      is_cpc: y
                      lead_confirmation_url_fail: ''
                      lead_confirmation_url_success: ''
                      multiple_conversions_per_click: n
                      network_fee: null
                      pay_publisher_directly: y
                      payment_date: null
                      prepend_url_string: http://google.com
                      promotional_countries:
                      - iso: US
                        name: United States
                      - iso: GB
                        name: United Kingdom
                      recurring_payment_setup: y
                      report_meta_purge_period: null
                      reporting_timezone: Australia/Sydney
                      restricted_deep_linking: y
                      secure_tracking: y
                      status: a
                      terms:
                        en:
                          terms: Important campaign terms and conditions
                      test_mode: y
                      title: PHG Aff Demo
                      tq_auto_approve: 60
                      tq_enabled: y
                      tq_enabled_publishers: ''
                      tracking_method: s2s
                      tracking_subdomain: null
                      unique_conversion_refs: y
                      vertical_id: 10
                      vertical_name: Other
                      week_start: Monday
                      advertiser_name: Advertiser Name
              schema:
                properties:
                  $ref: '#/components/schemas/Campaign_Wrapper'
          description: OK
      tags:
      - Campaigns
      description: To create a new Campaign, the Brand must pass their associated `advertiser_id`.
      operationId: createACampaign
      requestBody:
        content:
          application/json:
            schema:
              example:
                advertiser_id: 10l110
                allow_deep_linking: y
                allow_third_party_pixel: y
                append_url_parameters: ''
                associated_campaigns: ''
                auto_rejected_ips: null
                campaign_overloads:
                - publisher_id: 11111l1
                  append_url_parameters: ?a=b&c=d
                  basket_value_cap: 10.01
                  default_destination: http://example.com
                  description: Example
                  hide_hybrid_from_publisher: y
                  is_cpc: n
                  prepend_url_string: http://example.com
                  test_mode: y
                campaign_icon: http://example.com/path/to/image.png
                campaign_logo: http://performancehorizon.com/logo.png
                campaign_notes: ''
                cookie_period: 0
                default_commission_rate: '5'
                default_currency: GBP
                description:
                  en: <p>Awesome new campaign</p>
                destination_url: http://www.performancehorizon.com
                hidden_campaign: y
                multiple_conversions_per_click: n
                prepend_url_string: http://google.com
                secure_tracking: y
                terms:
                  en:
                    terms: Important campaign terms and conditions
                test_mode: y
                title: PHG Aff Demo
                tq_auto_approve: 60
                tracking_method: s2s
                unique_conversion_refs: y
                vertical_id: 10
                vertical_name: Other
              oneOf:
              - properties:
                  default_commission_rate:
                    type: string
                type: object
              - properties:
                  default_commission_value:
                    type: string
                type: object
              properties:
                advertiser_id:
                  description: ID of the brand the campaign should belong to
                  type: string
                allow_deep_linking:
                  $ref: '#/components/schemas/YesOrNo'
                allow_third_party_pixel:
                  $ref: '#/components/schemas/YesOrNo'
                append_url_parameters:
                  type: string
                associated_campaigns:
                  type: string
                auto_rejected_ips:
                  type:
                  - string
                  - 'null'
                campaign_icon:
                  description: Url of image to download. Supports PNG and JPEG only.
                  type:
                  - string
                  - 'null'
                campaign_icon_upload:
                  description: Base64 encoded data url of image to upload. Supports PNG and JPEG only.
                  type:
                  - string
                  - 'null'
                campaign_logo:
                  type:
                  - string
                  - 'null'
                campaign_overloads:
                  type:
                  - array
                  - 'null'
                  items:
                    type: object
                    properties:
                      publisher_id:
                        type: string
                      append_url_parameters:
                        type: string
                      basket_value_cap:
                        type: string
                      default_destination:
                        type: string
                      description:
                        type: string
                      hide_hybrid_from_publisher:
                        $ref: '#/components/schemas/YesOrNo'
                      is_cpc:
                        $ref: '#/components/schemas/YesOrNo'
                      prepend_url_string:
                        type: url
                      test_mode:
                        $ref: '#/components/schemas/YesOrNo'
                    required:
                    - publisher_id
                campaign_notes:
                  type: string
                cookie_period:
                  type: number
                default_currency:
                  enum:
                  - GBP
                  - USD
                  - EUR
                  - JPY
                  type: string
                description:
                  properties:
                    en:
                      type: string
                      description: 'Supports the following HTML tags with no attributes: p, h1-h6, b, i, u, ol, ul, li'
                  type:
                  - object
                  - 'null'
                destination_url:
                  type: string
                hidden_campaign:
                  $ref: '#/components/schemas/YesOrNo'
                multiple_conversions_per_click:
                  anyOf:
                  - enum:
                    - y
                    - n
                    type: string
                  - enum:
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    type: number
                prepend_url_string:
                  description: Prepend all destination URLs
                  type:
                  - string
                  - 'null'
                secure_tracking:
                  $ref: '#/components/schemas/YesOrNo'
                terms:
                  properties:
                    en:
                      properties:
                        terms:
                          type: string
                      type: object
                  type:
                  - object
                  - 'null'
                test_mode:
                  $ref: '#/components/schemas/YesOrNo'
                title:
                  type: string
                tq_auto_approve:
                  type: number
                tracking_method:
                  enum:
                  - pixel
                  - api
                  - s2s
                  type: string
                unique_conversion_refs:
                  enum:
                  - y
                  - n
                  - ignore
                  type: string
                vertical_id:
                  type: number
                vertical_name:
                  type: string
              required:
              - advertiser_id
              - title
              - destination_url
              type: object
      summary: Create a Campaign
  /campaign/{campaign_id}:
    get:
      parameters:
      - description: ID of the campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    campaign:
                      campaign_icon: https://console.partnerize.com/assets/icons/campaigns/10l176.png
                      advertiser_id: 10l110
                      allow_deep_linking: y
                      allow_third_party_pixel: y
                      append_url_parameters: ''
                      associated_campaigns: ''
                      automated_invoicing_date: 4
                      automated_invoicing_po_number: null
                      auto_approve_publisher: y
                      auto_rejected_ips: null
                      budget_summary_interval: null
                      budget_summary_start_time: null
                      campaign_currency_conversions: []
                      campaign_id: 10l176
                      campaign_languages: null
                      campaign_logo: http://performancehorizon.com/logo.png
                      campaign_notes: ''
                      campaign_overloads: []
                      commission_by_meta_label: '[ "label 1","label 2" ]'
                      commission_by_meta: '[ "field_1","field_2" ]'
                      commissions: []
                      conversion_hiatus_period: 7
                      conversion_type: sale
                      cookie_period: 0
                      cookie_status: null
                      default_commission_rate: '5'
                      default_currency: GBP
                      default_override: 10
                      deferred_lead_submission: null
                      description:
                        en: Awesome new campaign
                      destination_url: http://www.performancehorizon.com
                      dont_consolidate: y
                      dont_invoice: y
                      extra_restricted_deep_linking: ''
                      force_approve_period: 0
                      hidden_campaign: y
                      invoice_address_1: null
                      invoice_address_2: null
                      invoice_address_3: null
                      invoice_address_4: null
                      invoice_address_country: null
                      invoice_address_postcode: null
                      invoice_company: null
                      invoice_contact: null
                      invoice_only: null
                      ip_tracking_time: 0
                      is_cpc: y
                      lead_confirmation_url_fail: ''
                      lead_confirmation_url_success: ''
                      multiple_conversions_per_click: n
                      network_fee: null
                      pay_publisher_directly: y
                      payment_date: null
                      prepend_url_string: http://google.com
                      promotional_countries:
                      - iso: US
                        name: United States
                      - iso: GB
                        name: United Kingdom
                      recurring_payment_setup: y
                      report_meta_purge_period: null
                      reporting_timezone: Australia/Sydney
                      restricted_deep_linking: y
                      secure_tracking: y
                      status: a
                      terms:
                        en:
                          terms: Important campaign terms and conditions
                      test_mode: y
                      title: PHG Aff Demo
                      tq_auto_approve: 60
                      tq_enabled: y
                      tq_enabled_publishers: ''
                      tracking_method: s2s
                      tracking_subdomain: null
                      unique_conversion_refs: y
                      vertical_id: 10
                      vertical_name: Other
                      week_start: Monday
                      advertiser_name: Advertiser Name
              schema:
                $ref: '#/components/schemas/Campaign_Wrapper'
          description: OK
      tags:
      - Campaigns
      description: Outputs the specified Campaign.
      operationId: Retrieve a Campaign
      summary: Retrieve a Campaign
    post:
      parameters:
      - description: ID of the campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    campaign:
                      campaign_icon: http://example.com/path/to/image.png
                      advertiser_id: 10l110
                      allow_deep_linking: y
                      allow_third_party_pixel: y
                      append_url_parameters: ''
                      associated_campaigns: ''
                      automated_invoicing_date: 4
                      automated_invoicing_po_number: null
                      auto_approve_publisher: y
                      auto_rejected_ips: null
                      budget_summary_interval: null
                      budget_summary_start_time: null
                      campaign_currency_conversions: []
                      campaign_id: 10l176
                      campaign_languages: null
                      campaign_logo: http://performancehorizon.com/logo.png
                      campaign_notes: ''
                      campaign_overloads: []
                      commission_by_meta_label: '[ "label 1","label 2" ]'
                      commission_by_meta: '[ "field_1","field_2" ]'
                      commissions: []
                      conversion_hiatus_period: 7
                      conversion_type: sale
                      cookie_period: 0
                      cookie_status: null
                      default_commission_rate: '5'
                      default_currency: GBP
                      default_override: 10
                      deferred_lead_submission: null
                      description:
                        en: Awesome new campaign
                      destination_url: http://www.performancehorizon.com
                      dont_consolidate: y
                      dont_invoice: y
                      extra_restricted_deep_linking: ''
                      force_approve_period: 0
                      hidden_campaign: y
                      invoice_address_1: null
                      invoice_address_2: null
                      invoice_address_3: null
                      invoice_address_4: null
                      invoice_address_country: null
                      invoice_address_postcode: null
                      invoice_company: null
                      invoice_contact: null
                      invoice_only: null
                      ip_tracking_time: 0
                      is_cpc: y
                      lead_confirmation_url_fail: ''
                      lead_confirmation_url_success: ''
                      multiple_conversions_per_click: n
                      network_fee: null
                      pay_publisher_directly: y
                      payment_date: null
                      prepend_url_string: http://google.com
                      recurring_payment_setup: y
                      report_meta_purge_period: null
                      reporting_timezone: Australia/Sydney
                      restricted_deep_linking: y
                      secure_tracking: y
                      status: a
                      terms:
                        en:
                          terms: Important campaign terms and conditions
                      test_mode: y
                      title: PHG Aff Demo
                      tq_auto_approve: 60
                      tq_enabled: y
                      tq_enabled_publishers: ''
                      tracking_method: s2s
                      tracking_subdomain: null
                      unique_conversion_refs: y
                      vertical_id: 10
                      vertical_name: Other
                      week_start: Monday
                    status:
                      campaign_id: 10l176
                      message: Campaign successfully deleted
                      retire_reason: No longer needed
                      status: Deleted
              schema:
                properties:
                  $ref: '#/components/schemas/Campaign_Wrapper'
                  status:
                    properties:
                      campaign_id:
                        type: string
                      message:
                        type: string
                      retire_reason:
                        type: string
                      status:
                        type: string
                    type: object
          description: OK
          headers: {}
      tags:
      - Campaigns
      description: 'To delete a specific campaign, you must pass 3 required parameters:


        1. `''action'' => ''delete''`


        2. `''campaign_id'' => ''''`


        3. `''retire_reason'' => ''some excuse''`.'
      operationId: Delete a Campaign
      requestBody:
        content:
          application/json:
            schema:
              example:
                action: delete
                campaign_id: 10l176
                retire_reason: No longer needed
              properties:
                action:
                  type: string
                campaign_id:
                  description: ID of the campaign
                  type: string
                retire_reason:
                  type: string
              required:
              - campaign_id
              - action
              - retire_reason
              type: object
      summary: Delete a Campaign
    put:
      parameters:
      - description: ID of the campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    campaign:
                      campaign_icon: https://console.partnerize.com/assets/icons/campaigns/10l176.png
                      advertiser_id: 10l110
                      allow_deep_linking: y
                      allow_third_party_pixel: y
                      append_url_parameters: ''
                      associated_campaigns: ''
                      automated_invoicing_date: 4
                      automated_invoicing_po_number: null
                      auto_approve_publisher: y
                      auto_rejected_ips: null
                      budget_summary_interval: null
                      budget_summary_start_time: null
                      campaign_currency_conversions: []
                      campaign_id: 10l176
                      campaign_languages: null
                      campaign_logo: http://performancehorizon.com/logo.png
                      campaign_notes: ''
                      campaign_overloads: []
                      commission_by_meta_label: '[ "label 1","label 2" ]'
                      commission_by_meta: '[ "field_1","field_2" ]'
                      commissions: []
                      conversion_hiatus_period: 7
                      conversion_type: sale
                      cookie_period: 0
                      cookie_status: null
                      default_commission_rate: '5'
                      default_currency: GBP
                      default_override: 10
                      deferred_lead_submission: null
                      description:
                        en: Awesome new campaign
                      destination_url: http://www.performancehorizon.com
                      dont_consolidate: y
                      dont_invoice: y
                      extra_restricted_deep_linking: ''
                      force_approve_period: 0
                      hidden_campaign: y
                      invoice_address_1: null
                      invoice_address_2: null
                      invoice_address_3: null
                      invoice_address_4: null
                      invoice_address_country: null
                      invoice_address_postcode: null
                      invoice_company: null
                      invoice_contact: null
                      invoice_only: null
                      ip_tracking_time: 0
                      is_cpc: y
                      lead_confirmation_url_fail: ''
                      lead_confirmation_url_success: ''
                      multiple_conversions_per_click: n
                      network_fee: null
                      pay_publisher_directly: y
                      payment_date: null
                      prepend_url_string: http://google.com
                      recurring_payment_setup: y
                      report_meta_purge_period: null
                      reporting_timezone: Australia/Sydney
                      restricted_deep_linking: y
                      secure_tracking: y
                      status: a
                      terms:
                        en:
                          terms: terms for the locale
                      test_mode: y
                      title: PHG Aff Demo
                      tq_auto_approve: 60
                      tq_enabled: y
                      tq_enabled_publishers: ''
                      tracking_method: s2s
                      tracking_subdomain: null
                      unique_conversion_refs: y
                      vertical_id: 10
                      vertical_name: Other
                      week_start: Monday
              schema:
                $ref: '#/components/schemas/Campaign_Wrapper'
          description: OK
      tags:
      - Campaigns
      description: Update the specified Campaign.
      operationId: Update a Campaign
      requestBody:
        content:
          application/json:
            schema:
              properties:
                campaign_id:
                  description: ID of the campaign
                  type: string
                  example: 10l176
                destination_url:
                  type: string
                  format: uri
                  example: http://www.partnerize.com
                  minLength: 1
                title:
                  type: string
                  example: PHG Aff Demo
                  minLength: 5
                  maxLength: 45
                terms:
                  properties:
                    en:
                      properties:
                        terms:
                          type: string
                          example: terms for the en locale
                      type: object
                  type: object
                promotional_countries:
                  type: array
                  items:
                    type: object
                    properties:
                      iso:
                        type: string
                        example: GB
                associated_campaigns:
                  type: string
                auto_rejected_ips:
                  type: string
                  description: Comma separated list
                  example: 1.1.1.1,2.2.2.2
                campaign_notes:
                  type: string
                campaign_overloads:
                  type:
                  - array
                  - 'null'
                  items:
                    type: object
                    properties:
                      publisher_id:
                        type: string
                      append_url_parameters:
                        type: string
                        example: ?a=b&c=d
                      basket_value_cap:
                        type: float
                        example: 10.01
                      default_destination:
                        type: string
                      description:
                        type: string
                      hide_hybrid_from_publisher:
                        $ref: '#/components/schemas/YesOrNo'
                      is_cpc:
                        $ref: '#/components/schemas/YesOrNo'
                      prepend_url_string:
                        type: url
                        example: http://example.com
                      test_mode:
                        $ref: '#/components/schemas/YesOrNo'
                    required:
                    - publisher_id
                week_start:
                  type: string
                  enum:
                  - Monday
                  - Tuesday
                  - Wednesday
                  - Thursday
                  - Friday
                  - Saturday
                  - Sunday
                vertical_id:
                  type: string
                default_currency:
                  type: string
                  example: GBP
                multiple_conversions_per_click:
                  oneOf:
                  - type: string
                    enum:
                    - y
                    - n
                    - suppress
                  - type: integer
                unique_conversion_refs:
                  type: string
                  enum:
                  - y
                  - n
                  - ignore
                reporting_timezone:
                  type: string
                  example: Australia/Melbourne
                tracking_method:
                  type: string
                  enum:
                  - pixel
                  - s2s
                  - api
                deeplink_method:
                  type: string
                  enum:
                  - standard
                  - direct
                cookie_period:
                  type: integer
                  minimum: 0
                tq_auto_approve:
                  type: integer
                  minimum: 0
                campaign_logo:
                  type: string
                  format: uri
                short_link_subdomain:
                  type: string
                  minLength: 1
                app_tracking_provider:
                  type: string
                  enum:
                  - branch
                  - partnerize
                app_tracking_provider_tracking_link:
                  type: string
                test_mode:
                  type: string
                  enum:
                  - y
                  - n
                hidden_campaign:
                  type: string
                  enum:
                  - y
                  - n
                allow_deep_linking:
                  type: string
                  enum:
                  - y
                  - n
                allow_third_party_pixel:
                  type: string
                  enum:
                  - y
                  - n
                secure_tracking:
                  type: string
                  enum:
                  - y
                  - n
                is_cpc:
                  type: string
                  enum:
                  - y
                  - n
                append_url_parameters:
                  type: string
                prepend_url_string:
                  type: string
                  format: uri
                description:
                  type: object
                  properties:
                    en:
                      type: string
                      description: 'Supports the following HTML tags with no attributes: p, h1-h6, b, i, u, ol, ul, li'
                campaign_languages:
                  type: object
                  properties:
                    en:
                      type: object
                      properties:
                        destination_url:
                          type: string
                          format: uri
              oneOf:
              - type: object
                properties:
                  campaign_icon:
                    description: Url of image to download. Supports PNG and JPEG only.
                    type:
                    - string
                    - 'null'
              - type: object
                properties:
                  campaign_icon_upload:
                    description: Base64 encoded data url of image to upload. Supports PNG and JPEG only.
                    type:
                    - string
                    - 'null'
                    example: data:image/png;base64,...
              required:
              - campaign_id
              type: object
      summary: Update a Campaign
  /user/advertiser/{advertiser_id}/campaign:
    get:
      parameters:
      - description: ID of the brand
        example: 10l110
        in: path
        name: advertiser_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    campaigns:
                    - campaign:
                        advertiser_id: 10l110
                        allow_deep_linking: y
                        allow_third_party_pixel: y
                        append_url_parameters: ''
                        associated_campaigns: ''
                        automated_invoicing_date: 4
                        automated_invoicing_po_number: null
                        auto_approve_publisher: y
                        auto_rejected_ips: null
                        budget_summary_interval: null
                        budget_summary_start_time: null
                        campaign_currency_conversions: []
                        campaign_id: 10l176
                        campaign_languages: null
                        campaign_logo: http://partnerize.com/logo.png
                        campaign_notes: ''
                        campaign_overloads: []
                        commission_by_meta_label: '["label 1","label 2"]'
                        commission_by_meta: '["field_1","field_2"]'
                        commissions: []
                        conversion_hiatus_period: 7
                        conversion_type: sale
                        cookie_period: 0
                        cookie_status: null
                        default_commission_rate: '5'
                        default_currency: GBP
                        default_override: 10
                        deferred_lead_submission: null
                        description:
                          en: Awesome new campaign
                        destination_url: http://www.partnerize.com
                        dont_consolidate: y
                        dont_invoice: y
                        extra_restricted_deep_linking: ''
                        force_approve_period: 0
                        hidden_campaign: y
                        invoice_address_1: null
                        invoice_address_2: null
                        invoice_address_3: null
                        invoice_address_4: null
                        invoice_address_country: null
                        invoice_address_postcode: null
                        invoice_company: null
                        invoice_contact: null
                        invoice_only: null
                        ip_tracking_time: 0
                        is_cpc: y
                        lead_confirmation_url_fail: ''
                        lead_confirmation_url_success: ''
                        multiple_conversions_per_click: n
                        network_fee: null
                        pay_publisher_directly: y
                        payment_date: null
                        prepend_url_string: http://google.com
                        recurring_payment_setup: y
                        report_meta_purge_period: null
                        reporting_timezone: Australia/Sydney
                        restricted_deep_linking: y
                        secure_tracking: y
                        status: a
                        terms:
                          en:
                            terms: Important campaign terms and conditions
                        test_mode: y
                        title: PHG Aff Demo
                        tq_auto_approve: 60
                        tq_enabled: y
                        tq_enabled_publishers: ''
                        tracking_method: s2s
                        tracking_subdomain: null
                        unique_conversion_refs: y
                        vertical_id: 10
                        vertical_name: Other
                        week_start: Monday
                    count: 5
                    execution_time: 0.08001 seconds
              schema:
                properties:
                  campaigns:
                    items:
                      $ref: '#/components/schemas/Campaign_Wrapper'
                    type: array
                  count:
                    type: number
                  execution_time:
                    type: string
                type: object
          description: OK
      tags:
      - Campaigns
      description: 'This endpoint will output a listing of all Campaigns that reside under the provided Brand on the Network and the output is contextual based on the permissions of the User making the request to the endpoint.

        A limited Campaign schema will be utilised for any Campaign that the User does not have appropriate permissions to view.'
      operationId: List all Brand Campaigns
      summary: List all Brand Campaigns
components:
  schemas:
    Campaign:
      oneOf:
      - properties:
          default_commission_rate:
            type: string
        type: object
      - properties:
          default_commission_value:
            type: string
        type: object
      properties:
        advertiser_icon:
          type:
          - string
          - 'null'
        advertiser_id:
          description: ID of the brand the campaign should belong to
          type: string
        advertiser_name:
          description: Advertiser name
          type: string
        allow_deep_linking:
          $ref: '#/components/schemas/YesOrNo'
        allow_third_party_pixel:
          $ref: '#/components/schemas/YesOrNo'
        app_tracking_provider_tracking_link:
          type: string
        app_tracking_provider:
          type: string
          enum:
          - branch
          - partnerize
        append_url_parameters:
          type: string
        associated_campaigns:
          type: string
        automated_invoicing_date:
          type: number
        automated_invoicing_po_number:
          type: string
        auto_approve_publisher:
          $ref: '#/components/schemas/YesOrNo'
        auto_rejected_ips:
          type:
          - string
          - 'null'
        basket_value_cap:
          type:
          - number
          - 'null'
        budget_summary_interval:
          type:
          - number
          - 'null'
        budget_summary_start_time:
          type:
          - string
          - 'null'
        campaign_currency_conversions: {}
        campaign_id:
          description: ID of the campaign
          type: string
        campaign_icon:
          description: URL to image
          type: string
        campaign_icon_upload:
          description: base64 encoded image
          type: string
        campaign_languages:
          properties: {}
          type:
          - object
          - 'null'
        campaign_logo:
          type:
          - string
          - 'null'
        campaign_notes:
          type: string
        campaign_overloads: {}
        commission_by_meta:
          type: string
        commission_by_meta_label:
          type: string
        commissions: {}
        conversion_hiatus_period:
          type: number
        conversion_type:
          type: string
        cookie_period:
          type: number
        cookie_status:
          type:
          - string
          - 'null'
        deeplink_method:
          type: string
          enum:
          - standard
          - direct
        default_currency:
          $ref: '#/components/schemas/Currency'
        default_override:
          type: number
        deferred_lead_submission:
          type:
          - string
          - 'null'
        description:
          properties:
            en:
              type: string
          type:
          - object
          - 'null'
        destination_url:
          type: string
        dont_consolidate:
          $ref: '#/components/schemas/YesOrNo'
        dont_invoice:
          $ref: '#/components/schemas/YesOrNo'
        extra_restricted_deep_linking:
          type: string
        force_approve_period:
          type: number
        hidden_campaign:
          $ref: '#/components/schemas/YesOrNo'
        invoice_address_1:
          type:
          - string
          - 'null'
        invoice_address_2:
          type:
          - string
          - 'null'
        invoice_address_3:
          type:
          - string
          - 'null'
        invoice_address_4:
          type:
          - string
          - 'null'
        invoice_address_country:
          type:
          - string
          - 'null'
        invoice_address_postcode:
          type:
          - string
          - 'null'
        invoice_company:
          type:
          - string
          - 'null'
        invoice_contact:
          type:
          - string
          - 'null'
        invoice_only:
          type:
          - string
          - 'null'
        ip_tracking_time:
          type: number
        is_cpc:
          $ref: '#/components/schemas/YesOrNo'
        lead_confirmation_url_fail:
          type: string
        lead_confirmation_url_success:
          type: string
        meta_field_values_field_limit:
          type: number
        meta_field_values_total_limit:
          type: number
        multiple_conversions_per_click:
          anyOf:
          - enum:
            - y
            - n
            type: string
          - enum:
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            type: number
        network_fee:
          type:
          - string
          - 'null'
        pay_publisher_directly:
          $ref: '#/components/schemas/YesOrNo'
        payment_date:
          type:
          - string
          - 'null'
        prepend_url_string:
          description: Prepend all destination URLs
          type:
          - string
          - 'null'
        promotional_countries:
          type: array
          items:
            type: object
            properties:
              iso:
                type: string
                example: US
              name:
                type: string
                example: United States
        recurring_payment_setup:
          $ref: '#/components/schemas/YesOrNo'
        report_meta_purge_period:
          description: The number of days that Meta Reports will be stored before being purged
          type:
          - number
          - 'null'
        reporting_timezone:
          enum:
          - Australia/Sydney
          - UTC
          - Europe/London
          - CET
          - GMT
          type: string
        restricted_deep_linking:
          $ref: '#/components/schemas/YesOrNo'
        secure_tracking:
          $ref: '#/components/schemas/YesOrNo'
        short_link_subdomain:
          type: string
        status:
          $ref: '#/components/schemas/Status'
        terms:
          properties:
            en:
              properties:
                terms:
                  type: string
              type: object
          type:
          - object
          - 'null'
        test_mode:
          $ref: '#/components/schemas/YesOrNo'
        title:
          type: string
        tq_auto_approve:
          type: number
        tq_enabled:
          $ref: '#/components/schemas/YesOrNo'
        tq_enabled_publishers:
          type: string
        tracking_method:
          enum:
          - pixel
          - api
          - s2s
          type: string
        tracking_subdomain:
          type:
          - string
          - 'null'
        unique_conversion_refs:
          enum:
          - y
          - n
          - ignore
          type: string
        vertical_id:
          type: number
        vertical_name:
          type: string
        week_start:
          type: string
      required:
      - advertiser_id
      - title
      - destination_url
      type: object
    Status:
      type: string
      enum:
      - a
      - p
      - r
      - n
    Currency:
      enum:
      - GBP
      - USD
      - EUR
      - JPY
      type: string
    YesOrNo:
      enum:
      - y
      - n
      type: string
    Campaign_Wrapper:
      properties:
        campaign:
          $ref: '#/components/schemas/Campaign'
      type: object
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
