openapi: 3.2.0
info:
  title: Partnerize Partners Terms and Conditions API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Terms And Conditions
paths:
  /user/publisher/{publisher_id}/campaign/custom_terms/{custom_terms_id}:
    get:
      parameters:
      - description: ID of partner whose terms we want to read
        example: 1111l123
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
      - description: ID of custom terms
        example: 1111l564
        in: path
        name: custom_terms_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    custom_terms:
                    - active: y
                      campaign_custom_terms_and_conditions_id: 111111l43
                      campaign_id: 10l176
                      created: '2019-05-29 09:18:17'
                      locale: pl
                      terms: Terms and conditions content
                      title: Terms and conditions title
                    execution_time: 1.05973 seconds
              schema:
                properties:
                  custom_terms:
                    items:
                      properties:
                        active:
                          $ref: '#/components/schemas/YesOrNo'
                        locale:
                          $ref: '#/components/schemas/Locale'
                          description: Locale of the terms
                        campaign_custom_terms_and_conditions_id:
                          description: Terms and conditions ID'
                          type: string
                        terms:
                          description: Terms and conditions content
                          type: string
                        title:
                          description: Terms and conditions title
                          type: string
                      type: object
                    type: array
                  execution_time:
                    type: string
          description: OK
      tags:
      - Terms And Conditions
      description: Retrieve Custom Terms and Conditions for a given partner and terms and conditions id
      operationId: Retrieve Partner Custom Terms and Conditions
      summary: Retrieve Partner Custom Terms and Conditions (v1)
  /v2/publishers/{publisherId}/campaigns/terms?campaigns={campaigns}:
    get:
      parameters:
      - name: publisherId
        in: path
        description: ID of the partner
        examples:
        - 1l1007802
        required: true
        schema:
          type: string
      - name: campaigns
        in: query
        description: comma seperated list of Campaign IDs
        examples:
        - 1lCAMA001,1lCAMB002
        required: true
        schema:
          type: array
          operationId: combined-campaign-terms
      summary: List Terms and Conditions (v2)
      tags:
      - Terms And Conditions
      description: 'View combined terms & conditions for the given Campaigns(s) and Network(s). If a partner has custom campaign terms, these will be shown in place of the standard campaign terms. Terms content for

        standard campaign and network terms is return as HTML. For campaign custom partner terms, the content is returned as JSON which can be parsed and rendered to HTML using the Slate framework.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                type: object
                title: Publisher Combined Campaign Terms Response
                required:
                - count
                - terms
                properties:
                  count:
                    $id: '#/properties/count'
                    type: integer
                    examples:
                    - 2
                  terms:
                    $id: '#/properties/terms'
                    type: array
                    title: Combined terms
                    items:
                      $id: '#/properties/terms/items'
                      type: object
                      required:
                      - title
                      - content
                      properties:
                        title:
                          $id: '#/properties/terms/items/properties/title'
                          type: string
                        content:
                          $id: '#/properties/terms/items/properties/content'
                          type: string
              example:
                count: 3
                terms:
                - title: Network terms
                  content: <p>Hostels.com operates a closed and strict keyword policy. Affiliates are unable to participate in specific PPC activity to drive traffic directly to Hostels.com on Google, Yahoo or Bing search engines.<p>
                - title: Campaign A standard terms
                  content: <p>There is a maximum cap of 2 units per order on new phone and 5 units per order for all other products. Commissions will not be paid on units exceeding this cap.</p>
                - title: Partner custom terms for Campaign B
                  content:
                    object: value
                    document:
                      object: document
                      data: {}
                      nodes:
                      - object: block
                        type: paragraph
                        data: {}
                        nodes:
                        - object: text
                          leaves:
                          - object: leaf
                            text: Custom campaign terms for Publisher Y
                            marks: []
      operationId: getV2PublishersByPublisherIdCampaignsTerms?campaigns={campaigns}
      x-operation-id-source: derived
components:
  schemas:
    Locale:
      enum:
      - bg
      - cs
      - da
      - de
      - de_at
      - en
      - en_au
      - en_ca
      - en_us
      - es
      - es_mx
      - el
      - et
      - fi
      - fl
      - fr
      - fr_ca
      - hu
      - id
      - it
      - jp
      - ko
      - ko_kr
      - lt
      - lv
      - ms_my
      - mt
      - my
      - nl
      - 'no'
      - pl
      - po
      - pt
      - pt_br
      - ro
      - ru
      - sg
      - sk
      - sl
      - sv
      - sv_se
      - th
      - tl
      - tr
      - vi
      - zh_cn
      - zh_hk
      type: string
    YesOrNo:
      enum:
      - y
      - n
      type: string
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
