openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Network Terms and Conditions……
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Network Terms and Conditions (v3)
paths:
  /v3/brand/network-terms-and-conditions:
    get:
      summary: List network terms and conditions
      description: Lists all network terms and conditions that must be accepted by a brand
      tags:
      - Network Terms and Conditions (v3)
      parameters:
      - name: network_id
        in: query
        description: Filter by a network
        required: true
        schema:
          type: string
          example: 1111l11
      - name: types
        in: query
        description: Filter by terms and conditions types
        schema:
          type: string,
          enum:
          - partner_recruitment
      - name: locale
        in: query
        description: Filter by locale.
        schema:
          $ref: '#/components/schemas/Locale'
      responses:
        '200':
          description: Request Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-07/schema#
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $schema: http://json-schema.org/draft-07/schema#
                      type: object
                      properties:
                        id:
                          type: string
                          example: '10'
                        terms_locale_id:
                          type: string
                          example: 1010l00
                        content:
                          type: string
                          example: <p>Please agree to the following terms:</p>
                        locale:
                          $ref: '#/components/schemas/Locale'
                        created_at:
                          $ref: '#/paths/~1v3~1jobs~1%7BjobID%7D/get/responses/200/content/application~1json/schema/properties/data/properties/created_at/definitions/date-time'
      operationId: getV3BrandNetworkTermsAndConditions
      x-operation-id-source: derived
components:
  schemas:
    Locale:
      enum:
      - bg
      - cs
      - da
      - de
      - de_at
      - en
      - en_au
      - en_ca
      - en_us
      - es
      - es_mx
      - el
      - et
      - fi
      - fl
      - fr
      - fr_ca
      - hu
      - id
      - it
      - jp
      - ko
      - ko_kr
      - lt
      - lv
      - ms_my
      - mt
      - my
      - nl
      - 'no'
      - pl
      - po
      - pt
      - pt_br
      - ro
      - ru
      - sg
      - sk
      - sl
      - sv
      - sv_se
      - th
      - tl
      - tr
      - vi
      - zh_cn
      - zh_hk
      type: string
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
