openapi: 3.2.0
info:
  title: Partnerize Partners Campaign Terms and Conditions…
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Campaign Terms and Conditions Acknowledgments
  description: 'Endpoints for retrieving and management the confirmations of changes existing campaign terms and conditions.


    Each change to a set of campaign terms and conditions are recoreded, these changes can be flag as been acknowledged by a user by creating a campaign terms and conditions acknowledgment instances.'
paths:
  /v3/partner/campaign-terms-and-conditions-acknowledgments:
    get:
      summary: List campaign terms and conditions acknowledgments
      operationId: listCampaignTermAcknowledgments
      description: Lists all acknowledgements for campaign terms and conditions of the partners managed by the user.
      tags:
      - Campaign Terms and Conditions Acknowledgments
      parameters:
      - name: partner_id
        in: query
        description: Filter by partner.
        schema:
          type: string
          example: 111111l34
      - name: campaign_terms_and_conditions_id
        in: query
        description: Filter by campaign terms and conditions.
        schema:
          type: string
          example: 111111l50
      - name: created_at
        in: query
        description: Filter by created datetime.
        schema:
          type: string
          example: 2020-01-01T00:00:00Z..2020-12-31T23:59:59Z
      - name: created_by
        in: query
        description: Filter by created by user.
        schema:
          type: string
          example: 111111l2
      responses:
        '200':
          description: Request Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Campaign_Terms_And_Condition_Acknowledgement'
    post:
      summary: Create campaign terms and conditions acknowledgment
      operationId: createCampaignTermAcknowledgment
      description: Create an acknowledgement for campaign terms and conditions
      tags:
      - Campaign Terms and Conditions Acknowledgments
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              properties:
                partner_id:
                  type: string
                campaign_terms_and_conditions_id:
                  type: string
              required:
              - partner_id
              - campaign_terms_and_conditions_id
              additionalProperties: false
            example:
              partner_id: 111111l34
              campaign_terms_and_conditions_id: 111111l50
      responses:
        '201':
          description: Request Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Campaign_Terms_And_Condition_Acknowledgement'
  /v3/partner/campaign-terms-and-conditions-acknowledgments/{id}:
    get:
      summary: Retrieve campaign terms and conditions acknowledgment
      operationId: retrieveCampaignTermAcknowledgment
      description: Retrieves a single acknowledgment of campaign terms and condition
      tags:
      - Campaign Terms and Conditions Acknowledgments
      parameters:
      - name: id
        in: path
        description: The ID of the acknowledgment
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Request Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    example:
                      id: 111111l551
                      partner_id: 111111l34
                      campaign_terms_and_conditions_id: 111111l50
                      created_at: 2020-01-01T00:00:00+0000
                      created_by: 111111l2
components:
  schemas:
    Campaign_Terms_And_Condition_Acknowledgement:
      type: object
      properties:
        id:
          type: string
          example: 111111l551
        partner_id:
          type: string
          example: 111111l34
        campaign_terms_and_conditions_id:
          type: string
          example: 111111l50
        created_at:
          type: string
          example: 2020-01-01T00:00:00+0000
        created_by:
          type: string
          example: 111111l2
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
