openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Partner Whitelisting API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Partner Whitelisting
paths:
  /v2/campaigns/{campaign_id}/fraud/whitelisted-partners:
    parameters:
    - name: campaign_id
      in: path
      description: Campaign ID
      required: true
      schema:
        type: string
    get:
      summary: Get Whitelisted Partners
      tags:
      - Partner Whitelisting
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Partner whitelist
                type: object
                description: A collection of whitelisted partners
                required:
                - execution_time
                - count
                - whitelisted-partners
                properties:
                  execution_time:
                    type: string
                  count:
                    type: integer
                    example: 1
                  whitelisted-partners:
                    type: array
                    title: Partner Collection
                    description: A collection of partners
                    items:
                      type: object
                      required:
                      - partner_id
                      - partner_name
                      properties:
                        partner_id:
                          type: string
                          description: The ID of this partner.
                        partner_name:
                          type: string
                          description: Human readable partner name.
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Unauthorised:
                  value:
                    error:
                      errors:
                      - type: error
                        code: unauthorised
                        message: Feature 'fraud_detection' not enabled for this Network
                      code: 403
                      message: Forbidden
        '503':
          description: Fraud Service Unavailable
          content:
            application/json:
              examples:
                Fraud Service Unavailable:
                  value:
                    error:
                      errors:
                      - type: error
                        code: remote_service_unavailable
                        message: The remote service 'Fraud Detection' is currently unavailable
                      code: 503
                      message: Remote Service Unavailable
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
      operationId: get-whitelisted-partners
      description: Retrieve all whitelisted partners
    post:
      summary: Whitelist Partner
      operationId: fraud-whitelist-partner
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                partner_id:
                  type: string
      responses:
        '200':
          description: Successfully whitelisted partner
          content:
            application/json:
              schema:
                type: object
                properties:
                  partner_id:
                    type: string
                  campaign_id:
                    type: string
        '400':
          description: Unable to Whitelist Partner
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Unable to Whitelist Partner:
                  value:
                    error:
                      errors:
                      - type: error
                        code: partner_not_whitelisted
                        message: The partner was not whitelisted
                      code: 400
                      message: Bad Request
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Unauthorised:
                  value:
                    error:
                      errors:
                      - type: error
                        code: unauthorised
                        message: Feature 'fraud_detection' not enabled for this Network
                      code: 403
                      message: Forbidden
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Not Found:
                  value:
                    error:
                      errors:
                      - type: error
                        code: entity_not_found
                        message: Partner not found for id '{id}'
                      code: 404
                      message: Not Found
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Fraud Detection Service Unavailable:
                  value:
                    error:
                      errors:
                      - type: error
                        code: remote_service_unavailable
                        message: The remote service 'Fraud Detection' is currently unavailable
                      code: 503
                      message: Remote Service Unavailable
                API Service Unavailable:
                  value:
                    error:
                      errors:
                      - type: error
                        code: remote_service_unavailable
                        message: The remote service 'API' is currently unavailable
                      code: 503
                      message: Remote Service Unavailable
      tags:
      - Partner Whitelisting
      description: Whitelist a trusted Partner.
    delete:
      summary: Remove Partner from Whitelist
      tags:
      - Partner Whitelisting
      responses:
        '204':
          description: No Content
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Unauthorised:
                  value:
                    error:
                      errors:
                      - type: error
                        code: unauthorised
                        message: Feature 'fraud_detection' not enabled for this Network
                      code: 403
                      message: Forbidden
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Not Found:
                  value:
                    error:
                      errors:
                      - type: error
                        code: entity_not_found
                        message: Partner not found for id 'string'
                      code: 404
                      message: Not Found
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Fraud Detection Service Unavailable:
                  value:
                    error:
                      errors:
                      - type: error
                        code: remote_service_unavailable
                        message: The remote service 'Fraud Detection' is currently unavailable
                      code: 503
                      message: Remote Service Unavailable
                API Service Unavailable:
                  value:
                    error:
                      errors:
                      - type: error
                        code: remote_service_unavailable
                        message: The remote service 'API' is currently unavailable
                      code: 503
                      message: Remote Service Unavailable
      description: Remove a partner from the whitelist
      operationId: delete-whitelisted-partner
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
