openapi: 3.2.0
info:
  title: Partnerize Partners Creatives (v1) API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Creatives (v1)
paths:
  /user/publisher/{publisher_id}/creative:
    get:
      parameters:
      - description: ID of the partner
        example: 1l1007802
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    campaign_creatives:
                    - campaign_creative:
                        campaign_id: 10l176
                        creatives:
                          Banner: 1
                          Email: 1
                          Feed: 1
                          HTML: 1
                          HTML Form: 1
                          Text Link: 1
              schema:
                properties:
                  campaign_creatives:
                    items:
                      $ref: '#/components/schemas/Partner_Campaign_Creative'
                    type: array
                type: object
          description: OK
      tags:
      - Creatives (v1)
      description: View a summary of all Creatives available on each participating Campaign.
      operationId: List all Creatives on each participating Campaign
      summary: List all Creatives on each participating Campaign
  /user/publisher/{publisher_id}/campaign/{campaign_id}/creative:
    get:
      parameters:
      - description: ID of the partner
        example: 1l1007802
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
      - description: ID of the campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      - description: Filter creatives by active status
        example: y
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/YesOrNo'
      - description: Filter by tags
        example: any-value
        in: query
        name: tags
        required: false
        schema:
          type: string
      - description: Filter by creative_type_id
        example: 111l10
        in: query
        name: creative_type_id
        required: false
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    creatives:
                    - creative:
                        tags: ''
                        active: y
                        advertiser_reference: Promotion July 2016
                        campaign_id: 10l176
                        created_at: '2016-04-07 04:21:51'
                        created_by: '300621'
                        creative_id: '300441'
                        creative_items:
                        - tags: ''
                          active: y
                          campaign_id: 10l176
                          content_type: image/jpeg
                          created_at: '2016-04-07 04:21:51'
                          created_by: '300621'
                          creative_item_id: '300396'
                          creative_type_id: 1
                          custom_append_url_parameters: ''
                          custom_prepend_url_parameters: ''
                          description: ''
                          filename: 4fdf4b3879da1funny-animals-page.jpg
                          img_url: https://demophgconsole.partnerize.com/upload/4fdf4b3879da1funny-animals-page.jpg
                          preview: https://demo.prf.hn/preview/screativeref:300396
                          specific_destination: ''
                        creative_tracking_link: ''
                        creative_tracking_link_rotate: ''
                        creative_type_id: 1
                        custom_append_url_parameters: ''
                        custom_prepend_url_parameters: ''
                        default_specific_creative_id: '300396'
                        description: Demo Text
                        destination: http://www.partnerize.com
                        dynamic_tracking_link: ''
                        end_date_time: '2013-09-30 15:00:00'
                        height: 360
                        html_tracking_link: ''
                        limits: ''
                        preview: https://demo.prf.hn/preview/creativeref:300442
                        start_date_time: '2013-08-31 15:00:00'
                        width: 400
              schema:
                properties:
                  creatives:
                    items:
                      $ref: '#/components/schemas/Creative_Wrapper'
                    type: array
                type: object
          description: OK
      tags:
      - Creatives (v1)
      description: View all Creatives for the specified Campaign.
      operationId: List Creatives on a Campaign
      summary: List Creatives on a Campaign
components:
  schemas:
    Creative_Wrapper:
      properties:
        creative:
          $ref: '#/components/schemas/Creative'
      type: object
    Creative_Item:
      properties:
        content_type:
          type: string
        creative_item_id:
          description: ID of the creative item
          type: string
        description:
          type: string
        filename:
          type: string
        img_url:
          type: string
        preview:
          type: string
        specific_destination:
          type: string
        created_by:
          type: string
        created_at:
          type: string
        tags:
          type: string
        active:
          $ref: '#/components/schemas/YesOrNo'
        campaign_id:
          description: ID of the campaign
          type: string
        creative_type_id:
          type: number
        custom_append_url_parameters:
          type: string
        custom_prepend_url_parameters:
          type: string
      required:
      - creative_type_id
      type: object
    YesOrNo:
      enum:
      - y
      - n
      type: string
    Partner_Campaign_Creative:
      properties:
        campaign_creative:
          properties:
            campaign_id:
              description: Id of the campaign
              type: string
            creatives:
              properties:
                Banner:
                  description: number of Banner creatives
                  type: number
                Email:
                  description: number of Emails
                  type: number
                Feed:
                  description: number of Feeds
                  type: number
                HTML:
                  description: number of HTML creatives
                  type: number
                HTML Form:
                  description: number of HTML Forms
                  type: number
                Text Link:
                  description: number of Text links
                  type: number
              type: object
          type: object
    Creative:
      properties:
        creative_id:
          description: ID of the creative
          type: string
        advertiser_reference:
          type: string
        creative_items:
          items:
            $ref: '#/components/schemas/Creative_Item'
          type: array
        creative_tracking_link:
          type: string
        creative_tracking_link_rotate:
          type: string
        default_specific_creative_id:
          type: string
        description:
          type: string
        destination:
          type: string
        dynamic_tracking_link:
          type: string
        height:
          type: number
        html_tracking_link:
          type: string
        limits:
          type: string
        preview:
          type: string
        width:
          type: number
        tags:
          type: string
        active:
          $ref: '#/components/schemas/YesOrNo'
        campaign_id:
          description: ID of the campaign
          type: string
        creative_type_id:
          type: number
        custom_append_url_parameters:
          type: string
        custom_prepend_url_parameters:
          type: string
        start_date_time:
          type: string
        end_date_time:
          type: string
        created_by:
          type: string
        created_at:
          type: string
      required:
      - creative_type_id
      type: object
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
