openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Publishers API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Publishers
  description: Partner management endpoints
paths:
  /v2/networks/{network_id}/publishers:
    parameters:
    - name: network_id
      description: The publishers' network id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Publishers
      summary: Get publishers list
      parameters:
      - $ref: '#/components/schemas/Publishers_V2_Filters/account_created'
      - $ref: '#/components/schemas/Publishers_V2_Filters/campaign_ids'
      - $ref: '#/components/schemas/Publishers_V2_Filters/campaign_statuses'
      - $ref: '#/components/schemas/Publishers_V2_Filters/commission_group_ids'
      - $ref: '#/components/schemas/Publishers_V2_Filters/company_name'
      - $ref: '#/components/schemas/Publishers_V2_Filters/fields'
      - $ref: '#/components/schemas/Publishers_V2_Filters/ids'
      - $ref: '#/components/schemas/Publishers_V2_Filters/include_discovery'
      - $ref: '#/components/schemas/Publishers_V2_Filters/website_verified'
      - $ref: '#/components/schemas/Publishers_V2_Filters/limit'
      - $ref: '#/components/schemas/Publishers_V2_Filters/locales'
      - $ref: '#/components/schemas/Publishers_V2_Filters/network_statuses'
      - $ref: '#/components/schemas/Publishers_V2_Filters/offset'
      - $ref: '#/components/schemas/Publishers_V2_Filters/operating_countries'
      - $ref: '#/components/schemas/Publishers_V2_Filters/partner_collection_id'
      - $ref: '#/components/schemas/Publishers_V2_Filters/promotional_countries'
      - $ref: '#/components/schemas/Publishers_V2_Filters/promotional_method_ids'
      - $ref: '#/components/schemas/Publishers_V2_Filters/publisher_email'
      - $ref: '#/components/schemas/Publishers_V2_Filters/publisher_name'
      - $ref: '#/components/schemas/Publishers_V2_Filters/publisher_tag_ids'
      - $ref: '#/components/schemas/Publishers_V2_Filters/publisher_website'
      - $ref: '#/components/schemas/Publishers_V2_Filters/reporting_identifier'
      - $ref: '#/components/schemas/Publishers_V2_Filters/search'
      - $ref: '#/components/schemas/Publishers_V2_Filters/sort'
      - $ref: '#/components/schemas/Publishers_V2_Filters/vertical_ids'
      - in: query
        name: recipient_status
        description: Accepts a communication ID. Adds a flag into the response whether publishers are on that communication's recipient list
        schema:
          type: string
          example: 111111l1
      responses:
        '200':
          description: The list of filtered publishers
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1v2~1communications/get/responses/200/content/application~1json/schema/allOf/0'
                - type: object
                  properties:
                    count:
                      type: integer
                      example: 56
                    limit:
                      type: integer
                      example: 100
                    offset:
                      type: integer
                    publishers:
                      type: array
                      items:
                        allOf:
                        - $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers~1%7Bpublisher_id%7D/get/responses/200/content/application~1json/schema/allOf/0'
                        - type: object
                          properties:
                            recipient_status:
                              type: boolean
                              description: Only included if valid recipient_status query argument is supplied
        '400':
          description: Invalid filter property
          content:
            application/json:
              schema:
                title: Error Response
                type: object
                properties:
                  error:
                    title: Errors
                    type: object
                    required:
                    - errors
                    - message
                    - code
                    description: Error Definition
                    properties:
                      errors:
                        type: array
                        description: Occurred Errors
                        minItems: 1
                        items:
                          title: Error
                          type: object
                          description: Error
                          properties:
                            type:
                              type: string
                              description: Error Type
                            code:
                              type: string
                              description: Error Code
                            message:
                              type: string
                              description: Error Message
                          required:
                          - type
                          - code
                          - message
                      message:
                        type: string
                        description: Status Message
                      code:
                        type: integer
                        description: Status Code
                required:
                - error
        '403':
          description: Unauthorised request
          content:
            application/json:
              schema:
                example:
                  error:
                    errors:
                    - type: error
                      code: unauthorised
                      message: You do not have 'read' permission on publisher with id '1'
                    code: 403
                    message: Forbidden
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      errors:
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                            code:
                              type: string
                            message:
                              type: string
                      code:
                        type: integer
                      message:
                        type: string
      operationId: get-publishers
      description: Get Publishers for Network
  /v2/networks/{network_id}/publishers.csv:
    parameters:
    - in: header
      name: Accept
      schema:
        type: string
        enum:
        - charset=UTF-16
    - name: network_id
      description: The publishers' network id
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: export-publishers
      description: Export publishers for a network
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              type: object
              properties:
                delimiter:
                  type: string
                  enum:
                  - ','
                  - '|'
                  - "\t"
                  default: ','
                excluded_publisher_id:
                  type: array
                  items:
                    type: string
                limit:
                  type: integer
                  default: 50000
                  maximum: 50000
                  description: 'Note: these default and maximum values only apply when you are not emailing the result csv. When emailing the csv, the default is `null` and there is no maximum limit'
                offset:
                  type:
                  - integer
                  - 'null'
                  default: null
                filter:
                  type: array
                  items:
                    anyOf:
                    - type: object
                      additionalProperties: false
                      required:
                      - property
                      - value
                      properties:
                        property:
                          enum:
                          - campaign_ids
                          - campaign_statuses
                          - commission_group_ids
                          - ids
                          - locales
                          - network_statuses
                          - operating_countries
                          - promotional_country
                          - promotional_method_ids
                          - vertical_id
                        value:
                          type:
                          - string
                          - array
                    - type: object
                      additionalProperties: false
                      required:
                      - property
                      - value
                      properties:
                        property:
                          enum:
                          - account_created
                          - company_name
                          - include_discovery
                          - search
                          - sort
                          - website_verified
                        value:
                          type: string
                email_result:
                  oneOf:
                  - type: string
                    minLength: 1
                    description: An email address of the email's recipient
                    format: email
                  - type: boolean
                    description: '''true'' sends email to the authenticated user. ''false'' does not send an email and returns the csv contents in the request response instead.'
                fields:
                  type: array
                  items:
                    type: string
                    enum:
                    - account_created
                    - campaigns
                    - company_name
                    - contact_email
                    - contact_name
                    - id
                    - instant_messaging
                    - locale
                    - metadata
                    - name
                    - network_id
                    - network_notes
                    - operating_country
                    - phone_number
                    - promotional_method
                    - reporting_identifier
                    - signup_ip
                    - vertical
                    - websites
                    - commission_groups
                    - website_info
      tags:
      - Publishers
      summary: Export publishers
      produces:
      - text/csv
      responses:
        '201':
          description: The list of filtered publishers
          content:
            text/csv:
              schema:
                type: string
              example: 'created_date,signup_ip,publisher_id,account_name,reporting_identifier,available_campaigns,approved_campaigns,invited_campaigns,requested_campaigns,rejected_campaigns,contact_name,contact_email,company_name,phone_area,phone,im_provider,im_username,operating_country,contact_locale,vertical_name,promotional_method_name,websites_website_url,website_verification_status,network_metadata_1,network_metadata_2,network_metadata_3

                "2019-10-30 11:08:41",80.80.80.80,111111l1,my_account,acc_reporting_id,"Campaign Avail","Campaign App A,Campaign App B","Campaign Inv","Campaign Req","Campaign Rej","Joe Bloggs",info@partnerize.com,"Partnerize",0191,12345678,Skype,jbskype,GB,en,Retail,PPC,http://www.partnerize.com,"https://partnerize.com :: verified | https://partner.com :: unverified","Network metadata 1","Network metadata 2","Network metadata 3"

                '
        '202':
          description: When the exported report has been accepted and will be emailed to the user
        '400':
          description: Invalid filter property
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
        '403':
          description: Unauthorised request
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/403/content/application~1json/schema'
  /v2/networks/{network_id}/publishers/{publisher_id}:
    parameters:
    - name: network_id
      description: The publishers' network id
      in: path
      required: true
      schema:
        type: string
    - name: publisher_id
      description: The publisher id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Publishers
      summary: Get publisher details
      responses:
        '200':
          description: Details about an individual Publisher on the network.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  title: Publisher
                  properties:
                    id:
                      type: string
                      example: 10000l1
                    name:
                      type: string
                      example: Name
                    company_name:
                      type: string
                      example: Company Name
                    company_logo:
                      type: string
                      example: http://some.url/image.jpg
                    contact_email:
                      type: string
                      example: contact@partnerize.com
                    locale:
                      type: string
                      example: en
                    operating_country:
                      type: object
                      properties:
                        id:
                          type: string
                        iso:
                          type: string
                        name:
                          type: string
                    vertical:
                      title: Vertical
                      $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers~1%7Bpublisher_id%7D/get/responses/200/content/application~1json/schema/allOf/0/properties/commission_groups/items'
                    promotional_method:
                      title: Promotional method
                      $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers~1%7Bpublisher_id%7D/get/responses/200/content/application~1json/schema/allOf/0/properties/commission_groups/items'
                    websites:
                      type: array
                      items:
                        type: object
                        title: Website
                        properties:
                          id:
                            type: string
                          website_url:
                            type: string
                            example: http://www.partnerize.com
                          description:
                            type: string
                            example: A blog about partner marketing
                    campaigns:
                      type: array
                      items:
                        $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers~1%7Bpublisher_id%7D/get/responses/200/content/application~1json/schema/allOf/1/properties/campaigns/items/allOf/0'
                    commission_groups:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                    partner_collection_ids:
                      type: array
                      items:
                        type: string
                    signup_ip:
                      type: string
                      example: 127.0.0.1
                    network_notes:
                      type:
                      - string
                      - 'null'
                    network_id:
                      type: string
                      example: 111111l1
                - type: object
                  properties:
                    campaigns:
                      type: array
                      items:
                        allOf:
                        - type: object
                          title: Campaign
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            status:
                              $ref: '#/components/schemas/Publishers_V2_Filters/campaign_statuses/schema/oneOf/0'
                            camref:
                              type:
                              - 'null'
                              - string
                            tracking_link:
                              type:
                              - 'null'
                              - string
                            status_changed_at:
                              description: The datetime when the status of the campaign-publisher relationship was last updated
                              type:
                              - datetime
                              - 'null'
                        - type: object
                          properties:
                            destination_url:
                              type: string
                            advertiser_id:
                              type: string
                    account_created:
                      type: string
                      format:
                      - date-time
                      example: '2020-09-01T14:20:03+00:01'
                    contact_name:
                      $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers~1%7Bpublisher_id%7D/get/responses/200/content/application~1json/schema/allOf/1/properties/description'
                    description:
                      oneOf:
                      - type: string
                      - type: 'null'
                    active:
                      oneOf:
                      - type: boolean
                      - type: 'null'
                    address:
                      type: object
                      properties:
                        line1:
                          $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers~1%7Bpublisher_id%7D/get/responses/200/content/application~1json/schema/allOf/1/properties/description'
                        line2:
                          $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers~1%7Bpublisher_id%7D/get/responses/200/content/application~1json/schema/allOf/1/properties/description'
                        line3:
                          $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers~1%7Bpublisher_id%7D/get/responses/200/content/application~1json/schema/allOf/1/properties/description'
                        line4:
                          $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers~1%7Bpublisher_id%7D/get/responses/200/content/application~1json/schema/allOf/1/properties/description'
                        postcode:
                          $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers~1%7Bpublisher_id%7D/get/responses/200/content/application~1json/schema/allOf/1/properties/description'
                        country:
                          allOf:
                          - $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers~1%7Bpublisher_id%7D/get/responses/200/content/application~1json/schema/allOf/1/properties/description'
                          - description: 2 letter ISO country code, see https://api.partnerize.com/reference/country
                    network_notes:
                      type:
                      - string
                      - 'null'
        '403':
          description: Unauthorised request
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/403/content/application~1json/schema'
        '404':
          description: Publisher not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    example:
                      error:
                        errors:
                        - type: error
                          code: entity_not_found
                          message: publisher not found for id '{id}'
                        code: 404
                        message: Not Found
      operationId: get-publisher-details
      description: Get Publishers Details for Network
  /v2/networks/{network_id}/publishers/ids:
    parameters:
    - name: network_id
      description: The publishers' network id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Publishers
      summary: Get publishers ids list
      parameters:
      - $ref: '#/components/schemas/Publishers_V2_Filters/account_created'
      - $ref: '#/components/schemas/Publishers_V2_Filters/campaign_ids'
      - $ref: '#/components/schemas/Publishers_V2_Filters/campaign_statuses'
      - $ref: '#/components/schemas/Publishers_V2_Filters/commission_group_ids'
      - $ref: '#/components/schemas/Publishers_V2_Filters/company_name'
      - $ref: '#/components/schemas/Publishers_V2_Filters/ids'
      - $ref: '#/components/schemas/Publishers_V2_Filters/include_discovery'
      - $ref: '#/components/schemas/Publishers_V2_Filters/website_verified'
      - $ref: '#/components/schemas/Publishers_V2_Filters/limit'
      - $ref: '#/components/schemas/Publishers_V2_Filters/locales'
      - $ref: '#/components/schemas/Publishers_V2_Filters/network_statuses'
      - $ref: '#/components/schemas/Publishers_V2_Filters/offset'
      - $ref: '#/components/schemas/Publishers_V2_Filters/operating_countries'
      - $ref: '#/components/schemas/Publishers_V2_Filters/promotional_countries'
      - $ref: '#/components/schemas/Publishers_V2_Filters/promotional_method_ids'
      - $ref: '#/components/schemas/Publishers_V2_Filters/publisher_email'
      - $ref: '#/components/schemas/Publishers_V2_Filters/publisher_name'
      - $ref: '#/components/schemas/Publishers_V2_Filters/publisher_tag_ids'
      - $ref: '#/components/schemas/Publishers_V2_Filters/publisher_website'
      - $ref: '#/components/schemas/Publishers_V2_Filters/reporting_identifier'
      - $ref: '#/components/schemas/Publishers_V2_Filters/search'
      - $ref: '#/components/schemas/Publishers_V2_Filters/sort'
      - $ref: '#/components/schemas/Publishers_V2_Filters/vertical_ids'
      responses:
        '200':
          description: The list of filtered publishers ids
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1v2~1communications/get/responses/200/content/application~1json/schema/allOf/0'
                - type: object
                  properties:
                    count:
                      type: integer
                      example: 1
                    publisher_ids:
                      type: array
                      items:
                        type: string
        '400':
          description: Invalid filter property
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      errors:
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                            code:
                              type: string
                            message:
                              type: string
                      code:
                        type: integer
                      message:
                        type: string
        '403':
          description: Unauthorised request
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/403/content/application~1json/schema'
      operationId: get-publishers-ids
      description: Get a list of publisher ids
  /v2/networks/{network_id}/partner-collections:
    parameters:
    - name: network_id
      description: The publishers' network id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Publishers
      summary: Create publisher collection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema
              type: object
              allOf:
              - $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1partner-collections~1%7Bcollection-id%7D~1partners/post/requestBody/content/application~1json/schema'
              - type: object
                properties:
                  ttl:
                    type: integer
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema
                title: Partner
                type: object
                properties:
                  collection:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 111111l86
                      network_id:
                        type: string
                        example: 111111l1
                      created_by:
                        type: string
                        example: 111111l1
                      created:
                        type: object
                        properties:
                          date:
                            type: string
                            example: '2023-04-07 11:12:25.000000'
                          timezone_type:
                            type: number
                            example: 3
                          timezone:
                            type: string
                            example: UTC
                      updated:
                        type: object
                        properties:
                          date:
                            type: string
                            example: '2023-04-07 11:12:25.000000'
                          timezone_type:
                            type: number
                            example: 3
                          timezone:
                            type: string
                            example: UTC
                      delete:
                        oneOf:
                        - type: object
                          properties:
                            date:
                              type: string
                              example: '2023-04-07 11:12:25.000000'
                            timezone_type:
                              type: number
                              example: 3
                            timezone:
                              type: string
                              example: UTC
                        - type: 'null'
                      partners_count:
                        type: number
                        example: 12
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
      operationId: post-publisher-collection
  /v2/networks/{network_id}/partner-collections/{collection-id}:
    parameters:
    - name: network_id
      description: The publishers' network id
      in: path
      required: true
      schema:
        type: string
    - name: collection-id
      description: The collection id
      in: path
      required: true
      schema:
        type: string
    delete:
      tags:
      - Publishers
      summary: Delete publisher collection
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
      operationId: deleteV2NetworksByNetworkIdPartnerCollectionsByCollectionId
      x-operation-id-source: derived
  /v2/networks/{network_id}/partner-collections/{collection-id}/partners:
    parameters:
    - name: network_id
      description: The publishers' network id
      in: path
      required: true
      schema:
        type: string
    - name: collection-id
      description: The collection id
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: post-publisher-collection-partners
      summary: Add publishers to a collection
      tags:
      - Publishers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema
              type: object
              oneOf:
              - type: object
                properties:
                  partner_ids:
                    type: array
                    items:
                      type: string
              - type: object
                properties:
                  filter:
                    type: array
                    description: Filters
                    items:
                    - type: object
                      properties:
                        property:
                          type: string
                          enum:
                          - commission_group_ids
                          - campaign_ids
                          - campaign_statuses
                          - company_name
                          - include_discovery
                          - locales
                          - network_statuses
                          - operating_countries
                          - promotional_method_ids
                          - promotional_countries
                          - search
                          - vertical_ids
                        value:
                          oneOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                  excluded_publisher_ids:
                    type: array
                    items:
                      type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1partner-collections/post/responses/201/content/application~1json/schema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
    delete:
      operationId: delete-publisher-collection-partners
      summary: Remove publishers from a collection
      tags:
      - Publishers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1partner-collections~1%7Bcollection-id%7D~1partners/post/requestBody/content/application~1json/schema'
      responses:
        '200':
          description: Partners removed
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1partner-collections/post/responses/201/content/application~1json/schema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
components:
  schemas:
    Publishers_V2_Filters:
      account_created:
        name: account_created
        description: Date range for when partners signed up
        in: query
        schema:
          type: string
          example: 2020-01-01..2021-01-01
      campaign_ids:
        name: campaign_ids
        description: The publishers' campaign ids
        in: query
        schema:
          $ref: '#/components/schemas/Publishers_V2_Filters/ids/schema'
      campaign_statuses:
        name: campaign_statuses
        description: The publishers' campaign statuses
        in: query
        schema:
          oneOf:
          - type: string
            enum:
            - approved
            - requested
            - invited
            - rejected
            - available
          - type: array
            items:
              $ref: '#/components/schemas/Publishers_V2_Filters/campaign_statuses/schema/oneOf/0'
      commission_group_ids:
        name: commission_group_ids
        description: The publishers' commission group ids
        in: query
        schema:
          $ref: '#/components/schemas/Publishers_V2_Filters/ids/schema'
      company_name:
        name: company_name
        description: The publishers' company name
        in: query
        schema:
          type: string
      fields:
        name: fields
        description: CSV list of fields to be returned as part of the response
        in: query
        schema:
          type: string,
          enum:
          - account_created
          - address
          - campaigns
          - commission_groups
          - company_name
          - company_logo
          - contact_email
          - contact_name
          - default_currency
          - description
          - id
          - locale
          - metadata
          - name
          - operating_country
          - partner_collection_ids
          - phone_number
          - promotional_countries
          - promotional_method
          - reporting_identifier
          - vertical
          - websites
          - website_info
          - network_notes
          - network_id
          - signup_ip
      ids:
        name: ids
        description: Filter by partner IDs
        in: query
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      include_discovery:
        name: include_discovery
        description: Whether to include partners with pending requests from brand discovery or invites from partner discovery
        in: query
        schema:
          $schema: http://json-schema.org/draft-04/schema
          title: Boolean
          type: string
          enum:
          - y
          - n
      website_verified:
        name: website_verified
        description: Whether to filter partners by their primary website domain verification status
        in: query
        schema:
          type: boolean
          enum:
          - y
          - n
      limit:
        name: limit
        description: The number of records to retrieve
        in: query
        schema:
          type: integer
      locales:
        name: locales
        description: The publishers' contact locale (locale codes), see https://api.partnerize.com/reference/locale
        in: query
        schema:
          $ref: '#/components/schemas/Publishers_V2_Filters/ids/schema'
      network_statuses:
        name: network_statuses
        description: The publishers' network status. Choosing requested or invited will automatically enable the include_discovery option for convenience.
        in: query
        schema:
          oneOf:
          - type: string
            enum:
            - approved
            - pending
            - rejected
            - invited
            - requested
          - type: array
            items:
              $ref: '#/components/schemas/Publishers_V2_Filters/network_statuses/schema/oneOf/0'
      offset:
        name: offset
        description: Starting position
        in: query
        schema:
          type: integer
      operating_countries:
        name: operating_countries
        description: The publishers' operating countries (country isos), see https://api.partnerize.com/reference/country
        in: query
        schema:
          $ref: '#/components/schemas/Publishers_V2_Filters/ids/schema'
      partner_collection_id:
        name: partner_collection_id
        description: Filter by partner collection ID
        in: query
        schema:
          type: string
      promotional_countries:
        name: promotional_countries
        description: The publishers' promotional countries (country isos), see https://api.partnerize.com/reference/country
        in: query
        schema:
          $ref: '#/components/schemas/Publishers_V2_Filters/ids/schema'
      promotional_method_ids:
        name: promotional_method_ids
        description: The publishers' promotional methods , see https://api.partnerize.com/reference/promotional_method
        in: query
        schema:
          $ref: '#/components/schemas/Publishers_V2_Filters/ids/schema'
      publisher_email:
        name: publisher_email
        in: query
        schema:
          type: string
      publisher_name:
        name: publisher_name
        description: Search by the publishers' company name, falling back the publisher name
        in: query
        schema:
          type: string
      publisher_tag_ids:
        name: publisher_tag_ids
        in: query
        schema:
          $ref: '#/components/schemas/Publishers_V2_Filters/ids/schema'
      publisher_website:
        name: publisher_website
        in: query
        schema:
          type: string
      reporting_identifier:
        name: reporting_identifier
        in: query
        schema:
          type: string
      search:
        name: search
        description: Search for matching publishers
        in: query
        schema:
          type: string
      sort:
        name: sort
        description: Order results
        in: query
        schema:
          type: string
        example: name
      vertical_ids:
        name: vertical_ids
        description: The publishers' verticals, see https://api.partnerize.com/reference/vertical
        in: query
        schema:
          $ref: '#/components/schemas/Publishers_V2_Filters/ids/schema'
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
