openapi: 3.2.0
info:
  title: Partnerize Partners Partner Details API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Partner Details
paths:
  /user/publisher/{publisher_id}:
    parameters:
    - name: publisher_id
      in: path
      description: ID of the partner
      example: 1l1007802
      required: true
      schema:
        type: string
    get:
      operationId: getPartner
      tags:
      - Partner Details
      summary: Retrieve Partner
      description: Outputs the specified partner.
      responses:
        '200':
          description: Partner Found
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  publisher:
                    title: Partner
                    type: object
                    allOf:
                    - $ref: '#/components/schemas/Partner'
                    - properties:
                        websites:
                          type: array
                          items:
                            $ref: '#/components/schemas/Partner_Website'
                        databases:
                          type: array
                          items:
                            $ref: '#/components/schemas/Partner_Database'
                    example:
                      account_name: publisher123
                      company_name: Eve Online
                      company_logo: https://console.partnerize.com/assets/logos/111111l2-1.jpg
                      contact_email: info@partnerize.com
                      contact_locale: en
                      contact_name: Eve
                      created: '2019-10-30 11:08:41'
                      created_by: 111111l1
                      default_currency: USD
                      im_provider: Skype
                      im_username: evangeline
                      is_affiliate_user: y
                      is_us_registered: null
                      legal_entity: AE
                      network_id: 111111l1
                      network_status: a
                      operating_country: AE
                      phone: 555213456
                      phone_area: 44
                      promotional_method: 1
                      promotional_method_name: PPC
                      publisher_id: 111111l2
                      reporting_timezone: Asia/Dubai
                      signup_ip: 80.80.80.80
                      terms_and_conditions_id: 56
                      vertical: 2
                      vertical_name: Retail
                      week_start: monday
    post:
      operationId: updatePartner
      tags:
      - Partner Details
      summary: Update Partner
      description: Update the specified Partner.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                abn:
                  type: string
                account_name:
                  type: string
                campaign_select:
                  type: string
                company_name:
                  type: string
                company_division:
                  type: string
                company_logo:
                  type: string
                contact_email:
                  type: string
                  format: email
                contact_locale:
                  $ref: '#/components/schemas/Locale'
                contact_name:
                  type: string
                default_currency:
                  $ref: '#/components/schemas/Currency'
                description:
                  type: string
                  description: 'HTML description of the partner. Supports the following tags:  `<b>, <i>, <u>, <del>, <h1-h3>, <p>, <blockquote>, <pre>, <span>, <a href="" target="">, <img src="">, <ul>, <ol>, <li>, <br>`'
                foreign_identifier:
                  type: string
                gst_registered:
                  type: string
                im_provider:
                  type: string
                im_username:
                  type: string
                is_affiliate_user:
                  $ref: '#/components/schemas/YesOrNo'
                is_foreign_network:
                  description: Reporting only flag. All conversions will be automatically approved but will not be invoiceable.
                  $ref: '#/components/schemas/YesOrNo'
                is_lead_user:
                  $ref: '#/components/schemas/YesOrNo'
                network_notes:
                  type: string
                network_status:
                  $ref: '#/components/schemas/Status'
                operating_country:
                  $ref: '#/components/schemas/Country'
                phone:
                  type: string
                  description: Primary contact telephone number
                phone_area:
                  type: string
                  description: Phone prefix to declare country or region
                promotional_method:
                  type: integer
                publisher_id:
                  type: string
                  description: ID of the publisher
                  readOnly: true
                reporting_identifier:
                  type: string
                reporting_timezone:
                  type: string
                uk_vat_registered:
                  $ref: '#/components/schemas/YesOrNo'
                us_tax_state:
                  type: string
                vat_number:
                  type: integer
                vertical:
                  type: integer
                week_start:
                  type: string
              oneOf:
              - type: object
                title: Company Logo from URL
                properties:
                  company_logo:
                    description: Url of image to download. Supports PNG and JPEG only.
                    type:
                    - string
                    - 'null'
                example:
                  publisher_id: 1l10101
                  description: Example Partner
                  company_logo: https://example.com/logo.jpg
                  promotional_method: 9
              - type: object
                title: Company Logo via Upload
                properties:
                  company_logo_upload:
                    description: Base64 encoded data url of image to upoad. Supports PNG and JPEG only.
                    type:
                    - string
                    - 'null'
                example:
                  publisher_id: 1l10101
                  description: Example Partner
                  company_logo_upload: data:image/jpg;base64,...
                  promotional_method: 9
      responses:
        '200':
          description: Partner Updated
          content:
            application/json:
              schema:
                properties:
                  status:
                    title: status
                    type: object
                    properties:
                      status:
                        type: string
                      message:
                        type: string
                    example:
                      status: Updated
                      message: Publisher successfully updated
                  publisher:
                    title: Partner
                    type: object
                    allOf:
                    - $ref: '#/components/schemas/Partner'
                    - properties:
                        websites:
                          type: array
                          items:
                            $ref: '#/components/schemas/Partner_Website'
                        databases:
                          type: array
                          items:
                            $ref: '#/components/schemas/Partner_Database'
                    example:
                      account_name: publisher123
                      company_name: Eve Online
                      company_logo: https://console.partnerize.com/assets/logos/111111l2-1.jpg
                      contact_email: info@partnerize.com
                      contact_locale: en
                      contact_name: Eve
                      created: '2019-10-30 11:08:41'
                      created_by: 111111l1
                      default_currency: USD
                      im_provider: Skype
                      im_username: evangeline
                      is_affiliate_user: y
                      is_us_registered: null
                      legal_entity: AE
                      network_id: 111111l1
                      network_status: a
                      operating_country: AE
                      phone: 555213456
                      phone_area: 44
                      promotional_method: 1
                      promotional_method_name: PPC
                      publisher_id: 111111l2
                      reporting_timezone: Asia/Dubai
                      signup_ip: 80.80.80.80
                      terms_and_conditions_id: 56
                      vertical: 2
                      vertical_name: Retail
                      week_start: monday
components:
  schemas:
    Partner_Database:
      properties:
        publisher_id:
          description: ID of the partner the database belongs to
          type: string
        active:
          $ref: '#/components/schemas/YesOrNo'
        creation_method:
          type: string
        database_name:
          type: string
        female:
          type: number
        male:
          type: number
        max_age:
          type: number
        min_age:
          type: number
        size:
          type: number
      required:
      - database_name
      - creation_method
      - size
      type: object
    Status:
      type: string
      enum:
      - a
      - p
      - r
      - n
    Partner_Website:
      properties:
        publisher_id:
          description: ID of the partner the website belongs to
          type: string
        active:
          $ref: '#/components/schemas/YesOrNo'
        primary:
          $ref: '#/components/schemas/YesOrNo'
        website_country:
          $ref: '#/components/schemas/Country'
        website_name:
          type: string
        website_type:
          type: number
        website_type_name:
          type: string
        website_url:
          type: string
        website_vertical:
          type: number
        website_vertical_name:
          type: string
      required:
      - website_url
      type: object
    Currency:
      enum:
      - GBP
      - USD
      - EUR
      - JPY
      type: string
    Country:
      enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - XK
      - YE
      - YT
      - ZA
      - ZM
      - ZW
      type: string
    Partner:
      properties:
        abn:
          type: string
        account_name:
          type: string
        campaign_select:
          type: string
        company_name:
          type: string
        company_division:
          type: string
        company_logo:
          type:
          - string
          - 'null'
        contact_email:
          type: string
          format: email
        contact_locale:
          $ref: '#/components/schemas/Locale'
        contact_name:
          type: string
        default_currency:
          $ref: '#/components/schemas/Currency'
        description:
          type: string
          description: Description of the publisher
        foreign_identifier:
          type: string
        gst_registered:
          type: string
        im_provider:
          type: string
        im_username:
          type: string
        is_affiliate_user:
          $ref: '#/components/schemas/YesOrNo'
        is_foreign_network:
          description: Reporting only flag. All conversions will be automatically approved but will not be invoiceable.
          $ref: '#/components/schemas/YesOrNo'
        is_lead_user:
          $ref: '#/components/schemas/YesOrNo'
        legal_entity:
          $ref: '#/components/schemas/Country'
        network_id:
          type: string
          description: ID of the network this publisher belongs to
        network_notes:
          type: string
        network_status:
          $ref: '#/components/schemas/Status'
        operating_country:
          $ref: '#/components/schemas/Country'
        phone:
          type: string
          description: Primary contact telephone number
        phone_area:
          type: string
          description: Phone prefix to declare country or region
        promotional_method_name:
          type: string
        promotional_method:
          type: integer
        publisher_id:
          type: string
          description: ID of the publisher
        reporting_identifier:
          type: string
        reporting_timezone:
          type: string
        signup_ip:
          type: string
          format: ipv4
        uk_vat_registered:
          $ref: '#/components/schemas/YesOrNo'
        us_tax_state:
          type: string
        vat_number:
          type: integer
        vertical:
          type: integer
        vertical_name:
          type: string
        week_start:
          type: string
    YesOrNo:
      enum:
      - y
      - n
      type: string
    Locale:
      enum:
      - bg
      - cs
      - da
      - de
      - de_at
      - en
      - en_au
      - en_ca
      - en_us
      - es
      - es_mx
      - el
      - et
      - fi
      - fl
      - fr
      - fr_ca
      - hu
      - id
      - it
      - jp
      - ko
      - ko_kr
      - lt
      - lv
      - ms_my
      - mt
      - my
      - nl
      - 'no'
      - pl
      - po
      - pt
      - pt_br
      - ro
      - ru
      - sg
      - sk
      - sl
      - sv
      - sv_se
      - th
      - tl
      - tr
      - vi
      - zh_cn
      - zh_hk
      type: string
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
