openapi: 3.2.0
info:
  title: Partnerize Clicks API
  version: 1.4.99
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
  description: 'Operations tagged Clicks across 2 of this provider''s published API definitions: partnerize-partners-api-openapi.yml, partnerize-clicks-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Clicks
  description: Endpoints for analysing click data
paths:
  /v3/partner/analytics/clicks/count:
    post:
      summary: Count
      description: 'Returns aggregated metrics derived from clicks.


        This endpoint is ideal for creating dashboard widgets, or for creating a summary of tabulated data from the explode endpoint.'
      operationId: postClicksCount
      tags:
      - Clicks
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              required:
              - date_time_ranges
              - scope
              - metrics
              properties:
                date_time_ranges:
                  allOf:
                  - type: array
                    items:
                      type: object
                      required:
                      - start
                      - end
                      properties:
                        start:
                          type: string
                          format: date-time
                        end:
                          type: string
                          format: date-time
                        field:
                          type: string
                          description: The date-time field that this date-time range should use
                      additionalProperties: false
                    minItems: 1
                    description: Filter the results to given date-time ranges. You can specify multiple date ranges and results for each date range will be combined.
                  - items:
                      properties:
                        field:
                          $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1explode/post/requestBody/content/application~1json/schema/properties/interval/properties/field'
                comparison_date_time_ranges:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges'
                scope:
                  description: Filter data by a specified partner identifier. You must have the correct authorisation to view reporting data on this partner.
                  type: object
                  required:
                  - partner
                  properties:
                    partner:
                      type: string
                  additionalProperties: false
                metrics:
                  allOf:
                  - type: array
                    minItems: 1
                    uniqueItems: true
                    description: Array of metrics which should be included in the result.
                  - items:
                      type: string
                      enum:
                      - total_clicks
                      - total_clicks_converted
                      - click_conversion_rate
                      - total_unique_clicks
                filter_by:
                  allOf:
                  - type: array
                    description: A list of objects you can use to filter the results by. Results will only be returned if they match every condition.
                    items:
                      type: object
                      required:
                      - field
                      - value
                      properties:
                        field:
                          type: string
                        value:
                          type:
                          - string
                          - integer
                          - array
                        operator:
                          type: string
                          default: EQUALS
                        not:
                          type: boolean
                      additionalProperties: false
                    minItems: 1
                  - items:
                      properties:
                        field:
                          type: string
                          enum:
                          - advertiser_reference
                          - browser_family
                          - browser_major
                          - browser_minor
                          - browser_patch
                          - campaign_id
                          - campaign_name
                          - country
                          - creative_id
                          - creative_description
                          - creative_advertiser_reference
                          - device_id
                          - os_family
                          - os_major
                          - os_minor
                          - os_patch
                          - partner_id
                          - partner_name
                          - publisher_reference
                          - partnership_model_id
                          - traffic_source_id
                          - type
                          - user_context_id
                        operator:
                          type: string
                          enum:
                          - EQUALS
                          - STARTS_WITH
                          - ENDS_WITH
                          - CONTAINS
                          - SEARCH
                timezone:
                  description: See reference endpoint [/reference/timezones/](/#tag/Timezones) for available timezones.
                  type: string
                include_comparison_percentage_change:
                  type: boolean
                  default: false
                  description: A boolean flag to indicate whether percentage changes should be output when using comparison.
              additionalProperties: false
            example:
              date_time_ranges:
              - start: '2019-10-01T00:00:00+00:00'
                end: '2019-10-03T00:00:00+00:00'
              scope:
                partner: 111111l10
              metrics:
              - total_clicks
              filter_by:
              - field: country
                value: US
                operator: EQUALS
              - field: device_id
                value: 5
                operator: EQUALS
                not: true
              timezone: GMT
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    example:
                      total_clicks: 57126
    servers:
    - description: Production
      url: https://api.partnerize.com
  /v3/partner/analytics/clicks/explode:
    post:
      summary: Explode
      description: 'Returns aggregated metrics derived from clicks, grouped by ID and name of one or many dimensions. This endpoint is ideal for

        fetching data to be shown in a table. You can combine it with the count endpoint to fetch data for a totals row.


        If `order_by` is requested on a metric, the metric values will be added to the results, even if not requested.


        When grouping by `date`, the `interval` will define the length of each date group.'
      operationId: postClicksExplode
      tags:
      - Clicks
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              required:
              - date_time_ranges
              - scope
              - metrics
              - group_by
              properties:
                date_time_ranges:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges'
                comparison_date_time_ranges:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges'
                scope:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/scope'
                metrics:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/metrics'
                group_by:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1filter/post/requestBody/content/application~1json/schema/properties/group_by'
                filter_by:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/filter_by'
                order_by:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1filter/post/requestBody/content/application~1json/schema/properties/order_by'
                interval:
                  allOf:
                  - description: To group the data into buckets of time. In the context of Explode this is used when grouping by `date_time`
                    type: object
                    required:
                    - period
                    properties:
                      period:
                        type: string
                        pattern: ^P(?!$)(\d+Y)?(\d+M)?(\d+W)?(\d+D)?(T(?=\d+[HMS])(\d+H)?(\d+M)?(\d+S)?)?$
                        description: ISO8601 time interval value.
                        default: P1D
                      field:
                        type: string
                        description: The date-time field that should be used to group each date interval
                    additionalProperties: false
                  properties:
                    field:
                      type: string
                      enum:
                      - date_time
                output_date_time_format:
                  type: string
                  description: Dates will be formatted with the Joda date format string given. If no format is supplied here, ISO8601 format will be used. For details of how to construct a format string, see https://www.joda.org/joda-time/apidocs/org/joda/time/format/DateTimeFormat.html
                top:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1filter/post/requestBody/content/application~1json/schema/properties/top'
                include_total_row_count:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1filter/post/requestBody/content/application~1json/schema/properties/include_total_row_count'
                timezone:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/timezone'
                include_comparison_percentage_change:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/include_comparison_percentage_change'
              additionalProperties: false
            example:
              date_time_ranges:
              - start: '2019-10-01T00:00:00+00:00'
                end: '2019-10-03T00:00:00+00:00'
              scope:
                partner: 111111l10
              metrics:
              - total_clicks
              group_by:
              - device
              filter_by:
              - field: country
                value: US
                operator: EQUALS
              - field: device_id
                value: 5
                operator: EQUALS
                not: true
              order_by:
              - field: total_clicks
                direction: DESCENDING
              interval:
                field: date_time
                period: P1D
              include_total_row_count: false
              timezone: GMT
              top: 2
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    example:
                    - device_id: '1'
                      device_name: desktop
                      total_clicks: 2000
                    - device_id: '2'
                      device_name: mobile
                      total_clicks: 3000
          headers:
            X-Total-Row-Count:
              $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1filter/post/responses/200/headers/X-Total-Row-Count'
    servers:
    - description: Production
      url: https://api.partnerize.com
  /v3/partner/analytics/clicks/filter:
    post:
      summary: Filter
      description: 'This endpoint is ideal for fetching a list of available dimensions for a dropdown list.


        If `order_by` is requested on a metric, the metric values will be added to the results.'
      operationId: postClicksFilter
      tags:
      - Clicks
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              required:
              - date_time_ranges
              - scope
              - group_by
              properties:
                date_time_ranges:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges'
                scope:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/scope'
                group_by:
                  allOf:
                  - type: array
                    minItems: 1
                    uniqueItems: true
                    description: Dimensions which the data should be grouped by.
                  - items:
                      type: string
                      enum:
                      - advertiser_reference
                      - browser_family
                      - browser_major
                      - browser_minor
                      - browser_patch
                      - campaign
                      - country
                      - creative
                      - date_time
                      - device
                      - os_family
                      - os_major
                      - os_minor
                      - os_patch
                      - partner
                      - publisher_reference
                      - partnership_model
                      - traffic_source
                      - type
                      - user_context
                filter_by:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/filter_by'
                order_by:
                  allOf:
                  - type: array
                    description: Priority list of ordering objects
                    items:
                      type: object
                      required:
                      - field
                      - direction
                      properties:
                        field:
                          type: string
                        direction:
                          type: string
                          enum:
                          - ASCENDING
                          - DESCENDING
                      additionalProperties: false
                    minItems: 1
                  - items:
                      properties:
                        field:
                          type: string
                          enum:
                          - total_clicks
                          - total_clicks_converted
                          - click_conversion_rate
                          - total_unique_clicks
                          - advertiser_reference
                          - browser_family
                          - browser_major
                          - browser_minor
                          - browser_patch
                          - campaign_id
                          - campaign_name
                          - country
                          - country_name
                          - creative_id
                          - creative_description
                          - creative_advertiser_reference
                          - date_time
                          - device_id
                          - device_name
                          - os_family
                          - os_major
                          - os_minor
                          - os_patch
                          - partner_id
                          - partner_name
                          - publisher_reference
                          - partnership_model_id
                          - partnership_model_name
                          - traffic_source_id
                          - traffic_source_name
                          - type
                          - user_context_id
                          - user_context_name
                top:
                  type: integer
                  maximum: 50000
                  default: 50000
                  minimum: 1
                include_total_row_count:
                  type: boolean
                  default: false
                  description: A boolean flag to indicate whether an extra header (X-Total-Row-Count) should be returned containing the total number of rows. This can have a performance overhead so you should not use it unless it is required.
                timezone:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/timezone'
              additionalProperties: false
            example:
              date_time_ranges:
              - start: '2019-10-01T00:00:00+00:00'
                end: '2019-10-03T00:00:00+00:00'
              scope:
                partner: 111111l10
              group_by:
              - device
              filter_by:
              - field: country
                value: US
                operator: EQUALS
              - field: device_id
                value: 5
                operator: EQUALS
                not: true
              order_by:
              - field: total_clicks
                direction: DESCENDING
              top: 2
              include_total_row_count: false
              timezone: GMT
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    example:
                    - device_id: '1'
                      device_name: desktop
                      total_clicks: 44442
                    - device_id: '2'
                      device_name: mobile
                      total_clicks: 23392
          headers:
            X-Total-Row-Count:
              schema:
                type: integer
              description: Total amount of rows, ignoring `top`. Present if requested via `include_total_row_count`.
    servers:
    - description: Production
      url: https://api.partnerize.com
  /v3/partner/analytics/clicks/timeseries:
    post:
      summary: Timeseries
      description: 'Returns aggregated metrics derived from clicks, grouped by time intervals.


        This endpoint is ideal for creating charts where the x-axis is time.'
      operationId: postClicksTimeseries
      tags:
      - Clicks
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              required:
              - date_time_ranges
              - scope
              - metrics
              properties:
                date_time_ranges:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges'
                scope:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/scope'
                metrics:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/metrics'
                filter_by:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/filter_by'
                interval:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1explode/post/requestBody/content/application~1json/schema/properties/interval'
                timezone:
                  $ref: '#/paths/~1v3~1partner~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/timezone'
                zerofill:
                  type: boolean
                  default: true
                  description: A boolean flag to indicate whether records with a count of zero should be included in the response.
              additionalProperties: false
            example:
              date_time_ranges:
              - start: '2019-10-01T00:00:00+00:00'
                end: '2019-10-03T00:00:00+00:00'
              scope:
                partner: 111111l10
              metrics:
              - total_clicks
              filter_by:
              - field: country
                value: US
                operator: EQUALS
              - field: device_id
                value: 5
                operator: EQUALS
                not: true
              interval:
                field: date_time
                period: P1D
              timezone: GMT
              zerofill: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    example:
                    - date_time_range:
                        start: '2019-10-01T00:00:00+00:00'
                        end: '2019-10-02T00:00:00+00:00'
                      total_clicks: 990
                    - date_time_range:
                        start: '2019-10-02T00:00:00+00:00'
                        end: '2019-10-03T00:00:00+00:00'
                      total_clicks: 2894
    servers:
    - description: Production
      url: https://api.partnerize.com
  /v3/brand/analytics/clicks/count:
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    post:
      summary: Count
      description: 'Returns aggregated metrics derived from clicks.


        This endpoint is ideal for creating dashboard widgets, or for creating a summary of tabulated data from the explode endpoint.'
      operationId: postClicksCount
      tags:
      - Clicks
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              required:
              - date_time_ranges
              - scope
              - metrics
              properties:
                date_time_ranges:
                  allOf:
                  - type: array
                    items:
                      type: object
                      required:
                      - start
                      - end
                      properties:
                        start:
                          type: string
                          format: date-time
                        end:
                          type: string
                          format: date-time
                        field:
                          type: string
                          description: The date-time field that this date-time range should use
                      additionalProperties: false
                    minItems: 1
                    description: Filter the results to given date-time ranges. You can specify multiple date ranges and results for each date range will be combined.
                  - items:
                      properties:
                        field:
                          $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1explode/post/requestBody/content/application~1json/schema/properties/interval/properties/field'
                comparison_date_time_ranges:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges'
                scope:
                  description: Filter data by specified campaign identifiers. You must have the correct authorisation to view reporting data on these campaigns.
                  type: object
                  required:
                  - campaigns
                  properties:
                    campaigns:
                      type: array
                      items:
                        type: string
                      minItems: 1
                      uniqueItems: true
                  additionalProperties: false
                metrics:
                  allOf:
                  - type: array
                    minItems: 1
                    uniqueItems: true
                    description: Array of metrics which should be included in the result.
                  - items:
                      type: string
                      enum:
                      - total_clicks
                      - total_clicks_converted
                      - click_conversion_rate
                      - total_unique_clicks
                filter_by:
                  allOf:
                  - type: array
                    description: A list of objects you can use to filter the results by. Results will only be returned if they match every condition.
                    items:
                      type: object
                      required:
                      - field
                      - value
                      properties:
                        field:
                          type: string
                        value:
                          type:
                          - string
                          - integer
                          - array
                        operator:
                          type: string
                          default: EQUALS
                        not:
                          type: boolean
                      additionalProperties: false
                    minItems: 1
                  - items:
                      properties:
                        field:
                          type: string
                          enum:
                          - advertiser_reference
                          - browser_family
                          - browser_major
                          - browser_minor
                          - browser_patch
                          - campaign_id
                          - campaign_name
                          - country
                          - creative_id
                          - creative_description
                          - creative_advertiser_reference
                          - creative_tag_id
                          - device_id
                          - os_family
                          - os_major
                          - os_minor
                          - os_patch
                          - partner_group_id
                          - partner_id
                          - partner_name
                          - partnership_model_id
                          - traffic_source_id
                          - type
                          - user_context_id
                        operator:
                          type: string
                          enum:
                          - EQUALS
                          - STARTS_WITH
                          - ENDS_WITH
                          - CONTAINS
                          - SEARCH
                timezone:
                  description: See reference endpoint [/reference/timezones/](/#tag/Timezones) for available timezones.
                  type: string
                include_comparison_percentage_change:
                  type: boolean
                  default: false
                  description: A boolean flag to indicate whether percentage changes should be output when using comparison.
              additionalProperties: false
            example:
              date_time_ranges:
              - start: '2019-10-01T00:00:00+00:00'
                end: '2019-10-03T00:00:00+00:00'
              scope:
                campaigns:
                - 111111l10
              metrics:
              - total_clicks
              filter_by:
              - field: country
                value: US
                operator: EQUALS
              - field: device_id
                value: 5
                operator: EQUALS
                not: true
              timezone: GMT
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    example:
                      total_clicks: 57126
  /v3/brand/analytics/clicks/explode:
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    post:
      summary: Explode
      description: 'Returns aggregated metrics derived from clicks, grouped by ID and name of one or many dimensions. This endpoint is ideal for

        fetching data to be shown in a table. You can combine it with the count endpoint to fetch data for a totals row.


        If `order_by` is requested on a metric, the metric values will be added to the results, even if not requested.


        When grouping by `date`, the `interval` will define the length of each date group.'
      operationId: postClicksExplode
      tags:
      - Clicks
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              required:
              - date_time_ranges
              - scope
              - metrics
              - group_by
              properties:
                date_time_ranges:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges'
                comparison_date_time_ranges:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges'
                scope:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/scope'
                metrics:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/metrics'
                group_by:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1filter/post/requestBody/content/application~1json/schema/properties/group_by'
                filter_by:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/filter_by'
                order_by:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1filter/post/requestBody/content/application~1json/schema/properties/order_by'
                interval:
                  allOf:
                  - description: To group the data into buckets of time. In the context of Explode this is used when grouping by `date_time`
                    type: object
                    required:
                    - period
                    properties:
                      period:
                        type: string
                        pattern: ^P(?!$)(\d+Y)?(\d+M)?(\d+W)?(\d+D)?(T(?=\d+[HMS])(\d+H)?(\d+M)?(\d+S)?)?$
                        description: ISO8601 time interval value.
                        default: P1D
                      field:
                        type: string
                        description: The date-time field that should be used to group each date interval
                    additionalProperties: false
                  properties:
                    field:
                      type: string
                      enum:
                      - date_time
                output_date_time_format:
                  type: string
                  description: Dates will be formatted with the Joda date format string given. If no format is supplied here, ISO8601 format will be used. For details of how to construct a format string, see https://www.joda.org/joda-time/apidocs/org/joda/time/format/DateTimeFormat.html
                top:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1filter/post/requestBody/content/application~1json/schema/properties/top'
                include_total_row_count:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1filter/post/requestBody/content/application~1json/schema/properties/include_total_row_count'
                timezone:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/timezone'
                include_comparison_percentage_change:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/include_comparison_percentage_change'
              additionalProperties: false
            example:
              date_time_ranges:
              - start: '2019-10-01T00:00:00+00:00'
                end: '2019-10-03T00:00:00+00:00'
              scope:
                campaigns:
                - 111111l10
              metrics:
              - total_clicks
              group_by:
              - device
              filter_by:
              - field: country
                value: US
                operator: EQUALS
              - field: device_id
                value: 5
                operator: EQUALS
                not: true
              order_by:
              - field: total_clicks
                direction: DESCENDING
              interval:
                field: date_time
                period: P1D
              include_total_row_count: false
              timezone: GMT
              top: 2
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    example:
                    - device_id: '1'
                      device_name: desktop
                      total_clicks: 2000
                    - device_id: '2'
                      device_name: mobile
                      total_clicks: 3000
          headers:
            X-Total-Row-Count:
              $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1filter/post/responses/200/headers/X-Total-Row-Count'
  /v3/brand/analytics/clicks/filter:
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    post:
      summary: Filter
      description: 'This endpoint is ideal for fetching a list of available dimensions for a dropdown list.


        If `order_by` is requested on a metric, the metric values will be added to the results.'
      operationId: postClicksFilter
      tags:
      - Clicks
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              required:
              - date_time_ranges
              - scope
              - group_by
              properties:
                date_time_ranges:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges'
                scope:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/scope'
                group_by:
                  allOf:
                  - type: array
                    minItems: 1
                    uniqueItems: true
                    description: Dimensions which the data should be grouped by.
                  - items:
                      type: string
                      enum:
                      - advertiser_reference
                      - browser_family
                      - browser_major
                      - browser_minor
                      - browser_patch
                      - campaign
                      - country
                      - creative
                      - date_time
                      - device
                      - os_family
                      - os_major
                      - os_minor
                      - os_patch
                      - partner
                      - partnership_model
                      - traffic_source
                      - type
                      - user_context
                filter_by:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/filter_by'
                order_by:
                  allOf:
                  - type: array
                    description: Priority list of ordering objects
                    items:
                      type: object
                      required:
                      - field
                      - direction
                      properties:
                        field:
                          type: string
                        direction:
                          type: string
                          enum:
                          - ASCENDING
                          - DESCENDING
                      additionalProperties: false
                    minItems: 1
                  - items:
                      properties:
                        field:
                          type: string
                          enum:
                          - total_clicks
                          - total_clicks_converted
                          - click_conversion_rate
                          - total_unique_clicks
                          - advertiser_reference
                          - browser_family
                          - browser_major
                          - browser_minor
                          - browser_patch
                          - campaign_id
                          - campaign_name
                          - country
                          - country_name
                          - creative_id
                          - creative_description
                          - creative_advertiser_reference
                          - date_time
                          - device_id
                          - device_name
                          - os_family
                          - os_major
                          - os_minor
                          - os_patch
                          - partner_id
                          - partner_name
                          - partnership_model_id
                          - partnership_model_name
                          - traffic_source_id
                          - traffic_source_name
                          - type
                          - user_context_id
                          - user_context_name
                top:
                  type: integer
                  maximum: 50000
                  default: 50000
                  minimum: 1
                include_total_row_count:
                  type: boolean
                  default: false
                  description: A boolean flag to indicate whether an extra header (X-Total-Row-Count) should be returned containing the total number of rows. This can have a performance overhead so you should not use it unless it is required.
                timezone:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/timezone'
              additionalProperties: false
            example:
              date_time_ranges:
              - start: '2019-10-01T00:00:00+00:00'
                end: '2019-10-03T00:00:00+00:00'
              scope:
                campaigns:
                - 111111l10
              group_by:
              - device
              filter_by:
              - field: country
                value: US
                operator: EQUALS
              - field: device_id
                value: 5
                operator: EQUALS
                not: true
              order_by:
              - field: total_clicks
                direction: DESCENDING
              top: 2
              include_total_row_count: false
              timezone: GMT
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    example:
                    - device_id: '1'
                      device_name: desktop
                      total_clicks: 44442
                    - device_id: '2'
                      device_name: mobile
                      total_clicks: 23392
          headers:
            X-Total-Row-Count:
              schema:
                type: integer
              description: Total amount of rows, ignoring `top`. Present if requested via `include_total_row_count`.
  /v3/brand/analytics/clicks/timeseries:
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    post:
      summary: Timeseries
      description: 'Returns aggregated metrics derived from clicks, grouped by time intervals.


        This endpoint is ideal for creating charts where the x-axis is time.'
      operationId: postClicksTimeseries
      tags:
      - Clicks
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              required:
              - date_time_ranges
              - scope
              - metrics
              properties:
                date_time_ranges:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/date_time_ranges'
                scope:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/scope'
                metrics:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/metrics'
                filter_by:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/filter_by'
                interval:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1explode/post/requestBody/content/application~1json/schema/properties/interval'
                timezone:
                  $ref: '#/paths/~1v3~1brand~1analytics~1clicks~1count/post/requestBody/content/application~1json/schema/properties/timezone'
                zerofill:
                  type: boolean
                  default: true
                  description: A boolean flag to indicate whether records with a count of zero should be included in the response.
              additionalProperties: false
            example:
              date_time_ranges:
              - start: '2019-10-01T00:00:00+00:00'
                end: '2019-10-03T00:00:00+00:00'
              scope:
                campaigns:
                - 111111l10
              metrics:
              - total_clicks
              filter_by:
              - field: country
                value: US
                operator: EQUALS
              - field: device_id
                value: 5
                operator: EQUALS
                not: true
              interval:
                field: date_time
                period: P1D
              timezone: GMT
              zerofill: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    example:
                    - date_time_range:
                        start: '2019-10-01T00:00:00+00:00'
                        end: '2019-10-02T00:00:00+00:00'
                      total_clicks: 990
                    - date_time_range:
                        start: '2019-10-02T00:00:00+00:00'
                        end: '2019-10-03T00:00:00+00:00'
                      total_clicks: 2894
x-refined-from:
- partnerize-partners-api-openapi.yml
- partnerize-clicks-api-openapi.yml
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
