openapi: 3.2.0
info:
  title: Partnerize Partners Jobs (v1) API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Jobs V1
paths:
  /job/{jobID}:
    get:
      operationId: get_job_v1
      summary: Get a single job (v1)
      description: 'Returns information about a single v1 job by the given ID.


        Once the `job` `status` is `complete` the job output can be retrieved from the path given in the `hypermedia` `response` (`/job/111111l11/response.csv` in the response samples).'
      tags:
      - Jobs V1
      parameters:
      - name: jobID
        in: path
        description: Id of the job
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Request success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-07/schema#
                type: object
                title: v1 Job Response
                properties:
                  job:
                    type: object
                    properties:
                      job_id:
                        type: string
                        example: 111111l11
                      created_at:
                        type: string
                        example: '2018-11-13 20:20:39'
                      completed_at:
                        type:
                        - string
                        - 'null'
                        example: '2018-11-13 20:20:55'
                      created_by:
                        type: string
                        example: 111111l11
                      created_by_uri:
                        type: string
                        example: reporting/export/export/conversion_item.csv
                      status:
                        type: string
                        example: complete
                      percentage_complete:
                        type: integer
                        description: Integer 0-100
                        example: 100
                      reference:
                        type:
                        - string
                        - 'null'
                        example: myref
                      response_within_retention:
                        type: boolean
                        example: true
                      hypermedia:
                        type: object
                        properties:
                          response:
                            type: string
                            example: /job/111111l11/response.csv
                          update:
                            type: string
                            example: /job/111111l11
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
