openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Filter Sets API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Filter Sets
paths:
  /report/campaign_group/{campaign_group_id}/filter_sets/{filter_set_id}:
    delete:
      parameters:
      - description: Id of the campaign group
        example: '7'
        in: path
        name: campaign_group_id
        required: true
        schema:
          type: string
      - description: Id of the Saved Report
        example: '38'
        in: path
        name: filter_set_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    count: 1
                    errors: []
                    execution_time: 0.23640 seconds
                    filter_sets:
                    - filter_set:
                        campaign_id: 42C32
                        created_at: '2016-03-10T19:02:35Z'
                        created_by: 31v02
                        data: ''
                        is_default: false
                        name: My saved report
                        reporting_filter_set_id: gh51kn
                        updated_at: '2016-03-15T15:38:11Z'
                        updated_by: 68i34
                        user_id: 53vc3a
              schema:
                properties:
                  count:
                    description: Number of Saved Reports deleted
                    type: number
                  errors:
                    description: Empty error list
                  execution_time:
                    type: string
                  filter_sets:
                    description: Deleted Saved Reports list
                    items:
                      $ref: '#/components/schemas/Brand_Filter_Set'
                    type: array
                type: object
          description: OK
      tags:
      - Filter Sets
      description: ''
      operationId: Delete Campaign Group Saved Report
      summary: Delete a Campaign Group Saved Report
components:
  schemas:
    Brand_Filter_Set:
      properties:
        filter_set:
          properties:
            campaign_id:
              type: string
            created_at:
              type: string
            created_by:
              type: string
            data:
              type: string
            is_default:
              type: boolean
            name:
              type: string
            reporting_filter_set_id:
              type: string
            updated_at:
              type: string
            updated_by:
              type: string
            user_id:
              type: string
          type: object
      type: object
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
