openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Invoices API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- description: So that Brands can receive payment for all approved conversion events they have generated across a Brand's Campaigns, the Brand must raise an Invoice and send payment to Partnerize. Once the payment has cleared, all funds will be deposited into the relevant Partner accounts.
  name: Invoices
paths:
  /user/advertiser/{advertiser_id}/invoice:
    get:
      parameters:
      - description: ID of the Brand
        example: 10l110
        in: path
        name: advertiser_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    invoices:
                    - invoice:
                        average_conversion_age: 14
                        campaign_id: 10l176
                        creation_date: '2015-12-14 22:58:25'
                        currency: GBP
                        download: null
                        invoice_id: 1101l1536
                        invoice_net_value: 770.84
                        invoice_reference: I-10l176-1101l1536
                        invoice_total_value: 770.84
                        invoice_vat_value: 0
                        invoiced: All
                        item_download: null
                        merchant_invoice_id: null
                        paid_currency: GBP
                        payment_date: ''
                        payment_due_by_date: ''
                        payment_reference: null
                        publisher_commission: 700.76
                        publisher_override: 70.08
                        set_end_date: '2015-12-09'
                        set_start_date: '2015-08-30'
                        set_timezone: Australia/Sydney
                        status: created
                        vat_rate: 0
              schema:
                properties:
                  invoices:
                    items:
                      $ref: '#/components/schemas/Invoice_Wrapper'
                    type: array
                type: object
          description: OK
      tags:
      - Invoices
      description: View all Invoices that have been created.
      operationId: List all Invoices
      summary: List all Invoices
  /user/advertiser/{advertiser_id}/invoice/{invoice_id}:
    get:
      parameters:
      - description: ID of the Brand
        example: 10l110
        in: path
        name: advertiser_id
        required: true
        schema:
          type: string
      - description: ID of the Invoice
        example: 1101l1536
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    invoice:
                      average_conversion_age: 14
                      campaign_id: 10l176
                      creation_date: '2015-12-14 22:58:25'
                      currency: GBP
                      download: null
                      invoice_id: 1101l1536
                      invoice_net_value: 770.84
                      invoice_reference: I-10l176-1101l1536
                      invoice_total_value: 770.84
                      invoice_vat_value: 0
                      invoiced: All
                      item_download: null
                      merchant_invoice_id: null
                      paid_currency: GBP
                      payment_date: ''
                      payment_due_by_date: ''
                      payment_reference: null
                      publisher_commission: 700.76
                      publisher_override: 70.08
                      set_end_date: '2015-12-09'
                      set_start_date: '2015-08-30'
                      set_timezone: Australia/Sydney
                      status: created
                      vat_rate: 0
              schema:
                $ref: '#/components/schemas/Invoice_Wrapper'
          description: OK
      tags:
      - Invoices
      description: View an individual Invoice.
      operationId: Retrieve an Invoice
      summary: Retrieve an Invoice
components:
  schemas:
    Currency:
      enum:
      - GBP
      - USD
      - EUR
      - JPY
      type: string
    Invoice:
      properties:
        average_conversion_age:
          type: number
        campaign_id:
          description: ID of the Campaign
          type: string
        creation_date:
          type: string
        currency:
          $ref: '#/components/schemas/Currency'
        download:
          description: URL for PDF download
          type: string
        invoice_id:
          description: ID of the Invoice
          type: string
        invoice_net_value:
          type: number
        invoice_reference:
          type: string
        invoice_total_value:
          type: number
        invoice_vat_value:
          type: number
        invoiced:
          type: string
        item_download:
          description: URL for CSV item download
          type: string
        merchant_invoice_id:
          description: Optional merchant reference
          type: string
        paid_currency:
          $ref: '#/components/schemas/Currency'
        payment_date:
          type: string
        payment_due_by_date:
          type: string
        payment_reference:
          description: Optional payment reference
          type: string
        publisher_commission:
          type: number
        publisher_override:
          type: number
        set_end_date:
          type: string
        set_start_date:
          type: string
        set_timezone:
          $ref: '#/components/schemas/Timezones'
        status:
          enum:
          - created
          - sent
          - paid
          type: string
        vat_rate:
          type: number
      type: object
    Timezones:
      enum:
      - Australia/Sydney
      - UTC
      - Europe/London
      - CET
      - GMT
      type: string
    Invoice_Wrapper:
      properties:
        invoice:
          $ref: '#/components/schemas/Invoice'
      type: object
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
