openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Partner Commissions API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Partner Commissions
  description: Partner Commissions Endpoints
paths:
  /v2/campaigns/{campaignId}/publishers/{publisherId}/commissions:
    get:
      operationId: get-publisher-commissions
      tags:
      - Partner Commissions
      summary: Get Partner Commissions
      description: Get Partner Commissions. Active and Scheduled Commissions will be returned
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign for which to get partner commission rates
        required: true
        schema:
          type: string
      - in: path
        name: publisherId
        description: The ID of a partner on a campaign
        required: true
        schema:
          type: string
      - in: query
        name: status
        description: Retrieve Commissions with a specifc Status
        required: false
        schema:
          type: string
          enum:
          - scheduled
      - in: query
        name: type
        description: Retrieve Commissions of a specific Commission Type
        required: false
        schema:
          type: string
          enum:
          - default
          - campaign
      responses:
        '200':
          description: Partner Commissions Returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  commissions:
                    type: array
                    items:
                      anyOf:
                      - type: object
                        title: Partner Commission
                        properties:
                          id:
                            type:
                            - string
                            - 'null'
                            description: The ID of the Commission
                          type:
                            title: Commission Types
                            description: These values represent the type of Commission being returned
                            type: string
                            enum:
                            - default
                            - campaign
                            - promotional
                            - voucher
                          description:
                            type: string
                          start_date:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: The Start Date of the Commission
                          end_date:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: The End Date of the Commission
                          commission_based_on_field:
                            type: string
                            description: The tracking field used to calculate partner commission
                          status:
                            $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1%7BcommissionId%7D~1retire/post/responses/200/content/application~1json/schema/properties/status'
                          meta_fields:
                            type: array
                            items:
                              $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1%7BcommissionId%7D~1retire/post/responses/200/content/application~1json/schema/properties/meta_fields/items'
                          rates:
                            type: array
                            items:
                              type: object
                              title: Commission Rate
                              properties:
                                id:
                                  type: string
                                  description: The ID of the Partner, Group or Campaign this commission is assigned to
                                scope:
                                  title: Commission Rate Scopes
                                  description: These values represent the Scope of the Commission. Used to determine commission overrides.
                                  type: string
                                  enum:
                                  - publisher
                                  - group
                                  - campaign
                                  - voucher
                                name:
                                  type: string
                                  description: The name of the Partner, Group or Campaign. In the case of Voucher commissions this will be the Voucher Code
                                performance_value:
                                  type: number
                                  description: The value to be rewarded based on selected Performance Measurement
                                performance_model:
                                  $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1promotions/post/requestBody/content/application~1json/schema/properties/performance_model'
                                cookie_period:
                                  type:
                                  - integer
                                  - 'null'
                                  minimum: 0
                                  maximum: 31536000
                                  description: The cookie period defined in seconds. If not specified, campaign default will be used.
                              additionalProperties: false
                              required:
                              - id
                              - scope
                              - name
                              - performance_value
                              - performance_model
                              - cookie_period
                            minItems: 1
                        required:
                        - id
                        - type
                        - description
                        - start_date
                        - end_date
                        - status
                        - meta_fields
                        - rates
                      - type: object
                        title: Commission Tier
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                          type:
                            type: string
                            enum:
                            - tier
                          scope:
                            title: Commission Tier Scope
                            description: These values are internally managed and represent the scope of the commission tier
                            type: string
                            enum:
                            - publisher
                            - group
                            - campaign
                          start_date:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: The Start Date of the Commission Tier
                          end_date:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: The End Date of the Commission Tier
                          performance_model:
                            $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/requestBody/content/application~1json/schema/properties/reward_model'
                          performance_measurement:
                            $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/requestBody/content/application~1json/schema/properties/performance_measurement'
                          status:
                            $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/responses/201/content/application~1json/schema/properties/tier/properties/status'
                          meta_fields:
                            type: array
                            items:
                              $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1promotions/post/requestBody/content/application~1json/schema/properties/meta_fields/items'
                          levels:
                            type: array
                            minItems: 1
                            description: An array of Commission Tier Levels.
                            items:
                              $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/requestBody/content/application~1json/schema/properties/levels/items'
                        additionalProperties: false
                        required:
                        - id
                        - name
                        - type
                        - scope
                        - start_date
                        - end_date
                        - performance_model
                        - performance_measurement
                        - status
                        - meta_fields
                        - levels
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
