openapi: 3.2.0
info:
  title: Partnerize Partners Campaign Invitations (v2) API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Campaign Invitations (v2)
paths:
  /v2/publishers/{publisher_id}/invitations/advertisers/:
    get:
      parameters:
      - description: ID of the partner
        example: 1l1007802
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    advertisers:
                    - address:
                        country: Chile
                        line1: 123 Super street
                        line2: ''
                        line3: Super city
                        line4: ''
                        postcode: SU5 PER
                      id: '301284'
                      invitations:
                      - campaign:
                          currency:
                            iso: CLP
                            name: Chilean peso
                            symbol: $
                          default_destination: https://mysuperdefaultdestination.com
                          id: '300866'
                          campaign_logo: https://path/to/campaign/logo.png
                          title: My that is a super campaign
                          vertical:
                            id: '131'
                            name: boats
                        id: 11111|1
                      name: Super brand
                      network:
                        id: 111111l300118
                        name: Super nework
                    count: 1
                    execution_time: 0.98709 seconds
              schema:
                additionalProperties: false
                properties:
                  advertisers:
                    items:
                      properties:
                        address:
                          properties:
                            country:
                              $ref: '#/components/schemas/Country'
                            line1:
                              type: string
                            line2:
                              type: string
                            line3:
                              type: string
                            line4:
                              type: string
                            postcode:
                              type: string
                          type: object
                        id:
                          type: string
                        invitations:
                          items:
                            properties:
                              campaign:
                                properties:
                                  currency:
                                    properties:
                                      iso:
                                        type: string
                                      name:
                                        type: string
                                      symbol:
                                        type: string
                                    type: object
                                  campaign_logo:
                                    type: string
                                  default_destination:
                                    type: string
                                  id:
                                    type: string
                                  title:
                                    type: string
                                  vertical:
                                    properties:
                                      id:
                                        type: string
                                      name:
                                        type: string
                                    type: object
                                type: object
                              id:
                                type: string
                            type: object
                          type: array
                        name:
                          type: string
                        network:
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                          type: object
                      type: object
                    type: array
                  count:
                    type: number
                  execution_time:
                    type: string
                required:
                - execution_time
                - count
                - advertisers
                type: object
          description: OK
      tags:
      - Campaign Invitations (v2)
      description: See all invites available to a partner grouped by brand
      operationId: List Invitations
      summary: List Invitations
  /v2/publishers/{publisherId}/invitations/accept:
    post:
      parameters:
      - name: publisherId
        in: path
        description: ID of the partner
        examples:
        - 1l1007802
        required: true
        schema:
          type: string
      operationId: acceptInvitations
      tags:
      - Campaign Invitations (v2)
      summary: Accept Campaign Invitiations
      description: Allows a partner to accept one of many of their invitations.
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              type: object
              properties:
                campaign_ids:
                  type: array
                  description: Campaign IDs to which the Partner has been invited
                  items:
                    type: string
              required:
              - campaign_ids
            example:
              campaign_ids:
              - 111111l300140
              - 111111l400044
      responses:
        '204':
          description: Success
  /v2/publishers/{publisherId}/invitations/decline:
    post:
      parameters:
      - name: publisherId
        in: path
        description: ID of the partner
        examples:
        - 1l1007802
        required: true
        schema:
          type: string
      operationId: declineInvitations
      tags:
      - Campaign Invitations (v2)
      summary: Decline Campaign Invitiations
      description: Allows a partner to decline one of many of their invitations.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/paths/~1v2~1publishers~1%7BpublisherId%7D~1invitations~1accept/post/requestBody/content/application~1json/schema'
            example:
              campaign_ids:
              - 111111l300140
              - 111111l400044
      responses:
        '204':
          description: Success
components:
  schemas:
    Country:
      enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - XK
      - YE
      - YT
      - ZA
      - ZM
      - ZW
      type: string
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
