openapi: 3.2.0
info:
  title: Partnerize Partners Tiered Commissions API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Tiered Commissions
paths:
  /v2/campaigns/{campaignId}/publishers/{publisherId}/commissions/tier:
    get:
      operationId: get-publisher-commissions-tier
      tags:
      - Tiered Commissions
      summary: List Partner Tiered Commissions For Specific Campaign
      description: This endpoint lists partner tiered commissions for the given partner and campaign.
      parameters:
      - in: path
        name: publisherId
        description: The ID of the Partner to list commissions for
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        description: The ID of the campaign to list the Partner commissions for
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Partner Tiered Commissions List
          content:
            application/json:
              schema:
                type: object
                properties:
                  tiers:
                    type: array
                    items:
                      type: object
                      title: Commission Tier
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        start_date:
                          allOf:
                          - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                          - description: The Start Date of the Commission Tier
                        end_date:
                          allOf:
                          - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                          - description: The End Date of the Commission Tier
                        evaluation_period:
                          type: integer
                          description: The earliest number of seconds after the end date the Commission Tier will be rewarded. Maximum length is 86,399,999 seconds, or rather, less than 1000 days exactly
                          minimum: 0
                          maximum: 86399999
                        reward_pending:
                          allOf:
                          - title: Reward Pending
                            description: If enabled, pending conversion items can also be rewarded.
                            type: boolean
                            enum:
                            - true
                            - false
                          - description: Which approval statuses to reward
                        reward_model:
                          allOf:
                          - title: Reward Model
                            description: Model used to calculate Partner rewards
                            type: string
                            enum:
                            - fixed_reward
                            - fixed_cpa
                            - percentage_cpa
                        performance_measurement:
                          allOf:
                          - title: Performance Measurement
                            description: The measurement used to calculate Partners performance
                            type: string
                            enum:
                            - total_items
                            - total_revenue
                        meta_fields:
                          type: array
                          items:
                            allOf:
                            - type: object
                              title: Meta Field Weight
                              description: Meta Field with weight
                              allOf:
                              - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1voucher/get/responses/200/content/application~1json/schema/properties/voucher_commissions/items/properties/meta_fields/items/allOf/0'
                              - type: object
                                properties:
                                  weight:
                                    type: number
                                    description: The weight of the meta field
                                required:
                                - weight
                            - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1campaign/get/responses/200/content/application~1json/schema/properties/commissions/items/properties/meta_fields/items'
                        levels:
                          type: array
                          minItems: 1
                          items:
                            type: object
                            title: Commission Tier Level
                            properties:
                              threshold:
                                description: The minimum amount to be considered for this Commission Tier Level. Used in calculating Performance
                                type: number
                                minimum: 0.01
                              bonus_value:
                                description: The amount rewarded to Partners that reach this Commission Tier Level, based on Reward Model
                                type: number
                                minimum: 0.01
                            required:
                            - threshold
                            - bonus_value
                        publishers:
                          type: array
                          minItems: 0
                          items:
                            type: object
                            title: Partner
                            properties:
                              id:
                                type: string
                              name:
                                type: string
                            required:
                            - id
                            - name
                        groups:
                          type: array
                          minItems: 0
                          items:
                            type: object
                            title: Partner Group
                            properties:
                              id:
                                type: string
                              name:
                                type: string
                            required:
                            - id
                            - name
                        status:
                          title: Commission Tier Status
                          description: These values are internally managed and represent the statue of the Commission Tier
                          type: string
                          enum:
                          - ACTIVE
                          - COMPLETED
                          - DELETED
                          - SCHEDULED
                      required:
                      - name
                      - start_date
                      - end_date
                      - evaluation_period
                      - reward_pending
                      - reward_model
                      - performance_measurement
                      - meta_fields
                      - levels
                      - publishers
                      - groups
                      - status
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
