openapi: 3.2.0
info:
  title: Partnerize Campaign Terms and Conditions API
  version: 1.4.99
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
  description: 'Operations tagged Campaign Terms and Conditions across 2 of this provider''s published API definitions: partnerize-partners-api-openapi.yml, partnerize-campaign-terms-and-conditions-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Campaign Terms and Conditions
  description: Endpoints for retrieving campaign terms and conditions which are in affect.
paths:
  /v3/partner/campaign-terms-and-conditions:
    get:
      summary: List campaign terms and conditions
      operationId: listCampaignTerms
      description: Lists all campaign terms and conditions of the campaigns managed by the user. Terms and conditions will be bound to your user's locale. If no terms for your locale exist, terms for `en` or `en_us` will be returned in it's place.
      tags:
      - Campaign Terms and Conditions
      parameters:
      - name: campaign_id
        in: query
        description: Filter by campaign.
        schema:
          type: string
          example: 111111l5
      - name: created_at
        in: query
        description: Filter by created datetime.
        schema:
          type: string
          example: 2020-01-01T00:00:00Z..2020-12-31T23:59:59Z
      - name: locale
        in: query
        description: Filter by locale.
        schema:
          $ref: '#/components/schemas/Locale'
      - name: content
        in: query
        description: Filter by content.
        schema:
          type: string
          example: cookies
      responses:
        '200':
          description: Request Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Campaign_Terms_And_Condition'
    servers:
    - description: Production
      url: https://api.partnerize.com
  /v3/partner/campaign-terms-and-conditions/{id}:
    get:
      summary: Retrieve campaign terms and conditions
      operationId: retrieveCampaignTerms
      description: Retrieves a single campaign terms and conditions
      tags:
      - Campaign Terms and Conditions
      parameters:
      - name: id
        in: path
        description: The ID of the campaign terms and conditions
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Request Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/Campaign_Terms_And_Condition'
    servers:
    - description: Production
      url: https://api.partnerize.com
  /campaign/{campaign_id}/custom_terms/{terms_id}?{download=true}:
    parameters:
    - name: campaign_id
      in: path
      description: ID of the campaign
      examples:
      - 10l176
      required: true
      schema:
        type: string
    - name: terms_id
      in: path
      description: ID of Campaign Terms and Conditions
      examples:
      - 1111l123
      required: true
      schema:
        type: string
    - name: download
      in: path
      description: Use this query string parameter to indicate the terms and conditions should be downloaded as a file
      examples:
      - true
      required: false
      schema:
        type: string
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    get:
      operationId: readCustomTerms
      tags:
      - Campaign Terms and Conditions
      summary: Retrieve Campaign Terms and Conditions
      description: Retrieve the Campaign Terms and Conditions for a given Terms and Conditions id. You can download them by specifying the `download=true` query string parameter.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/paths/~1campaign~1%7Bcampaign_id%7D~1custom_terms~1/post/responses/201/content/application~1json/schema'
              example:
                execution_time: 1.05973 seconds
                custom_terms:
                - campaign_custom_terms_and_conditions_id: 111111l43
                  title: Terms and conditions title
                  terms: Terms and conditions content
                  created: '2019-05-29 09:18:17'
                  campaign_id: 10l176
                  locale: pl
                  active: y
components:
  schemas:
    Campaign_Terms_And_Condition:
      type: object
      properties:
        id:
          type: string
          example: 111111l10
        created_at:
          type: string
          example: 2020-01-01T00:00:00+0000
        locale:
          type: string
          example: en_us
        content:
          type: string
          example: <p>Lorem Ipsum</p>
        campaign_id:
          type: string
          example: 111111l5
    Locale:
      enum:
      - bg
      - cs
      - da
      - de
      - de_at
      - en
      - en_au
      - en_ca
      - en_us
      - es
      - es_mx
      - el
      - et
      - fi
      - fl
      - fr
      - fr_ca
      - hu
      - id
      - it
      - jp
      - ko
      - ko_kr
      - lt
      - lv
      - ms_my
      - mt
      - my
      - nl
      - 'no'
      - pl
      - po
      - pt
      - pt_br
      - ro
      - ru
      - sg
      - sk
      - sl
      - sv
      - sv_se
      - th
      - tl
      - tr
      - vi
      - zh_cn
      - zh_hk
      type: string
x-refined-from:
- partnerize-partners-api-openapi.yml
- partnerize-campaign-terms-and-conditions-api-openapi.yml
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
