openapi: 3.2.0
info:
  title: Partnerize Partners Brand Discovery (v2) API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Brand Discovery (v2)
paths:
  /v2/publishers/{publisherId}/discovery/advertisers:
    get:
      parameters:
      - name: publisherId
        in: path
        description: ID of the partner
        examples:
        - 1l1007802
        required: true
        schema:
          type: string
      operationId: getBrands
      tags:
      - Brand Discovery (v2)
      summary: List Brands & Campaigns
      description: 'Returns all campaigns available for a partner to join, grouped by brand.

        Each campaign will include a `status:` for the partner:-

        * AVAILABLE

        * REQUESTED

        * INVITED

        * REJECTED'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema
                type: object
                title: Advertisers
                properties:
                  advertisers:
                    type: array
                    items:
                      allOf:
                      - $ref: '#/paths/~1v2~1publishers~1%7BpublisherId%7D~1discovery~1advertisers~1%7BadvertiserId%7D/get/responses/200/content/application~1json/schema/properties/advertiser/allOf/0'
                      - properties:
                          campaigns:
                            type: array
                            title: Campaign
                            items:
                              $schema: http://json-schema.org/draft-04/schema
                              type: object
                              properties:
                                id:
                                  type: string
                                default_destination:
                                  type:
                                  - string
                                  - 'null'
                                title:
                                  type: string
                                currency:
                                  $schema: http://json-schema.org/draft-04/schema
                                  title: Currency
                                  type: object
                                  properties:
                                    iso:
                                      type: string
                                      enum:
                                      - AED
                                      - AFN
                                      - ALL
                                      - AMD
                                      - ANG
                                      - AOA
                                      - ARS
                                      - AUD
                                      - AWG
                                      - AZN
                                      - BAM
                                      - BBD
                                      - BDT
                                      - BGN
                                      - BHD
                                      - BIF
                                      - BMD
                                      - BND
                                      - BOB
                                      - BRL
                                      - BSD
                                      - BTN
                                      - BWP
                                      - BYR
                                      - BZD
                                      - CAD
                                      - CDF
                                      - CHF
                                      - CLF
                                      - CLP
                                      - CNY
                                      - COP
                                      - COU
                                      - CRC
                                      - CUC
                                      - CUP
                                      - CVE
                                      - CZK
                                      - DJF
                                      - DKK
                                      - DOP
                                      - DZD
                                      - EGP
                                      - ERN
                                      - ETB
                                      - EUR
                                      - FJD
                                      - FKP
                                      - GBP
                                      - GEL
                                      - GHS
                                      - GIP
                                      - GMD
                                      - GNF
                                      - GTQ
                                      - GYD
                                      - HKD
                                      - HNL
                                      - HRK
                                      - HTG
                                      - HUF
                                      - IDR
                                      - ILS
                                      - INR
                                      - IQD
                                      - IRR
                                      - ISK
                                      - JMD
                                      - JOD
                                      - JPY
                                      - KES
                                      - KGS
                                      - KHR
                                      - KMF
                                      - KPW
                                      - KRW
                                      - KWD
                                      - KYD
                                      - KZT
                                      - LAK
                                      - LBP
                                      - LKR
                                      - LRD
                                      - LSL
                                      - LTL
                                      - LVL
                                      - LYD
                                      - MAD
                                      - MDL
                                      - MKD
                                      - MMK
                                      - MNT
                                      - MOP
                                      - MUR
                                      - MVR
                                      - MWK
                                      - MXN
                                      - MXV
                                      - MYR
                                      - MZN
                                      - NAD
                                      - NGN
                                      - NIO
                                      - NOK
                                      - NPR
                                      - NZD
                                      - OMR
                                      - PAB
                                      - PEN
                                      - PGK
                                      - PHP
                                      - PKR
                                      - PLN
                                      - PYG
                                      - QAR
                                      - RMB
                                      - RON
                                      - RSD
                                      - RUB
                                      - RWF
                                      - SAR
                                      - SBD
                                      - SCR
                                      - SDG
                                      - SEK
                                      - SGD
                                      - SHP
                                      - SLL
                                      - SOS
                                      - SRD
                                      - SSP
                                      - STD
                                      - SYP
                                      - SZL
                                      - THB
                                      - TJS
                                      - TMT
                                      - TND
                                      - TOP
                                      - TRY
                                      - TTD
                                      - TWD
                                      - TZS
                                      - UAH
                                      - UGX
                                      - USD
                                      - UYU
                                      - UZS
                                      - VEF
                                      - VND
                                      - VUV
                                      - WST
                                      - XAF
                                      - XCD
                                      - XOF
                                      - XPF
                                      - YER
                                      - ZAR
                                      - ZMW
                                      example: GBP
                                    name:
                                      type: string
                                      enum:
                                      - United Arab Emirates dirham
                                      - Azerbaijani manat
                                      - Mexican Unidad de Inversion
                                      - Malaysian ringgit
                                      - Mozambican metical
                                      - Namibian dollar
                                      - Nigerian naira
                                      - Nicaraguan cordoba
                                      - Norwegian krone
                                      - Nepalese rupee
                                      - New Zealand dollar
                                      - Omani rial
                                      - Bosnia and Herzegovina convertible mark
                                      - Panamanian balboa
                                      - Peruvian nuevo sol
                                      - Papua New Guinean kina
                                      - Philippine peso
                                      - Pakistani rupee
                                      - Polish zloty
                                      - Paraguayan guarani
                                      - Qatari riyal
                                      - Romanian new leu
                                      - Serbian dinar
                                      - Barbados dollar
                                      - Russian rouble
                                      - Rwandan franc
                                      - Saudi riyal
                                      - Solomon Islands dollar
                                      - Seychelles rupee
                                      - Sudanese pound
                                      - Swedish krona
                                      - Singapore dollar
                                      - Saint Helena pound
                                      - Sierra Leonean leone
                                      - Bangladeshi taka
                                      - Somali shilling
                                      - Surinamese dollar
                                      - South Sudanese pound
                                      - Sao Tome and Principe dobra
                                      - Syrian pound
                                      - Swazi lilangeni
                                      - Thai baht
                                      - Tajikistani somoni
                                      - Turkmenistani manat
                                      - Tunisian dinar
                                      - Bulgarian lev
                                      - Tongan pa'anga
                                      - Turkish lira
                                      - Trinidad and Tobago dollar
                                      - New Taiwan dollar
                                      - Tanzanian shilling
                                      - Ukrainian hryvnia
                                      - Ugandan shilling
                                      - United States dollar
                                      - Uruguayan peso
                                      - Uzbekistan som
                                      - Bahraini dinar
                                      - Venezuelan
                                      example: Pound sterling
                                    symbol:
                                      type: string
                                      enum:
                                      - AED
                                      - ман
                                      - MXV
                                      - RM
                                      - MT
                                      - ₦
                                      - C$
                                      - KM
                                      - B/.
                                      - S/.
                                      - PGK
                                      - zł
                                      - Gs
                                      - lei
                                      - Дин.
                                      - руб
                                      - RWF
                                      - SDG
                                      - SLL
                                      - BDT
                                      - S
                                      - SSP
                                      - STD
                                      - SZL
                                      - ฿
                                      - TJS
                                      - TMT
                                      - TND
                                      - TOP
                                      - TRY
                                      - TT$
                                      - NT$
                                      - TZS
                                      - ₴
                                      - UGX
                                      - $U
                                      - BHD
                                      - Bs
                                      - ₫
                                      - VUV
                                      - WST
                                      - XAF
                                      - XAG
                                      - XAU
                                      - XBA
                                      - XBB
                                      - XBC
                                      - BIF
                                      - XBD
                                      - XDR
                                      - XFU
                                      - XOF
                                      - XPD
                                      - XPF
                                      - XPT
                                      - R
                                      - ZMW
                                      - $b
                                      - ؋
                                      - R$
                                      - BTN
                                      - P
                                      - p.
                                      - BZ$
                                      - CDF
                                      - CHE
                                      - CHF
                                      - Lek
                                      - CHW
                                      - CLF
                                      - COU
                                      - ₡
                                      - CUC
                                      - ₱
                                      - CVE
                                      - AMD
                                      - Kč
                                      - DJF
                                      - RD$
                                      - DZD
                                      - ERN
                                      - ETB
                                      - €
                                      - GEL
                                      - GHS
                                      - GMD
                                      - GNF
                                      - Q
                                      - AOA
                                      - L
                                      - kn
                                      - HTG
                                      - Ft
                                      - Rp
                                      - ₪
                                      - INR
                                      - IQD
                                      - ﷼
                                      - kr
                                      - J$
                                      - JOD
                                      - ¥
                                      - KES
                                      - ៛
                                      - KMF
                                      - KWD
                                      - лв
                                      - ₭
                                      - £
                                      - $
                                      - LSL
                                      - Lt
                                      - Ls
                                      - LYD
                                      - ƒ
                                      - MAD
                                      - MDL
                                      - ден
                                      - MMK
                                      - ₮
                                      - MOP
                                      - ₨
                                      - MVR
                                      - MWK
                                      example: £
                                vertical:
                                  $schema: http://json-schema.org/draft-04/schema
                                  title: Vertical
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      example: '1'
                                    name:
                                      type: string
                                      example: Retail
                                status:
                                  enum:
                                  - AVAILABLE
                                  - REQUESTED
                                  - INVITED
                                  - REJECTED
                additionalProperties: false
  /v2/publishers/{publisherId}/discovery/advertisers/{advertiserId}:
    get:
      parameters:
      - name: publisherId
        in: path
        description: ID of the partner
        examples:
        - 1l1007802
        required: true
        schema:
          type: string
      - name: advertiserId
        in: path
        description: ID of the brand
        examples:
        - 1l1007802
        required: true
        schema:
          type: string
      operationId: getBrand
      tags:
      - Brand Discovery (v2)
      summary: Retrieve a Brand
      description: 'Returns one advertiser with a list of campaigns availabe for a partner to join.

        Each campaign will include a `status:` for the partner:-

        * AVAILABLE

        * REQUESTED

        * INVITED

        * REJECTED'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema
                type: object
                title: Advertiser
                properties:
                  advertiser:
                    allOf:
                    - $schema: http://json-schema.org/draft-04/schema#
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        display_name:
                          type: string
                        contact_email:
                          type:
                          - string
                          - 'null'
                        description:
                          type:
                          - string
                          - 'null'
                        advertiser_icon:
                          type:
                          - string
                          - 'null'
                        network:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                        address:
                          title: Postal Address
                          $schema: http://json-schema.org/draft-04/schema
                          type: object
                          properties:
                            line1:
                              anyOf:
                              - type: 'null'
                              - type: string
                            line2:
                              anyOf:
                              - type: 'null'
                              - type: string
                            line3:
                              anyOf:
                              - type: 'null'
                              - type: string
                            line4:
                              anyOf:
                              - type: 'null'
                              - type: string
                            postcode:
                              anyOf:
                              - type: 'null'
                              - type: string
                            country:
                              anyOf:
                              - type: 'null'
                              - type: string
                    - properties:
                        campaigns:
                          type: array
                          title: Campaign
                          items:
                            allOf:
                            - $ref: '#/paths/~1v2~1publishers~1%7BpublisherId%7D~1discovery~1advertisers/get/responses/200/content/application~1json/schema/properties/advertisers/items/allOf/1/properties/campaigns/items'
                            - properties:
                                campaign_icon:
                                  type:
                                  - string
                                  - 'null'
                additionalProperties: false
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
