openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Reporting on Meta data API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- description: Reporting Meta is functionality that allows Brands to generate reports based on specific meta data.
  name: Reporting on Meta data
paths:
  /campaign/{campaign_id}/reporting/meta/reports:
    get:
      parameters:
      - description: ID of the campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    count: 143
                    execution_time: 0.09004 seconds
                    reports:
                    - report:
                        campaign_id: '300685'
                        completed_at: 'null'
                        created_at: '2017-07-13 10:20:50'
                        created_by: '300740'
                        end_date: '2017-01-01 00:00:00'
                        filter:
                        - operator: '='
                          property: status
                          value: approved
                        filter_meta_conversion:
                        - operator: '='
                          property: item_code
                          value: P-123
                        filter_meta_item:
                        - operator: in
                          property: hotel_name
                          value:
                          - marriott
                          - travelodge
                          - premier inn
                        id: 11l011
                        job_id: 11l32133
                        name: Test Report
                        output_currency: GBP
                        start_date: '2016-01-01 00:00:00'
                        status: created
                        updated_at: 'null'
              schema:
                properties:
                  count:
                    description: Number of delivered records
                    type: number
                  execution_time:
                    description: Request duration time
                    type: string
                  reports:
                    items:
                      properties:
                        report:
                          properties:
                            campaign_id:
                              type: string
                            completed_at:
                              type: string
                            created_at:
                              type: string
                            created_by:
                              type: string
                            end_date:
                              type: string
                            filter:
                              type: array
                            filter_meta_conversion:
                              type: array
                            filter_meta_item:
                              type: array
                            id:
                              type: string
                            job_id:
                              type: string
                            name:
                              type: string
                            output_currency:
                              $ref: '#/components/schemas/Currency'
                            start_date:
                              type: string
                            status:
                              enum:
                              - created
                              - completed
                              - running
                              - aborted
                              type: string
                            updated_at:
                              type: string
                          type: object
                      type: object
                    type: array
                type: object
          description: OK
      tags:
      - Reporting on Meta data
      description: ''
      operationId: List all Meta Reports for a Campaign
      summary: List all Meta Reports for a Campaign
    post:
      parameters:
      - description: ID of the campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    execution_time: 0.09004 seconds
                    report:
                      campaign_id: '300685'
                      completed_at: 'null'
                      created_at: '2017-07-13 10:20:50'
                      created_by: '300740'
                      end_date: '2017-01-01 00:00:00'
                      filter:
                      - operator: '='
                        property: status
                        value: approved
                      filter_meta_conversion:
                      - operator: '='
                        property: item_code
                        value: P-123
                      filter_meta_item:
                      - operator: in
                        property: hotel_name
                        value:
                        - marriott
                        - travelodge
                        - premier inn
                      id: 11l011
                      job_id: 11l32133
                      name: Test Report
                      output_currency: GBP
                      start_date: '2016-01-01 00:00:00'
                      status: created
                      updated_at: 'null'
              schema:
                properties:
                  execution_time:
                    description: Request duration time
                    type: string
                  report:
                    properties:
                      campaign_id:
                        type: string
                      completed_at:
                        type: string
                      created_at:
                        type: string
                      created_by:
                        type: string
                      end_date:
                        type: string
                      filter:
                        items: {}
                        type: array
                      filter_meta_conversion:
                        items: {}
                        type: array
                      filter_meta_item:
                        items: {}
                        type: array
                      id:
                        type: string
                      job_id:
                        type: string
                      name:
                        type: string
                      output_currency:
                        $ref: '#/components/schemas/Currency'
                      start_date:
                        type: string
                      status:
                        enum:
                        - created
                        - completed
                        - running
                        - aborted
                        type: string
                      updated_at:
                        type: string
                    type: object
                type: object
          description: Created
      tags:
      - Reporting on Meta data
      operationId: Create Meta Report
      requestBody:
        content:
          application/json:
            schema:
              example:
                end_date: '2017-01-01 00:00:00'
                filter:
                - operator: '='
                  property: status
                  value: approved
                filter_meta_conversion:
                - operator: '='
                  property: item_code
                  value: P-123
                filter_meta_item:
                - operator: in
                  property: hotel_name
                  value:
                  - marriott
                  - travelodge
                  - premier inn
                name: Test Report
                output_currency: GBP
                start_date: '2016-01-01 00:00:00'
              properties:
                filter:
                  description: The filter options for the report
                  type: array
                filter_meta_conversion:
                  description: The conversion filter options for the report
                  type: array
                filter_meta_item:
                  description: The item filter options for the report
                  type: array
                name:
                  description: Name of the report
                  type: string
                output_currency:
                  description: Requested currency for aggregated results. Default value will be Campaign default currency
                  $ref: '#/components/schemas/Currency'
                start_date:
                  description: Start Date of the report
                  type: string
                end_date:
                  description: End Date of the report
                  type: string
              required:
              - name
              - start_date
              - end_date
              - filter
              - filter_meta_conversion
              - filter_meta_item
              type: object
      summary: Create a Meta Report for a Campaign
  /campaign/{campaign_id}/reporting/meta/reports/{report_id}:
    delete:
      parameters:
      - description: ID of the campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      - description: ID of the report
        example: '123'
        in: path
        name: report_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    delete_report:
                      success: true
                    execution_time: 0.09004 seconds
              schema:
                properties:
                  delete_report:
                    properties:
                      success:
                        type: boolean
                    type: object
                  execution_time:
                    description: Request duration time
                    type: string
                type: object
          description: OK
      tags:
      - Reporting on Meta data
      operationId: Delete Meta Report
      summary: Delete a Meta Report for a Campaign
    get:
      parameters:
      - description: ID of the campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      - description: ID of the report
        example: '123'
        in: path
        name: report_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    execution_time: 0.09004 seconds
                    report:
                      campaign_id: '300685'
                      completed_at: 'null'
                      created_at: '2017-07-13 10:20:50'
                      created_by: '300740'
                      end_date: '2017-01-01 00:00:00'
                      filter:
                      - operator: '='
                        property: status
                        value: approved
                      filter_meta_conversion:
                      - operator: '='
                        property: item_code
                        value: P-123
                      filter_meta_item:
                      - operator: in
                        property: hotel_name
                        value:
                        - marriott
                        - travelodge
                        - premier inn
                      id: 11l011
                      job_id: 11l32133
                      name: Test Report
                      output_currency: GBP
                      start_date: '2016-01-01 00:00:00'
                      status: created
                      updated_at: 'null'
              schema:
                properties:
                  execution_time:
                    description: Request duration time
                    type: string
                  report:
                    properties:
                      campaign_id:
                        type: string
                      completed_at:
                        type: string
                      created_at:
                        type: string
                      created_by:
                        type: string
                      end_date:
                        type: string
                      filter:
                        items: {}
                        type: array
                      filter_meta_conversion:
                        items: {}
                        type: array
                      filter_meta_item:
                        items: {}
                        type: array
                      id:
                        type: string
                      job_id:
                        type: string
                      name:
                        type: string
                      output_currency:
                        $ref: '#/components/schemas/Currency'
                      start_date:
                        type: string
                      status:
                        enum:
                        - created
                        - completed
                        - running
                        - aborted
                        type: string
                      updated_at:
                        type: string
                    type: object
                type: object
          description: OK
      tags:
      - Reporting on Meta data
      operationId: Retrieve Meta Report
      summary: Retrieve a Meta Report for a Campaign
  /campaign/{campaign_id}/reporting/meta/reports/{report_id}/results:
    get:
      parameters:
      - description: ID of the campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      - description: ID of the report
        example: '123'
        in: path
        name: report_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    execution_time: 0.09004 seconds
                    report_result:
                      '{"hotel_name":"marriott"}':
                        commission: 268761.889889
                        count: 3
                        currency: JPY
                        ecpa: 11654146.437911
                        order_value: 3839455.569847
                        partner_commission: 268761.889889
              schema:
                properties:
                  execution_time:
                    description: Request duration time
                    type: string
                  report_result:
                    properties:
                      '{"hotel_name":"marriott"}':
                        properties:
                          commission:
                            type: number
                          count:
                            type: number
                          currency:
                            type: string
                          ecpa:
                            type: number
                          order_value:
                            type: number
                          partner_commission:
                            type: number
                        type: object
                    type: object
                type: object
          description: OK
      tags:
      - Reporting on Meta data
      description: The endpoint allows you to retrieve the results of a specified Meta Report for a Campaign. The endpoint supports `.csv` format. Use `../campaign/{campaign_id}/reporting/meta/reports/{report_id}/results.csv` to export the results as a csv file.
      operationId: View Meta Report Results
      summary: View the results of a Meta Report for a Campaign
  /campaign/{campaign_id}/reporting/meta/values:
    get:
      parameters:
      - description: ID of the campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    meta_values:
                      conversion:
                        conversion_key_name_1:
                        - value_1
                        - value_2
                        - value_3
                      item:
                        item_key_name_1:
                        - value_1
                        - value_2
                        - value_3
              schema:
                properties:
                  meta_values:
                    properties:
                      conversion:
                        description: Value list for Conversion level
                        properties:
                          conversion_key_name_1:
                            items:
                              type: string
                            type: array
                        type: object
                      item:
                        description: Value list for Item level
                        properties:
                          item_key_name_1:
                            items:
                              type: string
                            type: array
                        type: object
                    type: object
                type: object
          description: OK
      tags:
      - Reporting on Meta data
      operationId: List Meta Values
      summary: List all Meta Values for a Campaign
  /campaign/{campaign_id}/reporting/meta/whitelist:
    get:
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    whitelist:
                      conversion:
                      - conversion_key_name_1
                      - conversion_key_name_2
                      item:
                      - item_key_name_1
                      - item_key_name_2
              schema:
                properties:
                  whitelist:
                    description: Key list for Conversion level
                    properties:
                      conversion:
                        items:
                          type: string
                        type: array
                      item:
                        description: Key list for Item level
                        items:
                          type: string
                        type: array
                    type: object
                type: object
          description: OK
      tags:
      - Reporting on Meta data
      operationId: List Meta Whitelist Keys
      summary: List all Meta Whitelist Keys for a Campaign
components:
  schemas:
    Currency:
      enum:
      - GBP
      - USD
      - EUR
      - JPY
      type: string
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
