openapi: 3.2.0
info:
  title: Partnerize Partners Commission Groups (v1) API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Commission Groups (v1)
paths:
  /user/publisher/{publisherId}/commission_group:
    get:
      operationId: get-partner-commission-groups
      tags:
      - Commission Groups (v1)
      summary: List Partner Commission Groups
      description: This endpoint lists all commission groups for a partner.
      parameters:
      - in: path
        name: publisherId
        description: The ID of a Partner
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Commission Groups List
          content:
            application/json:
              examples:
                response:
                  value:
                    count: 2
                    execution_time: 0.02571 seconds
                    commission_groups:
                    - commission_group:
                        commission_group_id: 1011l1
                        campaign_id: 1
                        name: The_group
                        description: ''
                        start_date_time: '2018-11-01 12:00:00'
                      end_date_time: null
                      active: y
                      last_modified: '2018-11-29 14:57:05'
                    - commission_group:
                        commission_group_id: 1011l16
                        campaign_id: 300659
                        name: Blog
                        description: ''
                        start_date_time: '2019-06-03 11:00:00'
                      end_date_time: null
                      active: n
                      last_modified: '2019-07-29 11:03:32'
              schema:
                properties:
                  count:
                    type: number
                  execution_time:
                    type: string
                  commission_groups:
                    items:
                      properties:
                        commission_group:
                          properties:
                            commission_group_id:
                              description: the Id of the commission group
                              type: string
                            campaign_id:
                              description: the Id of the campaign
                              type: string
                            name:
                              description: the name of the campaign group
                              type: string
                            description:
                              type: string
                            start_date_time:
                              type: string
                            end_date_time:
                              type: string
                            active:
                              $ref: '#/components/schemas/YesOrNo'
                            last_modified:
                              type: string
                          type: object
                      type: object
                    type: array
                type: object
components:
  schemas:
    YesOrNo:
      enum:
      - y
      - n
      type: string
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
