openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Campaign v3 API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Campaign v3
paths:
  /v3/brand/campaigns:
    get:
      summary: List campaigns
      operationId: listCampaigns
      description: Return a list of campaigns of the logged-in user's brand
      tags:
      - Campaign v3
      parameters:
      - name: brand_id
        in: query
        description: Brand ID to filter campaigns by
        schema:
          type: string
      responses:
        '200':
          description: Request Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-07/schema#
                type: object
                title: v3 Campaign list response
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/paths/~1v3~1brand~1campaigns~1%7BcampaignId%7D/get/responses/200/content/application~1json/schema/properties/data'
  /v3/brand/campaigns/{campaignId}:
    get:
      summary: Get campaign
      operationId: getCampaign
      description: Return information about a single campaign from the provided ID.
      tags:
      - Campaign v3
      parameters:
      - name: campaignId
        in: path
        description: The ID of the Partnerize campaign to be returned
        required: true
        schema:
          type: string
      - name: extra_info
        in: query
        description: Comma-separated list of extra_info to fetch; defaults to none; supply `*` to fetch all; unknown values will be ignored
        schema:
          type: string
          example: allow_deep_linking,campaign_logo
      responses:
        '200':
          description: Request Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-07/schema#
                type: object
                title: v3 Campaign response
                properties:
                  data:
                    $schema: http://json-schema.org/draft-07/schema#
                    type: object
                    title: Campaign
                    properties:
                      id:
                        type: string
                        description: Unique identifier of a Campaign
                        examples:
                        - 10l176
                      title:
                        type: string
                        description: Human readable title of a Campaign
                        examples:
                        - PHG Aff Demo
                      brand:
                        type: object
                        description: This Campaign's brand
                        properties:
                          id:
                            type: string
                            description: Unique identifier of a Brand
                            examples:
                            - 10l110
                          name:
                            type: string
                            description: Human readable name of a Brand
                            examples:
                            - PHG Aff
                          display_name:
                            type:
                            - string
                            - 'null'
                            description: Human readable display name of a Brand
                            examples:
                            - PHG Affiliations
                      extra_info:
                        type: object
                        description: Requested extra_info if any, otherwise this key is missing
                        additionalProperties:
                          type: string
                        examples:
                        - shopify_shop_id: 123abc
    patch:
      summary: Partial campaign update
      operationId: partialUpdateCampaign
      description: Update some information of a campaign.
      tags:
      - Campaign v3
      parameters:
      - name: campaignId
        in: path
        description: The ID of the Partnerize campaign to be returned
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              title: v3 Partial Update request
              properties:
                extra_info:
                  type: object
                  description: Any campaign extra_info to update. Key must be a supported extra_info.
                  additionalProperties:
                    type: string
                  examples:
                  - shopify_shop_id: 123abc
      responses:
        '204':
          description: Success
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
