openapi: 3.2.0
info:
  title: Partnerize Partners Voucher Codes (v1) API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Voucher Codes (v1)
paths:
  /user/publisher/{publisher_id}/campaign/{campaign_id}/voucher:
    get:
      parameters:
      - description: ID of the partner
        example: 1l1007802
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
      - description: ID of the campaign
        example: 111111l13
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    count: 1
                    commission_fields:
                    - conversion_type
                    - customer_reference
                    - advertiser_reference
                    - country
                    - vertical
                    - sku
                    - cookie_status
                    - category
                    - customer_type
                    voucher_codes:
                    - voucher_code:
                        active: y
                        campaign_id: 10l176
                        commission_groups: []
                        description: ''
                        end_date_time: '2013-09-30 15:00:00'
                        on_expiry: ignore
                        on_invalid_user: ignore
                        start_date_time: '2013-08-31 15:00:00'
                        voucher_code: promocode
                        voucher_code_id: 111111l1000015
              schema:
                properties:
                  commission_fields:
                    items:
                      type: string
                    type: array
                  voucher_codes:
                    items:
                      $ref: '#/components/schemas/Voucher_Code'
                    type: array
                type: object
          description: OK
      tags:
      - Voucher Codes (v1)
      description: View all Voucher codes for a campaign that the Partner is associated with
      operationId: List Campaign Voucher Codes
      summary: List Campaign Voucher Codes
components:
  schemas:
    YesOrNo:
      enum:
      - y
      - n
      type: string
    Commission_Group_Wrapper:
      properties:
        commission_group:
          $ref: '#/components/schemas/Commission_Group'
      type: object
    Commission_Group:
      properties:
        campaign_id:
          description: ID of the campaign
          type: string
        description:
          type: string
        name:
          type: string
        publishers:
          description: IDs of the publishers to be associated with the group
          items:
            type: string
          type: array
        active:
          $ref: '#/components/schemas/YesOrNo'
        commission_group_id:
          description: ID of the commission group
          type: string
        last_modified:
          type: string
      required:
      - name
      - campaign_id
      type: object
    Voucher_Code:
      properties:
        commission_groups:
          description: Commission groups associated with the voucher
          items:
            $ref: '#/components/schemas/Commission_Group_Wrapper'
          type: array
        description:
          type: string
        voucher_code:
          type: string
        active:
          $ref: '#/components/schemas/YesOrNo'
        campaign_id:
          description: ID of the Campaign
          type: string
        on_expiry:
          type: string
        on_invalid_user:
          type: string
        voucher_code_id:
          description: ID of the Voucher Code
          type: string
        start_date_time:
          type: string
        end_date_time:
          type: string
      type: object
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
