openapi: 3.2.0
info:
  title: Partnerize Partners Summary API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Summary
paths:
  /user/publisher/{publisher_id}/payment/summary:
    get:
      parameters:
      - description: ID of the partner
        example: 1l1007802
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    execution_time: 2.25885 seconds
                    summary:
                      available:
                        CAD: 12.45
                        AUD: 0.4
                      confirmed:
                        EUR: 11
                        GBP: 54.2
                      pending:
                        EUR: 125.11
                        GBP: 57.65
                        JPY: 97
                      approved:
                        GBP: 90.8
                        USD: 100.23
                      paid:
                        PLN: 68.96
              schema:
                $ref: '#/components/schemas/Partner_Payment_Summary'
          description: OK
      tags:
      - Summary
      description: Return the details of partner's pending (shows value of pending conversions), approved (shows value of approved conversions), confirmed (amount that will be available once brand's invoice is paid), available (amount of money available to withdraw in this moment), and paid (already withdrawn) funds.
      operationId: Partner payments summary
      summary: Summarise value of partner's conversions
components:
  schemas:
    Partner_Payment_Summary:
      properties:
        execution_time:
          type: string
        summary:
          properties:
            available:
              description: Amount of money available to the partner to withdraw
              title: The propery name* is the currency code and the value is amount of money, e.g. 'GBP':'12.45'
              additionalProperties:
                type: number
                description: Amount of money
              type: object
            confirmed:
              description: Amount that will be available once issued brand's invoices are paid
              title: The propery name* is the currency code and the value is amount of money, e.g. 'GBP':'12.45'
              additionalProperties:
                type: number
                description: Amount of money
              type: object
            pending:
              description: Total value of pending conversions
              title: The propery name* is the currency code and the value is amount of money, e.g. 'GBP':'12.45'
              additionalProperties:
                type: number
                description: Amount of money
              type: object
            approved:
              description: Total value of approved conversions
              title: The propery name* is the currency code and the value is amount of money, e.g. 'GBP':'12.45'
              additionalProperties:
                type: number
                description: Amount of money
              type: object
            paid:
              description: Amount already paid
              title: The propery name* is the currency code and the value is amount of money, e.g. 'GBP':'12.45'
              additionalProperties:
                type: number
                description: Amount of money
              type: object
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
