openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Transaction Query Reasons API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Transaction Query Reasons
paths:
  /campaign/{campaign_id}/tq_reasons:
    get:
      parameters:
      - description: ID of a Campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    count: 1
                    execution_time: 0.08001 seconds
                    transaction_query_reasons:
                    - transaction_query_reason:
                        campaign_id: 10l176
                        created_at: '2017-01-01 00:00:00'
                        reason: Example reason
                        transaction_query_reason_id: 111111l3
              schema:
                properties:
                  count:
                    type: number
                  execution_time:
                    type: string
                  transaction_query_reasons:
                    items:
                      $ref: '#/components/schemas/Transaction_Query_Reason'
                    type: array
                type: object
          description: OK
      tags:
      - Transaction Query Reasons
      description: Return the details of all saved Transaction Query Reasons.
      operationId: List Transaction Query Reasons
      summary: List Transaction Query Reasons for a Campaign
    post:
      parameters:
      - description: ID of a Campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    execution_time: 0.08001 seconds
                    transaction_query_reason:
                      campaign_id: 10l176
                      created_at: '2017-01-01 00:00:00'
                      reason: Example reason
                      transaction_query_reason_id: 111111l3
              schema:
                $ref: '#/components/schemas/Transaction_Query_Reason'
          description: OK
        '400':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    error:
                      fields: {}
                      message: Reason already exists
                      type: Validation Fail
              schema:
                properties:
                  error:
                    properties:
                      fields:
                        properties: {}
                        type: object
                      message:
                        type: string
                      type:
                        type: string
                    type: object
                type: object
          description: Bad Request
      tags:
      - Transaction Query Reasons
      description: Create a new saved Transaction Query reason.
      operationId: Create a Transaction Query Reason
      requestBody:
        content:
          application/json:
            schema:
              example:
                reason: Example reason
              properties:
                reason:
                  description: The reason for rejecting a Transaction Query
                  type: string
              required:
              - reason
              type: object
      summary: Create a Transaction Query Reason for a Campaign
  /campaign/{campaign_id}/tq_reasons/{transaction_query_reason_id}/delete:
    post:
      parameters:
      - description: ID of a Campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      - description: ID of the Transaction Query Reason
        example: 111111l3
        in: path
        name: transaction_query_reason_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    execution_time: 0.08001 seconds
                    transaction_query_reason:
                      deleted: 'true'
              schema:
                properties:
                  execution_time:
                    type: string
                  transaction_query_reason:
                    properties:
                      deleted:
                        type: string
                    type: object
                type: object
          description: OK
        '404':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    error:
                      message: Transaction Query Reason not found
                      type: '404'
              schema:
                properties:
                  error:
                    properties:
                      message:
                        type: string
                      type:
                        type: string
                    type: object
                type: object
          description: Not Found
      tags:
      - Transaction Query Reasons
      description: Delete a saved Transaction Query Reason for a Campaign.
      operationId: Delete a Transaction Query Reason
      summary: Delete a Transaction Query Reason for a Campaign
components:
  schemas:
    Transaction_Query_Reason:
      properties:
        campaign_id:
          type: string
        created_at:
          type: string
        reason:
          type: string
        transaction_query_reason_id:
          type: string
      type: object
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
