openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Brand Conversions API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Brand Conversions
paths:
  /reporting/report_advertiser/campaign/{campaign_id}/conversion.{format}:
    get:
      parameters:
      - description: ID of the Campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      - description: Format for the response
        example: json
        in: path
        name: format
        required: true
        schema:
          enum:
          - json
          - xml
          type: string
      - description: Start date for data to be included in the report
        example: '2016-02-30T05:15:32Z'
        in: query
        name: start_date
        required: true
        schema:
          type: string
      - description: End date for data to be included in the report
        example: '2016-03-10T19:02:35Z'
        in: query
        name: end_date
        required: false
        schema:
          type: string
      - description: Restricts the results to one of the following - this hour, last hour, today, yesterday, this week, last week, last X days, this month, last month, this year, last year.
        example: yesterday
        in: query
        name: text_date
        required: false
        schema:
          type: string
      - description: Enforce a specified Timezone.
        example: Europe/London
        in: query
        name: timezone
        required: false
        schema:
          type: string
      - description: Filter the results by the specified currency
        example: USD
        in: query
        name: currency[]
        required: false
        schema:
          $ref: '#/components/schemas/Currency'
      - description: This parameter to run the report for conversions that have been updated. When you specify `last_modified` or `approved_at` the response will only include conversions that were last modified or approved at in a date within the report date range.
        example: last_modified
        in: query
        name: date_type
        required: false
        schema:
          type: string
      - description: 'Add a secondary pivot filter. You need to specify the pivot parameter name and the value to filter by. E.g. multipivot[publisher][]=111111l29. Supported values are: `publisher`, `product`, `advertiser_reference`.'
        example: value
        in: query
        name: multipivot[{pivot}][]
        required: false
        schema:
          type: string
      - description: Filter by statuses. Available values - approved, pending, rejected
        example: approved
        in: query
        name: statuses[]
        required: false
        schema:
          type: string
      - description: 'Include payment information. Omit parameter or false to exclude, which is the default. Fields included are:

          + payment_status

          + invoice_create_date

          + invoice_paid_date'
        example: true
        in: query
        name: include_payment_info
        required: false
        schema:
          type: boolean
      - description: Offset the results by a given amount. Defaults to 0.
        example: '0'
        in: query
        name: offset
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    total_conversion_count:
                      USD: 1
                    total_commission_value:
                      USD: 44
                    total_publisher_commission:
                      USD: 40
                    total_value:
                      USD: 400
                    start_date_time_utc: '2019-08-10 00:00:00'
                    end_date_time_utc: null
                    start_date_time: '2020-05-13 00:00:00'
                    end_date_time: '2020-05-13 00:00:00'
                    limit: 300
                    meta_data: []
                    count: 1
                    execution_time: 1.97706 seconds
                    conversions:
                    - conversion_data:
                        conversion_id: 111111l10
                        campaign_id: 111111l26
                        publisher_id: 111111l92
                        conversion_time: '2020-05-13 00:00:00'
                        device_id: 111111l12
                        creative_type: 0
                        creative_id: 0
                        specific_creative_id: 0
                        currency: USD
                        advertiser_reference: adrefc
                        conversion_reference: AUTO-5ebc12334abb39.26532332
                        customer_type: null
                        referer_ip: 33c0:7b2c:2cad:5eb:a6cd:b312:111a:cf23
                        source_referer: ''
                        last_modified: '2020-05-13 15:28:51'
                        conversion_type: 1
                        country: US
                        customer_reference: custrefc
                        ref_device_id: 2
                        ref_partnership_model_id: 2
                        ref_traffic_source_id: 3
                        ref_conversion_metric_id: 2
                        ref_user_context_id: 2
                        campaign_title: rubycampaigncoybwvsv
                        publisher_name: null
                        click:
                          click_id: 111111l12
                          device_id: 111111l12
                          campaign_id: 111111l26
                          publisher_id: 111111l92
                          type: standard
                          status: nibbled
                          set_time: '2020-05-13 00:00:00'
                          set_ip: 33c0:7b2c:2cad:5eb:a6cd:b312:111a:cf23
                          last_used: 1589383731
                          last_ip: 33c0:7b2c:2cad:5eb:a6cd:b312:111a:cf23
                          advertiser_reference: ''
                          referer: ''
                          creative_id: 0
                          creative_type: 0
                          specific_creative_id: 0
                          country: US
                          ref_device_id: 2
                          ref_traffic_source_id: 3
                          ref_partnership_model_id: 2
                          ref_user_context_id: 2
                          ref_device: Desktop
                          ref_traffic_source: Affiliate
                          ref_partnership_model: CPA
                          ref_user_context: Web
                          clickref: 111111lk
                        ref_conversion_metric: Standard
                        ref_device: Desktop
                        ref_partnership_model: CPA
                        ref_traffic_source: Affiliate
                        ref_user_context: Web
                        conversion_value:
                          conversion_value_id: 111111l10
                          conversion_status: pending
                          value: 400
                          commission: 44
                          publisher_commission: 40
                        meta_data:
                          gclid: adword_google_meta_data
                        conversion_items:
                        - conversion_item_id: 111111l10
                          sku: 123
                          category: Product
                          item_value: 400
                          item_commission: 44
                          item_publisher_commission: 40
                          item_status: pending
                          invoice_id: null
                          last_update: '2020-05-13 15:28:51'
                          display_to_publisher: 1
                          approved_at: null
                          item_status_id: 1
                          reject_reason: null
                          voucher_codes: []
                          meta_data:
                            gclid: adword_google_meta_data
                        was_disputed: false
                        currency_original: ''
                        currency_conversion_rate: ''
                        conversion_lag: 0
                        clickref: 111111lk
              schema:
                $ref: '#/components/schemas/Brand_Conversions'
          description: OK
      tags:
      - Brand Conversions
      description: Return a mix of aggregated and basket/item level conversion data for a brand.
      operationId: brand-conversions
      summary: Retrieve a Brand Conversions Report
components:
  schemas:
    Conversion_Item:
      properties:
        conversion_item_id:
          type: string
        sku:
          type: number
        category:
          type: string
        item_value:
          type: number
        item_publisher_commission:
          type: number
        item_status:
          type: string
        invoice_id:
          type: string
        last_update:
          type: string
        display_to_publisher:
          enum:
          - 0
          - 1
          type: number
        approved_at:
          type: string
        item_status_id:
          type: number
        reject_reason:
          type: string
        voucher_codes: []
        meta_data:
          type: array
          description: Key value pairs of meta data
          items:
            properties:
              key:
                description: A key value pair.
                type: string
      type: object
    Brand_Conversions:
      properties:
        total_conversion_count:
          description: 'conversion count for each currency. E.g. "USD": 25, "EUR": 37'
          type: object
          properties:
            currency_iso:
              description: 'key value pairs where the currency iso is the key. E.g. EUR: 37'
              type: number
        total_commission_value:
          description: 'total commission value for each currency. E.g. "USD": 250.5, "EUR": 180.9'
          type: object
          properties:
            currency_iso:
              description: 'key value pairs where the currency iso is the key. E.g. EUR: 37'
              type: number
        total_publisher_commission:
          description: 'total publisher commission for each currency. E.g. "USD": 250.5, "EUR": 180.9'
          type: object
          properties:
            currency_iso:
              description: 'key value pairs where the currency iso is the key. E.g. EUR: 37'
              type: number
        total_value:
          description: 'total order value. E.g. "USD": 435.5, "EUR": 267.9'
          type: object
          properties:
            currency_iso:
              description: 'key value pairs where the currency iso is the key. E.g. EUR: 37'
              type: number
        start_date_time_utc:
          type: string
        end_date_time_utc:
          type: string
        start_date_time:
          type: string
        end_date_time:
          type: string
        limit:
          type: number
        meta_data:
          type: array
          description: Key value pairs of meta data
          items:
            properties:
              key:
                description: A key value pair.
                type: string
        count:
          type: number
        execution_time:
          type: string
        conversions:
          type: array
          items:
            $ref: '#/components/schemas/Conversion_Data'
      type: object
    Currency:
      enum:
      - GBP
      - USD
      - EUR
      - JPY
      type: string
    Country:
      enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - XK
      - YE
      - YT
      - ZA
      - ZM
      - ZW
      type: string
    Conversion_Data:
      properties:
        conversion_id:
          description: Id of the conversion
          example: 111111l314
          type: string
        campaign_id:
          description: Id of the campaign
          example: 111111l29
          type: string
        publisher_id:
          description: Id of the partner
          example: 111111l92
          type: string
        conversion_time:
          type: string
        cookie_id:
          type: string
        creative_type:
          type: number
        creative_id:
          type: number
        specific_creative_id:
          type: number
        currency:
          $ref: '#/components/schemas/Currency'
        advertiser_reference:
          type: string
        conversion_reference:
          type: string
        customer_type:
          enum:
          - new
          - existing
          type: string
        referer_ip:
          type: string
        source_referer:
          type: string
        last_modified:
          type: string
        conversion_type:
          description: the conversion type id
          type: number
        country:
          $ref: '#/components/schemas/Country'
        customer_reference:
          type: string
        ref_device_id:
          type: number
        ref_partnership_model_id:
          type: number
        ref_traffic_source_id:
          type: number
        ref_conversion_metric_id:
          type: number
        ref_user_context_id:
          type: number
        campaign_title:
          type: string
        publisher_name:
          type: string
        click:
          $ref: '#/components/schemas/Click'
        ref_conversion_metric:
          type: string
        ref_device:
          type: string
        ref_partnership_model:
          type: string
        ref_traffic_source:
          type: string
        ref_user_context:
          type: string
        conversion_value:
          properties:
            conversion_status:
              $ref: '#/components/schemas/Conversion_Status'
            value:
              type: number
          commission:
            type: number
          publisher_commission:
            type: number
        meta_data:
          type: array
          description: Key value pairs of meta data
          items:
            properties:
              key:
                description: A key value pair.
                type: string
        conversion_items:
          type: array
          items:
            $ref: '#/components/schemas/Conversion_Item'
        was_disputed:
          type: boolean
        currency_original:
          $ref: '#/components/schemas/Currency'
        currency_conversion_rate:
          type: string
        conversion_lag:
          type: number
        clickref:
          type: string
      type: object
    Conversion_Status:
      enum:
      - pending
      - approved
      - rejected
      type: string
    Click:
      properties:
        click_id:
          type: string
        cookie_id:
          type: string
        campaign_id:
          description: Id of the campaign
          example: 111111l29
          type: string
        publisher_id:
          description: Id of the partner
          example: 111111l92
          type: string
        type:
          type: string
        status:
          type: string
        set_time:
          type: string
        set_ip:
          type: string
        last_used:
          type: number
        last_ip:
          type: string
        advertiser_reference:
          type: string
        referer:
          type: string
        creative_id:
          type: number
        creative_type:
          type: number
        specific_creative_id:
          type: number
        ref_device_id:
          type: number
        ref_traffic_source_id:
          type: number
        ref_partnership_model_id:
          type: number
        ref_user_context_id:
          type: number
        ref_device:
          type: string
        ref_traffic_source:
          type: string
        ref_partnership_model:
          type: string
        ref_user_context:
          type: string
        clickref:
          type: string
      type: object
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
