openapi: 3.2.0
info:
  title: Partnerize Partners Self Billing API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- description: Once funds have been received from the Brand, Partnerize will allocate all Commissions to the relevant Partners.
  name: Self-billing
paths:
  /user/publisher/{publisher_id}/selfbill:
    get:
      parameters:
      - description: ID of the partner
        example: 1l1007802
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
      - description: Selfbill created from start date
        example: '2020-02-19 14:29:33'
        in: query
        name: start_date
        required: false
        schema:
          type: string
      - description: Selfbill created till end date
        example: '2020-02-19 17:29:33'
        in: query
        name: end_date
        required: false
        schema:
          type: string
      - description: Tracked currency
        example: GBP
        in: query
        name: currency
        required: false
        schema:
          type: string
      - description: Payment status
        example: created
        in: query
        name: status
        required: false
        schema:
          type: string
      - description: Payment paid from start date
        example: '2020-02-19 14:29:33'
        in: query
        name: payment_start_date
        required: false
        schema:
          type: string
      - description: Payment paid till end date
        example: '2020-02-19 17:29:33'
        in: query
        name: payment_end_date
        required: false
        schema:
          type: string
      - description: Paid currency
        example: GBP
        in: query
        name: paid_currency
        required: false
        schema:
          type: string
      - description: Selfbill currency
        example: GBP
        in: query
        name: selfbill_currency
        required: false
        schema:
          type: string
      - description: Field to sort the results by
        example: paid_currency
        in: query
        name: order
        required: false
        schema:
          type: string
      - description: Direction to sort the results by
        example: ASC
        in: query
        name: order_dir
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    selfbills:
                    - selfbill:
                        creation_date: '2012-07-25 14:22:35'
                        download: null
                        item_download: null
                        items_in_bill: 5
                        legal_entity: GB
                        majority_received_currency: GBP
                        net_value: 430.17
                        paid_currency: GBP
                        payment_batch_id: null
                        payment_date: null
                        payment_detail_set_id: 24
                        publisher_id: 1l1007802
                        publisher_payment_detail_set_id: 111111l80
                        publisher_self_bill_id: 1011l5403
                        publisher_self_bill_reference: null
                        self_bill_reference: S-1l1007802-1011l5403
                        selfbill_currency: GBP
                        status: created
                        timestamp: '2012-07-25 14:22:35'
                        total_value: 430.17
                        tracked_currency: GBP
                        tracked_net_value: 430.17
                        vat_rate: 0
                        vat_value: 0
                        withheld_tax: 0
              schema:
                properties:
                  selfbills:
                    items:
                      $ref: '#/components/schemas/Selfbill'
                    type: array
                type: object
          description: OK
      tags:
      - Self-billing
      description: View all Self-billing invoices that have been created for the partner.
      operationId: List all Selfbills
      summary: List all Selfbills
  /user/publisher/{publisher_id}/selfbill/{publisher_self_bill_id}:
    get:
      parameters:
      - description: ID of the partner
        example: 1l1007802
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
      - description: ''
        example: 1011l5403
        in: path
        name: publisher_self_bill_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    selfbill:
                      creation_date: '2012-07-25 14:22:35'
                      download: null
                      item_download: null
                      items_in_bill: 5
                      legal_entity: GB
                      majority_received_currency: GBP
                      net_value: 430.17
                      paid_currency: GBP
                      payment_batch_id: null
                      payment_date: null
                      payment_detail_set_id: 24
                      publisher_id: 1l1007802
                      publisher_payment_detail_set_id: 111111l80
                      publisher_self_bill_id: 1011l5403
                      publisher_self_bill_reference: null
                      self_bill_reference: S-1l1007802-1011l5403
                      selfbill_currency: GBP
                      status: created
                      timestamp: '2012-07-25 14:22:35'
                      total_value: 430.17
                      tracked_currency: GBP
                      tracked_net_value: 430.17
                      vat_rate: 0
                      vat_value: 0
                      withheld_tax: 0
              schema:
                $ref: '#/components/schemas/Selfbill'
          description: OK
      tags:
      - Self-billing
      description: Retrieve an individual Self-billing invoice.
      operationId: Retrieve a Selfbill
      summary: Retrieve a Self-billing invoice
components:
  schemas:
    Currency:
      enum:
      - GBP
      - USD
      - EUR
      - JPY
      type: string
    Country:
      enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - XK
      - YE
      - YT
      - ZA
      - ZM
      - ZW
      type: string
    Selfbill:
      properties:
        selfbill:
          properties:
            creation_date:
              type: string
            download:
              description: URL for PDF download
              type:
              - string
              - 'null'
            item_download:
              description: URL for CSV item download
              type:
              - string
              - 'null'
            items_in_bill:
              type: number
            legal_entity:
              $ref: '#/components/schemas/Country'
            majority_received_currency:
              $ref: '#/components/schemas/Currency'
            net_value:
              type: number
            paid_currency:
              $ref: '#/components/schemas/Currency'
            payment_batch_id:
              type:
              - string
              - 'null'
            payment_date:
              type:
              - string
              - 'null'
            payment_detail_set_id:
              type: number
            publisher_id:
              description: ID of the partner
              type: string
            publisher_payment_detail_set_id:
              type:
              - string
              - 'null'
            publisher_self_bill_id:
              type: string
            publisher_self_bill_reference:
              type:
              - string
              - 'null'
            self_bill_reference:
              type: string
            selfbill_currency:
              $ref: '#/components/schemas/Currency'
            status:
              enum:
              - created
              type: string
            timestamp:
              type: string
            total_value:
              type: number
            tracked_currency:
              $ref: '#/components/schemas/Currency'
            tracked_net_value:
              type: number
            vat_rate:
              type: number
            vat_value:
              type: number
            withheld_tax:
              type: number
          type: object
      type: object
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
