openapi: 3.2.0
info:
  title: Partnerize Partners Exports API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Exports
  description: 'Depending on the query parameters, an export request may need to be processed asynchronously. When that happens a background job will be automatically created, and the API response will describe the job rather than the export (see Jobs v1).


    If the `complete_email` parameter has been set the export will be sent to the given address once the background job is complete.'
paths:
  /reporting/export/export/click.csv:
    get:
      parameters:
      - description: ID of the partner.
        example: 1l1007802
        in: query
        name: publisher_id
        required: true
        schema:
          type: string
      - description: Start date for data to be included in the report
        example: '2016-02-30T05:15:32Z'
        in: query
        name: start_date
        required: true
        schema:
          type: string
      - description: End date for data to be included in the report
        example: '2016-03-10T19:02:35Z'
        in: query
        name: end_date
        required: true
        schema:
          type: string
      - description: Force a specified Timezone
        example: Europe/London
        in: query
        name: timezone
        required: false
        schema:
          type: string
      - description: When used in conjunction with limit=0 send a link to the CSV when generation is complete
        example: me@example.com
        in: query
        name: complete_email
        required: false
        schema:
          type: string
      - description: When set to zero, attempt to download everything
        example: '0'
        in: query
        name: limit
        required: false
        schema:
          type: string
      - description: Add a prefix to the report filename
        example: JanSales
        in: query
        name: export_reference
        required: false
        schema:
          type: string
      - description: '+ `UTF-8` - Default encoding


          + `UTF-16`'
        example: UTF-8
        in: query
        name: encoding
        required: false
        schema:
          type: string
      - description: 'Choose the delimiter for separating values


          + comma


          + tab


          + pipe'
        example: comma
        in: query
        name: delimiter
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/octet-stream; charset=UTF-8:
              examples:
                response:
                  value: 'click_id,cookie_id,campaign_id,publisher_id,status,set_time,set_ip,last_used,last_ip,advertiser_reference,referer,creative_id,creative_type,specific_creative_id,country,publisher_name

                    111111l2210,111111l2136,10l176,1l1007802,nibbled,"2016-03-02 10:11:36",127.0.0.1,"2016-06-17 19:13:09",127.0.0.1,,,0,0,0,GB,apipublisher123

                    '
          description: OK
      tags:
      - Exports
      description: Request a CSV for a granular Click report for the Partner and within the requested time period.
      operationId: Export Clicks
      summary: Export a Clicks Report
  /reporting/export/export/conversion.csv:
    get:
      parameters:
      - description: ID of the partner.
        example: 1l1007802
        in: query
        name: publisher_id
        required: true
        schema:
          type: string
      - description: Start date for data to be included in the report
        example: '2016-02-30T05:15:32Z'
        in: query
        name: start_date
        required: true
        schema:
          type: string
      - description: End date for data to be included in the report
        example: '2016-03-10T19:02:35Z'
        in: query
        name: end_date
        required: true
        schema:
          type: string
      - description: 'Alter the context of what the dates ranges apply to


          + standard - The default selection, range is beased on conversion_time


          + approved_at - Alternative date range, which is based on the approved time of conversion items'
        example: standard
        in: query
        name: date_type
        required: false
        schema:
          type: string
      - description: Filter on a specific currency
        example: GBP
        in: query
        name: currency[]
        required: false
        schema:
          type: string
      - description: Filter on a specific conversion_id
        example: 1l28718278
        in: query
        name: conversion_id
        required: false
        schema:
          type: string
      - description: Filter on a specific conversion_reference value
        example: ORDER872137
        in: query
        name: conversion_reference
        required: false
        schema:
          type: string
      - description: Filter on a specific conversion metric, use an array for multiple
        example: '2'
        in: query
        name: ref_conversion_metric_id
        required: false
        schema:
          type: string
      - description: Force a specified Timezone
        example: Europe/London
        in: query
        name: timezone
        required: false
        schema:
          type: string
      - description: When used in conjunction with limit=0 send a link to the CSV when generation is complete
        example: me@example.com
        in: query
        name: complete_email
        required: false
        schema:
          type: string
      - description: When set to zero, attempt to download everything
        example: '0'
        in: query
        name: limit
        required: false
        schema:
          type: string
      - description: Add a prefix to the report filename
        example: JanSales
        in: query
        name: export_reference
        required: false
        schema:
          type: string
      - description: '+ `UTF-8` - Default encoding


          + `UTF-16`'
        example: UTF-8
        in: query
        name: encoding
        required: false
        schema:
          type: string
      - description: 'Choose the delimiter for separating values


          + comma


          + tab


          + pipe'
        example: comma
        in: query
        name: delimiter
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/octet-stream; charset=UTF-8:
              examples:
                response:
                  value: 'conversion_id,campaign_id,publisher_id,conversion_date,conversion_date_time,click_time,click_date,click_date_time,currency,advertiser_reference,conversion_reference,referer_ip,source_referer,campaign_title,publisher_name,conversion_status,conversion_lag,value,commission,publisher_commission,creative_type,creative_id,specific_creative_id,customer_type,was_disputed,cookie_id,country,currency_original,currency_conversion_rate,customer_reference,camref

                    111111l3919676,10l176,1l1007802,2016-03-02,"2016-03-02 10:22:02",10:11:36,2016-03-02,"2016-03-02 10:11:36",EUR,,AUTO-57643db548165,127.0.0.1,,"API Campaign Demo",apipublisher123,pending,626,90.92,1.0001,0.9092,0,0,0,,,111111l2136,GB,,,,1l3v9UA

                    '
          description: OK
      tags:
      - Exports
      description: Request a CSV for a granular Conversion report for the Partner and within the requested time period. This report will give you details of orders at the basket level
      operationId: Export Conversions
      summary: Export Conversions Report
  /reporting/export/export/conversion_item.csv:
    get:
      parameters:
      - description: ID of the partner.
        example: 1l1007802
        in: query
        name: publisher_id
        required: true
        schema:
          type: string
      - description: Start date for data to be included in the report
        example: '2016-02-30T05:15:32Z'
        in: query
        name: start_date
        required: true
        schema:
          type: string
      - description: End date for data to be included in the report
        example: '2016-03-10T19:02:35Z'
        in: query
        name: end_date
        required: true
        schema:
          type: string
      - description: 'Alter the context of what the dates ranges apply to


          + standard - The default selection, range is beased on conversion_time


          + approved_at - Alternative date range, which is based on the approved time of conversion items'
        example: standard
        in: query
        name: date_type
        required: false
        schema:
          type: string
      - description: Filter on a specific currency
        example: GBP
        in: query
        name: currency[]
        required: false
        schema:
          type: string
      - description: Filter on a specific conversion_id
        example: 1l28718278
        in: query
        name: conversion_id
        required: false
        schema:
          type: string
      - description: Filter on a specific conversion_reference value
        example: ORDER872137
        in: query
        name: conversion_reference
        required: false
        schema:
          type: string
      - description: Filter on a specific conversion metric, use an array for multiple
        example: '2'
        in: query
        name: ref_conversion_metric_id
        required: false
        schema:
          type: string
      - description: Force a specified Timezone
        example: Europe/London
        in: query
        name: timezone
        required: false
        schema:
          type: string
      - description: 'Include payment information. Omit parameter or false to exclude, which is the default. Fields included are:

          + payment_status

          + self_bill_request_date

          + self_bill_release_date'
        example: true
        in: query
        name: include_payment_info
        required: false
        schema:
          type: boolean
      - description: When used in conjunction with limit=0 send a link to the CSV when generation is complete
        example: me@example.com
        in: query
        name: complete_email
        required: false
        schema:
          type: string
      - description: When set to zero, attempt to download everything
        example: '0'
        in: query
        name: limit
        required: false
        schema:
          type: string
      - description: Add a prefix to the report filename
        example: JanSales
        in: query
        name: export_reference
        required: false
        schema:
          type: string
      - description: '+ `UTF-8` - Default encoding


          + `UTF-16`'
        example: UTF-8
        in: query
        name: encoding
        required: false
        schema:
          type: string
      - description: 'Choose the delimiter for separating values


          + comma


          + tab


          + pipe'
        example: comma
        in: query
        name: delimiter
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/octet-stream; charset=UTF-8:
              examples:
                response:
                  value: 'conversion_id,campaign_id,publisher_id,conversion_date,conversion_date_time,click_time,click_date,click_date_time,currency,advertiser_reference,conversion_reference,referer_ip,source_referer,campaign_title,publisher_name,conversion_status,conversion_lag,value,commission,publisher_commission,creative_type,creative_id,specific_creative_id,customer_type,was_disputed,cookie_id,country,currency_original,currency_conversion_rate,conversion_item_id,sku,category,item_value,item_commission,item_publisher_commission,item_status,item_status_id,reject_reason,last_update,voucher_codes,customer_reference,camref,invoice_id,meta_item_cabin_code,meta_item_departure_date,meta_item_dest,meta_item_device,meta_item_origin,meta_item_passenger,meta_item_payment_method,meta_item_product_ids,meta_item_return_date

                    111111l3919676,10l176,1l1007802,2016-03-02,"2016-03-02 10:22:02",10:11:36,2016-03-02,"2016-03-02 10:11:36",EUR,,AUTO-57643db548165,127.0.0.1,,"API Campaign Demo",apipublisher123,pending,626,90.92,1.0001,0.9092,0,0,0,,,111111l2136,GB,,,111111l4118583,,,90.92,1.0001,0.9092,pending,1,,"2016-06-17 19:13:09",,,1l3v9UA,,,,,,,,,,

                    '
          description: OK
      tags:
      - Exports
      description: Request a CSV for a granular Conversion report which includes all individual items for the Partner and within the requested time period. In Conversion Item reports you will be able to see details of each item including individual item’s commission and value as each item will be listed on its own row within the report.
      operationId: Export Conversion Items
      summary: Export Conversion Items Report
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
