openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Incidents API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Incidents
paths:
  /v2/campaigns/{campaign_id}/fraud/incidents:
    parameters:
    - name: campaign_id
      in: path
      description: Campaign ID
      required: true
      schema:
        type: string
    get:
      summary: List Incidents
      tags:
      - Incidents
      parameters:
      - name: partner_id
        in: query
        description: Partner ID to filter
        required: false
        schema:
          type: string
      - name: ip_address
        in: query
        description: IP address to filter
        required: false
        schema:
          type: string
      - name: metric
        in: query
        description: 'Filter the query by incident `metric`. This parameter must be used in conjunction with `type`.

          '
        required: false
        schema:
          type: string
          enum:
          - volume_clicks
          - volume_conversions
          - conversion_ratio
          - basket_variability_sku
          - conversion_value
          - ttc
      - name: type
        in: query
        description: 'Filter the query by incident `type`. This parameter must be used in conjunction with `metric`.

          '
        required: false
        schema:
          type: string
          enum:
          - partner
          - conversion
          - ip_address
      - name: status
        in: query
        description: Filter the query by incident `status`.
        required: false
        schema:
          type: string
          enum:
          - active
          - deleted
      - name: start_date
        in: query
        description: Only include incidents after this date.
        required: false
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        description: Only include incidents before this date.
        required: false
        schema:
          type: string
          format: date
      - name: cursor_id
        in: query
        description: Cursor used for pagination.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limit the number of incidents returned.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  incidents:
                    description: A plurality of incident
                    items:
                      oneOf:
                      - $ref: '#/components/schemas/Fraud_Incident_Type_Partner'
                      - $ref: '#/components/schemas/Fraud_Incident_Type_IP_Address'
                  limit:
                    description: The number of Incidents to be returned in the response. Used for pagination.
                    type: integer
                  cursor_id:
                    description: The current cursor_id, representing the first Incident ID in the response set. Used for pagination.
                    type: string
                  hypermedia:
                    properties:
                      links:
                        type: object
                        title: Hypermedia Pagination
                        description: Fraud Hypermedia. Provides URIs for pagination.
                        required:
                        - links
                        properties:
                          pagination:
                            type: object
                            properties:
                              previous_page:
                                type: string
                                readOnly: true
                                description: The previous page in the result set.
                              next_page:
                                type: string
                                readOnly: true
                                description: The next page in the result set.
              examples:
                Incidents:
                  value:
                    limit: 1
                    cursor_id: 1234l12345678
                    incidents:
                    - id: 1234l12345678
                      metric: conversion_value
                      type: partner
                      date: '2019-11-01'
                      time_window: 1
                      partner:
                        id: 1001l1111
                        name: PZ Finance
                      status: active
                      created_at: '2020-04-01T00:00:00.000Z'
                      deleted_at: '2020-04-01T00:00:00.000Z'
                    hypermedia:
                      pagination:
                        previous_page: v2/campaigns/111111/fraud/incidents?limit=1&cursor_id=1234l12345677
                        next_page: v2/campaigns/111111/fraud/incidents?limit=1&cursor_id=1234l12345679
        '400':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Bad Status:
                  value:
                    error:
                      errors:
                      - type: error
                        code: invalid_status
                        message: No status with the name `status` was found
                      code: 400
                      message: Bad Request
                Bad Metric:
                  value:
                    error:
                      errors:
                      - type: error
                        code: invalid_metric
                        message: No metric with the name `metric` was found
                      code: 400
                      message: Bad Request
                Bad Metric Type:
                  value:
                    error:
                      errors:
                      - type: error
                        code: invalid_metric_type
                        message: No metric type of `metric_type` was found
                      code: 400
                      message: Bad Request
                Bad Request:
                  value:
                    error:
                      errors:
                      - type: error
                        code: invalid_params
                        message: If you specify a metric filter, you must also specify type
                      code: 400
                      message: Bad Request
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Unauthorised:
                  value:
                    error:
                      errors:
                      - type: error
                        code: unauthorised
                        message: Feature 'fraud_detection' not enabled for this Network
                      code: 403
                      message: Forbidden
        '503':
          description: Fraud Service Unavailable
          content:
            application/json:
              examples:
                Fraud Service Unavailable:
                  value:
                    error:
                      errors:
                      - type: error
                        code: remote_service_unavailable
                        message: The remote service 'Fraud Detection' is currently unavailable
                      code: 503
                      message: Remote Service Unavailable
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
      description: Get all incidents that are not dismissed ordered by date descending
      operationId: get-incidents
  /v2/campaigns/{campaign_id}/fraud/incidents/{incident_id}:
    parameters:
    - name: campaign_id
      in: path
      description: Campaign ID
      required: true
      schema:
        type: string
    - name: incident_id
      in: path
      description: Incident ID
      required: true
      schema:
        type: string
    get:
      summary: Get Incident
      tags:
      - Incidents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  execution_time:
                    type: string
                  incident:
                    oneOf:
                    - $ref: '#/components/schemas/Fraud_Incident_Metric_Basket'
                    - $ref: '#/components/schemas/Fraud_Incident_Metric_Basic'
                    - $ref: '#/components/schemas/Fraud_Incident_Metric_Conversion_Value'
                    - $ref: '#/components/schemas/Fraud_Incident_Metric_Ttc'
                  hypermedia:
                    properties:
                      links:
                        type: object
                        $ref: '#/paths/~1v2~1campaigns~1%7Bcampaign_id%7D~1fraud~1incidents/get/responses/200/content/application~1json/schema/properties/hypermedia/properties/links'
              examples:
                Volume Clicks Incident:
                  value:
                    incident:
                      id: 1234l12345678
                      metric: volume_clicks
                      type: partner
                      date: '2019-11-01'
                      time_window: 1
                      partner:
                        id: 1001l1111
                        name: PZ Finance
                      status: active
                      created_at: '2020-04-01T00:00:00.000Z'
                      deleted_at: '2020-04-01T00:00:00.000Z'
                      data:
                        threshold: 100
                        value: 150
                    hypermedia:
                      links:
                        reject-partner: v2/campaigns/111111/fraud/incidents/1234l12345678/reject-partner
                Volume Conversions Incident:
                  value:
                    incident:
                      id: 1234l12345678
                      metric: volume_conversions
                      type: partner
                      date: '2019-11-01'
                      time_window: 1
                      partner:
                        id: 1001l1111
                        name: PZ Finance
                      status: active
                      created_at: '2020-04-01T00:00:00.000Z'
                      deleted_at: '2020-04-01T00:00:00.000Z'
                      data:
                        threshold: 101
                        value: 150
                    hypermedia:
                      links:
                        reject-partner: v2/campaigns/111111/fraud/incidents/1234l12345678/reject-partner
                Conversion Ratio Incident:
                  value:
                    incident:
                      id: 1234l12345678
                      metric: conversion_ratio
                      type: partner
                      date: '2019-11-01'
                      time_window: 1
                      partner:
                        id: 1001l1111
                        name: PZ Finance
                      status: active
                      created_at: '2020-04-01T00:00:00.000Z'
                      deleted_at: '2020-04-01T00:00:00.000Z'
                      data:
                        threshold: 100
                        value: 150
                    hypermedia:
                      links:
                        reject-partner: v2/campaigns/111111/fraud/incidents/1234l12345678/reject-partner
                Conversion Value Incident:
                  value:
                    incident:
                      id: 1234l12345678
                      metric: conversion_value
                      type: partner
                      date: '2019-11-01'
                      time_window: 1
                      partner:
                        id: 1001l1111
                        name: PZ Finance
                      status: active
                      created_at: '2020-04-01T00:00:00.000Z'
                      deleted_at: '2020-04-01T00:00:00.000Z'
                      data:
                        conversion_reference: 1111l1234
                        threshold: 100
                        value: 150
                        currency: USD
                        conversion_items:
                        - id: item1
                          sku: skuValue1
                          category: categoryValue1
                          status: approved
                        - id: item2
                          sku: skuValue2
                          category: categoryValue2
                          status: pending
                    hypermedia:
                      links:
                        reject-conversions: v2/campaigns/111111/fraud/incidents/1234l12345678/reject-conversions
                        pend-conversions: v2/campaigns/111111/fraud/incidents/1234l12345678/pend-conversions
                        reject-partner: v2/campaigns/111111/fraud/incidents/1234l12345678/reject-partner
                Time To Conversion Incident:
                  value:
                    incident:
                      id: 1234l12345678
                      metric: ttc
                      type: partner
                      date: '2019-11-01'
                      time_window: 1
                      partner:
                        id: 1001l1111
                        name: PZ Finance
                      status: active
                      created_at: '2020-04-01T00:00:00.000Z'
                      deleted_at: '2020-04-01T00:00:00.000Z'
                      data:
                        conversion_reference: 1111l1234
                        threshold: 100
                        value: 150
                        conversion_items:
                        - id: item1
                          sku: skuValue1
                          category: categoryValue1
                          status: approved
                        - id: item2
                          sku: skuValue2
                          category: categoryValue2
                          status: pending
                    hypermedia:
                      links:
                        reject-conversions: v2/campaigns/111111/fraud/incidents/1234l12345678/reject-conversions
                        pend-conversions: v2/campaigns/111111/fraud/incidents/1234l12345678/pend-conversions
                        reject-partner: v2/campaigns/111111/fraud/incidents/1234l12345678/reject-partner
                Identical Purchases Incident:
                  value:
                    incident:
                      id: 1234l12345678
                      metric: basket_variability_sku
                      type: partner
                      date: '2019-11-01'
                      time_window: 1
                      partner:
                        id: 1001l1111
                        name: PZ Finance
                      status: active
                      created_at: '2020-04-01T00:00:00.000Z'
                      deleted_at: '2020-04-01T00:00:00.000Z'
                      data:
                        threshold: 200
                        value: 245
                        total: 1000
                        conversions:
                        - conversion_reference: 1111l1234
                          count: 245
                          items:
                          - id: item1
                            sku: skuValue1
                            category: categoryValue1
                            status: approved
                          - id: item2
                            sku: skuValue2
                            category: categoryValue2
                            status: pending
                    hypermedia:
                      links:
                        reject-partner: v2/campaigns/111111/fraud/incidents/1234l12345678/reject-partner
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Unauthorised:
                  value:
                    error:
                      errors:
                      - type: error
                        code: unauthorised
                        message: Feature 'fraud_detection' not enabled for this Network
                      code: 403
                      message: Forbidden
        '404':
          description: Entity Not Found
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                basic:
                  value:
                    error:
                      errors:
                      - type: error
                        code: entity_not_found
                        message: Incident not found for id 'string'
                      code: 404
                      message: Not Found
        '503':
          description: Fraud Service Unavailable
          content:
            application/json:
              examples:
                Fraud Service Unavailable:
                  value:
                    error:
                      errors:
                      - type: error
                        code: remote_service_unavailable
                        message: The remote service 'Fraud Detection' is currently unavailable
                      code: 503
                      message: Remote Service Unavailable
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
      description: Get a specific incident
      operationId: get-incident
    delete:
      summary: Delete Incident
      tags:
      - Incidents
      responses:
        '204':
          description: No Content
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Unauthorised:
                  value:
                    error:
                      errors:
                      - type: error
                        code: unauthorised
                        message: Feature 'fraud_detection' not enabled for this Network
                      code: 403
                      message: Forbidden
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Not Found:
                  value:
                    error:
                      errors:
                      - type: error
                        code: entity_not_found
                        message: Incident not found for id 'string'
                      code: 404
                      message: Not Found
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Fraud Detection Service Unavailable:
                  value:
                    error:
                      errors:
                      - type: error
                        code: remote_service_unavailable
                        message: The remote service 'Fraud Detection' is currently unavailable
                      code: 503
                      message: Remote Service Unavailable
                API Service Unavailable:
                  value:
                    error:
                      errors:
                      - type: error
                        code: remote_service_unavailable
                        message: The remote service 'API' is currently unavailable
                      code: 503
                      message: Remote Service Unavailable
      description: Delete a specific incident
      operationId: delete-incident
  /v2/campaigns/{campaign_id}/fraud/incidents-aggregation:
    parameters:
    - name: campaign_id
      in: path
      description: Campaign ID
      required: true
      schema:
        type: string
    - name: start_date
      in: query
      description: Only include incidents after this date.
      required: true
      schema:
        type: string
        format: date
    - name: end_date
      in: query
      description: Only include incidents before this date.
      required: true
      schema:
        type: string
        format: date
    get:
      summary: Get Incidents Aggregation
      tags:
      - Incidents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: GET Incidents Aggregation Response
                type: object
                description: This is the response to a GET incidents aggregation call on the PzAPI.
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - date_time_range
                      - volume_clicks
                      - volume_conversions
                      - conversion_ratio
                      - basket_variability_sku
                      - conversion_value
                      - ttc
                      properties:
                        date_time_range:
                          type: object
                          required:
                          - start
                          - end
                          properties:
                            start:
                              type: string
                            end:
                              type: string
                        volume_clicks:
                          type: integer
                        volume_conversions:
                          type: integer
                        conversion_ratio:
                          type: integer
                        basket_variability_sku:
                          type: integer
                        conversion_value:
                          type: integer
                        ttc:
                          type: integer
              examples:
                Incidents:
                  value:
                    data:
                    - date_time_range:
                        start: '2019-10-02T00:00:00.000Z'
                        end: '2019-10-03T00:00:00.000Z'
                      volume_clicks: 10
                      volume_conversions: 20
                      conversion_ratio: 15
                      basket_variability_sku: 25
                      conversion_value: 30
                      ttc: 35
                    - date_time_range:
                        start: '2019-10-03T00:00:00.000Z'
                        end: '2019-10-04T00:00:00.000Z'
                      volume_clicks: 11
                      volume_conversions: 21
                      conversion_ratio: 16
                      basket_variability_sku: 26
                      conversion_value: 31
                      ttc: 36
                    - date_time_range:
                        start: '2019-10-04T00:00:00.000Z'
                        end: '2019-10-05T00:00:00.000Z'
                      volume_clicks: 12
                      volume_conversions: 22
                      conversion_ratio: 17
                      basket_variability_sku: 27
                      conversion_value: 32
                      ttc: 37
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Unauthorised:
                  value:
                    error:
                      errors:
                      - type: error
                        code: unauthorised
                        message: Feature 'fraud_detection' not enabled for this Network
                      code: 403
                      message: Forbidden
        '404':
          description: Entity Not Found
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                basic:
                  value:
                    error:
                      errors:
                      - type: error
                        code: entity_not_found
                        message: Incident not found for id 'string'
                      code: 404
                      message: Not Found
        '503':
          description: Fraud Service Unavailable
          content:
            application/json:
              examples:
                Fraud Service Unavailable:
                  value:
                    error:
                      errors:
                      - type: error
                        code: remote_service_unavailable
                        message: The remote service 'Fraud Detection' is currently unavailable
                      code: 503
                      message: Remote Service Unavailable
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
      description: Get an aggregated total of incidents by day
      operationId: get-incidents-aggregation
  /v2/campaigns/{campaign_id}/fraud/incidents/{incident_id}/reject-partner:
    parameters:
    - name: campaign_id
      in: path
      description: Campaign ID
      required: true
      schema:
        type: string
    - name: incident_id
      in: path
      description: Incident ID
      required: true
      schema:
        type: string
    post:
      summary: Reject Partner
      operationId: fraud-reject-partner
      responses:
        '204':
          description: OK
        '400':
          description: Unable to Reject Partner
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Unable to Reject Partner:
                  value:
                    error:
                      errors:
                      - type: error
                        code: partner_not_rejected
                        message: The Partner was not rejected
                      code: 400
                      message: Bad Request
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Unauthorised:
                  value:
                    error:
                      errors:
                      - type: error
                        code: unauthorised
                        message: Feature 'fraud_detection' not enabled for this Network
                      code: 403
                      message: Forbidden
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Not Found:
                  value:
                    error:
                      errors:
                      - type: error
                        code: entity_not_found
                        message: Incident not found for id 'string'
                      code: 404
                      message: Not Found
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Fraud Detection Service Unavailable:
                  value:
                    error:
                      errors:
                      - type: error
                        code: remote_service_unavailable
                        message: The remote service 'Fraud Detection' is currently unavailable
                      code: 503
                      message: Remote Service Unavailable
                API Service Unavailable:
                  value:
                    error:
                      errors:
                      - type: error
                        code: remote_service_unavailable
                        message: The remote service 'API' is currently unavailable
                      code: 503
                      message: Remote Service Unavailable
      tags:
      - Incidents
      description: Reject a Partner due to fraudulent claims. This means that the partner will no longer be valid for this Campaign
  /v2/campaigns/{campaign_id}/fraud/incidents/{incident_id}/reject-conversions:
    parameters:
    - schema:
        type: string
      name: campaign_id
      in: path
      required: true
      description: Campaign ID
    - schema:
        type: string
      name: incident_id
      in: path
      required: true
      description: Incident ID
    post:
      summary: Reject Fraudulent Conversions
      tags:
      - Incidents
      responses:
        '204':
          description: No Content
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Unauthorised:
                  value:
                    error:
                      errors:
                      - type: error
                        code: unauthorised
                        message: Feature 'fraud_detection' not enabled for this Network
                      code: 403
                      message: Forbidden
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Not Found:
                  value:
                    error:
                      errors:
                      - type: error
                        code: entity_not_found
                        message: Incident not found for id 'string'
                      code: 404
                      message: Not Found
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Fraud Detection Service Unavailable:
                  value:
                    error:
                      errors:
                      - type: error
                        code: remote_service_unavailable
                        message: The remote service 'Fraud Detection' is currently unavailable
                      code: 503
                      message: Remote Service Unavailable
                API Service Unavailable:
                  value:
                    error:
                      errors:
                      - type: error
                        code: remote_service_unavailable
                        message: The remote service 'API' is currently unavailable
                      code: 503
                      message: Remote Service Unavailable
      operationId: fraud-reject-conversions
      description: Reject fraudulent conversions for the Incident
  /v2/campaigns/{campaign_id}/fraud/incidents/{incident_id}/pend-conversions:
    parameters:
    - schema:
        type: string
      name: campaign_id
      in: path
      required: true
      description: Campaign ID
    - schema:
        type: string
      name: incident_id
      in: path
      required: true
      description: Incident ID
    post:
      summary: Set Incident Conversion status to Pending
      tags:
      - Incidents
      responses:
        '204':
          description: No Content
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Unauthorised:
                  value:
                    error:
                      errors:
                      - type: error
                        code: unauthorised
                        message: Feature 'fraud_detection' not enabled for this Network
                      code: 403
                      message: Forbidden
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Not Found:
                  value:
                    error:
                      errors:
                      - type: error
                        code: entity_not_found
                        message: Incident not found for id 'string'
                      code: 404
                      message: Not Found
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Fraud Detection Service Unavailable:
                  value:
                    error:
                      errors:
                      - type: error
                        code: remote_service_unavailable
                        message: The remote service 'Fraud Detection' is currently unavailable
                      code: 503
                      message: Remote Service Unavailable
                API Service Unavailable:
                  value:
                    error:
                      errors:
                      - type: error
                        code: remote_service_unavailable
                        message: The remote service 'API' is currently unavailable
                      code: 503
                      message: Remote Service Unavailable
      operationId: fraud-pend-conversions
  /v2/campaigns/{campaign_id}/fraud/incident-partners:
    parameters:
    - name: campaign_id
      in: path
      description: Campaign ID
      required: true
      schema:
        type: string
    get:
      summary: List Incident-partners
      tags:
      - Incidents
      parameters:
      - name: metric
        in: query
        description: 'Filter the query by incident `metric`. This parameter must be used in conjunction with `type`.

          '
        required: false
        schema:
          type: string
          enum:
          - volume_clicks
          - volume_conversions
          - conversion_ratio
          - basket_variability_sku
          - conversion_value
          - ttc
      - name: type
        in: query
        description: 'Filter the query by incident `type`. This parameter must be used in conjunction with `metric`.

          '
        required: false
        schema:
          type: string
          enum:
          - partner
          - conversion
      - name: status
        in: query
        description: Filter the query by incident `status`.
        required: false
        schema:
          type: string
          enum:
          - active
          - deleted
      - name: start_date
        in: query
        description: Only consider incidents after this date.
        required: false
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        description: Only consider incidents before this date.
        required: false
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-07/schema
                type: object
                title: GET incident-partners Response
                description: This is the response to a GET incident-partners call on the PzAPI.
                required:
                - incident-partners
                properties:
                  incident-partners:
                    type: array
                    additionalItems: false
                    items:
                      type: object
                      required:
                      - partner_id
                      - partner_name
                      properties:
                        partner_id:
                          type: string
                        partner_name:
                          type: string
                      additionalProperties: false
                additionalProperties: false
        '400':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Bad Status:
                  value:
                    error:
                      errors:
                      - type: error
                        code: invalid_status
                        message: No status with the name `status` was found
                      code: 400
                      message: Bad Request
                Bad Metric:
                  value:
                    error:
                      errors:
                      - type: error
                        code: invalid_metric
                        message: No metric with the name `metric` was found
                      code: 400
                      message: Bad Request
                Bad Metric Type:
                  value:
                    error:
                      errors:
                      - type: error
                        code: invalid_metric_type
                        message: No metric type of `metric_type` was found
                      code: 400
                      message: Bad Request
                Bad Request:
                  value:
                    error:
                      errors:
                      - type: error
                        code: invalid_params
                        message: If you specify a metric filter, you must also specify type
                      code: 400
                      message: Bad Request
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Unauthorised:
                  value:
                    error:
                      errors:
                      - type: error
                        code: unauthorised
                        message: Feature 'fraud_detection' not enabled for this Network
                      code: 403
                      message: Forbidden
        '503':
          description: Fraud Service Unavailable
          content:
            application/json:
              examples:
                Fraud Service Unavailable:
                  value:
                    error:
                      errors:
                      - type: error
                        code: remote_service_unavailable
                        message: The remote service 'Fraud Detection' is currently unavailable
                      code: 503
                      message: Remote Service Unavailable
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
      description: Get a list of all partners that are associated with incidents.
      operationId: get-incident-partners
components:
  schemas:
    Fraud_Incident_Metric_Conversion_Value:
      allOf:
      - oneOf:
        - $ref: '#/components/schemas/Fraud_Incident_Type_IP_Address'
        - $ref: '#/components/schemas/Fraud_Incident_Type_Partner'
      - type: object
        description: Properties for Conversion value
        allOf:
        - type: object
          required:
          - metric
          properties:
            metric:
              type: string
              description: The metric name
              enum:
              - conversion_value
        - allOf:
          - $ref: '#/components/schemas/Fraud_Incident_Metric_Ttc/allOf/1/allOf/1'
          - type: object
            required:
            - data
            properties:
              data:
                type: object
                required:
                - currency
                properties:
                  currency:
                    type: string
                    description: The campaigns default currency
          - $ref: '#/components/schemas/Fraud_Incident_Metric_Ttc/allOf/1/allOf/2'
    Fraud_Incident_Metric_Basket:
      allOf:
      - oneOf:
        - $ref: '#/components/schemas/Fraud_Incident_Type_IP_Address'
        - $ref: '#/components/schemas/Fraud_Incident_Type_Partner'
      - type: object
        description: Properties unique to fraud incident baskets
        allOf:
        - type: object
          required:
          - metric
          properties:
            metric:
              type: string
              description: The metric name
              enum:
              - basket_variability_sku
        - type: object
          description: This is supplemental data for fraud incident baskets
          required:
          - data
          properties:
            data:
              type: object
              required:
              - conversions
              - total
              properties:
                total:
                  type: number
                  description: Total value of this basket
                conversions:
                  type: array
                  items:
                    type: object
                    title: The Items Schema
                    required:
                    - items
                    - count
                    - conversion_reference
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          required:
                          - id
                          - sku
                          - category
                          - status
                          properties:
                            id:
                              type: string
                              description: The conversion item ID
                            sku:
                              type: string
                              description: The conversion item SKU
                            category:
                              type: string
                              description: The conversion item category
                            status:
                              type: string
                              description: Status of the conversion item
                      count:
                        type: integer
                        description: The number of items
                      conversion_reference:
                        type: string
                        description: The conversion reference
        - $ref: '#/components/schemas/Fraud_Incident_Metric_Ttc/allOf/1/allOf/2'
    Fraud_Incident_Type_IP_Address:
      allOf:
      - $ref: '#/components/schemas/Fraud_Incident_Base'
      - type: object
        properties:
          ip_address:
            type: string
            description: A hashed identifier for an IP address
        required:
        - ip_address
    Fraud_Incident_Metric_Basic:
      allOf:
      - oneOf:
        - $ref: '#/components/schemas/Fraud_Incident_Type_IP_Address'
        - $ref: '#/components/schemas/Fraud_Incident_Type_Partner'
      - type: object
        description: Properties that all indicent types share
        required:
        - metric
        allOf:
        - type: object
          properties:
            metric:
              type: string
              description: The metric name
              enum:
              - volume_clicks
              - volume_conversions
              - conversion_ratio
        - $ref: '#/components/schemas/Fraud_Incident_Metric_Ttc/allOf/1/allOf/2'
    Fraud_Incident_Type_Partner:
      allOf:
      - $ref: '#/components/schemas/Fraud_Incident_Base'
      - type: object
        properties:
          partner:
            type: object
            properties:
              id:
                description: ID of the partner
                type: string
              name:
                description: The name of the partner
                type: string
            required:
            - id
            - name
        required:
        - partner
    Fraud_Incident_Metric_Ttc:
      allOf:
      - oneOf:
        - $ref: '#/components/schemas/Fraud_Incident_Type_IP_Address'
        - $ref: '#/components/schemas/Fraud_Incident_Type_Partner'
      - type: object
        description: Properties for ttc
        allOf:
        - type: object
          required:
          - metric
          properties:
            metric:
              type: string
              description: The metric name
              enum:
              - ttc
        - type: object
          description: This is supplemental data for fraud incidents ttc and conversion value
          required:
          - data
          properties:
            data:
              type: object
              required:
              - conversion_reference
              - conversion_items
              properties:
                conversion_reference:
                  type: string
                  description: The conversion reference
                conversion_items:
                  type: array
                  items:
                    type: object
                    required:
                    - id
                    - sku
                    - category
                    - status
                    properties:
                      id:
                        type: string
                        description: The conversion item ID
                      sku:
                        type: string
                        description: The conversion item SKU
                      category:
                        type: string
                        description: The conversion item category
                      status:
                        type: string
                        description: Status of the conversion item
        - type: object
          description: This is supplemental data common to all fraud incidents
          required:
          - data
          properties:
            data:
              type: object
              required:
              - threshold
              - value
              properties:
                threshold:
                  type: number
                  description: The threshold for this metric
                value:
                  type: number
                  description: The actual value of this metric
    Fraud_Incident_Base:
      properties:
        id:
          description: A unique ID for the incident
          type: string
        type:
          description: Which type of entity triggered this incident
          type: string
          enum:
          - ip_address
          - conversion
          - partner
        date:
          description: The date of the incident
          type: string
        time_window:
          description: Over how many days did we calculate the metric
          type: string
        status:
          description: Status of the record
          type: string
          enum:
          - active
          - deleted
        created_at:
          description: Timestamp of the record creation
          type: string
        deleted_at:
          description: Timestamp of the record deletion
          type: string
      required:
      - id
      - type
      - date
      - time_window
      - status
      - created_at
      - deleted_at
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
