openapi: 3.2.0
info:
  title: Partnerize Brands Attribution … Custom Terms and Conditions…
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Custom Terms and Conditions
  description: Manage partner specific terms and conditions. You can use this group of endpoints to create custom terms and conditions for certain partners.
paths:
  /campaign/{campaign_id}/custom_terms/:
    parameters:
    - name: campaign_id
      in: path
      description: ID of the campaign
      examples:
      - 10l176
      required: true
      schema:
        type: string
    post:
      operationId: Create Custom Terms and Conditions
      tags:
      - Custom Terms and Conditions
      summary: Create Custom Terms and Conditions
      description: Creates Custom Terms and Conditions for a given campaign and associates them with the provided partners.
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              type: object
              properties:
                publisher_id:
                  type: array
                  description: a list of partner ids to associate with the custom terms and conditions. The list needs to contain at least one valid partner id.
                  items:
                    type: string
                title:
                  type: string
                  description: title of the custom terms and conditions
                terms:
                  type: string
                  description: the custom terms and conditions content
                locale:
                  $ref: '#/components/schemas/Locale'
              required:
              - publisher_id
              - title
              - terms
            example:
              publisher_id:
              - '21'
              - '250001'
              - '3'
              - '300009'
              - 4d00ecdbe65e6
              - 4d0122781f1f6
              - 4d012e7a77288
              title: Terms and conditions title
              terms: Terms and conditions content
              locale: pl
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema
                type: object
                title: Custom Terms Response
                allOf:
                - $ref: '#/paths/~1campaign~1%7Bcampaign_id%7D~1custom_terms~1/get/responses/200/content/application~1json/schema/allOf/0'
                - properties:
                    custom_terms:
                      type: array
                      items:
                        $schema: http://json-schema.org/draft-04/schema
                        title: Campaign Custom Terms and Conditions Entity
                        type: object
                        properties:
                          campaign_custom_terms_and_conditions_id:
                            type: string
                            description: Entity id eg `111111l43`
                          title:
                            type: string
                            description: Terms and conditions title
                          terms:
                            type: string
                            description: Terms and conditions content
                          created:
                            type: string
                            description: eg `2019-05-29 09:18:17`
                          campaign_id:
                            type: string
                            description: ID of associated campaign eg `10l176`
                          locale:
                            $ref: '#/components/schemas/Locale'
                          active:
                            type: string
                            description: '`y` or `n`'
                additionalProperties: false
              example:
                execution_time: 1.05973 seconds
                custom_terms:
                - campaign_custom_terms_and_conditions_id: 111111l43
                  title: Terms and conditions title
                  terms: Terms and conditions content
                  created: '2019-05-29 09:18:17'
                  campaign_id: 10l176
                  locale: pl
                  active: y
        '400':
          description: Validation Fail
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema
                title: Validation Errors
                type: object
                properties:
                  error:
                    properties:
                      message: string
                      type: string
                      fields:
                        type: array
                        items:
                          type: string
              example:
                error:
                  message: Locale is invalid
                  type: Validation Fail
                  fields:
                  - locale
    get:
      operationId: List Terms and Conditions for a given Campaign
      tags:
      - Custom Terms and Conditions
      summary: List All Custom Terms and Conditions for given campaign
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema
                type: object
                title: Custom Terms Response
                allOf:
                - $schema: http://json-schema.org/draft-04/schema
                  type: object
                  title: Custom Terms Empty Response
                  properties:
                    execution_time:
                      type: string
                      description: Script execution time eg `1.05973 seconds`
                    custom_terms:
                      type: array
                      description: Data array
                  additionalProperties: false
                - properties:
                    custom_terms:
                      type: array
                      items:
                        $schema: http://json-schema.org/draft-04/schema
                        title: Campaign Custom Terms and Conditions Entity
                        type: object
                        allOf:
                        - $ref: '#/paths/~1campaign~1%7Bcampaign_id%7D~1custom_terms~1/post/responses/201/content/application~1json/schema/allOf/1/properties/custom_terms/items'
                        - type: object
                          properties:
                            publishers:
                              type: array
                              items:
                                type: string
                                description: An array of publisher_id values eg `111111l43`
                additionalProperties: false
              example:
                execution_time: 1.05973 seconds
                custom_terms:
                - campaign_custom_terms_and_conditions_id: 111111l43
                  title: Terms and conditions title
                  terms: Terms and conditions content
                  created: '2019-05-29 09:18:17'
                  campaign_id: 10l176
                  locale: pl
                  active: y
                  publishers: []
  /campaign/{campaign_id}/custom_terms/publisher/{publisher_id}:
    parameters:
    - name: campaign_id
      in: path
      description: ID of the campaign
      examples:
      - 10l176
      required: true
      schema:
        type: string
    - name: publisher_id
      in: path
      description: ID of the Partner
      examples:
      - 10l176
      required: true
      schema:
        type: string
    get:
      operationId: readPartnerCampaignCustomTerms
      tags:
      - Custom Terms and Conditions
      summary: List Partner's Terms and Conditions for a capaign
      description: List Terms and Conditions for a Partner on the specified campaign.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema
                type: object
                title: Custom Terms Response
                allOf:
                - $ref: '#/paths/~1campaign~1%7Bcampaign_id%7D~1custom_terms~1/get/responses/200/content/application~1json/schema/allOf/0'
                - properties:
                    custom_terms:
                      type: array
                      items:
                        $schema: http://json-schema.org/draft-04/schema
                        title: Campaign Custom Terms and Conditions Entity
                        type: object
                        allOf:
                        - $ref: '#/paths/~1campaign~1%7Bcampaign_id%7D~1custom_terms~1/post/responses/201/content/application~1json/schema/allOf/1/properties/custom_terms/items'
                        - properties:
                            publisher_id:
                              type: string
                              description: ID of a partner
                            approved:
                              type: string
                            agreed_latest_terms:
                              type: string
                            status:
                              type: string
                additionalProperties: false
              example:
                execution_time: 1.05973 seconds
                custom_terms:
                - campaign_custom_terms_and_conditions_id: 111111l43
                  title: Terms and conditions title
                  terms: Terms and conditions content
                  created: '2019-05-29 09:18:17'
                  campaign_id: 10l176
                  locale: pl
                  active: y
                  publisher_id: '1'
                  approved: 'null'
                  agreed_latest_terms: n
                  status: a
  /campaign/{campaign_id}/custom_terms/{custom_terms_id}:
    parameters:
    - name: campaign_id
      in: path
      description: ID of the Campaign
      examples:
      - 10l176
      required: true
      schema:
        type: string
    - name: custom_terms_id
      in: path
      description: Id of the Campaign Terms and Conditions to delete
      examples:
      - 1111l123
      required: true
      schema:
        type: string
    delete:
      operationId: deleteCampaignCustomTerms
      tags:
      - Custom Terms and Conditions
      summary: Delete specific Custom Terms and Conditions
      description: Delete Campaign Terms and Conditions for a given campaign.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema
                type: object
                title: Custom Terms Response
                allOf:
                - $ref: '#/paths/~1campaign~1%7Bcampaign_id%7D~1custom_terms~1/get/responses/200/content/application~1json/schema/allOf/0'
                - properties:
                    custom_terms:
                      type: array
                      items:
                        type: object
                        properties:
                          removed_terms:
                            type: integer
                            description: Number of deleted entities
                additionalProperties: false
              example:
                execution_time: 1.05973 seconds
                custom_terms:
                - removed_terms: 1
        '404':
          description: Failure
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema
                title: Validation Errors
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      type:
                        type: string
              example:
                error:
                  message: Terms with given id (111111l3) does not exist
                  type: '404'
  /campaign/{campaign_id}/custom_terms/custom_terms_id/association:
    parameters:
    - name: campaign_id
      in: path
      description: ID of the Campaign
      examples:
      - 10l176
      required: true
      schema:
        type: string
    - name: custom_terms_id
      in: path
      description: ID of Campaign Terms and Conditions to associate with a list of Partners
      examples:
      - 1111l123
      required: true
      schema:
        type: string
    post:
      operationId: createAssocCampaignCustomTerms
      tags:
      - Custom Terms and Conditions
      summary: Associate Custom Terms and Conditions with Partners
      description: Associate the Custom Terms and Conditions with a list of Partners.
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              type: object
              properties:
                publisher_id:
                  type: array
                  description: IDs of Partners
                  items:
                    type: string
              required:
              - publisher_id
            example:
              publisher_id:
              - 4d00ecdbe65e6
              - 4d0122781f1f6
              - 4d012e7a77288
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/paths/~1campaign~1%7Bcampaign_id%7D~1custom_terms~1/get/responses/200/content/application~1json/schema'
              example:
                $ref: '#/paths/~1campaign~1%7Bcampaign_id%7D~1custom_terms~1/get/responses/200/content/application~1json/example'
        '404':
          description: Failure
          content:
            application/json:
              schema:
                $ref: '#/paths/~1campaign~1%7Bcampaign_id%7D~1custom_terms~1%7Bcustom_terms_id%7D/delete/responses/404/content/application~1json/schema'
              example:
                $ref: '#/paths/~1campaign~1%7Bcampaign_id%7D~1custom_terms~1%7Bcustom_terms_id%7D/delete/responses/404/content/application~1json/example'
    delete:
      operationId: deleteAssocCampaignCustomTerms
      tags:
      - Custom Terms and Conditions
      summary: Remove associations between the Custom Terms and Conditions and Partners
      description: Remove associations between the Custom Terms and Conditions and a list of Partners. If all associations are removed successfully a `200 OK` status code response is returned. In the cases where there were errors a `207 Multi-status` response is returned and the body of the response will contain the list of errors for the failed ones.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/paths/~1campaign~1%7Bcampaign_id%7D~1custom_terms~1custom_terms_id~1association/post/requestBody/content/application~1json/schema'
            example:
              publisher_id:
              - 4d00ecdbe65e6
              - 4d0122781f1f6
              - 4d012e7a77288
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema
                type: object
                title: Custom Terms Response
                allOf:
                - $ref: '#/paths/~1campaign~1%7Bcampaign_id%7D~1custom_terms~1/get/responses/200/content/application~1json/schema/allOf/0'
                - properties:
                    custom_terms:
                      type: array
                      items:
                        type: object
                        properties:
                          removed_associations:
                            type: integer
                            description: Number of deleted entities
                additionalProperties: false
              example:
                execution_time: 1.05973 seconds
                custom_terms:
                - removed_associations: 1
        '207':
          description: Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema
                type: object
                title: Custom Terms Response
                allOf:
                - $ref: '#/paths/~1campaign~1%7Bcampaign_id%7D~1custom_terms~1/get/responses/200/content/application~1json/schema/allOf/0'
                - properties:
                    custom_terms:
                      type: array
                      items:
                        type: object
                        properties:
                          removed_associations:
                            type: integer
                            description: Number of deleted entities
                - $ref: '#/paths/~1campaign~1%7Bcampaign_id%7D~1custom_terms~1%7Bcustom_terms_id%7D/delete/responses/404/content/application~1json/schema'
                additionalProperties: false
              example:
                execution_time: 1.05973 seconds
                custom_terms:
                - removed_associations: 1
                errors:
                - Terms with given id (111111l3) does not exist
        '404':
          description: Failure
          content:
            application/json:
              schema:
                $ref: '#/paths/~1campaign~1%7Bcampaign_id%7D~1custom_terms~1%7Bcustom_terms_id%7D/delete/responses/404/content/application~1json/schema'
              example:
                $ref: '#/paths/~1campaign~1%7Bcampaign_id%7D~1custom_terms~1%7Bcustom_terms_id%7D/delete/responses/404/content/application~1json/example'
components:
  schemas:
    Locale:
      enum:
      - bg
      - cs
      - da
      - de
      - de_at
      - en
      - en_au
      - en_ca
      - en_us
      - es
      - es_mx
      - el
      - et
      - fi
      - fl
      - fr
      - fr_ca
      - hu
      - id
      - it
      - jp
      - ko
      - ko_kr
      - lt
      - lv
      - ms_my
      - mt
      - my
      - nl
      - 'no'
      - pl
      - po
      - pt
      - pt_br
      - ro
      - ru
      - sg
      - sk
      - sl
      - sv
      - sv_se
      - th
      - tl
      - tr
      - vi
      - zh_cn
      - zh_hk
      type: string
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
