openapi: 3.2.0
info:
  title: Partnerize Attribution API
  version: 1.4.99
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
  description: 'Operations tagged Attribution across 2 of this provider''s published API definitions: partnerize-partners-api-openapi.yml, partnerize-attribution-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Attribution
paths:
  /v2/campaigns/{campaignId}/publishers/{publisherId}/attribution:
    parameters:
    - schema:
        type: string
      name: campaign_id
      in: path
      required: true
      description: The ID of the campaign
    - schema:
        type: string
      name: partner_id
      in: path
      required: true
      description: The ID of the partner
    get:
      summary: Partner Attributions
      tags:
      - Attribution
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Attribution models active for the Partner on the Campaign
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      preferred_partner:
                        type: array
                        minItems: 1
                        description: Partner Preferred Date Ranges
                        items:
                          title: Partner Preferred Date Range
                          type: object
                          description: Partner Preferred Date Range
                          properties:
                            start_date:
                              type: string
                              format: date-time
                            end_date:
                              type: string
                              format: date-time
                      exclusive_codes:
                        type: array
                        minItems: 1
                        description: Partner Exclusive Codes
                        items:
                          title: Partner Exclusive Code
                          type: object
                          description: Partner Exclusive Code
                          properties:
                            code:
                              title: Exclusive Code Definition
                              type: object
                              description: Exclusive Code Definition
                              properties:
                                operator:
                                  type: string
                                  enum:
                                  - EQUALS
                                  - CONTAINS
                                  - STARTS_WITH
                                  - ENDS_WITH
                                value:
                                  type: string
                                  minLength: 1
                                  pattern: ^[a-zA-Z0-9]*$
                            start_date:
                              type: string
                              format: date-time
                            end_date:
                              type:
                              - string
                              - 'null'
                              format: date-time
                      in_cart:
                        title: In Cart Threshold
                        type: object
                        description: In Cart Threshold
                        properties:
                          threshold:
                            type: number
                            description: Time in seconds that In Cart is applied for
                            minimum: 0
                            maximum: 3540
                      split:
                        title: Partner Split Commissioning
                        type: object
                        description: Partner Split Commissioning
                        properties:
                          initiator:
                            type: number
                            description: How much as a percentage the initiator receives
                            minimum: 0
                            maximum: 100
                          contributor_fallback:
                            type: string
                            description: How the remaining percentage is split for a conversion without any contributors
                            enum:
                            - converter
                            - initiator
                            - split
                            example: split
                          converter:
                            type: number
                            description: How much as a percentage the converter receives
                            minimum: 0
                            maximum: 100
                  meta:
                    type: object
                    properties:
                      preferred_partner:
                        type: boolean
                        description: If Preferred Partner Attribution is enabled on this Campaign
                      exclusive_codes:
                        type: boolean
                        description: If Exclusive Code Attribution is enabled on this Campaign
      operationId: get-partners-attribution
      description: 'Get available ongoing and upcoming attribution opportunities for the given partner.


        Any of the keys within the response will be excluded if they are not applicable, such as not being enabled or configured for the partner.'
    servers:
    - description: Production
      url: https://api.partnerize.com
  /v2/campaigns/{campaignId}/attribution:
    parameters:
    - $ref: '#/components/parameters/campaignId'
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    get:
      summary: List Attribution Settings
      tags:
      - Attribution
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Attribution Response
                type: object
                description: Attribution Response Object
                example:
                  data:
                    code_suppression: false
                    preferred_partners: true
                    exclusive_codes: true
                    in_cart: false
                    split: true
                properties:
                  data:
                    type: object
                    properties:
                      code_suppression:
                        type: boolean
                        description: Is Code Suppression enabled?
                      preferred_partners:
                        type: boolean
                        description: Is Preferred Partners Enabled?
                      exclusive_codes:
                        type: boolean
                        description: Is Exclusive Codes enabled?
                      in_cart:
                        type: boolean
                        description: Is In-Cart enabled?
                      split:
                        type: boolean
                        description: Is Split enabled?
      operationId: get-v2-attribution
      description: Get the status of each of the Attribution Settings
    patch:
      summary: Update Attribution Settings
      operationId: post-v2-attribution
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1attribution/get/responses/200/content/application~1json/schema'
      requestBody:
        content:
          application/json:
            schema:
              title: Attribution Update Request
              type: object
              description: Attribution Update Request Object
              properties:
                code_suppression:
                  type: boolean
                  description: Is Code Suppression enabled?
                preferred_partners:
                  type: boolean
                  description: Is Preferred Partners Enabled?
                exclusive_codes:
                  type: boolean
                  description: Is Exclusive Codes enabled?
                in_cart:
                  type: boolean
                  description: Is In-Cart enabled? Mutually exclusive with Split
                split:
                  type: boolean
                  description: Is Split enabled? Mutually exclusive with In-Cart
                first_click:
                  type: boolean
                  description: Is First Click enabled? Mutually exclusive with In-Cart and Split
        description: ''
      tags:
      - Attribution
      description: Update the Attribution Settings
components:
  parameters:
    campaignId:
      name: campaignId
      description: The ID of the Campaign
      in: path
      required: true
      schema:
        type: string
        example: 111111l1
x-refined-from:
- partnerize-partners-api-openapi.yml
- partnerize-attribution-api-openapi.yml
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
