openapi: 3.2.0
info:
  title: Partnerize Partners Participations API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Participations
paths:
  /v3/partner/{partnerId}/participations:
    get:
      summary: List Partner Participations
      operationId: listPartnerParticipations
      description: 'Returns a list of Partner participations with basic campaign details.


        > ### Migrating From Previous Versions

        > #### Migrating From V1 endpoint

        > This endpoint supersedes the v1 endpoint

        > #### Migrating From V2 endpoint

        > The V2 endpoint returns campaigns of all statuses by default. This V3 endpoint only returns active campaigns by default, but this can be configured using the `campaign_status` URL query parameter to behave the same as the V2 endpoint by appending `?campaign_status[]=a&campaign_status[]=r` to the URL.'
      tags:
      - Participations
      parameters:
      - description: ID of the Partner
        example: 111111l3
        in: path
        name: partnerId
        required: true
        schema:
          type: string
      - description: 'This filter is based on the status of a partner''s relationship to campaigns. For example this can be used to find all campaigns that the partner is approved on to (`a`), or invited to (`t`). Default value `a`.

          * `r` = rejected

          * `a` = approved

          * `p` = pending (requested)

          * `t` = invited (pending terms and conditions)

          '
        example: a
        in: query
        name: status[]
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - r
            - a
            - p
            - t
      - description: 'This filter can be used to find campaigns that the partner is associated with, based on the campaign''s status. Default value `a`

          * `a` = active (campaigns that are currently live in the Partnerize platform)

          * `r` = retired (campaigns that are no longer live in the Partnerize platform)

          '
        example: a
        in: query
        name: campaign_status[]
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - a
            - r
      - description: 'This filter can be used to find campaigns that the partner is associated with, based on the partner''s status with the campaign''s brand network. By default this filter will not be applied.

          * `a` = approved (will filter participations to those where the partner is approved onto the campaign''s brand network)

          * `p` = pending (will filter participations to those where the partner is pending approval / rejection onto the campaign''s brand network)

          * `r` = rejected (will filter participations to those where the partner is rejected from the campaign''s brand network)

          '
        example: a
        in: query
        name: network_status[]
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - a
            - p
            - r
      - description: Specify what additional data properties should be returned in the response payload
        example: promotional_countries
        in: query
        name: fields[]
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - camref
            - vertical
            - promotional_countries
            - default_currency
            - brand_id
            - status
            - icon
            - week_start
            - hidden_campaign
            - reporting_timezone
            - network_status
      responses:
        '200':
          description: Request Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-07/schema#
                type: object
                description: List Partner Participations
                properties:
                  data:
                    type: array
                    items:
                      $schema: http://json-schema.org/draft-07/schema#
                      type: object
                      title: Partner Participation object
                      properties:
                        campaign_id:
                          type: string
                        status:
                          type: string
                          description: This represents the status of the partner's relationship to the campaign
                        approved:
                          type: string
                          format: date-time
                        agreed_latest_terms:
                          type: string
                        custom_terms:
                          type: string
                        campaign_info:
                          type: object
                          properties:
                            title:
                              type: string
                            secure_tracking:
                              type: string
                            cpc_tracking_link:
                              type:
                              - string
                              - 'null'
                              format: uri
                            destination_url:
                              type: string
                              format: uri
                            tracking_link:
                              type:
                              - string
                              - 'null'
                              format: uri
                            tracking_link_mobile:
                              type:
                              - string
                              - 'null'
                            allow_deep_linking:
                              type: string
                            campaign_languages:
                              type:
                              - object
                              - 'null'
                              properties:
                                de|fr|es|it|...:
                                  type: object
                                  properties:
                                    destination_url:
                                      type: string
                                      format: uri
                      additionalProperties: false
                      example:
                        'campaign_id:': 111111l13
                        status: a
                        approved: '2022-09-24T14:15:22+00:00'
                        agreed_latest_terms: y
                        custom_terms: y
                        'campaign_info:':
                          title: Cards & Loans
                          secure_tracking: y
                          cpc_tracking_link: null
                          destination_url: http://partnerize.com
                          tracking_link: https://prf.partnerize.tech/click/camref:111111lb
                          tracking_link_mobile: null
                          allow_deep_linking: y
                          campaign_languages:
                            de:
                              destination_url: https://partnerize.com/de
                            es:
                              destination_url: https://partnerize.com/es
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
