openapi: 3.2.0
info:
  title: Partnerize Partners Feeds (v1) API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Feeds (v1)
paths:
  /user/publisher/{publisher_id}/feed:
    get:
      parameters:
      - description: ID of the partner
        example: 1l1007802
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
      - description: ID of the campaign to restrict output to
        example: 10l176
        in: query
        name: campaign_id
        required: false
        schema:
          type: string
      - description: Filter by active
        example: y
        in: query
        name: active
        required: false
        schema:
          $ref: '#/components/schemas/YesOrNo'
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    campaigns:
                    - campaign:
                        campaign_id: 10l176
                        title: SportsBetting
                        feeds:
                        - campaign_feeds_id: 1011l10
                          campaign_id: 10l176
                          creative_id: '300441'
                          filename: uk_destinations.csv
                          filesize: 581427
                          filesize_compressed: 27691
                          last_processed: 1432235983
                          location: http://www.partnerize.com/
                          location_compressed: http://www.partnerize.com/
                          name: UK Destinations
                          title: SportBetting
                          updated: 1432228514
                    count: 1
                    execution_time: 0.53595 seconds
              schema:
                properties:
                  campaigns:
                    items:
                      properties:
                        campaign:
                          allOf:
                          - type: object
                            properties:
                              title:
                                description: the name of the campaign
                                type: string
                              campaign_id:
                                description: the Id of the campaign
                                type: string
                          - $ref: '#/components/schemas/Feed'
                    type: array
                  count:
                    type: number
                  execution_time:
                    type: string
                type: object
          description: OK
      tags:
      - Feeds (v1)
      description: View all Feeds for the specified Partner.
      operationId: List all Available Feeds
      summary: List all Available Feeds
components:
  schemas:
    Feed:
      properties:
        feed:
          properties:
            campaign_feeds_id:
              description: ID of the Feed
              type: string
            campaign_id:
              description: ID of the Campaign
              type: string
            creative_id:
              description: ID of the Creative
              type: string
            filename:
              type: string
            filesize:
              type: number
            filesize_compressed:
              type: number
            last_processed:
              description: UNIX timestamp
              type: number
            location:
              type: string
            name:
              type: string
            title:
              description: name of the Campaign
              type: string
            updated:
              description: UNIX timestamp
              type: number
          type: object
      type: object
    YesOrNo:
      enum:
      - y
      - n
      type: string
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
