openapi: 3.2.0
info:
  title: Partnerize Promotional Commissions API
  version: 1.4.99
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
  description: 'Operations tagged Promotional Commissions across 2 of this provider''s published API definitions: partnerize-partners-api-openapi.yml, partnerize-promotional-commissions-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Promotional Commissions
paths:
  /v2/campaigns/{campaignId}/publishers/{publisherId}/commissions/promotion:
    get:
      operationId: get-publisher-commissions-promotion
      tags:
      - Promotional Commissions
      summary: List Partner Promotional Commissions For Specific Campaign
      description: This endpoint lists partner promotional commissions for the given partner and campaign.
      parameters:
      - in: path
        name: publisherId
        description: The ID of the Partner to list commissions for
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        description: The ID of the campaign to list the Partner commissions for
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Partner Promotional Commissions List
          content:
            application/json:
              schema:
                type: object
                properties:
                  promotions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        description:
                          type: string
                        performance_value:
                          type: number
                          description: The amount to be paid to the partner for commission. Must be greater than 0. Will be rounded to 2 decimal places.
                          minimum: 0.01
                        performance_model:
                          type: string
                          description: The performance model by which the partner is rewarded.
                          enum:
                          - cpc
                          - fixed_cpa
                          - percentage_cpa
                        start_date:
                          allOf:
                          - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                        end_date:
                          allOf:
                          - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                        cookie_period:
                          type: number
                          description: Period tracking cookie will remain on users device.
                        commission_based_on_field:
                          type: string
                        status:
                          $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1campaign/get/responses/200/content/application~1json/schema/properties/commissions/items/properties/status'
                        meta_fields:
                          type: array
                          items:
                            $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1campaign/get/responses/200/content/application~1json/schema/properties/commissions/items/properties/meta_fields/items'
                        publishers:
                          type: array
                          minItems: 0
                          items:
                            $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1tier/get/responses/200/content/application~1json/schema/properties/tiers/items/properties/publishers/items'
                        groups:
                          type: array
                          minItems: 0
                          items:
                            $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1tier/get/responses/200/content/application~1json/schema/properties/tiers/items/properties/groups/items'
                        last_modified:
                          allOf:
                          - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                        last_modified_by:
                          type: string
                          description: ID of the most recent user to modify this record.
    servers:
    - description: Production
      url: https://api.partnerize.com
  /v2/campaigns/{campaignId}/commissions/promotions:
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    get:
      operationId: get-promotional-commissions
      tags:
      - Promotional Commissions
      summary: List Promotional Commissions
      description: This endpoint lists all active and scheduled promotional commissions for the given campaign.
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign to list the promotional commissions for
        required: true
        schema:
          type: string
      - in: query
        name: at
        description: Check the promotional commissions for a given moment
        required: false
        example: '2021-07-02T12:00:00+01:00'
        schema:
          type: string
      responses:
        '200':
          description: Promotional Commission List
          content:
            application/json:
              schema:
                type: object
                title: Promotional Commissions
                properties:
                  promotions:
                    type: array
                    items:
                      $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1promotions/post/responses/201/content/application~1json/schema/properties/promotion'
    post:
      operationId: create-promotional-commission
      tags:
      - Promotional Commissions
      summary: Create Promotional Commission
      description: This creates a new promotional commission for the given campaign
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign to create the promotional commission for
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: Promotional Commission
              properties:
                description:
                  type: string
                performance_value:
                  type: number
                  description: The value to be rewarded based on selected Performance Measurement
                performance_model:
                  title: Performance Model
                  description: Model used to calculate Partner commission
                  type: string
                  enum:
                  - fixed_cpa
                  - percentage_cpa
                  - cpc
                start_date:
                  allOf:
                  - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                  - description: The Start Date of the Promotional Commission
                end_date:
                  allOf:
                  - title: Date Time
                    type:
                    - string
                    - 'null'
                    pattern: ^(\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}|null)$
                  - description: The End Date of the Promotional Commission
                cookie_period:
                  type: integer
                  minimum: 0
                  maximum: 31536000
                  description: The cookie period defined in seconds
                commission_based_on_field:
                  type: string
                  description: The tracking field used to calculate partner commission
                meta_fields:
                  type: array
                  items:
                    type: object
                    title: Meta Field Values
                    description: Meta Field with assigned values
                    allOf:
                    - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions/post/requestBody/content/application~1json/schema/properties/meta_fields/items/oneOf/0/allOf/0'
                    - properties:
                        values:
                          description: An array of the values of a meta field
                          type: array
                          items:
                            type: string
                            title: Meta Field Value
                          example:
                          - clothing
                      required:
                      - values
                publishers:
                  type: array
                  minItems: 0
                  items:
                    $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/requestBody/content/application~1json/schema/properties/publishers/items'
                groups:
                  type: array
                  minItems: 0
                  items:
                    $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/requestBody/content/application~1json/schema/properties/groups/items'
              additionalProperties: false
              required:
              - performance_value
              - performance_model
              - start_date
      responses:
        '201':
          description: Promotional Commission Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  promotion:
                    type: object
                    title: Promotional Commission
                    properties:
                      id:
                        type: string
                      description:
                        type: string
                      performance_value:
                        type: number
                        description: The value to be rewarded based on selected Performance Measurement
                      performance_model:
                        $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1promotions/post/requestBody/content/application~1json/schema/properties/performance_model'
                      last_modified_by:
                        type: string
                      last_modified:
                        allOf:
                        - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                        - description: The date on which the commission was last modified
                      start_date:
                        allOf:
                        - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                        - description: The Start Date of the Promotional Commission
                      end_date:
                        allOf:
                        - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                        - description: The End Date of the Promotional Commission
                      cookie_period:
                        type: integer
                        description: The cookie period defined in seconds
                      commission_based_on_field:
                        type: string
                        description: The tracking field used to calculate partner commission. This field will only be returned when Commission By Meta is enabled
                      meta_fields:
                        type: array
                        minItems: 0
                        items:
                          $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1%7BcommissionId%7D~1retire/post/responses/200/content/application~1json/schema/properties/meta_fields/items'
                      publishers:
                        type: array
                        minItems: 0
                        items:
                          $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/responses/201/content/application~1json/schema/properties/tier/properties/publishers/items'
                      groups:
                        type: array
                        minItems: 0
                        items:
                          $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/responses/201/content/application~1json/schema/properties/tier/properties/groups/items'
                      status:
                        $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1%7BcommissionId%7D~1retire/post/responses/200/content/application~1json/schema/properties/status'
                    required:
                    - id
                    - description
                    - performance_value
                    - performance_model
                    - last_modified_by
                    - last_modified
                    - start_date
                    - end_date
                    - cookie_period
                    - meta_fields
                    - publishers
                    - groups
                    - status
  /v2/campaigns/{campaignId}/commissions/promotions/{promotionalId}:
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    get:
      operationId: get-promotional-commission
      tags:
      - Promotional Commissions
      summary: Get Promotional Commission
      description: This endpoint returns the promotional commission for the given campaign and promotional commission ID.
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign the promotional commission belongs to
        required: true
        schema:
          type: string
      - in: path
        name: promotionalId
        description: The ID of the promotional commission to retrieve
        required: true
        schema:
          type: string
      - in: query
        name: include
        description: The historical edits will be shown under the history.data attribute when set to 'history'.
        required: false
        schema:
          type: string
          enum:
          - history
      responses:
        '200':
          description: Promotional Commission
          content:
            application/json:
              schema:
                type: object
                title: Promotional Commission
                properties:
                  promotion:
                    type: object
                    $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1promotions/post/responses/201/content/application~1json/schema/properties/promotion'
                  history:
                    type: object
                    title: Promotional Commission History
                    properties:
                      data:
                        type: array
                        description: Audit data of the commission
                        items: {}
                    required:
                    - data
    delete:
      operationId: delete-promotional-commission
      tags:
      - Promotional Commissions
      summary: Delete Promotional Commission
      description: This endpoint deletes a given Promotional Commission
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign the promotional commission belongs to
        required: true
        schema:
          type: string
      - in: path
        name: promotionalId
        description: The ID of the promotional commission to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Promotional Commission Deleted
    patch:
      operationId: update-promotional-commission
      tags:
      - Promotional Commissions
      summary: Modify Promotional Commission
      description: Modifies the promotional commission for the given commission ID and campaign
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign to update the promotional commission for
        required: true
        schema:
          type: string
      - in: path
        name: promotionalId
        description: The ID of the promotional commission to update
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: Promotional Commission
              properties:
                id:
                  type: string
                description:
                  type:
                  - string
                  - 'null'
                performance_value:
                  type: number
                  description: The value to be rewarded based on selected Performance Measurement
                performance_model:
                  $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1promotions/post/requestBody/content/application~1json/schema/properties/performance_model'
                start_date:
                  allOf:
                  - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                  - description: The Start Date of the Promotional Commission
                end_date:
                  allOf:
                  - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1promotions/post/requestBody/content/application~1json/schema/properties/end_date/allOf/0'
                  - description: The End Date of the Promotional Commission
                cookie_period:
                  type:
                  - integer
                  - 'null'
                  minimum: 0
                  maximum: 31536000
                  description: The cookie period defined in seconds
                commission_based_on_field:
                  type: string
                  description: The tracking field used to calculate partner commission
                meta_fields:
                  type: array
                  items:
                    $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1promotions/post/requestBody/content/application~1json/schema/properties/meta_fields/items'
                publishers:
                  type: array
                  minItems: 0
                  items:
                    $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/requestBody/content/application~1json/schema/properties/publishers/items'
                groups:
                  type: array
                  minItems: 0
                  items:
                    $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/requestBody/content/application~1json/schema/properties/groups/items'
              additionalProperties: false
      responses:
        '200':
          description: Promotional Commission Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  promotion:
                    $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1promotions/post/responses/201/content/application~1json/schema/properties/promotion'
  /v2/campaigns/{campaignId}/commissions/promotions/{promotionalId}/retire:
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    post:
      operationId: retire-promotional-commission
      tags:
      - Promotional Commissions
      summary: Retire Promotional Commission
      description: This endpoint retires a given Promotional Commission
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign the promotional commission belongs to
        required: true
        schema:
          type: string
      - in: path
        name: promotionalId
        description: The ID of the promotional commission to retire
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Promotional Commission Retired
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1promotions~1%7BpromotionalId%7D/get/responses/200/content/application~1json/schema'
x-refined-from:
- partnerize-partners-api-openapi.yml
- partnerize-promotional-commissions-api-openapi.yml
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
