openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Communication Templates API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Communication Templates
paths:
  /v2/communication-templates:
    get:
      tags:
      - Communication Templates
      summary: Get a list of communication templates
      operationId: list-communication-template
      parameters:
      - in: query
        name: name
        schema:
          type: string
        required: false
        description: Name of template to search by
      - in: query
        name: source
        schema:
          type: string
          enum:
          - partnerize
          - unlayer
        required: false
        description: Source of the template to filter by
      responses:
        '200':
          description: Returns a list of communication templates
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1v2~1communications/get/responses/200/content/application~1json/schema/allOf/0'
                - $schema: http://json-schema.org/draft-04/schema
                  type: object
                  properties:
                    communication_templates:
                      type: array
                      items:
                        allOf:
                        - $ref: '#/paths/~1v2~1communication-templates~1%7Bid%7D/patch/requestBody/content/application~1json/schema/allOf/0/allOf/0'
                        - type: object
                          properties:
                            network_id:
                              type:
                              - string
                              - 'null'
                            unlayer_json:
                              type: object
                              nullable: 'true'
                              default: null
                            html:
                              type: string
                              nullable: 'true'
                              default: null
                            last_updated:
                              type: string
                              example: '2024-02-09T15:18:35+00:00'
    post:
      tags:
      - Communication Templates
      summary: Creates a new communication template
      operationId: create-communication-template
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $schema: http://json-schema.org/draft-04/schema
                type: object
                allOf:
                - $ref: '#/paths/~1v2~1communication-templates~1%7Bid%7D/patch/requestBody/content/application~1json/schema/allOf/0'
                - type: object
                  required:
                  - name
                  - unlayer_json
                  - html
                  - thumbnail
      responses:
        '201':
          description: Returns the newly created communication template
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1v2~1communications/get/responses/200/content/application~1json/schema/allOf/0'
                - $schema: http://json-schema.org/draft-04/schema
                  type: object
                  properties:
                    communication_template:
                      allOf:
                      - $ref: '#/paths/~1v2~1communication-templates~1%7Bid%7D/patch/requestBody/content/application~1json/schema/allOf/0/allOf/0'
                      - type: object
                        properties:
                          network_id:
                            type: string
                          last_updated:
                            type: string
                            example: '2024-02-09T15:18:35+00:00'
  /v2/communication-templates/{id}:
    get:
      tags:
      - Communication Templates
      summary: Get a single communication template
      operationId: read-communication-template
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: ID of the template to get
      - in: query
        name: source
        schema:
          type: string
          enum:
          - partnerize
          - unlayer
        required: true
        description: Whether the template is from Partnerize or Unlayer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1v2~1communications/get/responses/200/content/application~1json/schema/allOf/0'
                - $ref: '#/paths/~1v2~1communication-templates/post/responses/201/content/application~1json/schema/allOf/1'
    patch:
      tags:
      - Communication Templates
      summary: Updates a communication template
      operationId: patch-communication-template
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: ID of the template to patch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $schema: http://json-schema.org/draft-04/schema
                type: object
                allOf:
                - $schema: http://json-schema.org/draft-04/schema
                  type: object
                  properties:
                    id:
                      type: string
                      readOnly: true
                    name:
                      type: string
                      minLength: 1
                      maxLength: 128
                      example: My comms template
                    unlayer_json:
                      type: object
                      minLength: 1
                    html:
                      type: string
                      minLength: 1
                    visibility:
                      type: string
                      enum:
                      - user
                      - network
                      default: user
                    source:
                      type: string
                      enum:
                      - partnerize
                      - unlayer
                      readOnly: true
                    thumbnail:
                      type: string
                      description: The url for the communication template thumbnail
                - type: object
                  properties:
                    thumbnail:
                      type: string
                      minLength: 1
                      description: Absolute url for the image
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1v2~1communications/get/responses/200/content/application~1json/schema/allOf/0'
                - $ref: '#/paths/~1v2~1communication-templates/post/responses/201/content/application~1json/schema/allOf/1'
    delete:
      tags:
      - Communication Templates
      summary: Delete a single communication template
      operationId: delete-communication-template
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: ID of the Partnerize template to delete
      responses:
        '204':
          description: ''
  /v2/communication-templates/{id}/thumbnail:
    get:
      tags:
      - Communication Templates
      summary: Get a single communication template's thumbnail
      operationId: fetch-communication-template-thumbnail
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: ID of the template to get
      - in: query
        name: source
        schema:
          type: string
          enum:
          - partnerize
          - unlayer
        required: true
        description: Whether the thumbnail is for a Partnerize or Unlayer template
      responses:
        '200':
          description: An image representing the template's thumbnail
          content:
            image/png:
              schema:
                type: string
                format: binary
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
