openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Discovery Settings API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Discovery Settings
paths:
  /v2/networks/{networkId}/marketplace/settings/advertisers:
    get:
      summary: List discovery settings for brands
      description: Retrieve a list of brands and their campaign discovery settings
      operationId: getMarketplaceBrands
      tags:
      - Discovery Settings
      parameters:
      - name: show_test_mode
        description: 'Decide if campaigns should be returned if they are in test mode (default value: false)'
        in: path
        required: false
        schema:
          type: boolean
      - name: show_hidden
        description: 'Decide if campaigns should be returned if they are hidden (default value: false)'
        in: path
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Brand List
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema
                type: object
                title: Advertiser Marketplace settings List Response
                properties:
                  advertisers:
                    type: array
                    items:
                      $schema: http://json-schema.org/draft-04/schema
                      type: object
                      title: Advertiser
                      properties:
                        id:
                          type: string
                          description: ID of the brand
                        name:
                          type: string
                          description: Name of the brand
                        participating:
                          type: boolean
                          description: Whether the brand is participating in marketplace or not
                        campaigns:
                          type: array
                          items:
                            $schema: http://json-schema.org/draft-04/schema
                            type: object
                            title: Campaign
                            properties:
                              id:
                                type: string
                                description: ID of the campaign
                              name:
                                type: string
                                description: Name of the campaign
                              shown:
                                type: boolean
                                description: Whether the campaign is shown within in marketplace or not
                              testMode:
                                type: boolean
                                description: Whether the campaign is in test mode
                              hidden:
                                type: boolean
                                description: Whether the campaign is hidden
                              status:
                                type: string
                                enum:
                                - Active
                                - Retired
                                - N/A
                                description: The status of the campaign
    put:
      summary: Update Brand Marketplace settings
      description: Update the discovery settings of the brand
      operationId: updateMarketplaceBrands
      tags:
      - Discovery Settings
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema
              type: object
              title: Advertiser Marketplace settings List Response
              properties:
                advertisers:
                  type: array
                  items:
                    $schema: http://json-schema.org/draft-04/schema
                    type: object
                    title: Advertiser
                    properties:
                      id:
                        type: string
                        description: ID of the brand
                      name:
                        type: string
                        description: Name of the brand
                      participating:
                        type: boolean
                        description: Whether the brand is participating in marketplace or not
                      campaigns:
                        type: array
                        items:
                          $schema: http://json-schema.org/draft-04/schema
                          type: object
                          title: Campaign
                          properties:
                            id:
                              type: string
                              description: ID of the campaign
                            name:
                              type: string
                              description: Name of the campaign
                            shown:
                              type: boolean
                              description: Whether the campaign is shown within in marketplace or not
              required:
              - advertisers
      responses:
        '200':
          description: Brand List
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7BnetworkId%7D~1marketplace~1settings~1advertisers/put/requestBody/content/application~1json/schema'
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
