openapi: 3.2.0
info:
  title: Partnerize Partners Countries API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Countries
paths:
  /reference/country:
    get:
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    countries:
                    - country:
                        area_sq_km: 468
                        capital: Andorra la Vella
                        continent_iso: EU
                        continent_name: Europe
                        currency_iso: EUR
                        east: '42.656043'
                        fips_code: AN
                        geoname_id: 3041565
                        iso: AD
                        iso3: AND
                        iso_numeric: '020'
                        languages: ca
                        north: '42.656043'
                        population: 84000
                        printable_name: Andorra
                        ref_country_id: 1
                        south: '42.656043'
                        west: '42.656043'
                        zone: Outside EU VAT area
              schema:
                properties:
                  countries:
                    items:
                      $ref: '#/components/schemas/Reference_Country'
                    type: array
                type: object
          description: OK
      tags:
      - Countries
      description: List all active countries.
      operationId: List all Countries
      summary: List all Countries
components:
  schemas:
    Reference_Country:
      properties:
        country:
          properties:
            area_sq_km:
              type: number
            capital:
              type: string
            continent_iso:
              type: string
            continent_name:
              type: string
            currency_iso:
              description: The ISO of the currency
              type: string
            east:
              type: string
            fips_code:
              type: string
            geoname_id:
              type: number
            iso:
              description: The ISO code for the country
              type: string
            iso3:
              type: string
            iso_numeric:
              type: string
            languages:
              type: string
            north:
              type: string
            population:
              type: number
            printable_name:
              description: The dictionary word for the locale
              type: string
            ref_country_id:
              description: ID of the country
              type: number
            south:
              type: string
            west:
              type: string
            zone:
              type: string
          type: object
      type: object
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
