openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Brand Clicks API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Brand Clicks
paths:
  /reporting/report_advertiser/campaign/{campaign_id}/click.{format}:
    get:
      parameters:
      - description: ID of the Campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      - description: Format for the response
        example: json
        in: path
        name: format
        required: true
        schema:
          enum:
          - json
          - xml
          type: string
      - description: Start date for data to be included in the report
        example: '2016-02-30T05:15:32Z'
        in: query
        name: start_date
        required: true
        schema:
          type: string
      - description: End date for data to be included in the report
        example: '2016-03-10T19:02:35Z'
        in: query
        name: end_date
        required: false
        schema:
          type: string
      - description: Restricts the results to one of the following - this hour, last hour, today, yesterday, this week, last week, last X days, this month, last month, this year, last year.
        example: yesterday
        in: query
        name: text_date
        required: false
        schema:
          type: string
      - description: Enforce a specified Timezone.
        example: Europe/London
        in: query
        name: timezone
        required: false
        schema:
          type: string
      - description: Filter the results by the specified currency
        example: USD
        in: query
        name: currency[]
        required: false
        schema:
          $ref: '#/components/schemas/Currency'
      - description: This parameter to run the report for conversions that have been updated. When you specify `last_modified` or `approved_at` the response will only include conversions that were last modified or approved at in a date within the report date range.
        example: last_modified
        in: query
        name: date_type
        required: false
        schema:
          type: string
      - description: 'Add a secondary pivot filter. You need to specify the pivot parameter name and the value to filter by. E.g. multipivot[publisher][]=111111l29. Supported values are: `publisher`, `product`, `advertiser_reference`.'
        example: value
        in: query
        name: multipivot[{pivot}][]
        required: false
        schema:
          type: string
      - description: Filter by statuses. Available values - approved, pending, rejected
        example: approved
        in: query
        name: statuses[]
        required: false
        schema:
          type: string
      - description: Offset the results by a given amount. Defaults to 0.
        example: '0'
        in: query
        name: offset
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    unique_click_count: 2
                    start_date_time_utc: '2019-08-10 00:00:00'
                    end_date_time_utc: null
                    start_date_time: '2020-05-13 00:00:00'
                    end_date_time: '2020-05-13 00:00:00'
                    limit: 300
                    offset: 0
                    count: 2
                    execution_time: 0.50885 seconds
                    clicks:
                    - click:
                        click_id: 111111l11
                        device_id: 111111l11
                        campaign_id: 111111l26
                        publisher_id: 111111l92
                        type: standard
                        status: nibbled
                        set_time: '2020-05-13 00:00:00'
                        set_ip: 33c0:7b2c:2cad:5eb:a6cd:b312:111a:cf23
                        last_used: '2020-05-13 15:28:52'
                        last_ip: 33c0:7b2c:2cad:5eb:a6cd:b312:111a:cf23
                        advertiser_reference: ''
                        referer: ''
                        creative_id: 0
                        creative_type: 0
                        specific_creative_id: 0
                        country: RU
                        ref_device_id: 2
                        ref_traffic_source_id: 3
                        ref_partnership_model_id: 2
                        ref_user_context_id: 2
                        clickref: 111111lj
                        publisher_name: null
                    - click:
                        click_id: 111111l12
                        device_id: 111111l12
                        campaign_id: 111111l26
                        publisher_id: 111111l92
                        type: standard
                        status: nibbled
                        set_time: '2020-05-13 00:00:00'
                        set_ip: 33c0:7b2c:2cad:5eb:a6cd:b312:111a:cf23
                        last_used: '2020-05-13 15:28:51'
                        last_ip: 33c0:7b2c:2cad:5eb:a6cd:b312:111a:cf23
                        advertiser_reference: ''
                        referer: ''
                        creative_id: 0
                        creative_type: 0
                        specific_creative_id: 0
                        country: US
                        ref_device_id: 2
                        ref_traffic_source_id: 3
                        ref_partnership_model_id: 2
                        ref_user_context_id: 2
                        clickref: 111111lk
                        publisher_name: null
              schema:
                $ref: '#/components/schemas/Brand_Clicks'
          description: OK
      tags:
      - Brand Clicks
      description: Return a mix of aggregated and basket/item level click data for a brand.
      operationId: brand-clicks
      summary: Retrieve a Brand Clicks Report
components:
  schemas:
    Brand_Clicks:
      properties:
        unique_click_count:
          description: total count of unique clicks
          type: number
        start_date_time_utc:
          type: string
        end_date_time_utc:
          type: string
        start_date_time:
          type: string
        end_date_time:
          type: string
        limit:
          type: number
        offset:
          type: number
        count:
          type: number
        execution_time:
          type: string
        clicks:
          type: array
          items:
            $ref: '#/components/schemas/Brand_Click'
      type: object
    Currency:
      enum:
      - GBP
      - USD
      - EUR
      - JPY
      type: string
    Brand_Click:
      properties:
        click_id:
          type: string
        cookie_id:
          type: string
        campaign_id:
          description: Id of the campaign
          example: 111111l29
          type: string
        publisher_id:
          description: Id of the partner
          example: 111111l92
          type: string
        type:
          type: string
        status:
          type: string
        set_time:
          type: string
        set_ip:
          type: string
        last_used:
          type: number
        last_ip:
          type: string
        advertiser_reference:
          type: string
        referer:
          type: string
        creative_id:
          type: number
        creative_type:
          type: number
        specific_creative_id:
          type: number
        ref_device_id:
          type: number
        ref_traffic_source_id:
          type: number
        ref_partnership_model_id:
          type: number
        ref_user_context_id:
          type: number
        clickref:
          type: string
        publisher_name:
          type: string
      type: object
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
