openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Networks API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- description: 'All API calls are contextual to the User that is making the request, and all User accounts are associated with the

    Network that they are created on. Each network has a unique `application_user_key`.'
  name: Networks
paths:
  /network:
    get:
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    networks:
                    - network:
                        auto_approve_publishers: y
                        cm_client_id: b4d0d85c2cff813cdce092c261b2b200
                        default_campaign_id: ''
                        network_application_id: '2'
                        network_contact_email: ''
                        network_description: PHG Network
                        network_id: 1l1000003
                        network_locale: bg
                        network_name: PHG
                        network_notes: Internal PHG Network
              schema:
                properties:
                  networks:
                    items:
                      $ref: '#/components/schemas/Network_Wrapper'
                    type: array
          description: OK
      tags:
      - Networks
      description: Retrieve the details of the authenticated Network.
      operationId: listNetworks
      summary: List Networks
components:
  schemas:
    Locale:
      enum:
      - bg
      - cs
      - da
      - de
      - de_at
      - en
      - en_au
      - en_ca
      - en_us
      - es
      - es_mx
      - el
      - et
      - fi
      - fl
      - fr
      - fr_ca
      - hu
      - id
      - it
      - jp
      - ko
      - ko_kr
      - lt
      - lv
      - ms_my
      - mt
      - my
      - nl
      - 'no'
      - pl
      - po
      - pt
      - pt_br
      - ro
      - ru
      - sg
      - sk
      - sl
      - sv
      - sv_se
      - th
      - tl
      - tr
      - vi
      - zh_cn
      - zh_hk
      type: string
    Network:
      properties:
        auto_approve_publishers:
          $ref: '#/components/schemas/YesOrNo'
        cm_client_id:
          type: string
        default_campaign_id:
          type: string
        network_application_id:
          type: string
        network_contact_email:
          type: string
        network_description:
          description: Description of the network
          type: string
        network_id:
          description: ID of the network
          type: string
        network_locale:
          $ref: '#/components/schemas/Locale'
        network_name:
          description: Name of the network
          type: string
        network_notes:
          description: Any additional notes for the network
          type: string
      type: object
    Network_Wrapper:
      properties:
        network:
          $ref: '#/components/schemas/Network'
      type: object
    YesOrNo:
      enum:
      - y
      - n
      type: string
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
