openapi: 3.2.0
info:
  title: Partnerize Partners Databases API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Databases
paths:
  /user/publisher/{publisher_id}/database:
    get:
      parameters:
      - description: ID of the partner
        example: 1l1007802
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    databases:
                    - database:
                        active: y
                        creation_method: Email
                        database_id: 111111l300347
                        database_name: Partnerize Test Database
                        female: 50
                        male: 50
                        max_age: 77
                        min_age: 25
                        publisher_id: 1l1007802
                        size: 53000
              schema:
                properties:
                  databases:
                    items:
                      $ref: '#/components/schemas/Partner_Database_Wrapper'
                    type: array
                type: object
          description: OK
      tags:
      - Databases
      description: Return the details of all Databases attached to the Partner account.
      operationId: List Partner Databases
      summary: List Partner Databases
    post:
      parameters:
      - description: ID of the partner
        example: 1l1007802
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    databases:
                    - database:
                        active: y
                        creation_method: Email
                        database_id: 111111l300347
                        database_name: PHG Test Database
                        female: 50
                        male: 50
                        max_age: 77
                        min_age: 25
                        publisher_id: 1l1007802
                        size: 53000
              schema:
                properties:
                  databases:
                    items:
                      $ref: '#/components/schemas/Partner_Database'
                    type: array
                type: object
          description: OK
      tags:
      - Databases
      description: Create one or more Databases against the partner entity. Each Database is sent as an array within a top level `databases` array.
      operationId: Create Partner Database
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - example:
                  active: y
                  creation_method: Email
                  database_name: Partnerize Test Database
                  female: 50
                  male: 50
                  max_age: 77
                  min_age: 25
                  size: 53000
                $ref: '#/components/schemas/Partner_Database'
              - example:
                  databases:
                  - active: y
                    creation_method: Email
                    database_name: PHG Test Database
                    female: 50
                    male: 50
                    max_age: 77
                    min_age: 25
                    size: 53000
                title: Array of Partner_Databases
                properties:
                  databases:
                    items:
                      $ref: '#/components/schemas/Partner_Database'
                    type: array
                type: object
      summary: Create Partner Database
    put:
      parameters:
      - description: ID of the partner
        example: 1l1007802
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    databases:
                    - database:
                        active: y
                        creation_method: Email
                        database_id: 111111l300347
                        database_name: Partnerize Test Database
                        female: 50
                        male: 50
                        max_age: 77
                        min_age: 25
                        publisher_id: 1l1007802
                        size: 53000
              schema:
                properties:
                  databases:
                    items:
                      $ref: '#/components/schemas/Partner_Database_Wrapper'
                    type: array
                type: object
          description: OK
      tags:
      - Databases
      description: Update one or more Databases against the Partner entity. Each Database is sent as an array within a top level `databases` array and must contain its associated `database_id`.
      operationId: Update Partner Databases
      requestBody:
        content:
          application/json:
            schema:
              example:
                databases:
                - active: y
                  creation_method: Email
                  database_id: 111111l300347
                  database_name: Partnerize Test Database
                  female: 50
                  male: 50
                  max_age: 77
                  min_age: 25
                  size: 53000
              properties:
                databases:
                  items:
                    $ref: '#/components/schemas/Partner_Database_Wrapper'
                  type: array
              type: object
      summary: Update Partner Databases
  /user/publisher/{publisher_id}/database/{database_id}:
    get:
      parameters:
      - description: ID of the partner
        example: 1l1007802
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
      - description: ID of the partner database
        example: 111111l300347
        in: path
        name: database_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    database:
                      active: y
                      creation_method: Email
                      database_id: 111111l300347
                      database_name: Partnerize Test Database
                      female: 50
                      male: 50
                      max_age: 77
                      min_age: 25
                      publisher_id: 1l1007802
                      size: 53000
              schema:
                $ref: '#/components/schemas/Partner_Database_Wrapper'
          description: OK
      tags:
      - Databases
      description: Retrieves the specified Partner Database.
      operationId: Retrieve a Partner Database
      summary: Retrieve a Partner Database
components:
  schemas:
    Partner_Database:
      properties:
        publisher_id:
          description: ID of the partner the database belongs to
          type: string
        active:
          $ref: '#/components/schemas/YesOrNo'
        creation_method:
          type: string
        database_name:
          type: string
        female:
          type: number
        male:
          type: number
        max_age:
          type: number
        min_age:
          type: number
        size:
          type: number
      required:
      - database_name
      - creation_method
      - size
      type: object
    Partner_Database_Wrapper:
      properties:
        database:
          allOf:
          - type: object
            properties:
              database_id:
                description: ID of the partner database
                type: string
          - $ref: '#/components/schemas/Partner_Database'
      type: object
    YesOrNo:
      enum:
      - y
      - n
      type: string
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
