openapi: 3.2.0
info:
  title: Partnerize Brands Attribution In Cart API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: In-Cart
  description: Define a period leading up to the time of purchase where clicks will be ignored and not attributed with a commission. Helps prevent last-click poaching.
paths:
  /v2/campaigns/{campaignId}/attribution/in-cart:
    parameters:
    - $ref: '#/components/parameters/campaignId'
    get:
      summary: List In-Cart Settings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: In Cart Response
                type: object
                properties:
                  data:
                    title: In Cart
                    type: object
                    properties:
                      threshold:
                        type: integer
                        description: Duration in seconds
                        minimum: 1
                        maximum: 3540
                        example: 60
                      excluded_partners:
                        type: array
                        description: An array of partners excluded from in cart attribution.
                        items:
                          title: Partner
                          type: object
                          properties:
                            id:
                              type: string
                              example: 10110l1
                            name:
                              type: string
                              example: Joel
                        example:
                        - id: 10110l123
                          name: Joel
                        - id: 10110l456
                          name: Jenny
                      reject_solo_click:
                        title: Reject solo click
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Whether reject solo click in cart is enabled
                            default: false
                            example: true
                  meta:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: Is In-Cart attribution enabled on this campaign?
      operationId: get-v2-attribution-in-cart
      description: Get the In-Cart settings for the given Campaign
      tags:
      - In-Cart
    patch:
      summary: Update In-Cart Settings
      operationId: post-v2-attribution-in-cart
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: In Cart Response
                type: object
                properties:
                  data:
                    $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1attribution~1in-cart/get/responses/200/content/application~1json/schema/properties/data'
      requestBody:
        content:
          application/json:
            schema:
              title: In Cart request
              type: object
              properties:
                threshold:
                  type: integer
                  description: Duration in seconds
                  minimum: 1
                  maximum: 3540
                  example: 60
                excluded_partners:
                  type: array
                  description: An array of partner IDs that are not affected by in cart attribution
                  items:
                    type: string
                  maxItems: 200
                  example:
                  - 10110l123
                  - 10110l456
                reject_solo_click:
                  title: Reject solo click
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Whether reject solo click in cart is enabled
                      default: false
                      example: true
                  required:
                  - enabled
              required:
              - threshold
              - excluded_partners
      description: Update the In-Cart settings for the Given Campaign
      tags:
      - In-Cart
components:
  parameters:
    campaignId:
      name: campaignId
      description: The ID of the Campaign
      in: path
      required: true
      schema:
        type: string
        example: 111111l1
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
