openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Communications API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Communications
paths:
  /v2/communications:
    get:
      tags:
      - Communications
      summary: List communications
      description: Lists all communications which the user has access to. Filtering by status is available via a query parameter.
      parameters:
      - in: query
        name: status
        schema:
          type: string
          enum:
          - draft
          - sent
          - scheduled
        description: A comma separated list of statuses
      responses:
        '200':
          description: A list of communications.
          content:
            application/json:
              schema:
                allOf:
                - title: Execution time
                  type: object
                  properties:
                    execution_time:
                      type: string
                      example: 0.08853 seconds
                - type: object
                  properties:
                    communications:
                      type: array
                      items:
                        $ref: '#/paths/~1v2~1communications~1%7Bid%7D/get/responses/200/content/application~1json/schema/allOf/1/properties/communication'
      operationId: get-communications
    post:
      tags:
      - Communications
      summary: Creates a new draft communication
      description: 'Draft communications belong to the user that created them (the owner).

        Note: this endpoint accepts publisher_ids or recipients, not both together'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/paths/~1v2~1communications~1%7Bid%7D~1content/put/requestBody/content/application~1json/schema'
              - type: object
                properties:
                  name:
                    type: string
                    maxLength: 64
                    example: Awesome communication
                  subject:
                    type: string
                    maxLength: 128
                    example: Wonderful subject
                  from_name:
                    type: string
                    maxLength: 64
                    description: The from name to be used
                    example: Joy O'Happy
                  from_email:
                    type: string
                    format: email
                    maxLength: 255
                    description: The from email to be used
                  reply_to_email:
                    type: string
                    format: email
                    maxLength: 255
                    description: The reply to email to be used
                  type:
                    type: string
                    enum:
                    - general
                    - prospect_invitation
                    default: general
                    description: The purpose of email being sent
                  campaigns:
                    type: array
                    maxItems: 180
                    uniqueItems: true
                    items:
                      type: string
              - $schema: http://json-schema.org/draft-04/schema
                oneOf:
                - type: object
                  properties:
                    recipients:
                      type: array
                      description: An array containing the emails of the recipients
                      items:
                        oneOf:
                        - type: string
                          format: email
                        - type: object
                          description: An object containing emails addresses and any applicable metadata
                          required:
                          - email_address
                          properties:
                            email_address:
                              type: string
                              format: email
                            is_in_grouphigh:
                              type: boolean
                              description: Only available to emails of type prospect_invitation
                            is_in_publisher_discovery:
                              type: boolean
                              description: Only available to emails of type prospect_invitation
                - type: object
                  properties:
                    publisher_ids:
                      type: array
                      description: An array containing ids of partner recipients
                      items:
                        type: string
      responses:
        '201':
          description: The new Communication object
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1v2~1communications/get/responses/200/content/application~1json/schema/allOf/0'
                - $schema: http://json-schema.org/draft-04/schema
                  type: object
                  properties:
                    communication:
                      allOf:
                      - $ref: '#/paths/~1v2~1communications~1%7Bid%7D/get/responses/200/content/application~1json/schema/allOf/1/properties/communication'
                      - $ref: '#/paths/~1v2~1communications/post/requestBody/content/application~1json/schema/allOf/2'
                - $schema: http://json-schema.org/draft-04/schema
                  type: object
                  properties:
                    hypermedia:
                      type: object
                      properties:
                        links:
                          type: object
                          properties:
                            content:
                              type: string
                              example: /v2/communications/{id}/content
              examples:
                response:
                  value:
                    execution_time: 0.08853 seconds
                    communication:
                      id: 100l06
                      name: Awesome communication
                      subject: Wonderful subject
                      type: general
                      from_name: Joy O'Happy
                      from_email: user@example.com
                      reply_to_email: user@example.com
                      send_date: '2020-07-23T10:02:53Z'
                      timezone: Europe/London
                      status: sent
                      preview_url: http://...
                      publisher_ids:
                      - string
                    hypermedia:
                      links:
                        content: /v2/communications/{id}/content
      operationId: create-communication
  /v2/communications/{id}:
    get:
      tags:
      - Communications
      summary: Retrieves a single communication
      description: Retrieves a communication for a given id
      parameters:
      - name: id
        in: path
        description: The ID of the communication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Communication object
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1v2~1communications/get/responses/200/content/application~1json/schema/allOf/0'
                - type: object
                  properties:
                    communication:
                      allOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            example: 100l06
                      - $ref: '#/paths/~1v2~1communications/post/requestBody/content/application~1json/schema/allOf/1'
                      - type: object
                        properties:
                          send_date:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: Either a valid future date or the keyword `immediately`
                          timezone:
                            type: string
                            description: The timezone of the "send_date" as listed here https://www.php.net/manual/en/timezones.php.<br/>Ignored if the value of "send_date" is "immediately"
                            example: Europe/London
                          status:
                            type: string
                            enum:
                            - draft
                            - scheduled
                            - sent
                            example: sent
                            description: The status of the communication
                          preview_url:
                            type: string
                            example: http://...
                            description: The URL with the preview html for sent and scheduled communications
                          last_updated:
                            type: string
                            format: date-time
      operationId: get-communication
    put:
      tags:
      - Communications
      summary: Updates a draft communication
      description: Only the owner of the draft can update it. The recipients of the communication can be defined by a list of emails or by a list of existing partner ids
      parameters:
      - name: id
        in: path
        description: The ID of the communication
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/paths/~1v2~1communications/post/requestBody/content/application~1json/schema/allOf/1'
              - $ref: '#/paths/~1v2~1communications/post/requestBody/content/application~1json/schema/allOf/2'
      responses:
        '201':
          description: The updated Communication object
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1v2~1communications/get/responses/200/content/application~1json/schema/allOf/0'
                - $ref: '#/paths/~1v2~1communications~1%7Bid%7D/get/responses/200/content/application~1json/schema/allOf/1'
      operationId: update-communication
    delete:
      tags:
      - Communications
      summary: Deletes an existing draft communication
      description: Only the owner of the draft can delete it.
      parameters:
      - name: id
        in: path
        description: The ID of the communication to be deleted
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The communication was deleted successfully.
      operationId: delete-communication
  /v2/communications/{id}/content:
    get:
      tags:
      - Communications
      summary: Returns the content of a communication
      description: Returns the HTML content of an existing communication.
      parameters:
      - name: id
        in: path
        description: The ID of the communication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The HTML content
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1v2~1communications/get/responses/200/content/application~1json/schema/allOf/0'
                - type: object
                  properties:
                    html:
                      type: string
                      example: <html>communication content</html>
                    unlayer_json:
                      type:
                      - string
                      - 'null'
                      example: '{}'
      operationId: get-communication-content
    put:
      tags:
      - Communications
      summary: Updates the content of a communication
      description: Updates the HTML content of an existing communication.
      parameters:
      - name: id
        in: path
        description: The ID of the communication
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema
              type: object
              properties:
                html:
                  type: string
                  description: The HTML contents of the communication
                  example: <html>Communication content</html>
                unlayer_json:
                  type:
                  - string
                  - 'null'
                  minLength: 1
                  description: The Unlayer JSON contents of the communication
                  example: '{}'
              required:
              - html
      responses:
        '204':
          description: The HTML content was updated successfully
      operationId: update-communication-content
  /v2/communications/send-preview:
    post:
      tags:
      - Communications
      summary: Sends a communication preview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                html:
                  type: string
                  description: The HTML contents of the communication
                recipients:
                  type: array
                  description: An array containing the emails of the recipients
                  items:
                    type: string
      responses:
        '204':
          description: Preview successfully sent
      description: Send a preview of a communication
      operationId: send-communication-preview
  /v2/communications/{id}/send:
    parameters:
    - schema:
        type: string
      name: id
      in: path
      required: true
      description: The ID of the communication
    post:
      tags:
      - Communications
      summary: Sends or schedules a draft communication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                send_date:
                  type: string
                  description: The date when the communication will be sent (at least 15 minutes in the future), or the string "immediately" for immediate sending
                  example: '2019-06-17 12:34:56'
                timezone:
                  type: string
                  maxLength: 64
                  description: The timezone of the "send_date" as listed here https://www.php.net/manual/en/timezones.php.<br/>Ignored if the value of "send_date" is "immediately"
                  example: Europe/London
      responses:
        '204':
          description: Communication successfully sent
      description: Send a Communication
      operationId: send-communication
  /v2/communications/{id}/cancel:
    delete:
      tags:
      - Communications
      summary: Cancels a scheduled communication
      description: Cancels the scheduling of a previously scheduled communication. This will change the communication status to draft.
      parameters:
      - name: id
        in: path
        description: The ID of the communication to be cancelled
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The communication was cancelled successfully.
      operationId: cancel-communication
  /v2/communications/summary:
    get:
      tags:
      - Communications
      summary: Communications summary report
      description: Retrieves summary report for all sent communications.
      parameters:
      - in: query
        name: limit
        description: The number of records to retrieve
        schema:
          type: integer
          default: 100
      - in: query
        name: offset
        description: Starting position
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: A list of report items.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 17
                  limit:
                    type: integer
                    example: 100
                  offset:
                    type: integer
                    example: 0
                  summary:
                    type: array
                    items:
                      type: object
                      properties:
                        communication_id:
                          type: string
                          example: 100l06
                        communication_name:
                          type: string
                          example: Communication name
                        send_date:
                          type: string
                          format: date-time
                        opens:
                          type: int
                          example: 100
                        unique_opens:
                          type: int
                          example: 80
                        not_opened:
                          type: int
                          example: 200
                        clicks:
                          type: int
                          example: 5
                        bounces:
                          type: int
                          example: 2
                        unsubscribes:
                          type: int
                          example: 10
                        spam:
                          type: int
                          example: 4
      operationId: get-communicatons-report
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
