openapi: 3.2.0
info:
  title: Partnerize Partners Partner Conversions API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Partner Conversions
paths:
  /reporting/report_publisher/publisher/{publisher_id}/conversion.{format}:
    get:
      parameters:
      - description: ID of the partner
        example: 1l1007802
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
      - description: Format for the response
        example: json
        in: path
        name: format
        required: true
        schema:
          enum:
          - json
          - xml
          type: string
      - description: Start date for data to be included in the report
        example: '2016-02-30T05:15:32Z'
        in: query
        name: start_date
        required: true
        schema:
          type: string
      - description: End date for data to be included in the report
        example: '2016-03-10T19:02:35Z'
        in: query
        name: end_date
        required: false
        schema:
          type: string
      - description: Restricts the results to one of the following - this hour, last hour, today, yesterday, this week, last week, last X days, this month, last month, this year, last year.
        example: yesterday
        in: query
        name: text_date
        required: false
        schema:
          type: string
      - description: Enforce a specified Timezone.
        example: Europe/London
        in: query
        name: timezone
        required: false
        schema:
          type: string
      - description: Filter the results by the specified currency
        example: USD
        in: query
        name: currency[]
        required: false
        schema:
          $ref: '#/components/schemas/Currency'
      - description: This parameter to run the report for conversions that have been updated. When you specify `last_updated` or `approved_at` the response will only include conversions that were last modified or approved at in approved_at a date within the report date range.
        example: last_modified
        in: query
        name: date_type
        required: false
        schema:
          type: string
      - description: 'Add a secondary pivot filter. You need to specify the pivot parameter name and the value to filter by. E.g. multipivot[campaign][]=111111l29. Supported values are: `campaign`, `product`, `publisher_reference`.'
        example: value
        in: query
        name: multipivot[{pivot}][]
        required: false
        schema:
          type: string
      - description: Filter by statuses. Available values - approved, pending, rejected
        example: approved
        in: query
        name: statuses[]
        required: false
        schema:
          type: string
      - description: Offset the results by a given amount. Defaults to 0.
        example: '0'
        in: query
        name: offset
        required: false
        schema:
          type: string
      - description: Invoices that were created after the supplied date.
        example: '2016-03-10T19:02:35Z'
        in: query
        name: invoice_created_date
        required: false
        schema:
          type: string
      - description: 'Include payment information. Omit parameter or false to exclude, which is the default. Fields included are:

          + payment_status

          + self_bill_request_date

          + self_bill_release_date'
        example: true
        in: query
        name: include_payment_info
        required: false
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    total_conversion_count:
                      EUR: 1
                    total_publisher_commission:
                      EUR: 95.5
                    total_value:
                      EUR: 955
                    start_date_time_utc: '2019-08-10 00:00:00'
                    end_date_time_utc: '2020-03-10 00:00:00'
                    start_date_time: '2020-03-08 17:18:33'
                    end_date_time: '2020-03-08 17:18:33'
                    limit: 300
                    meta_data: []
                    count: 1
                    execution_time: 1.04266 seconds
                    conversions:
                    - conversion_data:
                        conversion_id: 111111l314
                        campaign_id: 111111l29
                        publisher_id: 111111l92
                        conversion_time: '2020-03-08 17:18:33'
                        creative_type: 0
                        creative_id: 0
                        specific_creative_id: 0
                        currency: EUR
                        publisher_reference: ''
                        advertiser_reference: adrefd
                        conversion_reference: AUTO-5ebc127cb2ddf3.85382959
                        customer_type: null
                        referer_ip: 265c:5b77:7721:e466:9e91:cf97:9b7a:b1f1
                        source_referer: ''
                        last_modified: '2020-05-13 15:31:42'
                        conversion_type: 1
                        country: ES
                        customer_reference: custrefa
                        ref_device_id: 2
                        ref_partnership_model_id: 2
                        ref_traffic_source_id: 3
                        ref_conversion_metric_id: 2
                        ref_user_context_id: 2
                        campaign_title: rubycampaignsuvwlynm
                        publisher_name: syjmmcll
                        click:
                          campaign_id: 111111l29
                          publisher_id: 111111l92
                          type: standard
                          status: nibbled
                          set_time: '2020-03-08 17:18:33'
                          set_ip: 265c:5b77:7721:e466:9e91:cf97:9b7a:b1f1
                          last_used: 1589383804
                          last_ip: 265c:5b77:7721:e466:9e91:cf97:9b7a:b1f1
                          publisher_reference: ''
                          referer: ''
                          creative_id: 0
                          creative_type: 0
                          specific_creative_id: 0
                          ref_device_id: 2
                          ref_traffic_source_id: 3
                          ref_partnership_model_id: 2
                          ref_user_context_id: 2
                          ref_device: Desktop
                          ref_traffic_source: Affiliate
                          ref_partnership_model: CPA
                          ref_user_context: Web
                          clickref: 111111lfo
                        ref_conversion_metric: Standard
                        ref_device: Desktop
                        ref_partnership_model: CPA
                        ref_traffic_source: Affiliate
                        ref_user_context: Web
                        conversion_value:
                          conversion_status: pending
                          value: 955
                          publisher_commission: 95.5
                        meta_data:
                          gclid: adword_google_meta_data
                        conversion_items:
                        - conversion_item_id: 111111l314
                          sku: 123
                          category: Producte
                          item_value: 955
                          item_publisher_commission: 95.5
                          item_status: pending
                          last_update: '2020-05-13 15:30:04'
                          publisher_self_bill_id: null
                          approved_at: null
                          item_status_id: 1
                          reject_reason: null
                          voucher_codes: []
                          meta_data:
                            gclid: adword_google_meta_data
                          payable: false
                        was_disputed: false
                        conversion_lag: 0
                        clickref: 111111lfo
              schema:
                $ref: '#/components/schemas/Partner_Conversions'
          description: OK
      tags:
      - Partner Conversions
      description: Return a mix of aggregated and basket/item level conversion data for a partner.
      operationId: partner-conversions
      summary: Retrieve a Partner Conversions Report
components:
  schemas:
    Conversion_Item:
      properties:
        conversion_item_id:
          type: string
        sku:
          type: number
        category:
          type: string
        item_value:
          type: number
        item_publisher_commission:
          type: number
        item_status:
          type: string
        last_update:
          type: string
        publisher_self_bill_id:
          type: number
        approved_at:
          type: string
        item_status_id:
          type: number
        reject_reason:
          type: string
        voucher_codes: []
        meta_data:
          type: array
          description: Key value pairs of meta data
          items:
            properties:
              key:
                description: A key value pair.
                type: string
        payable:
          type: boolean
      type: object
    Country:
      enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - XK
      - YE
      - YT
      - ZA
      - ZM
      - ZW
      type: string
    Currency:
      enum:
      - GBP
      - USD
      - EUR
      - JPY
      type: string
    Conversion_Data:
      type: object
      properties:
        conversion_id:
          description: Id of the conversion
          example: 111111l314
          type: string
        campaign_id:
          description: Id of the campaign
          example: 111111l29
          type: string
        publisher_id:
          description: Id of the partner
          example: 111111l92
          type: string
        conversion_time:
          type: string
        creative_type:
          type: number
        creative_id:
          type: number
        specific_creative_id:
          type: number
        currency:
          $ref: '#/components/schemas/Currency'
        publisher_reference:
          type: string
        advertiser_reference:
          type: string
        conversion_reference:
          type: string
        customer_type:
          enum:
          - new
          - existing
          type: string
        referer_ip:
          type: string
        source_referer:
          type: string
        last_modified:
          type: string
        conversion_type:
          description: the conversion type id
          type: number
        country:
          $ref: '#/components/schemas/Country'
        customer_reference:
          type: string
        ref_device_id:
          type: number
        ref_partnership_model_id:
          type: number
        ref_traffic_source_id:
          type: number
        ref_conversion_metric_id:
          type: number
        ref_user_context_id:
          type: number
        campaign_title:
          type: string
        publisher_name:
          type: string
        click:
          $ref: '#/components/schemas/Click'
        ref_conversion_metric:
          type: string
        ref_device:
          type: string
        ref_partnership_model:
          type: string
        ref_traffic_source:
          type: string
        ref_user_context:
          type: string
        conversion_value:
          properties:
            conversion_status:
              $ref: '#/components/schemas/Conversion_Status'
            value:
              type: number
          publisher_commission:
            type: number
        meta_data:
          type: array
          description: Key value pairs of meta data
          items:
            properties:
              key:
                description: A key value pair.
                type: string
        conversion_items:
          type: array
          items:
            $ref: '#/components/schemas/Conversion_Item'
        was_disputed:
          type: boolean
        conversion_lag:
          type: number
        clickref:
          type: string
    Conversion_Status:
      enum:
      - pending
      - approved
      - rejected
      type: string
    Partner_Conversions:
      properties:
        total_conversion_count:
          description: 'conversion count for each currency. E.g. "USD": 25, "EUR": 37'
          type: object
          properties:
            currency_iso:
              description: 'key value pairs where the currency iso is the key. E.g. EUR: 37'
              type: number
        total_publisher_commission:
          description: 'total commission for each currency. E.g. "USD": 250.5, "EUR": 180.9'
          type: object
          properties:
            currency_iso:
              description: 'key value pairs where the currency iso is the key. E.g. EUR: 37'
              type: number
        total_value:
          description: 'total order value. E.g. "USD": 435.5, "EUR": 267.9'
          type: object
          properties:
            currency_iso:
              description: 'key value pairs where the currency iso is the key. E.g. EUR: 37'
              type: number
        start_date_time_utc:
          type: string
        end_date_time_utc:
          type: string
        start_date_time:
          type: string
        end_date_time:
          type: string
        limit:
          type: number
        meta_data:
          type: array
          description: Key value pairs of meta data
          items:
            properties:
              key:
                description: A key value pair.
                type: string
        count:
          type: number
        execution_time:
          type: string
        conversions:
          type: array
          items:
            $ref: '#/components/schemas/Conversion_Data'
      type: object
    Click:
      properties:
        campaign_id:
          description: Id of the campaign
          example: 111111l29
          type: string
        publisher_id:
          description: Id of the partner
          example: 111111l92
          type: string
        type:
          type: string
        status:
          type: string
        set_time:
          type: string
        set_ip:
          type: string
        last_used:
          type: number
        last_ip:
          type: string
        publisher_reference:
          type: string
        referer:
          type: string
        creative_id:
          type: number
        creative_type:
          type: number
        specific_creative_id:
          type: number
        ref_device_id:
          type: number
        ref_traffic_source_id:
          type: number
        ref_partnership_model_id:
          type: number
        ref_user_context_id:
          type: number
        ref_device:
          type: string
        ref_traffic_source:
          type: string
        ref_partnership_model:
          type: string
        ref_user_context:
          type: string
        clickref:
          type: string
      type: object
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
