openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Network Partners API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- description: 'A Brand can view all Partners who are created on their network. This endpoint is not specific to a Campaign,

    therefore it pools all available Partners who have been created or are able to access their Network. ​

    It is also possible to accept new Partners onto the Network, or to reject any approved or pending Partners

    from the Network. If a Partners is rejected from the Network, they will be automatically rejected from all participating Campaigns.'
  name: Network Partners
paths:
  /user/publisher:
    post:
      operationId: createNetworkPartners
      tags:
      - Network Partners
      summary: Create network partner
      description: Create partners on your network.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                account_name:
                  type: string
                  description: Name of the partner
                vertical:
                  type: string
                  description: The vertical ID of the partner
                promotional_method:
                  type: string
                  description: The promotional method ID of the partner
                signup_ip:
                  type: string
                  description: The signup IP address of the partner
                entity_terms_id:
                  type: string
                  description: The agreed terms and conditions ID. The ID must be retrieved by retrieving the terms and conditions from the [network terms and conditions API.](#tag/Network-Terms-and-Conditions)
                network_terms_id:
                  type: string
                  description: The agreed network terms and conditions ID
                vat_number:
                  type: string
                  description: The VAT number of the partner
                description:
                  type: string
                  description: Description of the partner
                company_name:
                  type: string
                  description: Company name associated to the partner
                operating_country:
                  type: string
                  description: Country of operation for the partner
                reporting_timezone:
                  type: string
                  description: Reporting timezone of the partner.
                default_currency:
                  type: string
                  description: Default currency of the partner.
                phone:
                  type: string
                  description: Phone number of the partner.
                contact_name:
                  type: string
                  description: The contact name of the partner.
                contact_email:
                  type: string
                  description: The contact email of the partner.
                contact_locale:
                  type: string
                  description: The contact ISO locale for the partner.
              required:
              - account_name
              - vertical
              - promotional_method
              - signup_ip
              - entity_terms_id
              - contact_email
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Publisher_Wrapper'
        '404':
          description: Failure
          content:
            application/json:
              schema:
                properties:
                  publishers:
                    items:
                      $ref: '#/components/schemas/Publisher_Wrapper'
                    type: array
                type: object
  /user:
    post:
      operationId: createNetworkUserPartners
      tags:
      - Network Partners
      summary: Create network partner with user account
      description: Create partners on your network with their own Partnerize user account, allowing them to login directly to the Partnerize platform.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_name:
                  type: string
                  description: Username of the user
                email_address:
                  type: string
                  description: Email address of the user
                password:
                  type: string
                  description: Password of the user
                address1:
                  type: string
                  description: Address Line 1 of the user
                postcode:
                  type: string
                  description: Postcode of the user
                country:
                  type: string
                  description: ISO-2 country code of the user
                phone:
                  type: string
                  description: Phone number of the user
                signup_ip:
                  type: string
                  description: The signup IP address of the user
                firstname:
                  type: string
                  description: The first name of the user
                lastname:
                  type: string
                  description: The last name of the user
                address2:
                  type: string
                  description: Address Line 2 of the user
                address3:
                  type: string
                  description: Address Line 3 of the user
                address4:
                  type: string
                  description: Address Line 4 of the user
                locale:
                  type: string
                  description: Locale of the user
                send_confirm_email:
                  type: boolean
                  description: Send confirmation email to user on successful signup
                  default: false
                publisher:
                  type: object
                  properties:
                    account_name:
                      type: string
                      description: Name of the partner
                    vertical:
                      type: string
                      description: The vertical ID of the partner
                    promotional_method:
                      type: string
                      description: The promotional method ID of the partner
                    signup_ip:
                      type: string
                      description: The signup IP address of the partner
                    entity_terms_id:
                      type: string
                      description: The agreed terms and conditions ID. The ID must be retrieved by retrieving the terms and conditions from the [network terms and conditions API.](#tag/Network-Terms-and-Conditions)
                    network_terms_id:
                      type: string
                      description: The agreed network terms and conditions ID
                    vat_number:
                      type: string
                      description: The VAT number of the partner
                    description:
                      type: string
                      description: Description of the partner
                    company_name:
                      type: string
                      description: Company name associated to the partner
                    operating_country:
                      type: string
                      description: Country of operation for the partner
                    reporting_timezone:
                      type: string
                      description: Reporting timezone of the partner.
                    default_currency:
                      type: string
                      description: Default currency of the partner.
                    phone:
                      type: string
                      description: Phone number of the partner.
                    contact_name:
                      type: string
                      description: The contact name of the partner.
                    contact_email:
                      type: string
                      description: The contact email of the partner.
                    contact_locale:
                      type: string
                      description: The contact ISO locale for the partner.
                  required:
                  - account_name
                  - vertical
                  - promotional_method
                  - signup_ip
                  - entity_terms_id
                  - contact_email
              required:
              - user_name
              - email_address
              - password
              - address1
              - postcode
              - country
              - phone
              - signup_ip
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_Publisher_Wrapper'
  /network/{network_id}/publisher:
    get:
      parameters:
      - description: ID of the network
        example: 1l1000003
        in: path
        name: network_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    publishers:
                    - publisher:
                        abn: null
                        account_name: publisher123
                        campaign_select: null
                        company_division: null
                        company_name: Demo Partner
                        contact_email: demo@performancehorizon.com
                        contact_locale: bg
                        contact_name: John Smith
                        databases:
                        - active: y
                          creation_method: Email
                          database_id: 111111l300347
                          database_name: Partnerize Test Database
                          female: 50
                          male: 50
                          max_age: 77
                          min_age: 25
                          publisher_id: 1l1007802
                          size: 53000
                        default_currency: GBP
                        description: null
                        foreign_identifier: null
                        gst_registered: null
                        im_provider: Skype
                        im_username: elisangis
                        is_affiliate_user: y
                        is_foreign_network: y
                        is_lead_user: y
                        legal_entity: GB
                        network_id: 1l1000003
                        network_notes: null
                        network_status: a
                        operating_country: GB
                        phone: 01595725007
                        phone_area: '+44'
                        promotional_method: 10
                        promotional_method_name: Portal
                        promotional_countries:
                        - iso: GB
                          name: United Kingdom
                        - iso: US
                          name: United States
                        publisher_id: 1l1007802
                        reporting_identifier: null
                        reporting_timezone: Australia/Sydney
                        signup_ip: 178.23.129.160
                        uk_vat_registered: y
                        us_tax_state: null
                        vat_number: 974997534
                        vertical: 10
                        vertical_name: Other
                        websites:
                        - active: y
                          primary: n
                          description: Demo Partner website
                          publisher_id: 1l1007802
                          website_country: GB
                          website_id: 11l18694
                          website_name: null
                          website_type: 9
                          website_type_name: PPC
                          website_url: http://www.performancehorizon.com
                          website_vertical: 10
                          website_vertical_name: Technical
                        week_start: Monday
              schema:
                properties:
                  publishers:
                    items:
                      $ref: '#/components/schemas/Publisher_Wrapper'
                    type: array
                type: object
          description: OK
      tags:
      - Network Partners
      description: View all Partners on the Network.
      operationId: listAllPartnersOnTheNetwork
      summary: List all Partners on the Network
    post:
      parameters:
      - description: ID of the network
        example: 1l1000003
        in: path
        name: network_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    publishers:
                    - publisher:
                        abn: null
                        account_name: partner123
                        campaign_select: null
                        company_division: null
                        company_name: Demo Partner
                        contact_email: demo@performancehorizon.com
                        contact_locale: bg
                        contact_name: John Smith
                        databases:
                        - active: y
                          creation_method: Email
                          database_id: 111111l300347
                          database_name: Partnerize Test Database
                          female: 50
                          male: 50
                          max_age: 77
                          min_age: 25
                          publisher_id: 1l1007802
                          size: 53000
                        default_currency: GBP
                        description: null
                        foreign_identifier: null
                        gst_registered: null
                        im_provider: Skype
                        im_username: elisangis
                        is_affiliate_user: y
                        is_foreign_network: y
                        is_lead_user: y
                        legal_entity: GB
                        network_id: 1l1000003
                        network_notes: null
                        network_status: a
                        operating_country: GB
                        phone: 01595725007
                        phone_area: '+44'
                        promotional_method: 10
                        promotional_method_name: Portal
                        publisher_id: 1l1007802
                        reporting_identifier: null
                        reporting_timezone: Australia/Sydney
                        signup_ip: 178.23.129.160
                        uk_vat_registered: y
                        us_tax_state: null
                        vat_number: 974997534
                        vertical: 10
                        vertical_name: Other
                        websites:
                        - active: y
                          primary: n
                          description: Demo Partner website
                          publisher_id: 1l1007802
                          website_country: GB
                          website_id: 11l18694
                          website_name: null
                          website_type: 9
                          website_type_name: PPC
                          website_url: http://www.performancehorizon.com
                          website_vertical: 10
                          website_vertical_name: Technical
                        week_start: Monday
              schema:
                properties:
                  publishers:
                    items:
                      $ref: '#/components/schemas/Publisher_Wrapper'
                    type: array
                type: object
          description: OK
      tags:
      - Network Partners
      description: Update the `network_status` of a Partner by passing each `publisher_id` along with the relevant `network_status` in an object within a `publishers` array.
      operationId: updatePartnersNetworkStatus
      requestBody:
        content:
          application/json:
            schema:
              example:
                publishers:
                - network_status: a
                  publisher_id: 1l1007802
              properties:
                publishers:
                  type: array
                  items:
                    properties:
                      network_status:
                        $ref: '#/components/schemas/Status'
                      publisher_id:
                        description: ID of the partner
                        type: string
                    required:
                    - network_status
                    - publisher_id
              type: object
      summary: Update Partner's Network status
components:
  schemas:
    Publisher_Database:
      properties:
        database_id:
          description: ID of the partner database
          type: string
        publisher_id:
          description: ID of the partner the database belongs to
          type: string
        active:
          $ref: '#/components/schemas/YesOrNo'
        creation_method:
          type: string
        database_name:
          type: string
        female:
          type: number
        male:
          type: number
        max_age:
          type: number
        min_age:
          type: number
        size:
          type: number
      required:
      - database_name
      - creation_method
      - size
      type: object
    Status:
      type: string
      enum:
      - a
      - p
      - r
      - n
    Publisher_Website_Wrapper:
      properties:
        website:
          $ref: '#/components/schemas/Publisher_Website'
      type: object
    User_Publisher:
      type: object
      properties:
        user_name:
          type: string
          description: Username of the user
        email_address:
          type: string
          description: Email address of the user
        password:
          type: string
          description: Password of the user
        address1:
          type: string
          description: Address Line 1 of the user
        postcode:
          type: string
          description: Postcode of the user
        country:
          type: string
          description: ISO-2 country code of the user
        phone:
          type: string
          description: Phone number of the user
        signup_ip:
          type: string
          description: The signup IP address of the user
        firstname:
          type: string
          description: The first name of the user
        lastname:
          type: string
          description: The last name of the user
        address2:
          type: string
          description: Address Line 2 of the user
        address3:
          type: string
          description: Address Line 3 of the user
        address4:
          type: string
          description: Address Line 4 of the user
        locale:
          type: string
          description: Locale of the user
        user_id:
          type: string
          description: The ID of the user
        created:
          type: string
          description: Datetime stamp of when the user account was created
        network_id:
          type: string
          description: The network ID of which the user belongs to
        network_name:
          type: string
          description: The network name of which the user belongs to
        user_api_key:
          type: string
          description: The API key of the user account
        publisher:
          type: object
          properties:
            account_name:
              type: string
              description: Name of the partner
            vertical:
              type: string
              description: The vertical ID of the partner
            promotional_method:
              type: string
              description: The promotional method ID of the partner
            signup_ip:
              type: string
              description: The signup IP address of the partner
            entity_terms_id:
              type: string
              description: The agreed terms and conditions ID. The ID must be retrieved by retrieving the terms and conditions from the [network terms and conditions API.](#tag/Network-Terms-and-Conditions)
            network_terms_id:
              type: string
              description: The agreed network terms and conditions ID
            vat_number:
              type: string
              description: The VAT number of the partner
            description:
              type: string
              description: Description of the partner
            company_name:
              type: string
              description: Company name associated to the partner
            operating_country:
              type: string
              description: Country of operation for the partner
            reporting_timezone:
              type: string
              description: Reporting timezone of the partner.
            default_currency:
              type: string
              description: Default currency of the partner.
            phone:
              type: string
              description: Phone number of the partner.
            contact_name:
              type: string
              description: The contact name of the partner.
            contact_email:
              type: string
              description: The contact email of the partner.
            contact_locale:
              type: string
              description: The contact ISO locale for the partner.
    Publisher:
      type: object
      properties:
        websites:
          items:
            $ref: '#/components/schemas/Publisher_Website_Wrapper'
          type: array
        us_tax_state:
          type: string
        reporting_identifier:
          type: string
        publisher_id:
          description: ID of the partner
          type: string
        network_status:
          $ref: '#/components/schemas/Status'
        network_notes:
          type: string
        network_id:
          description: ID of the network this partner belongs to
          type: string
        legal_entity:
          $ref: '#/components/schemas/Country'
        is_affiliate_user:
          $ref: '#/components/schemas/YesOrNo'
        gst_registered:
          type: string
        foreign_identifier:
          type: string
        databases:
          items:
            $ref: '#/components/schemas/Publisher_Database_Wrapper'
          type: array
        campaign_select:
          type: string
        abn:
          type: string
        account_name:
          type: string
        company_division:
          type: string
        company_name:
          type: string
        contact_email:
          type: string
        contact_locale:
          $ref: '#/components/schemas/Locale'
        contact_name:
          type: string
        default_currency:
          $ref: '#/components/schemas/Currency'
        description:
          description: Description of the partner
          type: string
        im_provider:
          type: string
        im_username:
          type: string
        is_foreign_network:
          $ref: '#/components/schemas/YesOrNo'
          description: Reporting only flag. All conversions will be automatically approved but will not be invoiceable.
        is_lead_user:
          $ref: '#/components/schemas/YesOrNo'
        operating_country:
          $ref: '#/components/schemas/Country'
        promotional_method:
          type: number
        promotional_method_name:
          type: string
        promotional_countries:
          type: array
          items:
            type: object
            properties:
              iso:
                type: string
              name:
                type: string
        uk_vat_registered:
          $ref: '#/components/schemas/YesOrNo'
        vat_number:
          type: number
        vertical:
          type: number
        vertical_name:
          type: string
    Country:
      enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - XK
      - YE
      - YT
      - ZA
      - ZM
      - ZW
      type: string
    Currency:
      enum:
      - GBP
      - USD
      - EUR
      - JPY
      type: string
    YesOrNo:
      enum:
      - y
      - n
      type: string
    User_Publisher_Wrapper:
      properties:
        user:
          $ref: '#/components/schemas/User_Publisher'
      type: object
    Locale:
      enum:
      - bg
      - cs
      - da
      - de
      - de_at
      - en
      - en_au
      - en_ca
      - en_us
      - es
      - es_mx
      - el
      - et
      - fi
      - fl
      - fr
      - fr_ca
      - hu
      - id
      - it
      - jp
      - ko
      - ko_kr
      - lt
      - lv
      - ms_my
      - mt
      - my
      - nl
      - 'no'
      - pl
      - po
      - pt
      - pt_br
      - ro
      - ru
      - sg
      - sk
      - sl
      - sv
      - sv_se
      - th
      - tl
      - tr
      - vi
      - zh_cn
      - zh_hk
      type: string
    Publisher_Database_Wrapper:
      properties:
        database:
          $ref: '#/components/schemas/Publisher_Database'
      type: object
    Publisher_Wrapper:
      properties:
        publisher:
          $ref: '#/components/schemas/Publisher'
    Publisher_Website:
      properties:
        publisher_id:
          description: ID of the partner the website belongs to
          type: string
        website_id:
          description: ID of the partner website
          type: string
        active:
          $ref: '#/components/schemas/YesOrNo'
        primary:
          $ref: '#/components/schemas/YesOrNo'
        website_country:
          $ref: '#/components/schemas/Country'
        website_name:
          type: string
        website_type:
          type: number
        website_type_name:
          type: string
        website_url:
          type: string
        website_vertical:
          type: number
        website_vertical_name:
          type: string
      required:
      - website_url
      type: object
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
