openapi: 3.2.0
info:
  title: Partnerize Partners Campaigns (v1) API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Campaigns (v1)
paths:
  /user/publisher/{publisher_id}/campaign/{status}:
    get:
      parameters:
      - description: ID of the partner
        example: 1l1007802
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
      - description: 'The status of the partner on the campaign


          + a - approved


          + p - pending


          + r - rejected'
        example: a
        in: path
        name: status
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    campaigns:
                    - campaign:
                        advertiser_id: 10l110
                        allow_deep_linking: y
                        allow_third_party_pixel: y
                        append_url_parameters: ''
                        associated_campaigns: ''
                        automated_invoicing_date: 4
                        automated_invoicing_po_number: null
                        auto_approve_publisher: y
                        auto_rejected_ips: null
                        budget_summary_interval: null
                        budget_summary_start_time: null
                        campaign_currency_conversions: []
                        campaign_custom_terms_and_conditions_id: 10l176
                        campaign_custom_terms_and_conditions_title: Some fancy title
                        campaign_id: 10l176
                        campaign_languages: null
                        campaign_logo: http://performancehorizon.com/logo.png
                        campaign_notes: ''
                        campaign_overloads: []
                        commission_by_meta_label: '[ "label 1","label 2" ]'
                        commission_by_meta: '[ "field_1","field_2" ]'
                        commissions: []
                        conversion_hiatus_period: 7
                        conversion_type: sale
                        cookie_period: 0
                        cookie_status: null
                        default_commission_rate: '5'
                        default_currency: GBP
                        default_override: 10
                        deferred_lead_submission: null
                        description:
                          en: Awesome new campaign
                        destination_url: http://www.performancehorizon.com
                        dont_consolidate: y
                        dont_invoice: y
                        extra_restricted_deep_linking: ''
                        force_approve_period: 0
                        hidden_campaign: y
                        invoice_address_1: null
                        invoice_address_2: null
                        invoice_address_3: null
                        invoice_address_4: null
                        invoice_address_country: null
                        invoice_address_postcode: null
                        invoice_company: null
                        invoice_contact: null
                        invoice_only: null
                        ip_tracking_time: 0
                        is_cpc: y
                        lead_confirmation_url_fail: ''
                        lead_confirmation_url_success: ''
                        multiple_conversions_per_click: n
                        network_fee: null
                        pay_publisher_directly: y
                        payment_date: null
                        prepend_url_string: http://google.com
                        publisher_status: a
                        recurring_payment_setup: y
                        report_meta_purge_period: null
                        reporting_timezone: Australia/Sydney
                        restricted_deep_linking: y
                        secure_tracking: y
                        status: a
                        terms:
                          en:
                            terms: Important campaign terms and conditions
                        test_mode: y
                        title: PHG Aff Demo
                        tq_auto_approve: 60
                        tq_enabled: y
                        tq_enabled_publishers: ''
                        tracking_method: s2s
                        tracking_subdomain: null
                        unique_conversion_refs: y
                        vertical_id: 10
                        vertical_name: Other
                        week_start: Monday
              schema:
                properties:
                  campaigns:
                    items:
                      $ref: '#/components/schemas/Partner_Campaign_Wrapper'
                    type: array
                type: object
          description: OK
      tags:
      - Campaigns (v1)
      description: View all Campaigns that the Partner is associated with, along with the status of any Participation.
      operationId: List Campaigns
      summary: List Campaigns
    post:
      parameters:
      - description: ID of the partner
        example: 1l1007802
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
      - description: 'The status of the partner on the campaign


          + a - approved


          + p - pending


          + r - rejected'
        example: a
        in: path
        name: status
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    campaigns:
                    - campaign:
                        advertiser_id: 10l110
                        allow_deep_linking: y
                        allow_third_party_pixel: y
                        append_url_parameters: ''
                        associated_campaigns: ''
                        automated_invoicing_date: 4
                        automated_invoicing_po_number: null
                        auto_approve_publisher: y
                        auto_rejected_ips: null
                        budget_summary_interval: null
                        budget_summary_start_time: null
                        campaign_currency_conversions: []
                        campaign_custom_terms_and_conditions_id: 10l176
                        campaign_custom_terms_and_conditions_title: Some fancy title
                        campaign_id: 10l176
                        campaign_languages: null
                        campaign_logo: http://partnerize.com/logo.png
                        campaign_notes: ''
                        campaign_overloads: []
                        commission_by_meta_label: '[ "label 1","label 2" ]'
                        commission_by_meta: '[ "field_1","field_2" ]'
                        commissions: []
                        conversion_hiatus_period: 7
                        conversion_type: sale
                        cookie_period: 0
                        cookie_status: null
                        default_commission_rate: '5'
                        default_currency: GBP
                        default_override: 10
                        deferred_lead_submission: null
                        description:
                          en: Awesome new campaign
                        destination_url: http://www.partnerize.com
                        dont_consolidate: y
                        dont_invoice: y
                        extra_restricted_deep_linking: ''
                        force_approve_period: 0
                        hidden_campaign: y
                        invoice_address_1: null
                        invoice_address_2: null
                        invoice_address_3: null
                        invoice_address_4: null
                        invoice_address_country: null
                        invoice_address_postcode: null
                        invoice_company: null
                        invoice_contact: null
                        invoice_only: null
                        ip_tracking_time: 0
                        is_cpc: y
                        lead_confirmation_url_fail: ''
                        lead_confirmation_url_success: ''
                        multiple_conversions_per_click: n
                        network_fee: null
                        pay_publisher_directly: y
                        payment_date: null
                        prepend_url_string: http://google.com
                        publisher_status: a
                        recurring_payment_setup: y
                        report_meta_purge_period: null
                        reporting_timezone: Australia/Sydney
                        restricted_deep_linking: y
                        secure_tracking: y
                        status: a
                        terms:
                          en:
                            terms: Important campaign terms and conditions
                        test_mode: y
                        title: Partnerize Aff Demo
                        tq_auto_approve: 60
                        tq_enabled: y
                        tq_enabled_publishers: ''
                        tracking_method: s2s
                        tracking_subdomain: null
                        unique_conversion_refs: y
                        vertical_id: 10
                        vertical_name: Other
                        week_start: Monday
              schema:
                properties:
                  campaigns:
                    items:
                      $ref: '#/components/schemas/Campaign'
                    type: array
                type: object
          description: OK
      tags:
      - Campaigns (v1)
      description: 'This endpoint is now `Obsolete`. Use the Create Campaign Requests endpoint instead.


        Request access to one or more Campaigns. If a Campaign has any custom Terms and Conditions then the Partner must agree to these terms when requesting access. This is achieved by passing the latest `terms_id` from the relevant Campaign object. On certain Campaigns, you may find that a Partner will be auto-approved. However, some Brands will stipulate that they wish to review all Participations. Therefore, once access is requested the Partner will be shown as pending until this decision is made. Create new Participations by passing each `campaign_id` along with the relevant `terms_id` (if applicable) in an object within a `campaigns` array.'
      operationId: Request Access to Campaigns
      requestBody:
        content:
          application/json:
            schema:
              example:
                campaigns:
                - campaign_id: 10l176
                  terms_id: 111111l8
              properties:
                campaigns:
                  type: array
              type: object
      summary: Request Access to Campaigns (Obsolete)
components:
  schemas:
    Campaign:
      oneOf:
      - properties:
          default_commission_rate:
            type: string
        type: object
      - properties:
          default_commission_value:
            type: string
        type: object
      properties:
        advertiser_id:
          description: ID of the brand the campaign should belong to
          type: string
        allow_deep_linking:
          $ref: '#/components/schemas/YesOrNo'
        allow_third_party_pixel:
          $ref: '#/components/schemas/YesOrNo'
        append_url_parameters:
          type: string
        associated_campaigns:
          type: string
        automated_invoicing_date:
          type: number
        automated_invoicing_po_number:
          type: string
        auto_approve_publisher:
          $ref: '#/components/schemas/YesOrNo'
        auto_rejected_ips:
          type:
          - string
          - 'null'
        budget_summary_interval:
          type:
          - number
          - 'null'
        budget_summary_start_time:
          type:
          - string
          - 'null'
        campaign_currency_conversions: {}
        campaign_id:
          description: ID of the campaign
          type: string
        campaign_languages:
          properties: {}
          type:
          - object
          - 'null'
        campaign_logo:
          type:
          - string
          - 'null'
        campaign_notes:
          type: string
        campaign_overloads: {}
        commission_by_meta:
          type: string
        commission_by_meta_label:
          type: string
        commissions: {}
        conversion_hiatus_period:
          type: number
        conversion_type:
          type: string
        cookie_period:
          type: number
        cookie_status:
          type:
          - string
          - 'null'
        default_currency:
          $ref: '#/components/schemas/Currency'
        default_override:
          type: number
        deferred_lead_submission:
          type:
          - string
          - 'null'
        description:
          properties:
            en:
              type: string
          type:
          - object
          - 'null'
        destination_url:
          type: string
        dont_consolidate:
          $ref: '#/components/schemas/YesOrNo'
        dont_invoice:
          $ref: '#/components/schemas/YesOrNo'
        extra_restricted_deep_linking:
          type: string
        force_approve_period:
          type: number
        hidden_campaign:
          $ref: '#/components/schemas/YesOrNo'
        invoice_address_1:
          type:
          - string
          - 'null'
        invoice_address_2:
          type:
          - string
          - 'null'
        invoice_address_3:
          type:
          - string
          - 'null'
        invoice_address_4:
          type:
          - string
          - 'null'
        invoice_address_country:
          type:
          - string
          - 'null'
        invoice_address_postcode:
          type:
          - string
          - 'null'
        invoice_company:
          type:
          - string
          - 'null'
        invoice_contact:
          type:
          - string
          - 'null'
        invoice_only:
          type:
          - string
          - 'null'
        ip_tracking_time:
          type: number
        is_cpc:
          $ref: '#/components/schemas/YesOrNo'
        lead_confirmation_url_fail:
          type: string
        lead_confirmation_url_success:
          type: string
        meta_field_values_field_limit:
          type: number
        meta_field_values_total_limit:
          type: number
        multiple_conversions_per_click:
          anyOf:
          - enum:
            - y
            - n
            type: string
          - enum:
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            type: number
        network_fee:
          type:
          - string
          - 'null'
        pay_publisher_directly:
          $ref: '#/components/schemas/YesOrNo'
        payment_date:
          type:
          - string
          - 'null'
        prepend_url_string:
          description: Prepend all destination URLs
          type:
          - string
          - 'null'
        recurring_payment_setup:
          $ref: '#/components/schemas/YesOrNo'
        report_meta_purge_period:
          description: The number of days that Meta Reports will be stored before being purged
          type:
          - number
          - 'null'
        reporting_timezone:
          enum:
          - Australia/Sydney
          - UTC
          - Europe/London
          - CET
          - GMT
          type: string
        restricted_deep_linking:
          $ref: '#/components/schemas/YesOrNo'
        secure_tracking:
          $ref: '#/components/schemas/YesOrNo'
        status:
          $ref: '#/components/schemas/Status'
        terms:
          properties:
            en:
              properties:
                terms:
                  type: string
              type: object
          type:
          - object
          - 'null'
        test_mode:
          $ref: '#/components/schemas/YesOrNo'
        title:
          type: string
        tq_auto_approve:
          type: number
        tq_enabled:
          $ref: '#/components/schemas/YesOrNo'
        tq_enabled_publishers:
          type: string
        tracking_method:
          enum:
          - pixel
          - api
          - s2s
          type: string
        tracking_subdomain:
          type:
          - string
          - 'null'
        unique_conversion_refs:
          enum:
          - y
          - n
          - ignore
          type: string
        vertical_id:
          type: number
        vertical_name:
          type: string
        week_start:
          type: string
      required:
      - advertiser_id
      - title
      - destination_url
      type: object
    Status:
      type: string
      enum:
      - a
      - p
      - r
      - n
    Currency:
      enum:
      - GBP
      - USD
      - EUR
      - JPY
      type: string
    YesOrNo:
      enum:
      - y
      - n
      type: string
    Partner_Campaign_Wrapper:
      properties:
        campaign:
          allOf:
          - $ref: '#/components/schemas/Campaign'
          - properties:
              campaign_custom_terms_and_conditions_id:
                type: string
              campaign_custom_terms_and_conditions_title:
                type: string
              publisher_status:
                $ref: '#/components/schemas/Status'
            type: object
      type: object
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
