openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Deals API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- description: A Brand may want to offer a specific Deal to Partners on a specific Campaign. These Deals represent a timed promotion which can be programmatically ingested into the Partner's platform and offered dynamically to their user base.
  name: Deals
paths:
  /campaign/{campaign_id}/deal:
    get:
      parameters:
      - description: ID of the Campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    campaign_deals:
                    - campaign_deal:
                        active: y
                        advertiser_reference: Promo012
                        category: Clothing
                        country_iso: GB
                        coupon_code: DEAL45
                        description: There are a lot of awesome deals
                        destination: https://dealz.bargain/promo
                        end_date_time: '2017-09-01T00:00:00+01:00'
                        offer_type: coupon
                        offer_value: 40% off
                        start_date_time: '2017-08-01T00:00:00+01:00'
                        terms: No terms for this deal
                        title: 40% off everything
              schema:
                properties:
                  campaign_deals:
                    items:
                      $ref: '#/components/schemas/Deal_Wrapper'
                    type: array
                type: object
          description: OK
      tags:
      - Deals
      description: Return the details of all Deals associated to the Campaign.
      operationId: List all Campaign Deals
      summary: List all Campaign Deals
    post:
      parameters:
      - description: ID of the Campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    campaign_deal:
                      active: y
                      advertiser_reference: Promo012
                      campaign_deal_id: 111111l2
                      category: Clothing
                      country_iso: GB
                      coupon_code: DEAL45
                      created_at: '2017-07-01T00:00:00+01:00'
                      description: There are a lot of awesome deals
                      destination: https://dealz.bargain/promo
                      end_date_time: '2017-09-01T00:00:00+01:00'
                      offer_type: coupon
                      offer_value: 40% off
                      start_date_time: '2017-08-01T00:00:00+01:00'
                      terms: No terms for this deal
                      title: 40% off everything
                      updated_at: null
              schema:
                $ref: '#/components/schemas/Deal_Wrapper'
          description: Created
      tags:
      - Deals
      description: Create a new Deal against the Campaign entity.
      operationId: Create a Campaign Deal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deal'
      summary: Create a Campaign Deal
  /campaign/{campaign_id}/deal/{deal_id}:
    get:
      parameters:
      - description: ID of the Campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      - description: ID of the Deal
        example: 111111l2
        in: path
        name: deal_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    campaign_deal:
                      active: y
                      advertiser_reference: Promo012
                      campaign_deal_id: 111111l2
                      category: Clothing
                      country_iso: GB
                      coupon_code: DEAL45
                      created_at: '2017-07-01T00:00:00+01:00'
                      description: There are a lot of awesome deals
                      destination: https://dealz.bargain/promo
                      end_date_time: '2017-09-01T00:00:00+01:00'
                      offer_type: coupon
                      offer_value: 40% off
                      start_date_time: '2017-08-01T00:00:00+01:00'
                      terms: No terms for this deal
                      title: 40% off everything
                      updated_at: null
              schema:
                $ref: '#/components/schemas/Deal_Wrapper'
          description: OK
      tags:
      - Deals
      description: Review the specified Deal.
      operationId: Retrieve a Campaign Deal
      summary: Retrieve a Campaign Deal
    patch:
      parameters:
      - description: ID of the Campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      - description: ID of the Deal
        example: 111111l2
        in: path
        name: deal_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    campaign_deal:
                      active: y
                      advertiser_reference: Promo012
                      campaign_deal_id: 111111l2
                      category: Clothing
                      country_iso: GB
                      coupon_code: DEAL45
                      created_at: '2017-07-01T00:00:00+01:00'
                      description: There are a lot of awesome deals
                      destination: https://dealz.bargain/promo
                      end_date_time: '2017-09-01T00:00:00+01:00'
                      offer_type: coupon
                      offer_value: 40% off
                      start_date_time: '2017-08-01T00:00:00+01:00'
                      terms: No terms for this deal
                      title: 40% off everything
                      updated_at: null
              schema:
                $ref: '#/components/schemas/Deal_Wrapper'
          description: OK
      tags:
      - Deals
      description: Update properties of the specified Deal.
      operationId: Update a Campaign Deal
      requestBody:
        content:
          application/json:
            schema:
              example:
                active: y
                advertiser_reference: Promo012
                category: Clothing
                country_iso: GB
                coupon_code: DEAL45
                description: There are a lot of awesome deals
                destination: https://dealz.bargain/promo
                end_date_time: '2017-09-01T00:00:00+01:00'
                offer_type: coupon
                offer_value: 40% off
                start_date_time: '2017-08-01T00:00:00+01:00'
                terms: No terms for this deal
                title: 40% off everything
              $ref: '#/components/schemas/Deal'
      summary: Update a Campaign Deal
    delete:
      parameters:
      - description: ID of the Campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      - description: ID of the deal
        example: 111111l2
        in: path
        name: deal_id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      tags:
      - Deals
      description: Delete a Deal, which is the same as updating the Deal by setting `active` to `n`.
      operationId: Delete a Campaign
      summary: Delete a Campaign
components:
  schemas:
    Deal_Wrapper:
      properties:
        campaign_deal:
          $ref: '#/components/schemas/Deal'
      type: object
    Deal:
      properties:
        active:
          $ref: '#/components/schemas/YesOrNo'
        advertiser_reference:
          type: string
        category:
          type: string
        country_iso:
          description: Whether it applies to a specific country
          $ref: '#/components/schemas/Country'
        coupon_code:
          description: A specific coupon or voucher code associated with the deal
          type: string
        description:
          type: string
        destination:
          description: A deeplink to the specific deal location
          type: string
        end_date_time:
          description: Timezone specific timestamp to indicate the deal expiry time
          type: string
        offer_type:
          description: The type of offer
          enum:
          - coupon
          - offer
          - sale
          type: string
        offer_value:
          description: The unit to attribute to the `offer_type`
          type: string
        start_date_time:
          description: Timezone specific timestamp to indicate the start of the deal
          type: string
        terms:
          description: Specific terms for the deal
          type: string
        title:
          type: string
      required:
      - title
      - description
      - offer_type
      - offer_value
      type: object
    Country:
      enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - XK
      - YE
      - YT
      - ZA
      - ZM
      - ZW
      type: string
    YesOrNo:
      enum:
      - y
      - n
      type: string
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
