openapi: 3.2.0
info:
  title: Partnerize Partners My Brands API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: My Brands
  description: Information about the brands the authenticated partner is associated with
paths:
  /v3/partner/my-brands:
    get:
      summary: List My Brands
      operationId: listMyBrands
      description: Information about the brands the authenticated partner is associated with. This will include brands from networks they've been blocked from.
      tags:
      - My Brands
      parameters:
      - name: brand_ids[]
        in: query
        description: If you only want to retrieve information about a specific set of brands, apply this filter
        required: false
        example: 111111l1
        schema:
          type: array
          items:
            type: string
      - name: partner
        in: query
        description: If you only want to retrieve brand information for brands that are associated with a specific partner, apply this filter
        required: false
        example: 111111l1
        schema:
          type: string
      responses:
        '200':
          description: The list was retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $schema: http://json-schema.org/draft-07/schema#
                      type: object
                      properties:
                        brand_id:
                          type: string
                          examples:
                          - 111111l1
                        name:
                          type: string
                          examples:
                          - brand name
                        display_name:
                          type:
                          - string
                          - 'null'
                          examples:
                          - display name
                        address1:
                          type:
                          - string
                          - 'null'
                          examples:
                          - address line 1
                        address2:
                          type:
                          - string
                          - 'null'
                          examples:
                          - 'address line '
                        address3:
                          type:
                          - string
                          - 'null'
                          examples:
                          - address line 3
                        address4:
                          type:
                          - string
                          - 'null'
                          examples:
                          - address line 4
                        postcode:
                          type:
                          - string
                          - 'null'
                          examples:
                          - postcode
                        country:
                          type:
                          - string
                          - 'null'
                          examples:
                          - country
                        contact_email:
                          type:
                          - string
                          - 'null'
                          examples:
                          - email@user.com
                        icon:
                          type:
                          - string
                          - 'null'
                          examples:
                          - http://image.com/path/to/imag
                        description:
                          type:
                          - string
                          - 'null'
                          examples:
                          - brand description
                        blocked:
                          description: The will return true if the brand is on a network that the partner was guested to but the partner has since been blocked from the brand's network
                          type: boolean
                          examples:
                          - false
                  execution_time:
                    type: string
                    example: 0.515 seconds
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
