openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Preferred Partner API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Preferred Partner
  description: Campaigns can have one preferred partner at any time. A sale will be attributed to a preferred partner if they contribute any clicks to that sale.
paths:
  /v2/campaigns/{campaignId}/attribution/preferred-partners:
    parameters:
    - $ref: '#/components/parameters/campaignId'
    get:
      summary: List All Preferred Partners
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Preferred Partners Response
                type: object
                properties:
                  data:
                    title: Preferred Partners
                    type: array
                    items:
                      $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1attribution~1preferred-partners/post/responses/201/content/application~1json/schema/properties/data'
                    description: A Collection of Preferred Partners
                  hypermedia:
                    type: object
                    description: ''
                    properties:
                      next:
                        type:
                        - string
                        - 'null'
                        description: The URL to call for the next set of preferred partners
                        example: https://api.partnerize.com/v2/campaigns/1101l40123/attribution/preferred-partners?limit=100&offset=100
                  meta:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: Is Preferred Partners attribution enabled on this campaign?
                        example: true
      operationId: get-v2-attribution-preferred-partner
      parameters:
      - schema:
          type: integer
          minimum: 0
          maximum: 200
        in: query
        name: limit
        description: Used to limit the response to a number of results. Defaults to 20
      - schema:
          type: integer
          minimum: 0
        in: query
        name: offset
        description: Used to offset the results we're returning
      - schema:
          type: string
          pattern: ^[-a-z0-9_]++$
        in: query
        name: name
        description: 'Search for partner by name. Alphanumeric with dashes and underscores

          '
      - schema:
          type: string
          pattern: ^.*?,.*?$
          example: 2020-10-01T00:00:00Z,2020-10-31T00:00:00Z
        in: query
        name: dates
        description: Search for preferred partners within a date range. Comma separated start and end date
      - schema:
          type: string
          example: active,scheduled,expired
          pattern: ^\w+(,\w+)*$
        in: query
        name: statuses
        description: A comma separated list of statuses to return results for
      description: Show a list of all configured preferred partners. May be filtered with several filters.
      tags:
      - Preferred Partner
    post:
      summary: Create Preferred Partner
      operationId: post-v2-campaigns-campaignId-attribution-preferred-partners
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                title: Preferred Partner Response
                type: object
                properties:
                  data:
                    title: Preferred Partner
                    type: object
                    description: A Preferred Partner
                    properties:
                      id:
                        type: string
                        description: The Unique ID of this configuration of Preferred Partner
                        example: 10110l2398476
                      partner:
                        type: object
                        description: The information about the Partner that is preferred
                        properties:
                          id:
                            type: string
                            description: The Partners unique identifier
                            example: 10110l567801
                          name:
                            type: string
                            description: The Partners name
                            example: Joel
                          status:
                            type: string
                            enum:
                            - invited
                            - rejected
                            - approved
                            - requested
                            description: The status of the partner on the campaign
                            example: approved
                      start_date:
                        type: string
                        format: date-time
                        description: The date the partner is considered preferred from
                        example: '2022-11-01T00:00:00+00:00'
                      end_date:
                        type: string
                        format: date-time
                        description: The date the partner is considered preferred until. This is inclusive.
                        example: '2022-11-30T23:59:59+00:00'
                      status:
                        type: string
                        enum:
                        - scheduled
                        - active
                        - expired
                        description: The status of this Preferred Partner instance
                        example: scheduled
                      created:
                        type: string
                        format: date-time
                        description: The date and time this configuration was created at
                        example: '2022-09-24T14:15:22+00:00'
      description: Create a Preferred Partner configuration
      requestBody:
        content:
          application/json:
            schema:
              title: Preferred Partner Request
              type: object
              description: A Preferred Partner
              properties:
                partner_id:
                  type: string
                  pattern: ^[a-z0-9]+$
                  minLength: 1
                  description: The ID of the Partner to prefer for this date range
                  example: 10110l567801
                start_date:
                  type: string
                  format: date-time
                  description: The date the partner is considered preferred from
                end_date:
                  type: string
                  format: date-time
                  description: The date the partner is considered preferred until. This is inclusive.
              required:
              - partner_id
              - start_date
              - end_date
      tags:
      - Preferred Partner
    delete:
      summary: Delete Preferred Partners
      operationId: bulk-delete-v2-campaigns-campaignId-attribution-preferred-partners
      responses:
        '204':
          description: No Content
      description: Delete Preferred Partners. This is only possible if the Preferred Partners are scheduled, otherwise an error will occur.
      requestBody:
        content:
          application/json:
            schema:
              title: Delete Preferred Partner Request
              type: object
              properties:
                preferred_partner_ids:
                  minItems: 1
                  items:
                    type: string
                    description: The Unique ID of Preferred Partner to be deleted
              required:
              - preferred_partner_ids
      tags:
      - Preferred Partner
  /v2/campaigns/{campaignId}/attribution/preferred-partners/{id}:
    parameters:
    - $ref: '#/components/parameters/campaignId'
    - schema:
        type: string
      in: path
      name: id
      description: The Preferred Partner ID
      required: true
      example: 10110l2398476
    delete:
      summary: Delete a Preferred Partner
      operationId: delete-v2-campaigns-campaignId-attribution-preferred-partners-id
      responses:
        '204':
          description: No Content
      description: Delete a Preferred Partner. This is only possible if the Preferred Partner is scheduled, otherwise an error will occur.
      tags:
      - Preferred Partner
    get:
      summary: Get a Preferred Partner
      operationId: get-v2-campaigns-campaignId-attribution-preferred-partners-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1attribution~1preferred-partners/post/responses/201/content/application~1json/schema'
      description: Get a Preferred Partner by ID
      tags:
      - Preferred Partner
    patch:
      summary: Update a Preferred Partner
      operationId: patch-v2-campaigns-campaignId-attribution-preferred-partners-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1attribution~1preferred-partners/post/responses/201/content/application~1json/schema'
      description: Update Preferred Partner
      tags:
      - Preferred Partner
      requestBody:
        content:
          application/json:
            schema:
              title: Preferred Partner Update Request
              type: object
              description: A Preferred Partner
              minProperties: 1
              properties:
                partner_id:
                  type: string
                  description: The ID of the Partner to prefer for this date range
                  example: 10110l567801
                start_date:
                  type: string
                  format: date-time
                  description: The date the partner is considered preferred from
                  example: '2022-11-01T00:00:00+00:00'
                end_date:
                  type: string
                  format: date-time
                  description: The date the partner is considered preferred until. This is inclusive.
                  example: '2022-11-30T23:59:59+00:00'
components:
  parameters:
    campaignId:
      name: campaignId
      description: The ID of the Campaign
      in: path
      required: true
      schema:
        type: string
        example: 111111l1
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
