openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Creatives API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- description: 'A Brand may wish to offer pre-generated _Creative_ so that the Partners can advertise the Brand easily. It is possible to categorise Creative with tags and there are 3 distinct Creative formats: Image, HTML and Text. Brands can organise their Creatives in a flexible structure by using _Creative Tags_.'
  name: Creatives
paths:
  /campaign/{campaign_id}/creative:
    get:
      parameters:
      - description: ID of the Campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    creatives:
                    - creative:
                        tags: ''
                        active: y
                        advertiser_reference: Promotion July 2020
                        campaign_id: 10l176
                        created_at: '2016-04-07 04:21:51'
                        created_by: '300621'
                        creative_id: '300441'
                        creative_items:
                        - tags: ''
                          active: y
                          campaign_id: 10l176
                          content_type: image/jpeg
                          created_at: '2016-04-07 04:21:51'
                          created_by: '300621'
                          creative_item_id: '300396'
                          creative_type_id: 1
                          custom_append_url_parameters: ''
                          custom_prepend_url_parameters: ''
                          description: ''
                          filename: 4fdf4b3879da1funny-animals-page.jpg
                          img_url: https://demophgconsole.partnerize.com/upload/4fdf4b3879da1funny-animals-page.jpg
                          preview: https://demo.prf.hn/preview/screativeref:300396
                          specific_destination: ''
                        creative_tracking_link: ''
                        creative_tracking_link_rotate: ''
                        creative_type_id: 1
                        custom_append_url_parameters: ''
                        custom_prepend_url_parameters: ''
                        default_specific_creative_id: '300396'
                        description: Demo Text
                        destination: http://www.partnerize.com
                        dynamic_tracking_link: ''
                        end_date_time: '2013-09-30 15:00:00'
                        height: 360
                        html_tracking_link: ''
                        limits: ''
                        preview: https://demo.prf.hn/preview/creativeref:300442
                        start_date_time: '2013-08-31 15:00:00'
                        width: 400
              schema:
                properties:
                  creatives:
                    items:
                      $ref: '#/components/schemas/Creative_Wrapper'
                    type: array
                type: object
          description: OK
      tags:
      - Creatives
      description: List and view all Creatives for the specified Campaign.
      operationId: List all Creatives for a Campaign
      summary: List all Creatives for a Campaign
    post:
      parameters:
      - description: ID of the Campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    creatives:
                    - creative:
                        tags: ''
                        active: y
                        advertiser_reference: Promotion July 2016
                        campaign_id: 10l176
                        created_at: '2016-04-07 04:21:51'
                        created_by: '300621'
                        creative_id: '300441'
                        creative_items:
                        - tags: ''
                          active: y
                          campaign_id: 10l176
                          content_type: image/jpeg
                          created_at: '2016-04-07 04:21:51'
                          created_by: '300621'
                          creative_item_id: '300396'
                          creative_type_id: 1
                          custom_append_url_parameters: ''
                          custom_prepend_url_parameters: ''
                          description: ''
                          filename: 4fdf4b3879da1funny-animals-page.jpg
                          img_url: https://demophgconsole.partnerize.com/upload/4fdf4b3879da1funny-animals-page.jpg
                          preview: https://demo.prf.hn/preview/screativeref:300396
                          specific_destination: ''
                        creative_tracking_link: ''
                        creative_tracking_link_rotate: ''
                        creative_type_id: 1
                        custom_append_url_parameters: ''
                        custom_prepend_url_parameters: ''
                        default_specific_creative_id: '300396'
                        description: Demo Text
                        destination: http://www.partnerize.com
                        dynamic_tracking_link: ''
                        end_date_time: '2013-09-30 15:00:00'
                        height: 360
                        html_tracking_link: ''
                        limits: ''
                        preview: https://demo.prf.hn/preview/creativeref:300442
                        start_date_time: '2013-08-31 15:00:00'
                        width: 400
              schema:
                properties:
                  creatives:
                    items:
                      $ref: '#/components/schemas/Creative_Wrapper'
                    type: array
                type: object
          description: OK
      tags:
      - Creatives
      description: Create one or more Creatives against the Campaign entity. Each Creative is sent as an array within a top level `creatives` array.
      operationId: Create Campaign Creatives
      requestBody:
        content:
          application/json:
            schema:
              example:
                creatives:
                - tags: ''
                  active: y
                  advertiser_reference: Promotion July 2016
                  campaign_id: 10l176
                  creative_items:
                  - tags: ''
                    active: y
                    campaign_id: 10l176
                    content_type: image/jpeg
                    created_at: '2016-04-07 04:21:51'
                    created_by: '300621'
                    creative_item_id: '300396'
                    creative_type_id: 1
                    custom_append_url_parameters: ''
                    custom_prepend_url_parameters: ''
                    description: ''
                    filename: 4fdf4b3879da1funny-animals-page.jpg
                    img_url: https://demophgconsole.partnerize.com/upload/4fdf4b3879da1funny-animals-page.jpg
                    preview: https://demo.prf.hn/preview/screativeref:300396
                    specific_destination: ''
                  creative_tracking_link: ''
                  creative_tracking_link_rotate: ''
                  creative_type_id: 1
                  custom_append_url_parameters: ''
                  custom_prepend_url_parameters: ''
                  default_specific_creative_id: '300396'
                  description: Demo Text
                  destination: http://www.partnerize.com
                  dynamic_tracking_link: ''
                  end_date_time: '2013-09-30 15:00:00'
                  height: 360
                  html_tracking_link: ''
                  limits: ''
                  preview: https://demo.prf.hn/preview/creativeref:300442
                  start_date_time: '2013-08-31 15:00:00'
                  width: 400
              properties:
                creatives:
                  items:
                    $ref: '#/components/schemas/Creative_Wrapper'
                  type: array
              type: object
      summary: Create Campaign Creatives
    put:
      parameters:
      - description: ID of the campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    creatives:
                    - creative:
                        tags: ''
                        active: y
                        advertiser_reference: Promotion July 2016
                        campaign_id: 10l176
                        created_at: '2016-04-07 04:21:51'
                        created_by: '300621'
                        creative_id: '300441'
                        creative_items:
                        - tags: ''
                          active: y
                          campaign_id: 10l176
                          content_type: image/jpeg
                          created_at: '2016-04-07 04:21:51'
                          created_by: '300621'
                          creative_item_id: '300396'
                          creative_type_id: 1
                          custom_append_url_parameters: ''
                          custom_prepend_url_parameters: ''
                          description: ''
                          filename: 4fdf4b3879da1funny-animals-page.jpg
                          img_url: https://demophgconsole.partnerize.com/upload/4fdf4b3879da1funny-animals-page.jpg
                          preview: https://demo.prf.hn/preview/screativeref:300396
                          specific_destination: ''
                        creative_tracking_link: ''
                        creative_tracking_link_rotate: ''
                        creative_type_id: 1
                        custom_append_url_parameters: ''
                        custom_prepend_url_parameters: ''
                        default_specific_creative_id: '300396'
                        description: Demo Text
                        destination: http://www.partnerize.com
                        dynamic_tracking_link: ''
                        end_date_time: '2013-09-30 15:00:00'
                        height: 360
                        html_tracking_link: ''
                        limits: ''
                        preview: https://demo.prf.hn/preview/creativeref:300442
                        start_date_time: '2013-08-31 15:00:00'
                        width: 400
              schema:
                properties:
                  creatives:
                    items:
                      $ref: '#/components/schemas/Creative_Wrapper'
                    type: array
                type: object
          description: OK
      tags:
      - Creatives
      description: Update one or more Creatives against the Campaign entity. Each Creative is sent as an array within a top level `creatives` array and must contain its associated `creative_id`.
      operationId: Update Campaign Creatives
      requestBody:
        content:
          application/json:
            schema:
              example:
                creatives:
                - tags: ''
                  active: y
                  advertiser_reference: Promotion July 2016
                  campaign_id: 10l176
                  creative_id: '300441'
                  creative_items:
                  - tags: ''
                    active: y
                    campaign_id: 10l176
                    content_type: image/jpeg
                    created_at: '2016-04-07 04:21:51'
                    created_by: '300621'
                    creative_item_id: '300396'
                    creative_type_id: 1
                    custom_append_url_parameters: ''
                    custom_prepend_url_parameters: ''
                    description: ''
                    filename: 4fdf4b3879da1funny-animals-page.jpg
                    img_url: https://demophgconsole.partnerize.com/upload/4fdf4b3879da1funny-animals-page.jpg
                    preview: https://demo.prf.hn/preview/screativeref:300396
                    specific_destination: ''
                  creative_tracking_link: ''
                  creative_tracking_link_rotate: ''
                  creative_type_id: 1
                  custom_append_url_parameters: ''
                  custom_prepend_url_parameters: ''
                  default_specific_creative_id: '300396'
                  description: Demo Text
                  destination: http://www.partnerize.com
                  dynamic_tracking_link: ''
                  end_date_time: '2013-09-30 15:00:00'
                  height: 360
                  html_tracking_link: ''
                  limits: ''
                  preview: https://demo.prf.hn/preview/creativeref:300442
                  start_date_time: '2013-08-31 15:00:00'
                  width: 400
              properties:
                creatives:
                  items:
                    $ref: '#/components/schemas/Creative_Wrapper'
                  type: array
              type: object
      summary: Update Campaign Creatives
  /campaign/{campaign_id}/creative/tags:
    get:
      parameters:
      - description: ID of the Campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    creative_tags:
                    - creative_tag:
                        campaign_id: 10l176
                        created_at: '2016-04-07 04:21:51'
                        created_by: '300621'
                        creative_tag_id: 111111l2
                        creatives:
                        - creative_id: '300441'
                          creative_item_id: '300396'
                        name: logo
              schema:
                properties:
                  creative_tags:
                    items:
                      $ref: '#/components/schemas/Creative_Tag_Wrapper'
                    type: array
                type: object
          description: OK
      tags:
      - Creatives
      description: View all Creative Tags for the specified Campaign.
      operationId: List all Creative Tags for Campaign
      summary: List all Creative Tags for Campaign
    post:
      parameters:
      - description: ID of the campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    creative_tags:
                    - creative_tag:
                        campaign_id: 10l176
                        created_at: '2016-04-07 04:21:51'
                        created_by: '300621'
                        creative_tag_id: 111111l2
                        creatives:
                        - creative_id: '300441'
                          creative_item_id: '300396'
                        name: logo
              schema:
                properties:
                  creative_tags:
                    items:
                      $ref: '#/components/schemas/Creative_Tag_Wrapper'
                    type: array
                type: object
          description: OK
      tags:
      - Creatives
      description: Create one or more Creative Tags against the Campaign entity. Each Tag is sent as an array within a top level `tags` array.
      operationId: Create Campaign Creative Tags
      requestBody:
        content:
          application/json:
            schema:
              example:
                tags:
                - name: promo
              properties:
                tags:
                  items:
                    $ref: '#/components/schemas/Creative_Tag_Wrapper'
                  type: array
              type: object
      summary: Create Campaign Creative Tags
    put:
      parameters:
      - description: ID of the Campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    creative_tags:
                    - creative_tag:
                        campaign_id: 10l176
                        created_at: '2016-04-07 04:21:51'
                        created_by: '300621'
                        creative_tag_id: 111111l2
                        creatives:
                        - creative_id: '300441'
                          creative_item_id: '300396'
                        name: logo
              schema:
                properties:
                  creative_tags:
                    items:
                      $ref: '#/components/schemas/Creative_Tag_Wrapper'
                    type: array
                type: object
          description: OK
      tags:
      - Creatives
      description: Update one or more Creative Tags against the Campaign entity. Each Tag is sent as an array within a top level `tags` array and must contain its associated `creative_tag_id`.
      operationId: Update Campaign Creative Tags
      requestBody:
        content:
          application/json:
            schema:
              example:
                tags:
                - creative_tag_id: 111111l2
                  name: promotion
              properties:
                tags:
                  items:
                    $ref: '#/components/schemas/Creative_Tag_Wrapper'
                  type: array
              type: object
      summary: Update Campaign Creative Tags
    delete:
      parameters:
      - description: ID of the Campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    creative_tags:
                    - creative_tag:
                        campaign_id: 10l176
                        created_at: '2016-04-07 04:21:51'
                        created_by: '300621'
                        creative_tag_id: 111111l2
                        creatives:
                        - creative_id: '300441'
                          creative_item_id: '300396'
                        name: logo
              schema:
                properties:
                  creative_tags:
                    items:
                      $ref: '#/components/schemas/Creative_Tag_Wrapper'
                    type: array
                type: object
          description: OK
      tags:
      - Creatives
      description: Delete one or more Creative Tags against the Campaign entity. Each Tag is sent as an array within a top level `tags` array and must contain its associated `creative_tag_id`.
      operationId: Delete Campaign Creative Tags
      requestBody:
        content:
          application/json:
            schema:
              example:
                tags:
                - creative_tag_id: 111111l2
              properties:
                tags:
                  items:
                    $ref: '#/components/schemas/Creative_Tag_Wrapper'
                  type: array
              type: object
      summary: Delete Campaign Creative Tags
  /campaign/{campaign_id}/creative_tags/creative:
    get:
      parameters:
      - description: ID of the Campaign
        example: 10l176
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      - description: An array of tags IDs to filter the creatives by
        example: 1011l56,1011l57
        in: query
        name: tags[]
        required: false
        schema:
          type: string
        allowReserved: true
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    creatives:
                    - creative:
                        tags: ''
                        active: y
                        advertiser_reference: Promotion July 2020
                        campaign_id: 10l176
                        created_at: '2016-04-07 04:21:51'
                        created_by: '300621'
                        creative_id: '300441'
                        creative_items:
                        - tags:
                          - creative_tag_id: 1011l56
                            campaign_id: 10l176
                            name: My tag
                            created_at: '2016-04-03 16:16:02'
                          active: y
                          campaign_id: 10l176
                          content_type: image/jpeg
                          created_at: '2016-04-07 04:21:51'
                          created_by: '300621'
                          creative_item_id: '300396'
                          creative_type_id: 1
                          custom_append_url_parameters: ''
                          custom_prepend_url_parameters: ''
                          description: ''
                          filename: 4fdf4b3879da1funny-animals-page.jpg
                          img_url: https://demophgconsole.partnerize.com/upload/4fdf4b3879da1funny-animals-page.jpg
                          preview: https://demo.prf.hn/preview/screativeref:300396
                          specific_destination: ''
                        creative_tracking_link: ''
                        creative_tracking_link_rotate: ''
                        creative_type_id: 1
                        custom_append_url_parameters: ''
                        custom_prepend_url_parameters: ''
                        default_specific_creative_id: '300396'
                        description: Demo Text
                        destination: http://www.partnerize.com
                        dynamic_tracking_link: ''
                        end_date_time: '2013-09-30 15:00:00'
                        height: 360
                        html_tracking_link: ''
                        limits: ''
                        preview: https://demo.prf.hn/preview/creativeref:300442
                        start_date_time: '2013-08-31 15:00:00'
                        width: 400
              schema:
                properties:
                  creatives:
                    items:
                      $ref: '#/components/schemas/Creative_Wrapper'
                    type: array
                type: object
          description: OK
      tags:
      - Creatives
      description: List and view all Creatives for the specified Campaign and filter by tags.
      operationId: List all Creatives for a Campaign by Tags
      summary: List all Creatives for a Campaign by Tags
components:
  schemas:
    Creative_Wrapper:
      properties:
        creative:
          $ref: '#/components/schemas/Creative'
      type: object
    Creative_Item:
      properties:
        content_type:
          type: string
        creative_item_id:
          description: ID of the creative item
          type: string
        description:
          type: string
        filename:
          type: string
        img_url:
          type: string
        preview:
          type: string
        specific_destination:
          type: string
        created_by:
          type: string
        created_at:
          type: string
        tags:
          type: string
        active:
          $ref: '#/components/schemas/YesOrNo'
        campaign_id:
          description: ID of the campaign
          type: string
        creative_type_id:
          type: number
        custom_append_url_parameters:
          type: string
        custom_prepend_url_parameters:
          type: string
      required:
      - creative_type_id
      type: object
    YesOrNo:
      enum:
      - y
      - n
      type: string
    Creative:
      properties:
        creative_id:
          description: ID of the creative
          type: string
        advertiser_reference:
          type: string
        creative_items:
          items:
            $ref: '#/components/schemas/Creative_Item'
          type: array
        creative_tracking_link:
          type: string
        creative_tracking_link_rotate:
          type: string
        default_specific_creative_id:
          type: string
        description:
          type: string
        destination:
          type: string
        dynamic_tracking_link:
          type: string
        height:
          type: number
        html_tracking_link:
          type: string
        limits:
          type: string
        preview:
          type: string
        width:
          type: number
        tags:
          type: string
        active:
          $ref: '#/components/schemas/YesOrNo'
        campaign_id:
          description: ID of the campaign
          type: string
        creative_type_id:
          type: number
        custom_append_url_parameters:
          type: string
        custom_prepend_url_parameters:
          type: string
        start_date_time:
          type: string
        end_date_time:
          type: string
        created_by:
          type: string
        created_at:
          type: string
      required:
      - creative_type_id
      type: object
    Creative_Tag_Wrapper:
      properties:
        creative_tag:
          $ref: '#/components/schemas/Creative_Tag'
      type: object
    Creative_Tag:
      properties:
        campaign_id:
          description: ID of the Campaign
          type: string
        creative_tag_id:
          description: ID of the Creative Tag
          type: string
        creatives:
          items:
            properties:
              creative_id:
                description: ID of the Creative
                type: string
              creative_item_id:
                description: ID of the Creative Item
                type: string
          type: array
        name:
          type: string
        created_by:
          type: string
        created_at:
          type: string
      required:
      - name
      type: object
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
