openapi: 3.2.0
info:
  title: Partnerize Partners Transaction Queries API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Transaction Queries
paths:
  /user/publisher/{publisher_id}/tq:
    get:
      parameters:
      - description: Filter by the ID of a transaction query
        example: 1l1000532
        in: query
        name: transaction_query_id
        required: false
        schema:
          type: string
      - description: Filter by the type
        example: untracked
        in: query
        name: transaction_query_type
        required: false
        schema:
          type: string
      - description: Filter by a partner reference
        example: A200FG1
        in: query
        name: publisher_reference
        required: false
        schema:
          type: string
      - description: Filter by a conversion reference
        example: AF222PO
        in: query
        name: conversion_reference
        required: false
        schema:
          type: string
      - description: Filter by a conversion date
        example: '2017-01-01 00:00:00'
        in: query
        name: conversion_date_time
        required: false
        schema:
          type: string
      - description: Filter by the ID of a campaign
        example: 10l176
        in: query
        name: campaign_id
        required: false
        schema:
          type: string
      - description: Filter by the current state
        example: pending
        in: query
        name: current_state
        required: false
        schema:
          type: string
      - description: Field to filter the date range on
        example: created_at
        in: query
        name: date_range_column
        required: false
        schema:
          type: string
      - description: Start of a date range
        example: '2017-01-01 00:00:00'
        in: query
        name: date_range_start
        required: false
        schema:
          type: string
      - description: End of a date range
        example: '2017-12-30 00:00:00'
        in: query
        name: date_range_end
        required: false
        schema:
          type: string
      - description: Natural language representation of a date range
        example: last 10 days
        in: query
        name: text_date
        required: false
        schema:
          type: string
      - description: Field to sort the results by
        example: created_at
        in: query
        name: sort_column
        required: false
        schema:
          type: string
      - description: Direction to sort the results by
        example: ASC
        in: query
        name: order_by
        required: false
        schema:
          type: string
      - description: Download the results as a CSV file
        example: 'true'
        in: query
        name: tq_export
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    count: 5
                    execution_time: 0.08001 seconds
                    filters: {}
                    sort:
                      column: created_at
                      direction: ASC
                    transaction_queries:
                    - transaction_query:
                        campaign:
                          advertiser_id: 10l110
                          campaign_id: 10l176
                          created: '2017-01-01 00:00:00'
                          created_by: 11l16829
                          default_override: '1'
                          hidden_campaign: y
                          last_modified: '2017-01-01 00:00:00'
                          network_fee: null
                          payment_date: null
                          reporting_timezone: Australia/Sydney
                          status: a
                          title: Example Campaign
                          type: sale
                          vertical_id: 10
                          week_start: monday
                        campaign_id: 10l176
                        camref: hrDu67
                        conversion_currency: GBP
                        conversion_date_time: '2017-01-01 00:00:00'
                        conversion_id: 111111l304972
                        conversion_reference: AUTO-5953bd8c5fe7b
                        conversion_value: 9729
                        created_at: '2017-01-01 00:00:00'
                        current_state: pending
                        expected_commission: 907.43
                        notes: Quam ex rerum nulla enim.
                        publisher:
                          agreed_to_latest_network_terms: y
                          created: '2017-01-01 00:00:00'
                          created_by: 11l16829
                          name: Example Publisher
                          network_id: 1l1000003
                          network_status: a
                          publisher_id: 1l1007802
                          ref_terms_and_conditions_locale_id: 1l100284
                          reporting_timezone: Australia/Sydney
                          signup_ip: 127.0.0.1
                          week_start: saturday
                        publisher_id: 1l1007802
                        publisher_reference: rerum
                        state_history:
                          conversion_expected_commission: 837.49
                          conversion_item_id: 111111l1107235
                          created_at: '2017-01-01 00:00:00'
                          notes: Quidem facilis iste sapiente reiciendis.
                          state: pending
                          transaction_query_id: 111111l10
                          transaction_query_state_id: 111111l9
                          user_id: 11l16829
                        transaction_query_id: 111111l10
                        transaction_query_type: untracked
                        updated_at: '2017-02-01 00:00:00'
              schema:
                $ref: '#/components/schemas/Transaction_Query_Wrapper'
          description: OK
        '401':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    error:
                      message: 'Permission Denied: User cannot perform tq_read action on publisher-1l1007802'
                      type: Access Permission Denied
              schema:
                properties:
                  error:
                    properties:
                      message:
                        type: string
                      type:
                        type: string
                    type: object
                type: object
          description: Unauthorized
      tags:
      - Transaction Queries
      description: Return the details of all Transaction Queries created by the Partner account.
      operationId: List Transaction Queries
      summary: List all Transaction Queries
  /user/publisher/{publisher_id}/tq/create:
    post:
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    execution_time: 1.16076 seconds
                    job:
                      completed_at: '2016-04-07 04:21:52'
                      created_at: '2016-04-07 04:21:51'
                      created_by: '300621'
                      created_by_uri: ''
                      estimated_completion: null
                      job_id: 111111l470
                      percentage_complete: 100
                      reference: null
                      response: /job/111111l1177306/response.json
                      response_within_retention: true
                      status: complete
                      time_elapsed: 0
                      update: /job/111111l1177306.json
              schema:
                properties:
                  execution_time:
                    type: string
                  job:
                    properties:
                      completed_at:
                        type:
                        - string
                        - 'null'
                      created_at:
                        type: string
                      created_by:
                        description: ID of the user who created the job
                        type: string
                      created_by_uri:
                        type: string
                      estimated_completion:
                        type:
                        - string
                        - 'null'
                      job_id:
                        description: ID of the job
                        type: string
                      percentage_complete:
                        type: number
                      reference:
                        type:
                        - string
                        - 'null'
                      response:
                        description: The raw response
                        type:
                        - string
                        - 'null'
                      response_within_retention:
                        type: boolean
                      status:
                        enum:
                        - complete
                        - created
                        - active
                        type: string
                      time_elapsed:
                        type: number
                      update:
                        description: The update URI
                        type:
                        - string
                        - 'null'
                    type: object
                type: object
          description: OK
        '400':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    error:
                      fields: {}
                      message: transaction_queries not found
                      type: Validation Fail
              schema:
                properties:
                  error:
                    properties:
                      fields:
                        properties: {}
                        type: object
                      message:
                        type: string
                      type:
                        type: string
                    type: object
                type: object
          description: Bad Request
        '401':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    error:
                      message: 'Permission Denied: User cannot perform tq_read action on publisher-1l1007802'
                      type: Access Permission Denied
              schema:
                properties:
                  error:
                    properties:
                      message:
                        type: string
                      type:
                        type: string
                    type: object
                type: object
          description: Unauthorized
      tags:
      - Transaction Queries
      description: 'Create one or more Transaction Queries. The fields required depends on the type of TQ being created: - Untracked: conversion_reference, camref, conversion_value, expected_commission, conversion_date_time - Incorrect commission: conversion_reference, camref, expected_commission - Declined: conversion_reference, camref'
      operationId: Create Transaction Queries
      requestBody:
        content:
          application/json:
            schema:
              example:
                transaction_queries:
                - camref: hrDu67
                  conversion_currency: GBP
                  conversion_date_time: 2017-01-01 00:00
                  conversion_reference: AF222PO
                  conversion_value: 67.12
                  expected_commission: 6.71
                  notes: Sample note
                  publisher_reference: A200FG1
                  transaction_query_type: untracked
              properties:
                transaction_queries:
                  type: array
              type: object
      summary: Create Transaction Queries
  /user/publisher/{publisher_id}/tq/{transaction_query_id}/delete:
    post:
      parameters:
      - description: ID of the transaction query
        example: 1l1000532
        in: path
        name: transaction_query_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    execution_time: 1.16076 seconds
                    transaction_query:
                      deleted: true
              schema:
                properties:
                  execution_time:
                    type: string
                  transaction_query:
                    properties:
                      deleted:
                        type: boolean
                    type: object
                type: object
          description: OK
        '401':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    error:
                      message: 'Permission Denied: User cannot perform tq_read action on publisher-1l1007802'
                      type: Access Permission Denied
              schema:
                properties:
                  error:
                    properties:
                      message:
                        type: string
                      type:
                        type: string
                    type: object
                type: object
          description: Unauthorized
        '404':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    error:
                      message: Transaction Query could not be found; possibly because it does not exist. Please check your selection and try again.
                      type: '404'
              schema:
                properties:
                  error:
                    properties:
                      message:
                        type: string
                      type:
                        type: string
                    type: object
                type: object
          description: Not Found
        '405':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    error:
                      message: You cannot remove a Transaction Query that has been changed to Approved or Rejected.
                      type: '405'
              schema:
                properties:
                  error:
                    properties:
                      message:
                        type: string
                      type:
                        type: string
                    type: object
                type: object
          description: Method Not Allowed
      tags:
      - Transaction Queries
      description: Delete a single Transaction Query. Once a Transaction Query has been approved or rejected it cannot be deleted.
      operationId: Delete a Transaction Query
      summary: Delete a Transaction Query
components:
  schemas:
    Transaction_Query_State_History:
      properties:
        conversion_expected_commission:
          type: number
        conversion_item_id:
          type: string
        created_at:
          type: string
        notes:
          type: string
        state:
          $ref: '#/components/schemas/Transaction_Query_State'
        transaction_query_id:
          type: string
        transaction_query_state_id:
          type: string
        user_id:
          type: string
      type: object
    Transaction_Query_Wrapper:
      properties:
        transaction_query:
          $ref: '#/components/schemas/Transaction_Query'
      type: object
    Status:
      type: string
      enum:
      - a
      - p
      - r
      - n
    Timezones:
      enum:
      - Australia/Sydney
      - UTC
      - Europe/London
      - CET
      - GMT
      type: string
    Transaction_Query_Type:
      enum:
      - untracked
      - incorrect_commission
      - declined
      type: string
    Currency:
      enum:
      - GBP
      - USD
      - EUR
      - JPY
      type: string
    Transaction_Query:
      properties:
        campaign:
          properties:
            advertiser_id:
              type: string
            campaign_id:
              type: string
            created:
              type: string
            created_by:
              type: string
            default_override:
              type: string
            hidden_campaign:
              $ref: '#/components/schemas/YesOrNo'
            last_modified:
              type: string
            network_fee:
              type: string
            payment_date:
              type: string
            reporting_timezone:
              $ref: '#/components/schemas/Timezones'
            status:
              $ref: '#/components/schemas/Status'
            title:
              type: string
            type:
              type: string
            vertical_id:
              type: number
            week_start:
              type: string
          type: object
        campaign_id:
          type: string
        camref:
          type: string
        conversion_currency:
          $ref: '#/components/schemas/Currency'
        conversion_date_time:
          type: string
        conversion_id:
          type: string
        conversion_reference:
          type: string
        conversion_value:
          type: number
        created_at:
          type: string
        current_state:
          $ref: '#/components/schemas/Transaction_Query_State'
        expected_commission:
          type: number
        notes:
          type: string
        publisher:
          properties:
            agreed_to_latest_network_terms:
              $ref: '#/components/schemas/YesOrNo'
            created:
              type: string
            created_by:
              type: string
            name:
              type: string
            network_id:
              type: string
            network_status:
              type: string
            publisher_id:
              type: string
            ref_terms_and_conditions_locale_id:
              type: string
            reporting_timezone:
              $ref: '#/components/schemas/Timezones'
            signup_ip:
              type: string
            week_start:
              type: string
          type: object
        publisher_id:
          type: string
        publisher_reference:
          type: string
        state_history:
          $ref: '#/components/schemas/Transaction_Query_State_History'
        transaction_query_id:
          type: string
        transaction_query_type:
          $ref: '#/components/schemas/Transaction_Query_Type'
        updated_at:
          type: string
      type: object
    YesOrNo:
      enum:
      - y
      - n
      type: string
    Transaction_Query_State:
      enum:
      - pending
      - approved
      - rejected
      type: string
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
