openapi: 3.2.0
info:
  title: Partnerize Partners Partner Clicks API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Partner Clicks
paths:
  /reporting/report_publisher/publisher/{publisher_id}/click.{format}:
    get:
      parameters:
      - description: ID of the partner
        example: 1l1007802
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
      - description: Format for the response
        example: json
        in: path
        name: format
        required: true
        schema:
          enum:
          - json
          - xml
          type: string
      - description: Start date for data to be included in the report
        example: '2016-02-30T05:15:32Z'
        in: query
        name: start_date
        required: true
        schema:
          type: string
      - description: End date for data to be included in the report
        example: '2016-03-10T19:02:35Z'
        in: query
        name: end_date
        required: false
        schema:
          type: string
      - description: Restricts the results to one of the following - this hour, last hour, today, yesterday, this week, last week, last X days, this month, last month, this year, last year.
        example: yesterday
        in: query
        name: text_date
        required: false
        schema:
          type: string
      - description: Enforce a specified Timezone.
        example: Europe/London
        in: query
        name: timezone
        required: false
        schema:
          type: string
      - description: Filter the results by the specified currency
        example: USD
        in: query
        name: currency[]
        required: false
        schema:
          $ref: '#/components/schemas/Currency'
      - description: This parameter to run the report for conversions that have been updated. When you specify `last_updated` or `approved_at` the response will only include conversions that were last modified or approved at in approved_at a date within the report date range.
        example: last_modified
        in: query
        name: date_type
        required: false
        schema:
          type: string
      - description: 'Add a secondary pivot filter. You need to specify the pivot parameter name and the value to filter by. E.g. multipivot[campaign][]=111111l29. Supported values are: `campaign`, `publisher_reference`.'
        example: value
        in: query
        name: multipivot[{pivot}][]
        required: false
        schema:
          type: string
      - description: Filter by statuses. Available values - approved, pending, rejected
        example: approved
        in: query
        name: statuses[]
        required: false
        schema:
          type: string
      - description: Offset the results by a given amount. Defaults to 0.
        example: '0'
        in: query
        name: offset
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    unique_click_count: 2
                    start_date_time_utc: '2019-08-10 00:00:00'
                    end_date_time_utc: '2020-03-10 00:00:00'
                    start_date_time: '2020-03-08 17:18:33'
                    end_date_time: '2020-03-09 14:27:15'
                    limit: 300
                    offset: 0
                    count: 2
                    execution_time: 0.27682 seconds
                    clicks:
                    - click:
                        campaign_id: 111111l29
                        publisher_id: 111111l92
                        type: standard
                        status: nibbled
                        set_time: '2020-03-08 17:18:33'
                        set_ip: 265c:5b77:7721:e466:9e91:cf97:9b7a:b1f1
                        last_used: '2020-05-13 15:30:04'
                        last_ip: 265c:5b77:7721:e466:9e91:cf97:9b7a:b1f1
                        publisher_reference: ''
                        referer: ''
                        creative_id: 0
                        creative_type: 0
                        specific_creative_id: 0
                        ref_device_id: 2
                        ref_traffic_source_id: 3
                        ref_partnership_model_id: 2
                        ref_user_context_id: 2
                        clickref: 111111lfo
                        meta_data: []
                    - click:
                        campaign_id: 111111l29
                        publisher_id: 111111l92
                        type: standard
                        status: nibbled
                        set_time: '2020-03-09 14:27:15'
                        set_ip: 265c:5b77:7721:e466:9e91:cf97:9b7a:b1f1
                        last_used: '2020-05-13 15:30:18'
                        last_ip: 265c:5b77:7721:e466:9e91:cf97:9b7a:b1f1
                        publisher_reference: ''
                        referer: ''
                        creative_id: 0
                        creative_type: 0
                        specific_creative_id: 0
                        ref_device_id: 2
                        ref_traffic_source_id: 3
                        ref_partnership_model_id: 2
                        ref_user_context_id: 2
                        clickref: 111111lfq
                        meta_data: []
              schema:
                $ref: '#/components/schemas/Partner_Clicks'
          description: OK
      tags:
      - Partner Clicks
      description: Return a mix of aggregated and basket/item level click data for a partner.
      operationId: partner-clicks
      summary: Retrieve a Partner Clicks Report
components:
  schemas:
    Click:
      properties:
        campaign_id:
          description: Id of the campaign
          example: 111111l29
          type: string
        publisher_id:
          description: Id of the partner
          example: 111111l92
          type: string
        type:
          type: string
        status:
          type: string
        set_time:
          type: string
        set_ip:
          type: string
        last_used:
          type: number
        last_ip:
          type: string
        publisher_reference:
          type: string
        referer:
          type: string
        creative_id:
          type: number
        creative_type:
          type: number
        specific_creative_id:
          type: number
        ref_device_id:
          type: number
        ref_traffic_source_id:
          type: number
        ref_partnership_model_id:
          type: number
        ref_user_context_id:
          type: number
        ref_device:
          type: string
        ref_traffic_source:
          type: string
        ref_partnership_model:
          type: string
        ref_user_context:
          type: string
        clickref:
          type: string
      type: object
    Currency:
      enum:
      - GBP
      - USD
      - EUR
      - JPY
      type: string
    Partner_Clicks:
      properties:
        unique_click_count:
          description: total count of unique clicks
          type: number
        start_date_time_utc:
          type: string
        end_date_time_utc:
          type: string
        start_date_time:
          type: string
        end_date_time:
          type: string
        limit:
          type: number
        offset:
          type: number
        count:
          type: number
        execution_time:
          type: string
        clicks:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Click'
            - type: object
              properties:
                meta_data:
                  type: array
                  description: Key value pairs of meta data
                  items:
                    properties:
                      key:
                        description: A key value pair.
                        type: string
      type: object
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
