openapi: 3.2.0
info:
  title: Partnerize Partners Available Commission API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Available Commission
paths:
  /user/publisher/{publisher_id}/available_commission:
    get:
      parameters:
      - description: ID of the partner
        example: 1l1007802
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    available_commissions:
                      available_commission:
                        no_items: 1
                        value: 568
                        publisher_commission: 312.4
                        currency: SGD
                        publisher_id: 1l1007802
                        publisher_commission_converted:
                          currency: USD
                          value: 228.88
              schema:
                properties:
                  available_commissions:
                    items:
                      properties:
                        no_items:
                          description: Number of items
                          type: number
                        value:
                          type: number
                        publisher_commission:
                          type: number
                        currency:
                          $ref: '#/components/schemas/Currency'
                        publisher_id:
                          type: string
                        publisher_commission_converted:
                          properties:
                            currency:
                              $ref: '#/components/schemas/Currency'
                            value:
                              type: number
                          type: object
                    type: array
                type: object
          description: OK
      tags:
      - Available Commission
      description: Retrieve the available commission for a given partner.
      operationId: Retrieve Available Commission
      summary: Retrieve Available Commission
components:
  schemas:
    Currency:
      enum:
      - GBP
      - USD
      - EUR
      - JPY
      type: string
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
