openapi: 3.2.0
info:
  title: Partnerize Partners Conversion Types API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Conversion Types
paths:
  /reference/conversion_type:
    get:
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    conversion_types:
                    - conversion_type:
                        available_to_invoice: y
                        available_to_selfbill: y
                        conversion_type: standard
                        conversion_type_id: 1
                        description: Standard Transaction
                        exclude_from_override_rules: y
              schema:
                properties:
                  conversion_types:
                    items:
                      $ref: '#/components/schemas/Conversion_Type'
                    type: array
                type: object
          description: OK
      tags:
      - Conversion Types
      description: List all the conversion types.
      operationId: List Conversion Type
      summary: List Conversion Type
components:
  schemas:
    YesOrNo:
      enum:
      - y
      - n
      type: string
    Conversion_Type:
      properties:
        conversion_type:
          properties:
            available_to_invoice:
              $ref: '#/components/schemas/YesOrNo'
            available_to_selfbill:
              $ref: '#/components/schemas/YesOrNo'
            conversion_type:
              description: The name of the extra field
              type: string
            conversion_type_id:
              description: The id of the conversion type
              type: number
            description:
              type: string
            exclude_from_override_rules:
              $ref: '#/components/schemas/YesOrNo'
          type: object
      type: object
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
