openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Platform Communications API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Platform Communications
paths:
  /v2/platform-communications/events:
    get:
      tags:
      - Platform Communications
      summary: Get platform events list
      description: Returns the available events for triggering platform communications
      responses:
        '200':
          description: A list of available events.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1v2~1communications/get/responses/200/content/application~1json/schema/allOf/0'
                - type: object
                  properties:
                    events:
                      type: array
                      items:
                        type: object
                        title: Platform event
                        properties:
                          id:
                            type: string
                            example: no_conversion_in_x_days
                          name:
                            type: string
                            example: No new conversion after
                          type:
                            type: string
                            enum:
                            - partner
                            - conversion
                            example: conversion
                          allows_recipients:
                            type: boolean
                            example: false
                          required_placeholder:
                            type: object
                            properties:
                              placeholder:
                                type: string
                                example: '[Pz-campaign-ref-code]'
                              fallback:
                                type: string
                                example: campaign list
      operationId: get-platform-communication-events
  /v2/platform-communications:
    post:
      tags:
      - Platform Communications
      summary: Create platform communication
      description: Creates a platform communication that can be triggered automatically when a given event occurs
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - event_id
              properties:
                event_id:
                  type: string
                  example: 100l01
                html:
                  type: string
                  example: <html>platform email content</html>
                unlayer_json:
                  type:
                  - string
                  - 'null'
                  minLength: 1
                  example: '{}'
                name:
                  type: string
                  example: Sign Up Confirmation
                subject:
                  type: string
                  maxLength: 128
                  example: Sign Up Confirmation
                from_name:
                  type: string
                  example: John Smith
                reply_to_email:
                  type: string
                  example: someone@partnerize.com
                event_properties:
                  type: object
                  example:
                    days_elapsed: 10
                disable:
                  type: boolean
      responses:
        '201':
          description: The new platform communication object
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1v2~1communications/get/responses/200/content/application~1json/schema/allOf/0'
                - type: object
                  properties:
                    platform_communication:
                      $ref: '#/paths/~1v2~1platform-communications/get/responses/200/content/application~1json/schema/allOf/1/properties/platform_communications/items'
      operationId: create-platform-communication
    get:
      tags:
      - Platform Communications
      summary: Get platform communications list
      description: Returns all existing platform communications
      responses:
        '200':
          description: A list of platform communications.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1v2~1communications/get/responses/200/content/application~1json/schema/allOf/0'
                - type: object
                  properties:
                    platform_communications:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 100l03
                          event_id:
                            type: string
                            example: 100l01
                          name:
                            type: string
                            example: Sign Up Confirmation
                          subject:
                            type: string
                            example: Sign Up Confirmation
                          from_name:
                            type: string
                            example: John Smith
                          reply_to_email:
                            type: string
                            example: someone@partnerize.com
                          updated_at:
                            type: string
                            format: date-time
                          event_properties:
                            type: object
                            example:
                              days_elapsed: 10
                          disable:
                            type: boolean
      operationId: get-platform-communications
  /v2/platform-communications/{id}:
    delete:
      tags:
      - Platform Communications
      summary: Deletes an existing platform communication
      parameters:
      - name: id
        in: path
        description: The ID of the platform communication to be deleted
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The platform communication was deleted successfully.
      operationId: delete-platform-communication
    patch:
      tags:
      - Platform Communications
      summary: Update an existing platform communication content
      description: Updates an existing platform communication content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - html
              properties:
                html:
                  type: string
                  example: <html>platform email content</html>
                unlayer_json:
                  type:
                  - string
                  - 'null'
                  minLength: 1
                  example: '{}'
      responses:
        '201':
          description: The updated platform communication object
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1v2~1communications/get/responses/200/content/application~1json/schema/allOf/0'
                - $ref: '#/paths/~1v2~1platform-communications/post/responses/201/content/application~1json/schema/allOf/1'
      operationId: update-platform-communication
  /v2/platform-communications/{id}/content:
    get:
      tags:
      - Platform Communications
      summary: Returns the content of a platform communication
      description: Returns the HTML content of an existing platform communication.
      parameters:
      - name: id
        in: path
        description: The ID of the platform communication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The HTML content
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1v2~1communications/get/responses/200/content/application~1json/schema/allOf/0'
                - type: object
                  properties:
                    html:
                      type: string
                      example: <html>platform communication content</html>
                    unlayer_json:
                      description: The Unlayer JSON contents of the platform communication
                      type:
                      - string
                      - 'null'
                      example: '{}'
      operationId: get-platform-communication-content
  /v2/platform-communications/validate-content:
    post:
      tags:
      - Platform Communications
      summary: Validate content
      description: A helper endpoint which can be used to validate the html for a platform communication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                html:
                  type: string
                  description: The HTML contents of the platform communication
                  example: <html>platform communication content</html>
                unlayer_json:
                  description: The Unlayer JSON contents of the platform communication
                  type:
                  - string
                  - 'null'
                  minLength: 1
                  example: '{}'
      responses:
        '204':
          description: Valid html
      operationId: validate-platform-communication-content
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
