openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Suppressed Code API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Suppressed Code
  description: Suppressed codes are assigned to a campaign. If a suppressed code is matched, the sale is no longer rewarded - even if there are supporting clicks.
paths:
  /v2/campaigns/{campaignId}/attribution/suppressed-codes:
    parameters:
    - $ref: '#/components/parameters/campaignId'
    get:
      summary: List All Suppressed Codes
      tags:
      - Suppressed Code
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: suppressed Code Response
                type: object
                properties:
                  data:
                    title: Suppressed Codes
                    type: array
                    description: A Collection of Suppressed Codes
                    items:
                      $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1attribution~1suppressed-codes/post/responses/201/content/application~1json/schema/properties/data'
                  hypermedia:
                    type: object
                    required:
                    - next
                    properties:
                      next:
                        type:
                        - string
                        - 'null'
                        description: The URL to call for the next set of preferred partners
                  meta:
                    type: object
                    required:
                    - enabled
                    properties:
                      enabled:
                        type: boolean
                        description: Is Suppressed Code attribution enabled on this campaign?
                required:
                - data
                - hypermedia
                - meta
      operationId: get-v2-attribution-suppressed-codes
      parameters:
      - schema:
          type: integer
          minimum: 0
          maximum: 200
        in: query
        name: limit
        description: Used to limit the response to a number of results
      - schema:
          type: integer
          minimum: 0
        in: query
        name: offset
        description: Used to offset the results we're returning
      - schema:
          type: string
          pattern: ^[-a-z0-9_]++$
        in: query
        name: query
        description: Search for specific codes
      - schema:
          type: string
          pattern: ^.*?,.*?$
          example: 2020-10-01,2020-10-31
        in: query
        name: dates
        description: Search for codes within a date-time range. Comma separated start and end date-times
      - schema:
          type: string
          example: active,scheduled,expired
          pattern: ^\w+(,\w+)*$
        in: query
        name: statuses
        description: A comma separated list of statuses to return results for
      description: Show a list of all configured suppressed codes. May be filtered with several filters.
    post:
      summary: Create a Suppressed Code
      operationId: post-v2-campaigns-campaignId-attribution-suppressed-codes
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                title: Suppressed Code Response
                type: object
                properties:
                  data:
                    title: Suppressed Code
                    type: object
                    x-examples:
                      Example Suppressed Code Instance:
                        id: 1111l1
                        voucher_code: NEWITEM
                        start_date: 2020-10-01T15:00:00+0100
                        end_date: 2020-10-05T23:59:59+0100
                        status: expired
                    properties:
                      id:
                        type: string
                        description: The unique ID of this Suppressed Code
                      voucher_code:
                        $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1attribution~1suppressed-codes/post/requestBody/content/application~1json/schema/properties/voucher_code/oneOf/1/allOf/0'
                      start_date:
                        type: string
                        format: date-time
                        description: The date the code is considered suppressed from
                      end_date:
                        type:
                        - string
                        - 'null'
                        format: date-time
                        description: The date the code is considered suppressed until. This is inclusive.
                      status:
                        type: string
                        enum:
                        - scheduled
                        - active
                        - expired
                        description: The status of this Suppressed Code instance
                    required:
                    - id
                    - voucher_code
                    - start_date
                    - end_date
                    - status
                required:
                - data
      description: Create a Suppressed Code configuration
      tags:
      - Suppressed Code
      requestBody:
        content:
          application/json:
            schema:
              title: Suppressed Code Request
              type: object
              properties:
                voucher_code:
                  oneOf:
                  - type: string
                    pattern: ^[a-zA-Z0-9_-]+$
                    minLength: 1
                    description: An exact match voucher code
                  - allOf:
                    - title: Suppressed Code Fuzzy Value
                      type: object
                      description: A fuzzy matched value
                      properties:
                        value:
                          type: string
                          pattern: ^[a-zA-Z0-9_-]+$
                          minLength: 1
                          example: SUPP-1
                        operator:
                          type: string
                          enum:
                          - EQUALS
                          - CONTAINS
                          - STARTS_WITH
                          - ENDS_WITH
                    - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1attribution~1exclusive-codes/post/requestBody/content/application~1json/schema/properties/voucher_code/oneOf/1/allOf/1'
                  - title: Suppressed Code All Values
                    type: object
                    description: Suppresses all voucher codes
                    properties:
                      operator:
                        type: string
                        enum:
                        - ALL
                    required:
                    - operator
                start_date:
                  type: string
                  format: date-time
                end_date:
                  type:
                  - string
                  - 'null'
                  format: date-time
              required:
              - voucher_code
              - start_date
    delete:
      summary: Delete Suppressed Codes
      operationId: bulk-delete-v2-campaigns-campaignId-attribution-suppressed-codes
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    required:
                    - errors
                    properties:
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                            code:
                              type: string
                            message:
                              type: string
                          required:
                          - type
                          - code
                          - message
                  code:
                    type: integer
                  message:
                    type: string
                required:
                - error
                - code
                - message
              examples:
                Cannot delete active Suppressed Code:
                  value:
                    error:
                      errors:
                      - type: validation_error
                        code: invalid_suppressed_code
                        message: Unable to delete Suppressed Code 12344. Only scheduled Suppressed Code can be deleted.
                    code: 400
                    message: Bad Request
      description: Delete Suppressed Codes. This is only possible if the Suppressed Codes are scheduled, otherwise an error will occur.
      requestBody:
        content:
          application/json:
            schema:
              title: Delete Suppressed Code Request
              type: object
              properties:
                suppressed_code_ids:
                  minItems: 1
                  items:
                    type: string
                    description: The Unique ID of Suppressed Code to be deleted
              required:
              - suppressed_code_ids
      tags:
      - Suppressed Code
  /v2/campaigns/{campaignId}/attribution/suppressed-codes/{id}:
    parameters:
    - $ref: '#/components/parameters/campaignId'
    - schema:
        type: string
        example: 1001l1
      name: id
      in: path
      required: true
      description: The ID of the Suppressed Code
    get:
      summary: Get a Suppressed Code
      tags:
      - Suppressed Code
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1attribution~1suppressed-codes/post/responses/201/content/application~1json/schema'
      operationId: get-campaigns-campaignId-attribution-suppressed-codes-id
      description: Get a Suppressed Code instance
    patch:
      summary: Update a Suppressed Code
      operationId: patch-v2-campaigns-campaignId-attribution-suppressed-codes-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1attribution~1suppressed-codes/post/responses/201/content/application~1json/schema'
      description: Update a Suppressed Code. All request body properties are optional but at least one must be specified for update.
      tags:
      - Suppressed Code
      requestBody:
        content:
          application/json:
            schema:
              title: Suppressed Code Update Request
              type: object
              description: Update a Suppressed Code
              x-examples:
                Update suppressed code:
                  voucher_code: NEWITEM
                  publisher_id: 1111l2
                  start_date: '2020-12-05T15:13:00+00:00'
                  end_date: '2020-12-31T23:59:59+00:00'
              minProperties: 1
              properties:
                voucher_code:
                  oneOf:
                  - type: string
                    pattern: ^[a-zA-Z0-9_-]+$
                    minLength: 1
                    description: An exact match voucher code
                  - allOf:
                    - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1attribution~1suppressed-codes/post/requestBody/content/application~1json/schema/properties/voucher_code/oneOf/1/allOf/0'
                    - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1attribution~1exclusive-codes/post/requestBody/content/application~1json/schema/properties/voucher_code/oneOf/1/allOf/1'
                  - title: Suppressed Code All Values
                    type: object
                    description: Suppresses all voucher codes
                    properties:
                      operator:
                        type: string
                        enum:
                        - ALL
                    required:
                    - operator
                start_date:
                  type: string
                  format: date-time
                  description: The date from which the voucher code is valid. This is inclusive.
                end_date:
                  allOf:
                  - description: The date until the voucher code is valid. This is inclusive.
                  - anyOf:
                    - type: string
                      format: date-time
                    - type: 'null'
    delete:
      summary: Delete a Suppressed Code
      responses:
        '204':
          description: No Content
      operationId: delete-campaigns-campaignId-attribution-suppressed-codes-id
      description: Delete and Suppressed Code
      tags:
      - Suppressed Code
components:
  parameters:
    campaignId:
      name: campaignId
      description: The ID of the Campaign
      in: path
      required: true
      schema:
        type: string
        example: 111111l1
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
