openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Paid Search Violations API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Paid Search Violations
paths:
  /v3/brand/participations/{participationId}/paid_search_violation:
    post:
      summary: Create a paid search violation
      description: Create a paid search violation time frame for a given participation
      tags:
      - Paid Search Violations
      parameters:
      - name: participationId
        in: path
        description: The ID of the participation that the paid search violation will be applied to
        required: true
        schema:
          type: string
          example: 1111l11
      requestBody:
        content:
          application/json:
            schema:
              properties:
                start_date_time:
                  type: string
                  format: date-time
                  example: '2024-10-10T12:01:00+00:00'
                  description: Datetime when the violation time window should start. The field is optional and will default to the current datetime
                end_date_time:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  example: '2025-10-10T12:01:00+00:00'
                  description: Datetime when the violation time window should end. The field is optional and will default 'null'. If this field is 'null' then all commissions for the participation after the 'start_date_time' will not be paid to the partner
              additionalProperties: false
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 111111l1
                      participation_id:
                        type: string
                        example: 111111l1
                      start_date_time:
                        type: string
                        format: date-time
                        example: '2024-10-10T12:01:00+00:00'
                      end_date_time:
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2025-10-10T12:01:00+00:00'
      operationId: postV3BrandParticipationsByParticipationIdPaidSearchViolation
      x-operation-id-source: derived
    get:
      summary: List paid search violations
      description: Get a timeline of paid search violations for a given participation
      tags:
      - Paid Search Violations
      parameters:
      - name: participationId
        in: path
        description: The ID of the participation that the paid search violation is associated with
        required: true
        schema:
          type: string
          example: 1111l11
      responses:
        '200':
          description: Request Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-07/schema#
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/paths/~1v3~1brand~1participations~1%7BparticipationId%7D~1paid_search_violation/post/responses/201/content/application~1json/schema/properties/data'
      operationId: getV3BrandParticipationsByParticipationIdPaidSearchViolation
      x-operation-id-source: derived
  /v3/brand/participations/{participationId}/paid_search_violation/{paidSearchViolationId}:
    delete:
      summary: Delete a paid search violation
      description: Deletes or ends a paid search violation. If a paid search violation has been started but the end date has not elapsed, then the end date will be updated to the current datetime. If the paid search violation has not been started then the paid search violation will be completely deleted.
      tags:
      - Paid Search Violations
      parameters:
      - name: participationId
        in: path
        description: The ID of the participation that the paid search violation is associated with
        required: true
        schema:
          type: string
          example: 1111l11
      - name: paidSearchViolationId
        in: path
        description: The ID of the paid search violation that will be deleted
        required: true
        schema:
          type: string
          example: 1111l11
      responses:
        '204':
          description: Delete Successful
      operationId: deleteV3BrandParticipationsByParticipationIdPaidSearchViolationByPaidSearchViolationId
      x-operation-id-source: derived
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
