openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Metrics API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Metrics
paths:
  /v2/campaigns/{campaign_id}/fraud/metrics:
    parameters:
    - name: campaign_id
      in: path
      description: Campaign ID
      required: true
      schema:
        type: string
    - name: start_date
      in: query
      description: Only count incidents after this date.
      required: false
      schema:
        type: string
        format: date
    - name: end_date
      in: query
      description: Only count incidents before this date.
      required: false
      schema:
        type: string
        format: date
    get:
      summary: List Metrics
      tags:
      - Metrics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Metrics Response
                type: object
                description: Metrics List Response
                required:
                - metrics
                - count
                properties:
                  metrics:
                    title: Metrics
                    description: A plurality of Metric
                    type: array
                    items:
                      title: Metric
                      type: object
                      description: A metric is a measurement by which incidents are triggered
                      required:
                      - id
                      - metric
                      - type
                      - count
                      - last_raised
                      properties:
                        id:
                          type: string
                          description: The Metric ID
                        metric:
                          type: string
                          enum:
                          - volume_clicks
                          - volume_conversions
                          - conversion_ratio
                          - basket_variability_sku
                          - conversion_value
                          - ttc
                          description: The Metric Name
                        type:
                          type: string
                          enum:
                          - partner
                          - conversion
                          - ip_address
                          description: The Type of Metric
                        count:
                          type: integer
                          minimum: 0
                          description: How many times this Metric has been raised
                        last_raised:
                          type: string
                          format: date
                          description: When was this Metric last raised
                  count:
                    type: integer
                    minimum: 0
                    description: Number of Metrics in the Response
        '403':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
              examples:
                Unauthorised:
                  value:
                    error:
                      errors:
                      - type: error
                        code: unauthorised
                        message: Feature 'fraud_detection' not enabled for this Network
                      code: 403
                      message: Forbidden
        '503':
          description: Fraud Service Unavailable
          content:
            application/json:
              examples:
                Fraud Service Unavailable:
                  value:
                    error:
                      errors:
                      - type: error
                        code: remote_service_unavailable
                        message: The remote service 'Fraud Detection' is currently unavailable
                      code: 503
                      message: Remote Service Unavailable
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers/get/responses/400/content/application~1json/schema'
      operationId: get-fraud-metrics
      description: Get Fraud Metrics for the campaign, including a count of each
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
