openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Deep link domains API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Deep link domains
  description: Endpoints dealing with the management of tracking deep link domains
paths:
  /v3/brand/{brand}/deeplink-domains:
    get:
      operationId: get_deeplink_domains
      summary: Fetches allowed deeplink domains for the given brand
      description: Fetches allowed deeplink domains for a given brand. Results are ordered by domain name in ascending order.
      tags:
      - Deep link domains
      parameters:
      - name: brand
        in: path
        description: Brand ID to get allowed domains for
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: Limits the number of results returned. Defaults to 20
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: Offsets the results returned
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Domain(s) successfully found
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-07/schema#
                type: object
                title: Deeplink domain response
                examples:
                - data:
                  - brand_id: 1111l11
                    domain: partnerize.com
                    created_by: 1111l22
                    created_at: ''
                  hypermedia:
                    pagination:
                      total_page_count: 1
                      total_item_count: 1
                      first_page: /v3/brand/111l1/deeplink-domains?offset=0&limit=20
                      last_page: /v3/brand/111l1/deeplink-domains?offset=0&limit=20
                      next_page: null
                      previous_page: null
    patch:
      operationId: add_deeplink_domains
      summary: Adds allowed deeplink domains for the given brand
      description: Adds a number of allowed deeplink domains for the given Brand. A maximum of 100 domains can be added at once.
      tags:
      - Deep link domains
      parameters:
      - name: brand
        in: path
        description: Brand ID to modify allowed domains for
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              title: Deeplink domain request
              properties:
                allowed_domains:
                  type: array
                  items:
                    type: string
                    maxLength: 256
                  maxItems: 100
              required:
              - allowed_domains
              minProperties: 1
              additionalProperties: false
      responses:
        '204':
          description: Domain(s) successfully added
    delete:
      operationId: delete_deeplink_domains
      summary: Removes allowed deeplink domains for the given brand
      description: Removes a number of allowed deeplink domains for the given Brand. A maximum of 100 domains can be removed at once.
      tags:
      - Deep link domains
      parameters:
      - name: brand
        in: path
        description: Brand ID to remove allowed domains for
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/paths/~1v3~1brand~1%7Bbrand%7D~1deeplink-domains/patch/requestBody/content/application~1json/schema'
      responses:
        '204':
          description: Domain(s) successfully removed
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
