openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Meta Fields API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Meta Fields
  description: Meta Fields Endpoints
paths:
  /v2/campaigns/{campaignId}/meta-fields:
    get:
      operationId: get-meta-fields
      tags:
      - Meta Fields
      summary: List Campaign Meta Fields
      description: Determine the meta fields available when filtering commissions. This endpoint returns either the default set of meta fields, or a custom set which replaces the default fields.
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign to list the commission tiers for
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Meta Field List
          content:
            application/json:
              schema:
                type: object
                title: Meta Fields
                properties:
                  meta_fields:
                    type: array
                    items:
                      allOf:
                      - type: object
                        title: Meta Field Weight
                        description: Meta Field with weight
                        allOf:
                        - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions/post/requestBody/content/application~1json/schema/properties/meta_fields/items/oneOf/0/allOf/0'
                        - type: object
                          properties:
                            weight:
                              type: number
                              description: The weight of the meta field
                          required:
                          - weight
  /v2/campaigns/{campaignId}/commissions/tiers/meta-fields:
    get:
      operationId: get-tier-meta-fields
      tags:
      - Meta Fields
      summary: List Tier Meta Fields
      description: Returns the meta fields available when defining commission tiers. This endpoint returns campaign meta fields, plus meta fields that can be used to refine commission tiers, but not commission rates.
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign to list the commission tiers for
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Meta Field List
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1meta-fields/get/responses/200/content/application~1json/schema'
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
