openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Commissions CSV Download API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Commissions CSV Download
  description: Commissions CSV Download
paths:
  /v2/campaigns/{campaignId}/commissions/all.csv:
    get:
      operationId: get-commission-csv-download
      tags:
      - Commissions CSV Download
      description: Request a CSV for a Commission report which includes all individual items defined for the Campaign. Each item represents a commission type of default, standard, promotional or voucher commission and rates.
      summary: CSV Download
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign for the commissions
        required: true
        schema:
          type: string
      - in: query
        name: start_date_time
        description: Limits list to commissions active at/from this date
        required: false
        schema:
          type: string
          format: datetime
      - in: query
        name: end_date_time
        description: Limits list to commissions active until this date
        required: false
        schema:
          type: string
          format: datetime
      - in: query
        name: type
        description: Limits list to commissions of specified types
        required: false
        schema:
          type: string
          enum:
          - default
          - standard
          - promotional
          - voucher
      - in: query
        name: status
        description: Limits list to commissions with specified status
        required: false
        schema:
          type: string
          enum:
          - retired
          - active
          - scheduled
      responses:
        '200':
          description: Commissions CSV Download
          content:
            text/csv:
              examples:
                response:
                  value: 'commission_group_id,commission_id,commission_type,scope,campaign_id,group_id,group_name,publisher_id,publisher_name,voucher_id,voucher_code,group_limit,start_date_time,end_date_time,status,name,performance_model,commission,commission_based_on_field,cookie_period_seconds,dynamic_sut,created,created_by_id,created_by_name,last_modified,last_modified_by,last_modified_by_name

                    1111111l1,1111111l3,promotional,publisher,,,,111111l9,test_publisher,,,,"2023-05-05 16:00:00","2023-09-30 00:00:00",ACTIVE,"Test Promotional Commission","% CPA",10.0000,,,,,,,,promosku,,,,avalue,"2023-05-05 14:46:54",111111l1,user_name,"2023-05-05 14:46:54",111111l1,user_name

                    '
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
