openapi: 3.2.0
info:
  title: Partnerize Brands Attribution … Campaign Requests and…
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Campaign Requests and Invites
paths:
  /v2/networks/{networkId}/campaign-requests-invites:
    parameters:
    - name: networkId
      in: path
      description: ID of the brand network
      examples:
      - 1l1007802
      required: true
      schema:
        type: string
    - name: vertical_id
      in: query
      description: ID of the vertical being filtered by
      examples:
      - '10'
      required: false
      schema:
        type: string
    - name: promo_method_id
      in: query
      description: ID of the promo method being filtered by
      examples:
      - '17'
      required: false
      schema:
        type: string
    - name: operating_country
      in: query
      description: The operating country code being filtered by
      examples:
      - '10'
      required: false
      schema:
        type: string
    - name: promotional_country
      in: query
      description: The promotional country ISO code
      examples:
      - GB
      required: false
      schema:
        type: string
    - name: campaign_id
      in: query
      description: ID of the vertical being filtered by
      examples:
      - '10'
      required: false
      schema:
        type: string
    - name: status
      in: query
      description: The status of the interaction
      examples:
      - invited
      - requested
      required: false
      schema:
        type: string
    - name: search
      in: query
      description: Query string being search for which gets checked against the applicable fields.
      examples:
      - campaign 123
      required: false
      schema:
        type: string
    get:
      operationId: partner-requests-invites
      tags:
      - Campaign Requests and Invites
      summary: List Partner Campaign Requests and Invites
      description: Lists partners with campaign requests or invites
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema
                type: object
                title: Partner Response
                properties:
                  partners:
                    type: array
                    items:
                      $schema: http://json-schema.org/draft-04/schema
                      title: Partner
                      type: object
                      allOf:
                      - $ref: '#/paths/~1v2~1networks~1%7BnetworkId%7D~1campaign-requests-invites~1partners~1%7BpublisherId%7D/get/responses/200/content/application~1json/schema/properties/partner/allOf/0'
                      - properties:
                          request_count:
                            type: integer
                            title: Campaign request count
                          invite_count:
                            type: integer
                            title: Campaign Invitations
                  hypermedia:
                    $schema: http://json-schema.org/draft-04/schema
                    title: Currency
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          total_page_count:
                            type: number
                          total_item_count:
                            type: number
                          first_page:
                            type: string
                          last_page:
                            type: string
                          next_page:
                            type: string
                          previous_page:
                            anyOf:
                            - type: 'null'
                            - type: string
  /v2/networks/{networkId}/campaign-requests-invites/filters:
    parameters:
    - name: networkId
      in: path
      description: ID of the brand network
      examples:
      - 1l1007802
      required: true
      schema:
        type: string
    get:
      operationId: partner-requests-invites-filters
      tags:
      - Campaign Requests and Invites
      summary: List Campaign Requests and Invites Filters
      description: Lists filters which can be used in conjuction with the List Campaign Requests and Invites contains the values required for the campaign interaction page filters.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema
                type: object
                title: Filters Response
                description: Multiple values are comma delimited.
                properties:
                  filters:
                    $schema: http://json-schema.org/draft-04/schema
                    title: Filter
                    type: object
                    properties:
                      promo_methods:
                        type: array
                        title: Promo methods
                        description: Any applicable promo method/partner type.
                        items:
                          properties:
                            name:
                              type: string
                              example: Cashback
                            value:
                              type: string
                              example: '73'
                      verticals:
                        type: array
                        title: Verticals
                        description: Any applicable vertical
                        items:
                          properties:
                            name:
                              type: string
                              example: Automotive
                            value:
                              type: string
                              example: '179'
                      campaigns:
                        type: array
                        title: Campaigns
                        description: The campaigns the current logged in user has access to on the included network
                        items:
                          properties:
                            name:
                              type: string
                              example: Adidas
                            value:
                              type: string
                              example: 111111l32
                      operating_countries:
                        type: array
                        title: Operating countries
                        description: List of available operating countries to filter by.
                        items:
                          properties:
                            name:
                              type: string
                              example: Afghanistan
                            value:
                              type: string
                              example: AF
                      statuses:
                        description: The different status filter options available.
                        type: array
                        title: Status'
                        items:
                          type: string
                        example:
                        - invited
                        - requested
                      custom_promo_methods:
                        type: array
                        title: Custom promo methods
                        description: Network specific promo method/partner type.
                        items:
                          properties:
                            name:
                              type: string
                              example: Cashback
                            value:
                              type: string
                              example: '73'
                      custom_verticals:
                        type: array
                        title: Custom Verticals
                        description: Network specific verticals
                        items:
                          properties:
                            name:
                              type: string
                              example: Automotive
                            value:
                              type: string
                              example: '179'
  /v2/networks/{networkId}/campaign-requests-invites/partners/{publisherId}:
    parameters:
    - name: networkId
      in: path
      description: ID of the brand network
      examples:
      - 1l1007802
      required: true
      schema:
        type: string
    - name: publisherId
      in: path
      description: The ID of the partner
      examples:
      - 1lPUBA001,1lPUBB002
      required: true
      schema:
        type: string
    get:
      operationId: partner-requests-invites-detail
      tags:
      - Campaign Requests and Invites
      summary: Retrieve Partner Campaign Invites and Requests Details
      description: Retrieve details for campaign invites and requests of a particular partner.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema
                type: object
                title: Partner Response
                properties:
                  partner:
                    $schema: http://json-schema.org/draft-04/schema
                    title: Partner
                    type: object
                    allOf:
                    - $schema: http://json-schema.org/draft-04/schema
                      title: Partner
                      type: object
                      properties:
                        id:
                          type: string
                          description: ID of the partner
                          example: 111111l300761
                        name:
                          type: string
                          example: Partner UK
                        reporting_identifier:
                          type: string
                          example: wedo.com
                        active:
                          type: boolean
                          title: Partner Active Status
                          example: false
                        company_name:
                          type: string
                          example: Partner UK
                        company_logo:
                          oneOf:
                          - type: string
                          - type: 'null'
                          example: http://some.url/image.png
                        contact_name:
                          type: string
                          example: John Smith
                        contact_email:
                          type: string
                          example: john@partner.uk
                        description:
                          type: string
                          example: Partner UK
                        account_created:
                          type: string
                          format:
                          - date
                          - time
                          example: '2020-09-01 14:20:03'
                        phone_number:
                          type: string
                          example: '+440201234123'
                        operating_country:
                          title: Operating country
                          $schema: http://json-schema.org/draft-04/schema
                          type: object
                          properties:
                            iso:
                              type: string
                              enum:
                              - GB
                              example: GB
                            name:
                              type: string
                              enum:
                              - United Kingdom
                              example: United Kingdom
                        vertical:
                          $schema: http://json-schema.org/draft-04/schema
                          title: Vertical
                          type: object
                          properties:
                            id:
                              type: string
                              example: '1'
                            name:
                              type: string
                              example: Retail
                        promotional_method:
                          $schema: http://json-schema.org/draft-04/schema
                          title: Promotional method
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: PPC
                        promotional_countries:
                          type: array
                          items:
                            type: object
                            properties:
                              iso:
                                type: string
                              name:
                                type: string
                        websites:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 111111l1
                              website_url:
                                type: string
                                example: http://url.uk
                              description:
                                type: string
                                example: Partner UK website
                    - properties:
                        address:
                          title: Postal Address
                          $schema: http://json-schema.org/draft-04/schema
                          type: object
                          properties:
                            line1:
                              anyOf:
                              - type: 'null'
                              - type: string
                            line2:
                              anyOf:
                              - type: 'null'
                              - type: string
                            line3:
                              anyOf:
                              - type: 'null'
                              - type: string
                            line4:
                              anyOf:
                              - type: 'null'
                              - type: string
                            postcode:
                              anyOf:
                              - type: 'null'
                              - type: string
                            country:
                              anyOf:
                              - type: 'null'
                              - type: string
                        requests:
                          type: array
                          title: Campaign Requests
                          items:
                            properties:
                              id:
                                type: string
                                example: 111111l300883
                              campaign:
                                $ref: '#/paths/~1v2~1networks~1%7BnetworkId%7D~1campaign-requests-invites~1partners~1%7BpublisherId%7D/get/responses/200/content/application~1json/schema/properties/partner/allOf/1/properties/invites/items/properties/campaign'
                        invites:
                          type: array
                          title: Campaign Invitations
                          items:
                            properties:
                              id:
                                type: string
                                example: 111111l300878
                              campaign:
                                $schema: http://json-schema.org/draft-04/schema
                                title: Campaign
                                type: object
                                properties:
                                  id:
                                    type: string
                                  default_destination:
                                    anyOf:
                                    - type: 'null'
                                    - type: string
                                  title:
                                    type: string
                                  currency:
                                    $schema: http://json-schema.org/draft-04/schema
                                    title: Currency
                                    type: object
                                    properties:
                                      iso:
                                        type: string
                                        enum:
                                        - AED
                                        - AFN
                                        - ALL
                                        - AMD
                                        - ANG
                                        - AOA
                                        - ARS
                                        - AUD
                                        - AWG
                                        - AZN
                                        - BAM
                                        - BBD
                                        - BDT
                                        - BGN
                                        - BHD
                                        - BIF
                                        - BMD
                                        - BND
                                        - BOB
                                        - BRL
                                        - BSD
                                        - BTN
                                        - BWP
                                        - BYR
                                        - BZD
                                        - CAD
                                        - CDF
                                        - CHF
                                        - CLF
                                        - CLP
                                        - CNY
                                        - COP
                                        - COU
                                        - CRC
                                        - CUC
                                        - CUP
                                        - CVE
                                        - CZK
                                        - DJF
                                        - DKK
                                        - DOP
                                        - DZD
                                        - EGP
                                        - ERN
                                        - ETB
                                        - EUR
                                        - FJD
                                        - FKP
                                        - GBP
                                        - GEL
                                        - GHS
                                        - GIP
                                        - GMD
                                        - GNF
                                        - GTQ
                                        - GYD
                                        - HKD
                                        - HNL
                                        - HRK
                                        - HTG
                                        - HUF
                                        - IDR
                                        - ILS
                                        - INR
                                        - IQD
                                        - IRR
                                        - ISK
                                        - JMD
                                        - JOD
                                        - JPY
                                        - KES
                                        - KGS
                                        - KHR
                                        - KMF
                                        - KPW
                                        - KRW
                                        - KWD
                                        - KYD
                                        - KZT
                                        - LAK
                                        - LBP
                                        - LKR
                                        - LRD
                                        - LSL
                                        - LTL
                                        - LVL
                                        - LYD
                                        - MAD
                                        - MDL
                                        - MKD
                                        - MMK
                                        - MNT
                                        - MOP
                                        - MUR
                                        - MVR
                                        - MWK
                                        - MXN
                                        - MXV
                                        - MYR
                                        - MZN
                                        - NAD
                                        - NGN
                                        - NIO
                                        - NOK
                                        - NPR
                                        - NZD
                                        - OMR
                                        - PAB
                                        - PEN
                                        - PGK
                                        - PHP
                                        - PKR
                                        - PLN
                                        - PYG
                                        - QAR
                                        - RMB
                                        - RON
                                        - RSD
                                        - RUB
                                        - RWF
                                        - SAR
                                        - SBD
                                        - SCR
                                        - SDG
                                        - SEK
                                        - SGD
                                        - SHP
                                        - SLL
                                        - SOS
                                        - SRD
                                        - SSP
                                        - STD
                                        - SYP
                                        - SZL
                                        - THB
                                        - TJS
                                        - TMT
                                        - TND
                                        - TOP
                                        - TRY
                                        - TTD
                                        - TWD
                                        - TZS
                                        - UAH
                                        - UGX
                                        - USD
                                        - UYU
                                        - UZS
                                        - VEF
                                        - VND
                                        - VUV
                                        - WST
                                        - XAF
                                        - XCD
                                        - XOF
                                        - XPF
                                        - YER
                                        - ZAR
                                        - ZMW
                                        example: GBP
                                      name:
                                        type: string
                                        enum:
                                        - United Arab Emirates dirham
                                        - Azerbaijani manat
                                        - Mexican Unidad de Inversion
                                        - Malaysian ringgit
                                        - Mozambican metical
                                        - Namibian dollar
                                        - Nigerian naira
                                        - Nicaraguan cordoba
                                        - Norwegian krone
                                        - Nepalese rupee
                                        - New Zealand dollar
                                        - Omani rial
                                        - Bosnia and Herzegovina convertible mark
                                        - Panamanian balboa
                                        - Peruvian nuevo sol
                                        - Papua New Guinean kina
                                        - Philippine peso
                                        - Pakistani rupee
                                        - Polish zloty
                                        - Paraguayan guarani
                                        - Qatari riyal
                                        - Romanian new leu
                                        - Serbian dinar
                                        - Barbados dollar
                                        - Russian rouble
                                        - Rwandan franc
                                        - Saudi riyal
                                        - Solomon Islands dollar
                                        - Seychelles rupee
                                        - Sudanese pound
                                        - Swedish krona
                                        - Singapore dollar
                                        - Saint Helena pound
                                        - Sierra Leonean leone
                                        - Bangladeshi taka
                                        - Somali shilling
                                        - Surinamese dollar
                                        - South Sudanese pound
                                        - Sao Tome and Principe dobra
                                        - Syrian pound
                                        - Swazi lilangeni
                                        - Thai baht
                                        - Tajikistani somoni
                                        - Turkmenistani manat
                                        - Tunisian dinar
                                        - Bulgarian lev
                                        - Tongan pa'anga
                                        - Turkish lira
                                        - Trinidad and Tobago dollar
                                        - New Taiwan dollar
                                        - Tanzanian shilling
                                        - Ukrainian hryvnia
                                        - Ugandan shilling
                                        - United States dollar
                                        - Uruguayan peso
                                        - Uzbekistan som
                                        - Bahraini dinar
                                        - Venezuelan
                                        example: Pound sterling
                                      symbol:
                                        type: string
                                        enum:
                                        - AED
                                        - ман
                                        - MXV
                                        - RM
                                        - MT
                                        - ₦
                                        - C$
                                        - KM
                                        - B/.
                                        - S/.
                                        - PGK
                                        - zł
                                        - Gs
                                        - lei
                                        - Дин.
                                        - руб
                                        - RWF
                                        - SDG
                                        - SLL
                                        - BDT
                                        - S
                                        - SSP
                                        - STD
                                        - SZL
                                        - ฿
                                        - TJS
                                        - TMT
                                        - TND
                                        - TOP
                                        - TRY
                                        - TT$
                                        - NT$
                                        - TZS
                                        - ₴
                                        - UGX
                                        - $U
                                        - BHD
                                        - Bs
                                        - ₫
                                        - VUV
                                        - WST
                                        - XAF
                                        - XAG
                                        - XAU
                                        - XBA
                                        - XBB
                                        - XBC
                                        - BIF
                                        - XBD
                                        - XDR
                                        - XFU
                                        - XOF
                                        - XPD
                                        - XPF
                                        - XPT
                                        - R
                                        - ZMW
                                        - $b
                                        - ؋
                                        - R$
                                        - BTN
                                        - P
                                        - p.
                                        - BZ$
                                        - CDF
                                        - CHE
                                        - CHF
                                        - Lek
                                        - CHW
                                        - CLF
                                        - COU
                                        - ₡
                                        - CUC
                                        - ₱
                                        - CVE
                                        - AMD
                                        - Kč
                                        - DJF
                                        - RD$
                                        - DZD
                                        - ERN
                                        - ETB
                                        - €
                                        - GEL
                                        - GHS
                                        - GMD
                                        - GNF
                                        - Q
                                        - AOA
                                        - L
                                        - kn
                                        - HTG
                                        - Ft
                                        - Rp
                                        - ₪
                                        - INR
                                        - IQD
                                        - ﷼
                                        - kr
                                        - J$
                                        - JOD
                                        - ¥
                                        - KES
                                        - ៛
                                        - KMF
                                        - KWD
                                        - лв
                                        - ₭
                                        - £
                                        - $
                                        - LSL
                                        - Lt
                                        - Ls
                                        - LYD
                                        - ƒ
                                        - MAD
                                        - MDL
                                        - ден
                                        - MMK
                                        - ₮
                                        - MOP
                                        - ₨
                                        - MVR
                                        - MWK
                                        example: £
                                  advertiser_id:
                                    type: string
  /v2/networks/{networkId}/campaign-requests/accept:
    parameters:
    - name: networkId
      in: path
      description: ID of the network
      examples:
      - 1l1007802
      required: true
      schema:
        type: string
    post:
      summary: Accept Campaign Requests
      description: 'This endpont is now `Obsolete`. Use Approve and Invite Partners to Campaigns instead


        An Advertiser may accept requests from Partners to join campaigns within their Network. This bulk endpoint allows a user to reject multiple requests in one call. The payload contains one or more campaign ID and partner ID pairs that uniquely identify each campaign request to accept.'
      operationId: accept-campaign-requests
      tags:
      - Campaign Requests and Invites
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              type: object
              required:
              - campaign_requests
              properties:
                campaign_requests:
                  type: array
                  items:
                    $schema: http://json-schema.org/draft-04/schema
                    type: object
                    required:
                    - campaign_id
                    - publisher_id
                    properties:
                      campaign_id:
                        type: string
                        examples:
                        - 726fl66778123
                      publisher_id:
                        type: string
                        examples:
                        - 6aedl83886767
                    additionalProperties: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                type: object
                title: Accept Campaign-Request Response
                required:
                - success_count
                - failure_count
                properties:
                  success_count:
                    type: integer
                    examples:
                    - 1
                  failure_count:
                    type: integer
                    examples:
                    - 0
  /v2/networks/{networkId}/campaign-requests/decline:
    parameters:
    - name: networkId
      in: path
      description: ID of the network
      examples:
      - 1l1007802
      required: true
      schema:
        type: string
    post:
      summary: Decline Campaign Requests
      description: An Advertiser may decline requests from Partners to join campaigns within their Network. This bulk endpoint allows a user to decline multiple requests in one call. The payload contains one or more campaign ID and partner ID pairs that uniquely identify each campaign request to decline. Each partner and campaign pair must include a decline "reason". Use null if no reason is provided.
      operationId: decline-campaign-requests
      tags:
      - Campaign Requests and Invites
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-04/schema#
              type: object
              required:
              - campaign_requests
              properties:
                campaign_requests:
                  type: array
                  items:
                    type: object
                    required:
                    - campaign_id
                    - publisher_id
                    - reason
                    properties:
                      campaign_id:
                        type: string
                        examples:
                        - 726fl66778123
                      publisher_id:
                        type: string
                        examples:
                        - 6aedl83886767
                      reason:
                        type: string
                    additionalProperties: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                type: object
                title: Decline Campaign-Request Response
                required:
                - success_count
                - failure_count
                properties:
                  success_count:
                    type: integer
                    examples:
                    - 1
                  failure_count:
                    type: integer
                    examples:
                    - 0
  /v2/networks/{network_id}/invite/network-partners:
    post:
      summary: Approve and Invite Partners to Campaigns
      tags:
      - Campaign Requests and Invites
      parameters:
      - in: header
        name: X-Prefer
        schema:
          type: string
          enum:
          - return-synch
          - return-asynch
        required: false
      - in: path
        name: network_id
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                type: object
                required:
                - success_count
                - failure_count
                properties:
                  success_count:
                    type: integer
                    examples:
                    - 1
                  failure_count:
                    type: integer
                    examples:
                    - 0
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers~1ids/get/responses/400/content/application~1json/schema'
      operationId: post-v2-networks-network_id-invite-network-partners
      description: An Advertiser can invite one or more Network Partners to one or more Campaigns. The user must have manage participation permission over each campaign in the payload. The payload will be validated and invitations will be created only if all fields are valid. If a partner has already been invited or is approved on the campaign, the campaign will be skipped. If the partner has an existing request to join the campaign, the request will be resolved and the partner will be immediately approved on the campaign. Notifications will be sent according to each partner's preferences.
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - properties:
                  partner_collection_id:
                    type: string
                  campaign_id:
                    type: array
                    items:
                      type: string
              - properties:
                  publisher_id:
                    type: array
                    items:
                      type: string
                  campaign_id:
                    type: array
                    items:
                      type: string
              - properties:
                  filter:
                    type: array
                    items: {}
                  campaign_id:
                    type: array
                    items:
                      type: string
                  excluded_publisher_id:
                    type: array
                    items:
                      type: string
              type: object
            examples:
              Collection based request:
                value:
                  partner_collection_id: 11111l1
                  campaign_id:
                  - 11111l21
                  - 11111l22
              Selection based request:
                value:
                  publisher_id:
                  - 11111l1
                  - 11111l2
                  campaign_id:
                  - 11111l21
                  - 11111l22
              Filter based request:
                value:
                  filter:
                  - property: search
                    value: cash
                  - property: vertical_id
                    value:
                    - '6'
                  - property: promo_method_id
                    value:
                    - '70'
                  - property: operating_country
                    value:
                    - US
                  - property: promotional_country
                    value:
                    - US
                  - property: campaign_id
                    value:
                    - 11111l90
                  - property: campaign_status
                    value:
                    - approved
                    - requested
                  campaign_id:
                  - 11111l21
                  - 11111l22
                  excluded_publisher_id:
                  - 11111l102
        description: 'Selection based requests simply require a list of Publisher and Campaign IDs. The server will create invitations from the combination of the two lists.


          Collection based requests require a partner collection creating first.


          Alternatively when inviting many Publishers at once, instead of listing every PublisherID, a filter based request allows the user to specify filters with which to match Publishers. You can exclude specific Publishers by listing their IDs using the `excluded_publisher_id` property.'
    get:
      summary: Display pending outcomes - invitations and approvals
      operationId: inviteDryRun
      description: List all potential invitations and approvals for given set of campaigns
      tags:
      - Campaign Requests and Invites
      parameters:
      - name: network_id
        in: path
        description: The network id
        required: true
      - in: query
        name: partner_collection_id
        required: true
        schema:
          type: string
      - in: query
        name: campaign_ids
        required: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: search
        required: false
        schema:
          type: string
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                type: object
                properties:
                  partners:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          examples:
                          - 1101l78103
                        name:
                          type: string
                          examples:
                          - Greatest Partner
                        company_name:
                          type: string
                          examples:
                          - Greatest Partner Inc.
                        campaigns:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                examples:
                                - 1101l78105
                              name:
                                type: string
                                examples:
                                - 'Campaign #1'
                              status:
                                type: string
                                examples:
                                - APPROVED
                                - INVITED
                              approval_date:
                                type: string
                                examples:
                                - '2022-01-01 00:00:00'
                                - 'null'
                        websites:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                examples:
                                - 1101l78105
                              website_url:
                                type: string
                                examples:
                                - https://partnerize.com
                              description:
                                type: string
                                examples:
                                - Description
                  count:
                    type: integer
                    examples:
                    - 3
                  limit:
                    type: integer
                    examples:
                    - 10
                  offset:
                    type: integer
                    examples:
                    - 0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers~1ids/get/responses/400/content/application~1json/schema'
  /v2/networks/{network_id}/invite/network-partners.csv:
    post:
      summary: Export pending outcomes - invitations and approvals into CSV
      operationId: exportDryRun
      description: CSV all potential invitations and approvals for given set of campaigns
      tags:
      - Campaign Requests and Invites
      parameters:
      - name: network_id
        in: path
        description: The network id
        required: true
      - in: query
        name: partner_collection_id
        required: true
        schema:
          type: string
      - in: query
        name: campaign_ids
        required: true
        schema:
          type: array
          items:
            type: string
      produces:
      - text/csv
      responses:
        '201':
          description: The list of filtered publishers
          content:
            text/csv:
              schema:
                type: string
              example: 'partner_id,partner_name,company_name,partner_website,campaign_id,campaign_name,campaign_status,campaign_approval_date

                111111l1,voucherbox_demo,16plus_voucherbox,https://www.bbc.co.uk,111111l1,"Cards & Loans",approved,2019-10-30T11:08:41+00:00

                '
  /v2/networks/{network_id}/reject/network-partners:
    parameters:
    - in: header
      name: X-Prefer
      schema:
        type: string
        enum:
        - return-synch
        - return-asynch
      required: false
    - in: path
      name: network_id
      schema:
        type: string
      required: true
    post:
      summary: Reject partners from a campaign
      tags:
      - Campaign Requests and Invites
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1invite~1network-partners/post/responses/200/content/application~1json/schema'
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1networks~1%7Bnetwork_id%7D~1publishers~1ids/get/responses/400/content/application~1json/schema'
      operationId: post-v2-networks-network_id-reject-partners
      description: An Advertiser can reject one or more Partners from a campaign.
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - properties:
                  partner_collection_id:
                    type: string
                  campaign_id:
                    type: array
              - properties:
                  publisher_id:
                    type: array
                    items:
                      type: string
                  campaign_id:
                    type: array
              - properties:
                  filter:
                    type: array
                    items: {}
                  excluded_publisher_id:
                    type: array
                    items:
                      type: string
                  campaign_id:
                    type: array
              type: object
            examples:
              Selection based request:
                value:
                  publisher_id:
                  - 11111l1
                  - 11111l2
                  campaign_id:
                  - 11111l1
                  - 11111l2
              Filter based request:
                value:
                  filter:
                  - property: search
                    value: cash
                  - property: vertical_id
                    value:
                    - '6'
                  - property: promo_method_id
                    value:
                    - '70'
                  - property: operating_country
                    value:
                    - US
                  - property: promotional_country
                    value:
                    - US
                  - property: campaign_id
                    value:
                    - 11111l90
                  - property: campaign_status
                    value:
                    - approved
                    - requested
                    - requested
                  excluded_publisher_id:
                  - 11111l102
                  campaign_id:
                  - 11111l1
                  - 11111l2
        description: 'Selection based requests simply require a list of Publisher IDs. The server will approve publishers in the list.


          Collection based requests require a partner collection creating first.


          Alternatively when blocking many Publishers at once, instead of listing every PublisherID, a filter based request allows the user to specify filters with which to match Publishers. You can exclude specific Publishers by listing their IDs using the `excluded_publisher_id` property.'
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
