openapi: 3.2.0
info:
  title: Partnerize Partners Partner Payable API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
tags:
- name: Partner Payable
paths:
  /reporting/report_publisher/publisher/{publisher_id}/payable:
    get:
      parameters:
      - description: ID of the partner
        example: 1l1007802
        in: path
        name: publisher_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    offset: 0
                    limit: 300
                    count: 0
                    total_conversion_count:
                      EUR: 1
                      GBP: 6
                      USD: 1
                    total_commission_value:
                      EUR: 44
                      GBP: 342.3365
                      USD: 44
                    total_value:
                      EUR: 400
                      GBP: 3112.15
                      USD: 400
                    total_publisher_commission_value:
                      EUR: 40
                      GBP: 311.215
                      USD: 40
                    execution_time: 0.55225 seconds
                    conversion_items: []
              schema:
                additionalProperties: false
                properties:
                  count:
                    type: number
                  execution_time:
                    type: string
                  total_conversion_count:
                    description: 'conversion count for each currency. E.g. "USD": 25, "EUR": 37'
                    type: object
                    properties:
                      currency_iso:
                        description: 'key value pairs where the currency iso is the key. E.g. EUR: 37'
                        type: number
                  total_commission_value:
                    description: 'commission value for each currency. E.g. "USD": 324.65, "EUR": 583.59'
                    type: object
                    properties:
                      currency_iso:
                        description: 'key value pairs where the currency iso is the key. E.g. EUR: 37'
                        type: number
                  total_value:
                    description: 'total order value for each currency. E.g. "USD": 4000, "EUR": 5400.25'
                    type: object
                    properties:
                      currency_iso:
                        description: 'key value pairs where the currency iso is the key. E.g. EUR: 37'
                        type: number
                  total_publisher_commission_value:
                    description: 'commission value for each currency. E.g. "USD": 400, "EUR": 311.215'
                    type: object
                    properties:
                      currency_iso:
                        description: 'key value pairs where the currency iso is the key. E.g. EUR: 37'
                        type: number
                  conversion_items:
                    items: {}
                    type: array
          description: OK
      tags:
      - Partner Payable
      description: Return the aggregation stats of payable commission for a particular partner.
      operationId: partner-payable
      summary: Retrieve a Partner Payable Report
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
