openapi: 3.2.0
info:
  title: Partnerize Voucher Commissions API
  version: 1.4.99
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
  description: 'Operations tagged Voucher Commissions across 2 of this provider''s published API definitions: partnerize-partners-api-openapi.yml, partnerize-voucher-commissions-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Voucher Commissions
paths:
  /v2/campaigns/{campaignId}/publishers/{publisherId}/commissions/voucher:
    get:
      operationId: get-publisher-commissions-voucher
      tags:
      - Voucher Commissions
      summary: List Partner Voucher Commissions For Specific Campaign
      description: This endpoint lists partner voucher commissions for the given partner and campaign.
      parameters:
      - in: path
        name: publisherId
        description: The ID of the partner to list commissions for
        required: true
        schema:
          type: string
      - in: path
        name: campaignId
        description: The ID of the campaign to list the partner commissions for
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Partner Voucher Commissions List
          content:
            application/json:
              schema:
                type: object
                properties:
                  voucher_commissions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        description:
                          type: string
                        performance_value:
                          type: number
                          description: The amount to be paid to the partner for commission. Must be greater than 0. Will be rounded to 2 decimal places.
                          minimum: 0.01
                        performance_model:
                          type: string
                          description: The performance model by which the partner is rewarded.
                          enum:
                          - cpc
                          - fixed_cpa
                          - percentage_cpa
                        start_date:
                          allOf:
                          - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                        end_date:
                          allOf:
                          - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                        status:
                          $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1campaign/get/responses/200/content/application~1json/schema/properties/commissions/items/properties/status'
                        meta_fields:
                          type: array
                          minItems: 0
                          items:
                            type: object
                            title: Meta Field Value
                            description: Meta Field with an assigned value
                            allOf:
                            - type: object
                              title: Meta Field
                              properties:
                                name:
                                  type: string
                                  description: The name of the meta field
                                  example: category
                              required:
                              - name
                            - properties:
                                value:
                                  description: The value of meta field to look for
                              required:
                              - value
                        last_modified:
                          allOf:
                          - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                        last_modified_by:
                          type: string
                          description: ID of the most recent user to modify this record.
                        voucher_codes:
                          type: array
                          minItems: 0
                          description: Voucher code details associated with this voucher commission
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              code:
                                type: string
                              description:
                                type: string
                              start_date:
                                type: string
                              end_date:
                                type: string
                              groups:
                                type: array
                                minItems: 0
                                items:
                                  $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1tier/get/responses/200/content/application~1json/schema/properties/tiers/items/properties/groups/items'
                        commission_based_on_field:
                          type: string
    servers:
    - description: Production
      url: https://api.partnerize.com
  /campaign/{campaignId}/optimisation/voucher/commission:
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    get:
      operationId: get-voucher-commissions
      tags:
      - Voucher Commissions
      summary: List Voucher Commissions
      description: This endpoint lists all active and scheduled Voucher commissions for the given campaign.
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign to list the Voucher commissions for
        required: true
        example: 11111l1
        schema:
          type: string
      - in: query
        name: at
        description: Check the Voucher commissions for a given moment
        required: false
        example: '2021-07-02T12:00:00+01:00'
        schema:
          type: string
      responses:
        '200':
          description: Voucher Commission List
          content:
            application/json:
              schema:
                title: Voucher List Response
                type: object
                description: Voucher List Object
                example:
                  count: '1'
                  execution_time: 0.30000 seconds
                  voucher_commissions:
                  - description: example
                    end_date: '2023-10-01 00:00:00'
                    group_limit:
                      id: 111111l1
                      name: example
                    id: 111111l1
                    last_modified: '2023-10-01 00:00:00'
                    last_modified_by: 111111l1
                    meta_fields:
                    - name: sku
                      value:
                      - '1'
                      weight: 1
                    performance_model: fixed_cpa
                    performance_value: 20
                    start_date: '2023-10-01 00:00:00'
                    status: SCHEDULED
                    voucher_codes:
                    - code: example-code
                      description: example
                      end_date: '2023-10-01 00:00:00'
                      id: 111111l1
                      start_date: '2023-10-01 00:00:00'
                      groups:
                      - id: 111111l1
                        name: example
                properties:
                  count:
                    type: integer
                  execution_time:
                    type: string
                  voucher_commissions:
                    type: array
                    items:
                      type: object
                      title: Voucher Commission
                      properties:
                        description:
                          type: string
                        end_date:
                          type: string
                          format: date-time
                        group_limit:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                        id:
                          type: string
                        last_modified:
                          type: string
                          format: date-time
                        last_modified_by:
                          type: string
                          format: date-time
                        meta_fields:
                          type:
                          - array
                          - 'null'
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              value:
                                type:
                                - string
                                - integer
                              weight:
                                type: integer
                              rules:
                                type: array
                                items:
                                  type: object
                                  $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1%7BcommissionId%7D~1retire/post/responses/200/content/application~1json/schema/properties/meta_fields/items/allOf/1/properties/rules/items'
                        performance_model:
                          type: string
                        performance_value:
                          type: number
                        start_date:
                          type: string
                          format: date-time
                        status:
                          type: string
                        voucher_codes:
                          type: array
                          items:
                            type: object
                            properties:
                              code:
                                type: string
                              description:
                                type:
                                - string
                                - 'null'
                              end_date:
                                type:
                                - string
                                - 'null'
                                format: date-time
                              id:
                                type: string
                              start_date:
                                type: string
                                format: date-time
                              groups:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    name:
                                      type: string
    post:
      operationId: post-voucher-commission
      tags:
      - Voucher Commissions
      summary: Create Voucher Commission
      description: This endpoint saves a given Voucher Commission
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign the voucher commission belongs to
        required: true
        example: 11111l1
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Voucher Commission
              type: object
              example:
                description: example
                end_date: '2023-10-01 00:00:00'
                start_date: '2023-10-01 00:00:00'
                group_limit_id: 111111l1
                meta_fields:
                - name: sku
                  value: '1'
                performance_model: fixed_cpa
                performance_value: 20
                voucher_codes:
                - 111111l1
                - 111111l2
              properties:
                description:
                  type:
                  - string
                  - 'null'
                start_date:
                  type: string
                  format: date-time
                end_date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                group_limit_id:
                  type:
                  - string
                  - 'null'
                meta_fields:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      value:
                        type:
                        - string
                        - integer
                voucher_codes:
                  type: array
                  items:
                    type: string
                performance_value:
                  type: integer
                performance_model:
                  type: string
      responses:
        '200':
          description: Save Voucher Commission
          content:
            application/json:
              schema:
                title: Voucher Commission
                type: object
                example:
                  execution_time: 0.30000 seconds
                  voucher_commission:
                    description: example
                    end_date: '2023-10-01 00:00:00'
                    group_limit:
                      id: 111111l1
                      name: example
                    id: 111111l1
                    last_modified: '2023-10-01 00:00:00'
                    last_modified_by: 111111l1
                    meta_fields:
                    - name: sku
                      value:
                      - '1'
                      weight: 1
                      rules:
                      - operator: EQUALS
                        value: '1'
                    performance_model: fixed_cpa
                    performance_value: 20
                    start_date: '2020-01-01 00:00:00'
                    status: SCHEDULED
                    voucher_codes:
                    - code: example-code
                      description: example
                      end_date: '2023-10-01 00:00:00'
                      id: 111111l1
                      start_date: '2023-10-01 00:00:00'
                      groups:
                      - id: 111111l1
                        name: example
                properties:
                  execution_time:
                    type: string
                  voucher_commission:
                    type: object
                    $ref: '#/paths/~1campaign~1%7BcampaignId%7D~1optimisation~1voucher~1commission/get/responses/200/content/application~1json/schema/properties/voucher_commissions/items'
  /campaign/{campaignId}/optimisation/voucher/commission/{commissionId}:
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    get:
      operationId: get-voucher-commission
      tags:
      - Voucher Commissions
      summary: Show Voucher Commissions
      description: This endpoint shows an active or scheduled Voucher commission for the given campaign.
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign to list the Voucher commissions for
        required: true
        example: 11111l1
        schema:
          type: string
      - in: path
        name: commissionId
        description: The ID of the commission to edit the Voucher commissions for
        required: true
        example: 11111l1
        schema:
          type: string
      responses:
        '200':
          description: Voucher Commission Edit
          content:
            application/json:
              schema:
                title: Voucher Show Response
                type: object
                description: Voucher Show Object
                example:
                  execution_time: 0.30000 seconds
                  voucher_commission:
                    description: example
                    end_date: '2023-10-01 00:00:00'
                    group_limit:
                      id: 111111l1
                      name: example
                    id: 111111l1
                    last_modified: '2023-10-01 00:00:00'
                    last_modified_by: 111111l1
                    meta_fields:
                    - name: sku
                      value:
                      - '1'
                      weight: 1
                    performance_model: fixed_cpa
                    performance_value: 20
                    start_date: '2023-10-01 00:00:00'
                    status: SCHEDULED
                    voucher_codes:
                    - code: example-code
                      description: example
                      end_date: '2023-10-01 00:00:00'
                      id: 111111l1
                      start_date: '2023-10-01 00:00:00'
                      groups:
                      - id: 111111l1
                        name: example
                properties:
                  execution_time:
                    type: string
                  voucher_commission:
                    type: object
                    $ref: '#/paths/~1campaign~1%7BcampaignId%7D~1optimisation~1voucher~1commission/get/responses/200/content/application~1json/schema/properties/voucher_commissions/items'
    put:
      operationId: get-voucher-commissions
      tags:
      - Voucher Commissions
      summary: Edit Voucher Commissions
      description: This endpoint edits all active and scheduled Voucher commission for the given campaign.
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign to list the Voucher commissions for
        required: true
        example: 11111l1
        schema:
          type: string
      - in: path
        name: commissionId
        description: The ID of the commission to edit the Voucher commissions for
        required: true
        example: 11111l1
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Voucher Commission
              type: object
              example:
                description: example
                end_date: '2023-10-01 00:00:00'
                start_date: '2023-10-01 00:00:00'
                meta_fields:
                - name: sku
                  value: '1'
                performance_model: fixed_cpa
                performance_value: 20
                voucher_codes:
                - 111111l1
                - 111111l2
              properties:
                description:
                  type:
                  - string
                  - 'null'
                start_date:
                  type: string
                  format: date-time
                end_date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                meta_fields:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      values:
                        type:
                        - string
                        - integer
                performance_value:
                  type: number
                performance_model:
                  type: string
                voucher_codes:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Voucher Commission Edit
          content:
            application/json:
              schema:
                title: Voucher Edit Response
                type: object
                description: Voucher Edit Object
                example:
                  execution_time: 0.30000 seconds
                  voucher_commission:
                    description: example
                    end_date: '2023-10-01 00:00:00'
                    group_limit:
                      id: 111111l1
                      name: example
                    id: 111111l1
                    last_modified: '2023-10-01 00:00:00'
                    last_modified_by: 111111l1
                    meta_fields:
                    - name: sku
                      value:
                      - '1'
                      weight: 1
                    performance_model: fixed_cpa
                    performance_value: 20
                    start_date: '2023-10-01 00:00:00'
                    status: SCHEDULED
                    voucher_codes:
                    - code: example-code
                      description: example
                      end_date: '2023-10-01 00:00:00'
                      id: 111111l1
                      start_date: '2023-10-01 00:00:00'
                      groups:
                      - id: 111111l1
                        name: example
                properties:
                  execution_time:
                    type: string
                  voucher_commission:
                    type: object
                    $ref: '#/paths/~1campaign~1%7BcampaignId%7D~1optimisation~1voucher~1commission/get/responses/200/content/application~1json/schema/properties/voucher_commissions/items'
    delete:
      operationId: delete-voucher-commission
      tags:
      - Voucher Commissions
      summary: Delete Scheduled Voucher Commission
      description: This endpoint deletes a scheduled Voucher Commission. Active Voucher Commissions should be retired.
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign the voucher commission belongs to
        required: true
        example: 11111l1
        schema:
          type: string
      - in: path
        name: commissionId
        description: The ID of the commission to retire the Voucher commissions for
        required: true
        example: 11111l1
        schema:
          type: string
      responses:
        '200':
          description: Delete scheduled Voucher Commission
          content:
            application/json:
              schema:
                title: Delete Active Voucher Commission
                type: object
                example:
                  execution_time: 0.30000 seconds
                  voucher_commission:
                    description: example
                    end_date: '2023-10-01 00:00:00'
                    group_limit:
                      id: 111111l1
                      name: example
                    id: 111111l1
                    last_modified: '2023-10-01 00:00:00'
                    last_modified_by: 111111l1
                    meta_fields:
                    - name: sku
                      value:
                      - '1'
                      weight: 1
                    performance_model: fixed_cpa
                    performance_value: 20
                    start_date: '2023-10-01 00:00:00'
                    status: DELETED
                    voucher_codes:
                    - code: example-code
                      description: example
                      end_date: '2023-10-01 00:00:00'
                      id: 111111l1
                      start_date: '2023-10-01 00:00:00'
                      groups:
                      - id: 111111l1
                        name: example
                properties:
                  execution_time:
                    type: string
                  voucher_commission:
                    type: object
                    $ref: '#/paths/~1campaign~1%7BcampaignId%7D~1optimisation~1voucher~1commission/get/responses/200/content/application~1json/schema/properties/voucher_commissions/items'
        '400':
          description: Delete active Voucher Commission
          content:
            application/json:
              schema:
                title: Retire Scheduled Voucher Commission
                type: object
                example:
                  errors:
                  - type: Validation Exception
                    messages:
                      commission_not_active: Voucher Commission status must be 'SCHEDULED'
                  errors_count: 1
                properties:
                  errors_count: integer
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        messages:
                          type: object
                          properties:
                            commission_not_active:
                              commission_not_active: string
  /campaign/{campaignId}/optimisation/voucher/commission/{commissionId}/retire:
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    post:
      operationId: retire-voucher-commission
      tags:
      - Voucher Commissions
      summary: Retire Active Voucher Commission
      description: This endpoint retires an active Voucher Commission. Scheduled Voucher Commissions should be deleted.
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign the voucher commission belongs to
        required: true
        example: 11111l1
        schema:
          type: string
      - in: path
        name: commissionId
        description: The ID of the commission to retire the Voucher commissions for
        required: true
        example: 11111l1
        schema:
          type: string
      responses:
        '200':
          description: Retire active Voucher Commission
          content:
            application/json:
              schema:
                title: Delete Active Voucher Commission
                type: object
                example:
                  execution_time: 0.30000 seconds
                  voucher_commission:
                    description: example
                    end_date: '2023-10-01 00:00:00'
                    group_limit:
                      id: 111111l1
                      name: example
                    id: 111111l1
                    last_modified: '2023-10-01 00:00:00'
                    last_modified_by: 111111l1
                    meta_fields:
                    - name: sku
                      value:
                      - '1'
                      weight: 1
                    performance_model: fixed_cpa
                    performance_value: 20
                    start_date: '2023-10-01 00:00:00'
                    status: RETIRED
                    voucher_codes:
                    - code: example-code
                      description: example
                      end_date: '2023-10-01 00:00:00'
                      id: 111111l1
                      start_date: '2023-10-01 00:00:00'
                      groups:
                      - id: 111111l1
                        name: example
                properties:
                  execution_time:
                    type: string
                  voucher_commission:
                    type: object
                    $ref: '#/paths/~1campaign~1%7BcampaignId%7D~1optimisation~1voucher~1commission/get/responses/200/content/application~1json/schema/properties/voucher_commissions/items'
        '400':
          description: Retire scheduled Voucher Commission
          content:
            application/json:
              schema:
                title: Retire Active Voucher Commission
                type: object
                example:
                  errors:
                  - type: Validation Exception
                    messages:
                      commission_not_active: Voucher Commission status must be 'ACTIVE'
                  errors_count: 1
                properties:
                  errors_count: integer
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        messages:
                          type: object
                          properties:
                            commission_not_active:
                              commission_not_active: string
x-refined-from:
- partnerize-partners-api-openapi.yml
- partnerize-voucher-commissions-api-openapi.yml
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
