openapi: 3.2.0
info:
  title: Partnerize Current User API
  version: 1.4.99
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
  description: 'Operations tagged Current User across 2 of this provider''s published API definitions: partnerize-partners-api-openapi.yml, partnerize-current-user-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Current User
  description: Endpoints for current User
paths:
  /v3/partner/user:
    patch:
      summary: Update Current user
      operationId: updateCurrentUser
      description: Updates a Current User data
      tags:
      - Current User
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              title: Current User update
              description: Current User Patch Request
              properties:
                emailAddress:
                  type: string
                  description: User email value to be updated
                  format: email
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    data:
                      user_id: 111111l63
                      email_verified: false
                      email: user@test.com
              schema:
                $schema: http://json-schema.org/draft-07/schema#
                type: object
                description: Current User data
                properties:
                  data:
                    type: object
                    $schema: http://json-schema.org/draft-07/schema#
                    description: Current User data
                    properties:
                      user_id:
                        type: string
                        description: Unique identifier of a Current User
                      email_verified:
                        type: boolean
                        description: If user email has been verified
                      email:
                        type: string
                        format: email
                        description: Email address of a Current User
          description: OK
    servers:
    - description: Production
      url: https://api.partnerize.com
  /v3/brand/user:
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    patch:
      summary: Update Current user
      operationId: updateCurrentUser
      description: Updates a current User data
      tags:
      - Current User
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              title: Current User update
              description: Current User Patch Request
              properties:
                emailAddress:
                  type: string
                  description: User email value to be updated
                  format: email
      responses:
        '200':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    data:
                      user_id: 111111l63
                      email_verified: false
                      email: user@test.com
              schema:
                $schema: http://json-schema.org/draft-07/schema#
                type: object
                description: Current User data
                properties:
                  data:
                    type: object
                    $schema: http://json-schema.org/draft-07/schema#
                    description: Current User data
                    properties:
                      user_id:
                        type: string
                        description: Unique identifier of a Current User
                      email_verified:
                        type: boolean
                        description: If user emil has been verified
                      email:
                        type: string
                        format: email
                        description: Email address identifier of a Current User
          description: OK
x-refined-from:
- partnerize-partners-api-openapi.yml
- partnerize-current-user-api-openapi.yml
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
