openapi: 3.2.0
info:
  title: Partnerize Tag Features API
  version: 1.4.99
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
  description: 'Operations tagged Partnerize Tag Features across 2 of this provider''s published API definitions: partnerize-partners-api-openapi.yml, partnerize-partnerize-tag-features-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Partnerize Tag Features
  description: 'Partnerize Tag features are what power the Partnerize Tag, delivering Partnerize functionality to websites through the Partnerize Tag.


    Partnerize Tag Features come in all shapes and sizes depending on the intended use case.


    To find out more about Partnerize Tag Features and how they can be used, head over to the Partnerize Help Hub.'
paths:
  /v3/partner/partnerize-tags/features:
    get:
      summary: List Available Partnerize Tag Features
      operationId: listPartnerizeTagFeatures
      description: Returns a list of available features ready for enablement in a Partnerize Tag.
      tags:
      - Partnerize Tag Features
      responses:
        '200':
          description: Request Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-07/schema#
                type: object
                description: List Feature Response
                properties:
                  data:
                    type: array
                    items:
                      $schema: http://json-schema.org/draft-07/schema#
                      type: object
                      title: Partnerize Tag Feature object
                      properties:
                        name:
                          type: string
                        description:
                          type: string
                        config_schema:
                          type: array
                      example:
                        'name:': tracking-link-generation
                        'description:': Tracking link generation from standard brand URLs
                        config_schema: []
    servers:
    - description: Production
      url: https://api.partnerize.com
  /v3/partner/partnerize-tags/{tagId}/features:
    get:
      summary: List Partnerize Tag Enabled Features
      operationId: listPartnerizeTagEnabledFeatures
      description: Return a list of features enabled for a specific Partnerize Tag.
      tags:
      - Partnerize Tag Features
      parameters:
      - name: tagId
        in: path
        description: The ID of the Partnerize Tag
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Request Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-07/schema#
                type: object
                description: List Feature Response
                properties:
                  data:
                    type: array
                    items:
                      $schema: http://json-schema.org/draft-07/schema#
                      type: object
                      title: Partnerize Tag Feature object
                      properties:
                        name:
                          type: string
                        description:
                          type: string
                        config:
                          type: object
                      example:
                        'name:': tracking-link-generation
                        'description:': Tracking link generation from standard brand URLs
                        config: null
    post:
      summary: Enable Feature on Partnerize Tag
      operationId: enablePartnerizeTagFeature
      description: Enables a feature for a specific Partnerize Tag.
      tags:
      - Partnerize Tag Features
      parameters:
      - name: tagId
        in: path
        description: The ID of the Partnerize Tag
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              title: Partnerize Tag Request
              description: Partnerize Tag Feature Addition
              required:
              - name
              properties:
                name:
                  type: string
                  description: Feature name which will be added to the Partnerize Tag
                config:
                  type: object
                  description: Additional feature config, if needed
              example:
                name: tracking-link-generation
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    data:
                      name: tracking-link-generation
                      config: null
              schema:
                $schema: http://json-schema.org/draft-07/schema#
                type: object
                description: Add Feature Response
                properties:
                  data:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Feature name
                      config:
                        type: object
                        description: Feature configuration
          description: OK
    servers:
    - description: Production
      url: https://api.partnerize.com
  /v3/partner/partnerize-tags/{tagId}/features/{featureName}:
    delete:
      summary: Disable Feature on Partnerize Tag
      operationId: disablePartnerizeTagFeature
      description: Disables a feature for a specific Partnerize Tag.
      tags:
      - Partnerize Tag Features
      parameters:
      - name: tagId
        in: path
        description: The ID of the Partnerize Tag
        required: true
        schema:
          type: string
      - name: featureName
        in: path
        description: The name of the feature to remove
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The Partnerize Tag Feature was removed successfully.
    servers:
    - description: Production
      url: https://api.partnerize.com
  /v3/brand/partnerize-tags/features:
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    get:
      summary: List Available Partnerize Tag Features
      operationId: listPartnerizeTagFeatures
      description: Returns a list of available features ready for enablement in a Partnerize Tag.
      tags:
      - Partnerize Tag Features
      responses:
        '200':
          description: Request Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-07/schema#
                type: object
                description: List Feature Response
                properties:
                  data:
                    type: array
                    items:
                      $schema: http://json-schema.org/draft-07/schema#
                      type: object
                      title: Partnerize Tag Feature object
                      properties:
                        name:
                          type: string
                        description:
                          type: string
                        config_schema:
                          type: array
                      example:
                        'name:': tracking-link-generation
                        'description:': Tracking link generation from standard brand URLs
                        config_schema: []
  /v3/brand/partnerize-tags/{tagId}/features:
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    get:
      summary: List Partnerize Tag Enabled Features
      operationId: listPartnerizeTagEnabledFeatures
      description: Return a list of features enabled for a specific Partnerize Tag.
      tags:
      - Partnerize Tag Features
      parameters:
      - name: tagId
        in: path
        description: The ID of the Partnerize Tag
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Request Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-07/schema#
                type: object
                description: List Feature Response
                properties:
                  data:
                    type: array
                    items:
                      $schema: http://json-schema.org/draft-07/schema#
                      type: object
                      title: Partnerize Tag Feature object
                      properties:
                        name:
                          type: string
                        description:
                          type: string
                        config:
                          type: object
                      example:
                        'name:': first-party-tracking
                        'description:': Cookie-less conversion pixel integration
                        config: null
                example:
                  data:
                  - 'name:': first-party-tracking
                    'description:': Cookie-less conversion pixel integration
                    config: null
    post:
      summary: Enable Feature on Partnerize Tag
      operationId: enablePartnerizeTagFeature
      description: Enables a feature for a specific Partnerize Tag.
      tags:
      - Partnerize Tag Features
      parameters:
      - name: tagId
        in: path
        description: The ID of the Partnerize Tag
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $schema: http://json-schema.org/draft-07/schema#
              type: object
              title: Partnerize Tag Request
              description: Partnerize Tag Feature Addition
              required:
              - name
              properties:
                name:
                  type: string
                  description: Feature name which will be added to the Partnerize Tag
                config:
                  type: object
                  description: Additional feature config, if needed
              example:
                name: first-party-tracking
            examples:
              First Party Tracking:
                value:
                  name: first-party-tracking
                  config: null
              Revlifter Tag:
                value:
                  name: revlifter
                  config:
                    uuid: 5ad7ef40-a4bd-4d34-b522-1eee9e127dc6
              Upsellit Tag:
                value:
                  name: upsellit
                  config:
                    usi_launch_tag: partnerize
              Intently Tag:
                value:
                  name: intent.ly
                  config:
                    domain: test.com
      responses:
        '201':
          content:
            application/json; charset=utf-8:
              examples:
                First Party Tracking:
                  value:
                    data:
                      name: first-party-tracking
                      config: null
                Revlifter Tag:
                  value:
                    data:
                      name: revlifter
                      config:
                        uuid: 5ad7ef40-a4bd-4d34-b522-1eee9e127dc6
                Upsellit Tag:
                  value:
                    data:
                      name: upsellit
                      config:
                        usi_launch_tag: partnerize
              schema:
                $schema: http://json-schema.org/draft-07/schema#
                type: object
                description: Add Feature Response
                properties:
                  data:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Feature name
                      config:
                        type: object
                        description: Feature configuration
          description: OK
  /v3/brand/partnerize-tags/{tagId}/features/{featureName}:
    servers:
    - description: Production
      url: https://api.partnerize.com
    - description: Local
      url: http://api.partnerize.tech
    delete:
      summary: Disable Feature on Partnerize Tag
      operationId: disablePartnerizeTagFeature
      description: Disables a feature for a specific Partnerize Tag.
      tags:
      - Partnerize Tag Features
      parameters:
      - name: tagId
        in: path
        description: The ID of the Partnerize Tag
        required: true
        schema:
          type: string
      - name: featureName
        in: path
        description: The name of the feature to remove
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The Partnerize Tag Feature was removed successfully.
x-refined-from:
- partnerize-partners-api-openapi.yml
- partnerize-partnerize-tag-features-api-openapi.yml
x-tagGroups:
- name: Partner Management (v1)
  tags:
  - Partner Details
  - Websites
  - Databases
- name: Campaign Management (v1 and v2)
  tags:
  - Brand Discovery (v2)
  - Campaigns (v1)
  - Campaign Invitations (v2)
  - Campaign Requests (v2)
  - Campaign References (v1)
  - Creatives (v1)
  - Feeds (v1)
  - Terms and Conditions
  - Voucher Codes (v1)
- name: Campaign Commissions (v2)
  tags:
  - Attribution
  - Commissions
  - Commission Groups (v1)
  - Promotional Commissions
  - Tiered Commissions
  - Voucher Commissions
- name: Payments (v1)
  tags:
  - Transaction Queries
  - Self-billing
  - Payment Details
  - Available Commission
  - Summary
- name: Tracking Links Management (v2)
  tags:
  - Tracking Links
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Reporting (v1)
  tags:
  - Partner Conversions
  - Partner Clicks
  - Partner Payable
  - Exports
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Countries
  - Currencies
  - Devices
  - Timezones
  - User Contexts
  - Traffic Sources
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Participations (v3)
  tags:
  - Participations
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Brands (v3)
  tags:
  - My Brands
- name: Terms and Conditions (v3)
  tags:
  - Campaign Terms and Conditions
  - Campaign Terms and Conditions Acknowledgments
- name: User (v3)
  tags:
  - Current User
