openapi: 3.2.0
info:
  title: Partnerize Brands Attribution Tiers API
  version: 1.4.99
  description: '# Introduction


    This is the full external API documentation for the Partnerize API.'
  contact:
    email: support@partnerize.com
  x-logo:
    url: https://console.partnerize.com/assets/img/network/partnerize/logo.png
    altText: Partnerize
servers:
- description: Production
  url: https://api.partnerize.com
- description: Local
  url: http://api.partnerize.tech
tags:
- name: Tiers
  description: Commission Tiers Endpoints
paths:
  /v2/campaigns/{campaignId}/commissions/tiers:
    get:
      operationId: get-commission-tiers
      tags:
      - Tiers
      summary: List Commission Tiers
      description: This endpoint lists all upcoming and currently active commission tiers for the given campaign.
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign to list the commission tiers for
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Commission Tier List
          content:
            application/json:
              schema:
                type: object
                title: Commission Tiers
                properties:
                  tiers:
                    type: array
                    items:
                      $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/responses/201/content/application~1json/schema/properties/tier'
    post:
      operationId: create-commission-tier
      tags:
      - Tiers
      summary: Create Commission Tier
      description: This creates a new commission tier for the given campaign
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign to create the commission tier for
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: Commission Tier
              properties:
                id:
                  type: string
                name:
                  type: string
                start_date:
                  allOf:
                  - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                  - description: The Start Date of the Commission Tier
                end_date:
                  allOf:
                  - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                  - description: The End Date of the Commission Tier
                evaluation_period:
                  type: integer
                  description: The earliest number of seconds after the end date the Commission Tier will be rewarded. Maximum length is 86,399,999 seconds, or rather, less than 1000 days exactly
                  minimum: 0
                  maximum: 86399999
                reward_pending:
                  allOf:
                  - title: Reward Pending
                    description: If enabled, pending conversion items can also be rewarded.
                    type: boolean
                    enum:
                    - true
                    - false
                  - description: Will pending conversion items be rewarded
                reward_model:
                  title: Reward Model
                  description: Model used to calculate Partner rewards
                  type: string
                  enum:
                  - fixed_reward
                  - fixed_cpa
                  - percentage_cpa
                performance_measurement:
                  title: Performance Measurement
                  description: The measurement used to calculate Partners performance
                  type: string
                  enum:
                  - total_items
                  - total_revenue
                meta_fields:
                  type: array
                  items:
                    type: object
                    title: Meta Field Value
                    description: Meta Field with an assigned value
                    allOf:
                    - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions/post/requestBody/content/application~1json/schema/properties/meta_fields/items/oneOf/0/allOf/0'
                    - properties:
                        value:
                          description: The value of meta field to look for
                      required:
                      - value
                levels:
                  type: array
                  minItems: 1
                  description: An array of Commission Tier Levels. Each Commission Tier Level's threshold must be unique.
                  items:
                    type: object
                    title: Commission Tier Level
                    properties:
                      threshold:
                        description: The minimum amount to be considered for this Commission Tier Level. Used in calculating Performance
                        type: number
                        minimum: 0.01
                      bonus_value:
                        description: The amount rewarded to Partners that reach this Commission Tier Level, based on Reward Model
                        type: number
                        minimum: 0.01
                    required:
                    - threshold
                    - bonus_value
                publishers:
                  type: array
                  minItems: 0
                  items:
                    type: string
                    title: Partner ID
                groups:
                  type: array
                  minItems: 0
                  items:
                    type: string
                    title: Group ID
              additionalProperties: false
              required:
              - name
              - start_date
              - end_date
              - evaluation_period
              - reward_pending
              - reward_model
              - performance_measurement
              - meta_fields
              - levels
      responses:
        '201':
          description: Tier Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  tier:
                    type: object
                    title: Commission Tier
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      start_date:
                        allOf:
                        - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                        - description: The Start Date of the Commission Tier
                      end_date:
                        allOf:
                        - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                        - description: The End Date of the Commission Tier
                      evaluation_period:
                        type: integer
                        description: The earliest number of seconds after the end date the Commission Tier will be rewarded. Maximum length is 86,399,999 seconds, or rather, less than 1000 days exactly
                        minimum: 0
                        maximum: 86399999
                      reward_pending:
                        allOf:
                        - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/requestBody/content/application~1json/schema/properties/reward_pending/allOf/0'
                        - description: Which approval statuses to reward
                      reward_model:
                        allOf:
                        - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/requestBody/content/application~1json/schema/properties/reward_model'
                      performance_measurement:
                        allOf:
                        - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/requestBody/content/application~1json/schema/properties/performance_measurement'
                      meta_fields:
                        type: array
                        items:
                          allOf:
                          - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1meta-fields/get/responses/200/content/application~1json/schema/properties/meta_fields/items/allOf/0'
                          - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1%7BcommissionId%7D~1retire/post/responses/200/content/application~1json/schema/properties/meta_fields/items'
                      levels:
                        type: array
                        minItems: 1
                        items:
                          $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/requestBody/content/application~1json/schema/properties/levels/items'
                      publishers:
                        type: array
                        minItems: 0
                        items:
                          type: object
                          title: Partner
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                          required:
                          - id
                          - name
                      groups:
                        type: array
                        minItems: 0
                        items:
                          type: object
                          title: Partner Group
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                          required:
                          - id
                          - name
                      status:
                        title: Commission Tier Status
                        description: These values are internally managed and represent the statue of the Commission Tier
                        type: string
                        enum:
                        - ACTIVE
                        - COMPLETED
                        - DELETED
                        - SCHEDULED
                    required:
                    - name
                    - start_date
                    - end_date
                    - evaluation_period
                    - reward_pending
                    - reward_model
                    - performance_measurement
                    - meta_fields
                    - levels
                    - publishers
                    - groups
                    - status
  /v2/campaigns/{campaignId}/commissions/tiers/{tierId}:
    delete:
      operationId: delete-commission-tier
      tags:
      - Tiers
      summary: Delete Commission Tier
      description: This endpoint deletes a given Commission Tier
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign to list the commission tiers for
        required: true
        schema:
          type: string
      - in: path
        name: tierId
        description: The ID of the commission tier to delete
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Commission Tier Deleted
    patch:
      operationId: update-commission-tier
      tags:
      - Tiers
      summary: Modify Commission Tier
      description: Modifies the commission tier for the given tier ID and campaign
      parameters:
      - in: path
        name: campaignId
        description: The ID of the campaign to update the commission tier for
        required: true
        schema:
          type: string
      - in: path
        name: tierId
        description: The ID of the tier to update
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: Commission Tier
              properties:
                name:
                  type: string
                start_date:
                  allOf:
                  - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                  - description: The Start Date of the Commission Tier
                end_date:
                  allOf:
                  - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1publishers~1%7BpublisherId%7D~1commissions~1default/get/responses/200/content/application~1json/schema/properties/last_modified'
                  - description: The End Date of the Commission Tier
                evaluation_period:
                  type: integer
                  description: The earliest number of seconds after the end date the Commission Tier will be rewarded. Maximum length is 86,399,999 seconds, or rather, less than 1000 days exactly
                  minimum: 0
                  maximum: 86399999
                reward_pending:
                  allOf:
                  - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/requestBody/content/application~1json/schema/properties/reward_pending/allOf/0'
                  - description: Will pending conversion items be rewarded
                reward_model:
                  allOf:
                  - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/requestBody/content/application~1json/schema/properties/reward_model'
                performance_measurement:
                  allOf:
                  - $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/requestBody/content/application~1json/schema/properties/performance_measurement'
                meta_fields:
                  type: array
                  items:
                    $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/requestBody/content/application~1json/schema/properties/meta_fields/items'
                levels:
                  type: array
                  minItems: 1
                  items:
                    $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/requestBody/content/application~1json/schema/properties/levels/items'
                publishers:
                  type: array
                  minItems: 0
                  items:
                    $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/requestBody/content/application~1json/schema/properties/publishers/items'
                groups:
                  type: array
                  minItems: 0
                  items:
                    $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/requestBody/content/application~1json/schema/properties/groups/items'
              additionalProperties: false
      responses:
        '200':
          description: Tier Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  tier:
                    $ref: '#/paths/~1v2~1campaigns~1%7BcampaignId%7D~1commissions~1tiers/post/responses/201/content/application~1json/schema/properties/tier'
x-tagGroups:
- name: Networks and Brands Management (v1)
  tags:
  - Networks
  - Network Partners
  - Network Terms and Conditions
  - Brands
- name: Campaign Management (v1)
  tags:
  - Campaigns
  - Participating Partners
  - Partner Groups
  - Custom Terms and Conditions
  - Voucher Codes
  - Creatives
  - Product Feeds
  - Deals
  - Meta Attributes
- name: Payments (v1)
  tags:
  - Campaign Transaction Queries
  - Transaction Query Reasons
  - Invoices
- name: Commissions (v2)
  tags:
  - Commissions
  - Commissions CSV Download
  - Promotional Commissions
  - Voucher Commissions
  - Tiers
  - Partner Commissions
  - Meta Fields
- name: Attribution (v2)
  tags:
  - Attribution
  - Suppressed Code
  - Exclusive Code
  - Preferred Partner
  - In-Cart
  - Split
- name: Partner management (v2)
  tags:
  - Publishers
  - Campaign Requests and Invites
  - Discovery Settings
- name: Communications tool (v2)
  tags:
  - Communications
  - Platform Communications
  - Placeholders
  - Communication Templates
- name: Tracking and Conversions (v3)
  tags:
  - Campaign Conversions
  - Deep link domains
- name: Background Jobs (v1)
  tags:
  - Jobs (v1)
- name: Background Jobs (v3)
  tags:
  - Jobs
- name: Reporting (v1)
  tags:
  - Brand Conversions
  - Brand Clicks
  - Exports
  - Reporting on Meta data
- name: Fraud
  tags:
  - Incidents
  - Metrics
  - Partner Whitelisting
- name: Analytics (v3)
  tags:
  - Introduction
  - Tutorials
  - Clicks
  - Conversions
  - Impressions
- name: Reference (v1)
  tags:
  - Verticals
  - Locales
  - Countries
  - Currencies
  - Currency countries
  - Devices
  - US States
  - Timezones
  - Campaign Extra Fields
  - User Contexts
  - Traffic Sources
  - Website Types
  - Promotional Methods
  - Conversion Types
  - Conversion Metrics
  - Partnership Models
- name: Campaigns (v3)
  tags:
  - Campaign v3
- name: Partnerize Tags (v3)
  tags:
  - Partnerize Tags
  - Partnerize Tag Features
- name: Terms and Conditions (v3)
  tags:
  - Network Terms and Conditions (v3)
  - Network Terms and Conditions Acknowledgments (v3)
- name: Commissions (v3)
  tags:
  - Commission Groups
  - Paid Search Violations
- name: User (v3)
  tags:
  - Current User
